<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="callemail.aspx.vb" Inherits="BACRMPortal.callemail" %>
<%@ OutputCache Duration="1" VaryByParam="*" Location="None" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<HTML>
	<HEAD>
		<title>callemail</title>
	</HEAD>
	<body >
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</HTML>
