<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmMainPage1.aspx.vb" Inherits="BACRMPortal.frmMainPage1" %>
<HTML>
	<HEAD>
		<title>Customer Portal - Total BizAutomation</title>
	</HEAD>
	<frameset id="ParentFrame"  frameborder="0">
		<frameset rows="71,*" framespacing="0" frameborder="0">
			<frame name="topframe" frameborder="0"  src="../Common/frmPortal.aspx" scrolling="no">
			<frame name="mainframe" frameborder="0"  src="../pagelayout/frmCustAccountdtl.aspx">	
		</frameset>
	</frameset>
</HTML>
