<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmMainPage.aspx.vb" Inherits="BACRMPortal.frmMainPage" %>

<head id="Head1" runat="server">
    <title>Portal - Total BizAutomation</title>
</head>
<body style="margin: 0 0 0 0;">
    <form id="Form2" method="post" runat="server">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <iframe id="topframe" name="topframe" frameborder="0" height="96px" width="100%"
                    scrolling="no" marginheight="0" marginwidth="0" src="../Common/frmPortal.aspx">
                </iframe>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <iframe id="mainframe" runat="server" name="mainframe" frameborder="0" width="100%"
                    scrolling="no" marginheight="0" marginwidth="0" height="1150"></iframe>
            </td>
        </tr>
    </table>
    <%--<frameset frameborder="0">
		        <frameset rows="95,*"  framespacing="0" frameborder="0">
			        <frame name="topframe" frameborder="0"  src="../Common/frmPortal.aspx" scrolling="no" />
			        <frame id="mainframe" runat="server"  name="mainframe" frameborder="0"  />
		        </frameset>
	        </frameset>--%>
    </form>
</body>
