
<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmSelRelationship.aspx.vb" Inherits="BACRMPortal.frmSelRelationship" %>
<%--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Relationship</title>
    <link href="~/css/MASTER.CSS" rel="stylesheet" type="text/css" runat="server" id="MasterCSS" />
     <link rel="stylesheet" href="~/CSS/lists.css" type="text/css" />
     <script language="javascript" >
       function Close()
       {
            window.close()
       }
     </script>
</head>
<body>
    <form id="form1" runat="server">
<igmisc:WebPanel EnableAppStyling="true" StyleSetName="Default" StyleSetPath="~/styles" ID="WebPanel2" runat="server" ToolTip="Click arrow to the right to expand and close this description." >
     <PanelStyle CssClass="descriptionPanelContent">
     </PanelStyle>
     <Header Text="What type of Relationship you would like to create?" TextAlignment="Left">
        <ExpandedAppearance >
            <Styles CssClass="descriptionPanelHeader">
            </Styles>
       
        </ExpandedAppearance>
      </Header>
      
      <Template>
   <table  width="100%" cellpadding="0" cellspacing="0" class="aspTableDTL">
        <td rowspan="3" valign="top" style="background-image:url(../images/Building-48.gif);background-repeat:no-repeat;background-position-x:20px;background-position-y:20px">
         <br />
         &nbsp;<img src="../images/Greenman-32.gif" style="position:relative; left: 16px; top: 24px;" /><br />
                                   
											</td>
        <td valign="top" >
            <br />
            <table >
                   
                    <tr>
                   
                        <td class="normal1">
                        <asp:RadioButtonList ID="radRelationship" runat="server" RepeatDirection="Vertical"></asp:RadioButtonList>
                             
                        </td>
                    </tr>
                    <tr>
                        <td >
                        <br />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" >
                            <asp:Button ID="btnNext" Width="60px" runat="server" Text="Next" CssClass="button" />
                             <asp:Button ID="btnclose" Width="60px" runat="server" Text="Close" CssClass="button" />
                        </td>
                    </tr>
            </table>
        </td>
     </tr>
   </table>
      
      </Template>
</igmisc:WebPanel>
   <table width="100%">
				<tr>
					<td class="normal4" align="center">
					    <asp:literal id="litMessage" Runat="server" EnableViewState="False" ></asp:literal>
					 </td>
				</tr>
			</table>
    </form>
</body>
</html>
--%>