<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="SimpleMenu.aspx.vb" Inherits="BACRMPortal.SimpleMenu" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <link href="~/css/MASTER.CSS" rel="stylesheet" type="text/css" runat="server" id="MasterCSS" />
</head>
<body>
    <form id="form1" runat="server">
    <iframe width="100%"  height="1000px" frameborder="0" src="../go.aspx" runat="server" id="ifHome"></iframe>
    </form>
</body>
</html>
