<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%@ Control Language="vb" AutoEventWireup="false" Codebehind="TopBar.ascx.vb" Inherits="BACRMPortal.TopBar" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<script language="javascript" type="text/javascript" >

function goto(target,frame,div)
	    {
	           
	            window.open(target,'','toolbar=no,titlebar=no,left=150, top=150,width=750,height=450,scrollbars=yes,resizable=yes')   
        }
function goto1(target,frame,div)
	    {
	           
	            window.open(target,'','toolbar=no,titlebar=no,left=150, top=150,width=850,height=550,scrollbars=yes,resizable=yes')   
        }
function PartnerPortal()
{
    document.location.href="../ActionItems/frmActItemList.aspx?ClientMachineUTCTimeOffset="+new Date().getTimezoneOffset();
    return false;
}
  function reDirect(a)
        {
            document.location.href=a;
        }
   function reDirectPage(a)
        {
            document.location.href=a;
        }
     
</script>
	   
		<table width="100%">
		    <tr>
			    <td align="right" >
						     <asp:UpdateProgress ID ="up1"  runat="server" DynamicLayout="False"  >
				                    <ProgressTemplate>
				                     <asp:Image ID="Image1"  ImageUrl="~/images/updating.gif" runat="server" ImageAlign="Top" />
				                     </ProgressTemplate>
    			                </asp:UpdateProgress>
					</td>
				</tr>
		</table>
		
		
<br />
			
				
			

