<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmItemNavigation.aspx.vb" Inherits="BACRMPortal.frmItemNavigation" %>
<%--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<link href="~/css/MASTER.CSS" rel="stylesheet" type="text/css" runat="server" id="MasterCSS" />
    <title>Untitled Page</title>
</head>
<body >
    <form id="form1" runat="server">
    <br />
    <table >
        <tr>
            <td valign="top" align="left" >
           
            <ignav:UltraWebTree id="UltraWebTree1" runat="server" Font-Names="Arial" Font-Bold="true"   Font-Size="11px"
                                        Cursor="Default" BorderStyle="None" BorderWidth="0px" WebTreeTarget="ClassicTree" CollapseImage="../images/ig_treeMinus.gif"
                                        ExpandImage="../images/ig_treePlus.gif"  BorderColor="#CCCCCC" Indentation="0"
                                        RootNodeImageUrl="../images/file.gif" DefaultImage="../images/file.gif"
                                        LeafNodeImageUrl="../images/file.gif" DefaultSelectedImage="../images/file.gif">
                                        <SELECTEDNODESTYLE BackColor="#CCCCCC" ForeColor="Black"></SELECTEDNODESTYLE>
                                        <NODEPADDINGS Right="0px" Top="1px" Left="0px" Bottom="1px"></NODEPADDINGS>
                                        <PADDING Top="6px"></PADDING>
                                        <LEVELS>
                                            <ignav:Level LevelCheckBoxes="False" Index="0"></ignav:Level>
                                            <ignav:Level Index="1"></ignav:Level>
                                            <ignav:Level Index="2"></ignav:Level>
                                            <ignav:Level Index="3"></ignav:Level>
                                        </LEVELS>
                                    </ignav:UltraWebTree>
            </td>
        </tr>
    </table>
                  
    </form>
</body>
</html>
--%>