<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmRelNavigation.aspx.vb" Inherits="BACRMPortal.frmRelNavigation" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
    <link href="~/css/MASTER.CSS" rel="stylesheet" type="text/css" runat="server" id="MasterCSS" />
</head>
	
	        <FRAMESET  framespacing="1px" cols="15%, 85%">
                  <FRAME frameborder="1"   BORDERCOLOR="#E9ECF7"  name="leftFrame" src="../Prospects/frmItemNavigation.aspx?ModID=2">
                  <FRAME frameborder="1" name="rightFrame" src="../go.aspx" BORDERCOLOR="#E9ECF7">
              </FRAMESET>

</html>
