﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AR.aspx.cs" Inherits="DebugApplication.Amazon" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Button runat="server" ID="btnGetAmazonItems" Text="Get Amazon Items" OnClick="btnGetAmazonItems_Click" />
        </div>
    </form>
</body>
</html>
