﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ER.aspx.cs" Inherits="DebugApplication.Ebay" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Button runat="server" ID="btnGetEbayItems" Text="Get Ebay Items" OnClick="btnGetEbayItems_Click" />
        </div>
    </form>
</body>
</html>
