<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="authentication.aspx.vb" Inherits="BACRMPortal.authentication" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML>
	<HEAD>
		<title>BACRM Authentication</title>
		
		
		
		
		<link href="~/css/MASTER.CSS" rel="stylesheet" type="text/css" runat="server" id="MasterCSS" />
	</HEAD>
	<body scroll="yes">
		<form action="#" Name="frmHeader" id="frmHeader">
		
		<br />
		<br />
		<br />
			<table align=center >
				<tr>
					<td>
						<b>You Are Not Authorized To View This Page</b>
					</td>
				</tr>
			</table>
		</form>
	</body>
</HTML>
