<%@ Page Language="vb" AutoEventWireup="false" EnableEventValidation="false" Codebehind="frmBestPartners.aspx.vb" Inherits="BACRM.UserInterface.Reports.frmBestPartners"%>
<%@ Register TagPrefix="menu1" TagName="menu" src="../include/webmenu.ascx" %>
<%@ Register TagPrefix="BizCalendar" TagName="Calendar" src="../include/calandar.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head id="Head1" runat="server">		
        <link rel="stylesheet" href="~/CSS/master.css" type="text/css" />
		<title>Best Partners</title>
		
    <link rel="stylesheet" type="text/css" href="../CSS/jscal2.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/border-radius.css" />

    <script type="text/javascript" src="../JavaScript/jscal2.js"></script>

    <script type="text/javascript" src="../JavaScript/en.js"></script>  
    <script language="javascript">
		function OpenSelTeam(repNo)
		{
		
			window.open("../Forecasting/frmSelectTeams.aspx?Type="+repNo,'','toolbar=no,titlebar=no,left=200, top=300,width=600,height=300,scrollbars=no,resizable=yes')
			return false;
		}
		function OpenTerritory(repNo)
		{
			window.open("../Reports/frmSelectTerritories.aspx?Type="+repNo,'','toolbar=no,titlebar=no,left=200, top=300,width=600,height=300,scrollbars=no,resizable=yes')
			return false;
		}
	function PopupCheck()
		{
		    document.frmBestPartners.btnGo.click()
		}
		</script>
	</HEAD>
	<body>
		
		<form id="frmBestPartners" method="post" runat="server">
		<menu1:menu id="webmenu1" runat="server"></menu1:menu>
		
		<asp:updatepanel ID="updatepanel" runat="server" ChildrenAsTriggers="true" UpdateMode="Conditional" EnableViewState="true" >
		<ContentTemplate>

			<table width="100%">
				<tr>
					<td class="normal1">
						<table >
				        <td >&nbsp;&nbsp;From</td>
						<td><BizCalendar:Calendar ID="calFrom" runat="server" /></td>
						<td>&nbsp;&nbsp;&nbsp;To</td>
						<td><BizCalendar:Calendar ID="calTo" runat="server" /></td>
						<td  valign="middle">
						&nbsp;&nbsp;&nbsp;<asp:Button ID="btnGo" Runat="server" Text="Go" CssClass="button"></asp:Button>
						</td>
						</table>
					</td>
					<td>
						<asp:RadioButtonList ID="rdlReportType" Runat="server" AutoPostBack="True" CssClass="normal1" RepeatLayout="Table"
							RepeatDirection="Horizontal">
							<asp:ListItem Value="1" Selected="True">My Self</asp:ListItem>
							<asp:ListItem Value="2">Team Selected</asp:ListItem>
							<asp:ListItem Value="3">Territory Selected</asp:ListItem>
						</asp:RadioButtonList>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="right">
						<asp:Button ID="btnAddtoMyRtpList" Runat="server" CssClass="button" Text="Add To My Reports"></asp:Button></td>
				</tr>
			</table>
			<table cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td valign="bottom">
						<table class="TabStyle">
							<tr>
								<td>&nbsp;&nbsp;&nbsp;
									Best Partners
									&nbsp;&nbsp;&nbsp;
								</td>
							</tr>
						</table>
					</td>
					<td align="right">
						<asp:Button ID="btnChooseTeams" Runat="server" Width="120" CssClass="button" Text="Choose Teams"></asp:Button>
						<asp:Button ID="btnChooseTerritories" Runat="server" Width="120" CssClass="button" Text="Choose Territories"></asp:Button>
						<asp:button id="btnExportToExcel" Width="120" Runat="server" Text="Export to Excel" CssClass="button"></asp:button>
						<asp:Button id="btnPrint" Runat="server" Width="50" CssClass="button" Text="Print"></asp:Button>
						<asp:Button ID="btnBack" Runat="server" Width="50" CssClass="button" Text="Back"></asp:Button>
					</td>
				</tr>
			</table>
			<asp:table id="Table9" BorderWidth="1" Height="400" Runat="server" Width="100%" BorderColor="black" CssClass="aspTable"
				GridLines="None" CellPadding="0" CellSpacing="0">
				<asp:TableRow>
					<asp:TableCell VerticalAlign="Top">
						<asp:DataGrid ID="dgBestPartners" CssClass="dg" Width="100%" Runat="server" BorderColor="white"
							AutoGenerateColumns="False" AllowSorting="True">
							<AlternatingItemStyle CssClass="ais"></AlternatingItemStyle>
							<ItemStyle CssClass="is"></ItemStyle>
							<HeaderStyle CssClass="hs"></HeaderStyle>
							<Columns>
							    <asp:BoundColumn DataField="numCompanyID" Visible=false></asp:BoundColumn>
								<asp:BoundColumn DataField="numDivisionID" Visible=false></asp:BoundColumn>
								<asp:BoundColumn DataField="ContactID" Visible=false></asp:BoundColumn>
								<asp:BoundColumn DataField="tintCRMType" Visible=false></asp:BoundColumn>
								<asp:buttoncolumn CommandName=Company DataTextField="Partner" SortExpression="Partner" HeaderText="<font color=white>Partner Name, Division</font>"></asp:buttoncolumn>
								<asp:BoundColumn DataField="Referrals" SortExpression="Referrals" HeaderText="<font color=white># of referrals</font>"></asp:BoundColumn>
								<asp:BoundColumn DataField="DealsWon"  SortExpression="DealsWon" HeaderText="<font color=white># of Deals won from referrals</font>"></asp:BoundColumn>
								<asp:BoundColumn DataField="DealsWon" DataFormatString="{0:#,##0.00}" SortExpression="DealsWon" HeaderText="<font color=white>Amount generated from referrals (Deals Won)</font>"></asp:BoundColumn>
							</Columns>
						</asp:DataGrid>
					</asp:TableCell>
				</asp:TableRow>
			</asp:table>
			</ContentTemplate>
			<Triggers>
			<asp:PostBackTrigger ControlID="btnExportToExcel" />
			<asp:PostBackTrigger ControlID="btnPrint" />
			</Triggers>
			</asp:updatepanel>
		</form>
	</body>
</HTML>
