<%@ Master Language="VB" AutoEventWireup="false" Codebehind="Course.master.vb" Inherits="BACRMCourseCart.Course" %>   
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Course Search</title>
    <link href="CSS/MASTER.CSS" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <table width="100%" >
            <tr>
                <td align="left">
                    <asp:LinkButton ID="lnkLogin" runat="server" Text="Login"></asp:LinkButton>
                    <asp:LinkButton ID="lnkLogOut" runat="server" Text="Logout"></asp:LinkButton>
                </td>
            </tr>
            <tr>

                    <asp:ContentPlaceHolder ID="CphPage" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
