<%@ Page Language="vb" AutoEventWireup="false" EnableEventValidation="false" CodeBehind="Search.aspx.vb"
    Inherits="BACRMCourseCart.Search" %>

<html>
<head>
    <title>Total BizAutomation</title>
</head>
<form id="Form1" method="post" runat="server">
<frameset frameborder="0">
		        <frameset cols="300px,*"  framespacing="0" frameborder="0">
			        <frame name="leftframe" frameborder="1"  src="CourseHierachy.aspx" scrolling="auto" />
			        <frame id="rightframe" runat="server"  src="SearchDetail.aspx" name="rightframe" frameborder="0"  />
		        </frameset>
	        </frameset>
</form>
</html>
