﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmMultiNavigation.aspx.vb"
    Inherits=".frmMultiNavigation" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<frameset framespacing="1px" cols="15%, 85%">
                  <FRAME frameborder="1"   BORDERCOLOR="#E9ECF7"  name="leftFrame" src="frmTreeNavigation.aspx">
                  <FRAME frameborder="1" name="rightFrame" src="MultiDashBoard.aspx?DomainID=0&RollUp=1" BORDERCOLOR="#E9ECF7">
              </frameset>
</body>
</html>
