﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="MultiCompInventory.ascx.vb"
    Inherits="BACRM.UserInterface.MultiComp.MultiCompInventory" %>
<%@ Register TagPrefix="telerik" Namespace="Telerik.Web.UI" Assembly="Telerik.Web.UI" %>
<telerik:RadPanelBar runat="server" ID="radPanAR" Width="100%">
    <Items>
        <telerik:RadPanelItem Text="" Value="RadPanelItem1" Expanded="True" Width="100%">
            <ContentTemplate>
                <asp:table id="Table1" runat="server" cssclass="aspTable" height="224px" width="441px">
                    <asp:tablerow runat="server">
                    </asp:tablerow>
                    <asp:tablerow runat="server">
                    </asp:tablerow>
                </asp:table>
            </ContentTemplate>
        </telerik:RadPanelItem>
    </Items>
</telerik:RadPanelBar>
