<%@ Page Language="vb" AutoEventWireup="false" EnableEventValidation="false" Codebehind="frmUpdateForAmt.aspx.vb" Inherits="BACRM.UserInterface.ForeCasting.frmUpdateForAmt"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head id="Head1" runat="server">
        <link rel="stylesheet" href="~/CSS/master.css" type="text/css" />
		<title>-</title>
		<script language="javascript" type="text/javascript" >
		function Close()
		{
			window.close()
			return false;
		}
		</script>
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<table align="center" width="100%"  class="aspTable">
				<tr>
					<td align="center">
						<asp:Button ID="btnSave" Runat="server" CssClass="button" Text="Save &amp; Close"></asp:Button>
						<asp:Button ID="btnCancel" Runat="server" CssClass="button" Text="Cancel"></asp:Button>
					</td>
				<tr>
					<td align="center">
						<br>
						<asp:TextBox ID="txtAmt" Runat="server" CssClass="signup" Width="50"></asp:TextBox>
					</td>
				</tr>
			</table>
		</form>
	</body>
</HTML>
