body {
	margin:0;
	padding:0;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#282828;
	background: #fcfdfe
}
img {
	margin:0;
	padding:0;
	border:none;
}
ul {
	list-style:none;
	margin:0;
	padding:0;
}
ul li {
	list-style:none;
}
h1, h2, h3, h4, h5, h6, p {
	margin:0;
	padding:0
}
a {
	color:#282828;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
.clear {
	clear:both;
}
/*===========================================*/
#table-main-part {
	width:100%;
	margin:0 auto;
}
.top-middle {
	background:url(../images/bg-sprit.png) 0 -79px repeat-x;
	height:32px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	text-align:center;

}
.top-middle strong {
	font-weight:bold;
	font-size:16px;
}
.bottom-middle {
	width:100%;
	background:url(../images/bottom-middle.gif) repeat-x left top;
}
#table-main {
	width:100%;
	background:#9ba6c3;
	border-left:1px solid #667194;
	border-right:1px solid #667194;
}
.top-padd {
	padding-top:5px;
	height:32px;
}
table.tbl {
	margin:0;
	padding:0;
}
table.tbl td {
	border-right:1px solid #dad8d8;
}
table.tbl th {
	background:#000000;
}
table.tbl td.bdr-none {
	border:none;
}
table.tbl tr td {
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#282828;
	padding:0 0.52%;
	line-height:33px;
}
table.tbl tr td strong {
	color:#060606;
}
table.tbl tr:hover td {
	background: url(../images/active-tr.gif) repeat-x left top;
	cursor: pointer;
}
table.tbl tr td.active {
	background-color:#d6d7d8;
}
table.tbl th {
	background:#e5e5e5;
	border-bottom:1px solid #cbcbcb;
	border-top:1px solid #cbcbcb;
	border-right:1px solid #cbcbcb;
	font-weight:normal;
	padding:5px 0 5px 10px;
}
table.tbl td.bg {
	background:#e5e5e5;
	border-bottom:1px solid #cbcbcb;
	border-top:1px solid #cbcbcb;
}
table tr td.paging-part {
	background:url(../images/bg-sprit.png) 0 -170px repeat-x;
	height:29px;
	padding:0 0.5%;
}
table tr td.paging-part td {
	padding:0;
}
table tr td.paging-part td:hover {
	background:url(../images/paging-hov.gif) no-repeat center 2px;
	cursor:pointer;
}
table tr td.paging-part td.active {
	background:url(../images/paging-hov.gif) no-repeat center 2px;
	cursor:pointer;
}
/*Amazon*/
div.header {
	border-top: 1px solid #d0eaf8;
	border-bottom: 1px solid #d0eaf8;
	width: 100%;
	margin: 4px 0;
}
div.resultCount {
	width: 29%;
}
.pagn {
	text-align: center;
	width:320px;
}
div.header {
	background: url('../images/tile-blue-bg._V45465059_.gif') repeat-x;
}
.next:hover, .last:hover, .prev:hover, .first:hover {
	cursor:pointer;
}
/*---- Top Link ----*/
.lastviewed {
	width:100%;
	background:url(../images/bg-sprit.png) repeat-x left top;
	height:30px;
}
.link-part {
	width:100%;
}
.link-part ul {
	margin:0;
	padding:0;
	list-style:none;
}
.link-part ul li {
	float:left;
	width:122px;
	list-style:none;
	background:url(../images/link-bg.png) no-repeat left top;
	font:normal 12px/30px Arial, Helvetica, sans-serif;
	color:#373737;
}
.link-part ul li:hover, .link-part ul li.current {
	background:url(../images/link-bg-hov.png) no-repeat left top;
	cursor:pointer;
	color:#000000;
}
.link1 {
	position:relative;
	z-index:2;
	right:-15px;
}
.link2 {
	position:relative;
	z-index:1;
	right:-15px;
	display:block;
}
.link-part ul li img {
	margin:0px 9px 0 14px;
	float:left;
}
.link-part ul li.last {
	background:none;
}
.link-part ul li.last:hover {
	background:none;
}
.input-part {
	width:100%;
}
.view-cases {
	width:200px;
	float:left;
	margin-top:5px;
	margin-left:20px;
}
.view-cases label {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
	font-weight:bold;
	float:left;
	padding-right:9px;
	padding-top:3px;
}
.view-cases select {
	width:134px;
	height:24px;
	background:url(../images/select-box-bg.gif);
	float:left;
	border:none;
	padding:3px;
}
a.view-case-edit {
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#606b8e;
	text-decoration:underline;
	padding-top:3px;
}
a.view-case-edit:hover {
	text-decoration:none;
}
.right-input {
	width: 775px;
	float: right;
	padding: 5px 0 0 0;
}
.right-input label {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
	font-weight:bold;
	float:left;
	padding-right:9px;
	padding-top:3px;
	padding-left:20px;
	margin-top:2px;
}
/********************************************* SHIRISH*********************************************/
.link-part ul li a.lastviewed{
	text-decoration:none;
	background:url(../images/icons-sprit.png) 0 0 no-repeat;
	width:1.125em;
	margin-left: 1.2em;
	padding-left:2em;
}
.link-part ul li a.viewedlink1{
	text-decoration:none;
	background:url(../images/icons-sprit.png) 0 -16px no-repeat;
	width:1.125em;
	margin-left: 1.2em;
	padding-left:2em;
}
.link-part ul li a.viewedlink2{
	text-decoration:none;
	background:url(../images/icons-sprit.png) 0 -30px no-repeat;
	width:1.125em;
	margin-left: 1.2em;
	padding-left:2em;
}.link-part ul li a.viewedlink3{
	text-decoration:none;
	background:url(../images/icons-sprit.png) 0 -44px no-repeat;
	width:1.125em;
	margin-left: 1.2em;
	padding-left:2em;
}
.link-part ul li a.viewedlink4{
	text-decoration:none;
	background:url(../images/icons-sprit.png) 0 -59px no-repeat;
	width:1.125em;
	margin-left: 1.2em;
	padding-left:2em;
}
.link-part ul li a.viewedlink5{
	text-decoration:none;
	background:url(../images/icons-sprit.png) 0 -75px no-repeat;
	width:1.125em;
	margin-left: 1.2em;
	padding-left:2em;
}
a.viewicon {
	background:url(../images/icons-sprit.png) 0 -91px no-repeat; 
	width: 1.063em; 
	height: 1.000em;
	display:block
}
.pagingfirst {
	display:block;
	float:left;
	background:url(../images/paging-sprit.png) -42px 0 no-repeat;
	height: 21px;
	width: 21px;
	margin-right: 4px;
	}
	
.pagingfirst:hover {
	background:url(../images/paging-sprit.png) -42px 0 no-repeat !important;
	cursor:pointer;
	}
		
.pagingprev, .btmprev {
	display:block;
	float:left;
	background:url(../images/paging-sprit.png) 0 0 no-repeat;
	height: 21px;
	width: 21px;
	margin-right: 4px;
}
.pagingprev:hover, .btmprev:hover {
	background:url(../images/paging-sprit.png) 0 0 no-repeat !important;
    cursor:pointer !important;
}
.pagingnext {
	display: block;
	float: right;
	background:url(../images/paging-sprit.png) -21px 0 no-repeat;
	height: 21px;
	width: 21px ;
	margin-right: 4px ;
}

.pagingnext:hover {
	background:url(../images/paging-sprit.png) -21px 0 no-repeat !important;
	cursor:pointer !important;
}

.setting, .print:hover, .help:hover{
cursor:pointer;
}
.paginglast{
	display:block;
	float:right;
	background:url(../images/paging-sprit.png) -63px 0 no-repeat;
	height: 21px;
	width: 21px;
	margin-right: 4px;
	}

.paginglast:hover{
	background:url(../images/paging-sprit.png) -63px 0 no-repeat !important;
	cursor:pointer !important;
	}
	
.pagn span{
	float: left;
	display:block;
	width:19px;
	height:19px;
	text-align: center;
	line-height: 19px;
}
.pagn span:hover{
	background:url(../images/paging-sprit.png) -84px 0 no-repeat;
	color: #5d5e60;
	cursor: pointer
}

.pagn a{
	float: left;
	display:block;
	width:19px;
	height:19px;
	text-align: center;
	line-height: 19px;
}
.pagn a:hover{
	background:url(../images/paging-sprit.png) -84px 0 no-repeat;
	color: #5d5e60;
	cursor: pointer
}

.pagn_hover{
	background:url(../images/paging-sprit.png) -84px 0 no-repeat;
	color: #5d5e60;
	cursor: pointer
}

.go {
	width:34px;
	height:24px;
	background:url(../images/button-sprit.png) 0 -48px no-repeat;
	display:block;
	float:left;
	margin:5px 0 0 5px;
}
.go:hover {
	background:url(../images/button-sprit.png) 0 -72px no-repeat;
}
.sepretor{background:url(../images/button-sprit.png) 0 -96px no-repeat;
	height: 22px;
	width: 2px
	}
.setting{ background:url(../images/icons-sprit.png) 0 -139px no-repeat;
	height: 16px;
	width: 18px;
	display: block;
	}	
.delete{
	width:71px;
	height:24px;
	background:url(../images/button-sprit.png) 0 0 no-repeat;
	display:block;
	float:left;
	margin-top:5px;
	margin-left:5px;
}
.delete:hover {
	background:url(../images/button-sprit.png) 0 -24px no-repeat;
	cursor:pointer
}
.print {
	border-right: 1px solid #d8e1e8;
	border-left: 1px solid #d8e1e8;
	margin: 3px 10px;
	padding:0 10px;
	display: block;
	float: left;
	background: url(../images/icons-sprit.png) 10px -107px no-repeat;
	width: 16px;
	height: 16px
}
.help {
	background: url(../images/icons-sprit.png) 0 -123px no-repeat;
	width: 18px;
	height: 16px;
	display: block;
	float: left;
	margin: 3px 0;	
}
input[type="text"] {
	background: url(../images/bg-sprit.png) 0 -145px repeat-x;
	height: 24px;
	border: none;
	border-left: solid 1px #757c96;
	border-right: solid 1px #f1f3f8;
	float: left;
}
.organization{
	width: 88px;
	padding: 0 5px;
}
form {
	padding: 0;
	margin: 0;
	border: none;
}
.subject {
	overflow: hidden;
	height: 29px;
	text-align: left}
.others {
	background: url(../images/button-sprit.png) -34px -48px no-repeat;
	margin-left: 20px;
	width: 58px;
	height: 23px;
	line-height: 23px;
}
.all {
	background: url(../images/button-sprit.png) -34px -72px no-repeat;
	padding: 0 !important;
	height: 22px;
	width: 32px;
	line-height: 23px;	
}
.others:hover {
	color: #606b8e;
}
.all:hover {
	color: #606b8e;
}
/********************************************* SHIRISH*********************************************/
.button {
	-moz-box-shadow: 0px 1px 0px 0px #c7c9cf;
	-webkit-box-shadow: 0px 1px 0px 0px #c7c9cf;
	box-shadow: 0px 1px 0px 0px #c7c9cf;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fdfefe), color-stop(1, #dce3ea) );
	background:-moz-linear-gradient( center top, #fdfefe 5%, #dce3ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefe', endColorstr='#dce3ea');
	background-color:#fdfefe;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #cadbed;
	display:inline-block;
	color:#414c6d;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:2px 7px;
	text-decoration:none;
	text-shadow:1px 1px 3px #cadbed;
	float:left;
	margin:0 0 0 5px;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dce3ea), color-stop(1, #fdfefe) );
	background:-moz-linear-gradient( center top, #dce3ea 5%, #fdfefe 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce3ea', endColorstr='#fdfefe');
	background-color:#dce3ea;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


.viewtitle {
	color: #fff;
	font: bold 16px Arial, Helvetica, sans-serif;
	}
.componentpanel {
	width:100%;
	background:url(../images/bg-sprit.png) repeat-x left 19%;
	height:43px;
	line-height: 33px;
}
.componentpanel div{
	padding-left: 16px;
	border-right: solid 1px #d8e1e8;
	}
.componentpanel .record, .created, .modified{
	padding-right: 16px;
	float: left;
	}

.componentpanel a, componentpanel a:hover{
	font-weight: bold;
	color: #626d90;
	text-decoration:underline;
	}	
.componentpanel .date-time {
	color: #545353;
	}
.componentpanel strong, .customerdetail strong {
	font-weight: bold;
	color: #626d90 !important; 
	}
.customerdetail {
	height: 43px;
	line-height: 43px;
	font-size: 13px;
	color: #282828;;
	float: left;
}
.customerdetail-button {
	color: #282828;;
	float: right;
	}
.customerdetail-button .button{
	font-weight: normal !important;
	font-size: 12px !important;
	margin: 7px 0 0 5px;
	float: left;
	cursor: pointer;
}
.customerdetail-button .button .close{
	background: url(../images/button-sprit.png) -71px 0 no-repeat;
	height: 8px;
	width: 8px;
	margin: 4px 1px
	}
.orderbradcrumb {
	float: right;
	padding-right: 10px
	}	
