<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmDocNavigation.aspx.vb" Inherits=".frmDocNavigation" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
	        <FRAMESET  framespacing="1px" cols="15%, 85%">
                  <FRAME frameborder="1"   BORDERCOLOR="#E9ECF7"  name="leftFrame" src="../Items/frmItemNavigation.aspx?ModID=<%=BACRM.BusinessLogic.Common.MODULEID.Documents %>">
                  <FRAME frameborder="1" name="rightFrame" src="../prospects/frmInitialPage.aspx?Tab=8" BORDERCOLOR="#E9ECF7">
              </FRAMESET>
</html>
