<%@ Page Language="vb" AutoEventWireup="false" EnableEventValidation="false" Codebehind="frmProjectList.aspx.vb" Inherits="BACRMPortal.frmProjectList" %>
<%@ Register TagPrefix="menu1" TagName="PartnerPoint" src="../Common/PartnerPoint.ascx" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head id="Head1"    runat="server">		
        <link rel="stylesheet" href="~/CSS/master.css" type="text/css" />
		<title>Project</title>
		<meta http-equiv="Page-Enter" content="blendTrans(Duration=0.01)">
         <meta http-equiv="Page-Exit" content="blendTrans(Duration=0.01)"> 
		<script language="javascript">
		function OpenSetting()
		{
		    window.open('../Prospects/frmConfCompanyList.aspx?FormId=13','','toolbar=no,titlebar=no,top=200,left=200,width=550,height=350,scrollbars=yes,resizable=yes')
		    return false
		}
		function OpenPro(a,b)
		{
		   var str 
            if (b==1)
            {
                str=   "../pagelayout/frmProjectsdtl.aspx?frm=ProjectList&ProId="+a
            }
            else
            {
                str="../projects/frmProjects.aspx?frm=ProjectList&ProId="+a
            }
            document.location.href = str
		}
		function DeleteRecord()
		{   
		    var ContactId='';
		      for(var i=2; i<=gvSearch.rows.length; i++)
			{
			    if (i<10)
		        {
		         str='0'+i   
		         }
		         else
		         {
		           str=i
		         }
		    
		        if  (document.all('gvSearch_ctl'+str+'_chk').checked==true)
		       {
		           
		            if (ContactId == '')
		            {
		                ContactId = document.all('gvSearch_ctl'+str+'_lbl1').innerHTML+'~'+document.all('gvSearch_ctl'+str+'_lbl2').innerHTML+'~'+document.all('gvSearch_ctl'+str+'_lbl3').innerHTML
		            }
		            else
		            {
		                 ContactId =ContactId+','+document.all('gvSearch_ctl'+str+'_lbl1').innerHTML+'~'+document.all('gvSearch_ctl'+str+'_lbl2').innerHTML+'~'+document.all('gvSearch_ctl'+str+'_lbl3').innerHTML
		            }
		       } 
			}
			
			  document.all('txtDelContactIds').value = ContactId
			  
			return true
		}
		    function OpemEmail(a,b)
		{
			window.open('../contact/frmComposeWindow.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&Lsemail=' + a + '&pqwRT=' + b,'','toolbar=no,titlebar=no,top=100,left=100,width=850,height=550,scrollbars=yes,resizable=yes')
			return false;
		}
		function OpenContact(a,b)
    {
      
        var str;
        if (b==1)
            {
            str="../pagelayout/frmContact.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=contactlist&ujfda=tyuu&CntId=" + a;
            }
            else
            {
             str="../contact/frmContacts.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=contactlist&ft6ty=oiuy&CntId=" + a;
             }
        
            document.location.href=str;
      
    }
    function SortColumn(a)
    {
       document.Form1.txtSortColumn.value=a;
       document.Form1.submit();
       return false;
    }
    function SelectAll(a)
    {
        var str;

        if (typeof(a)=='string')
        {
            a=document.all[a]
        }
        if (a.checked==true)
        {
             for(var i=1; i<=gvSearch.rows.length; i++)
			{
			    if (i<10)
		        {
		         str='0'+i   
		         }
		         else
		         {
		           str=i
		         }
		         document.all('gvSearch_ctl'+str+'_chk').checked=true;
			}
        }
        else if (a.checked==false)
        {
             for(var i=1; i<=gvSearch.rows.length; i++)
			{
			    if (i<10)
		        {
		         str='0'+i   
		         }
		         else
		         {
		           str=i
		         }
		         document.all('gvSearch_ctl'+str+'_chk').checked=false;
			}
        }
       
        //gvSearch_ctl02_chk
    }
		function fnSortByChar(varSortChar)
			{
				document.Form1.txtSortChar.value = varSortChar;
				if (typeof(document.Form1.txtCurrrentPage)!='undefined')
				{
					document.Form1.txtCurrrentPage.value=1;
				}
				document.Form1.btnGo1.click();
			}
		 function GoImport()
		{
			window.location.href("../admin/importfromputlook.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=prospects");
			return false;
		}
		
		function DeleteMessage()
		{
			alert("You Are not Authorized to Delete the Selected Record !");
			return false;
		}
		</script>
	</HEAD>
	<body >
		
		<form id="Form1" method="post" runat="server">
		<asp:ScriptManager ID="ScriptManager1" EnablePartialRendering="true" runat="server"></asp:ScriptManager>
		<menu1:PartnerPoint runat="server" id="menu" />
		
		<asp:updatepanel ID="updatepanel" runat="server" ChildrenAsTriggers="true" UpdateMode="Conditional" EnableViewState="true" >
			<ContentTemplate>
			<table width="100%">
			    <tr>
			        <td>
			        <asp:HyperLink Text="Settings" CssClass="hyperlink" runat="server" ID="hplSettings"></asp:HyperLink>
			        </td>
			        <td>
			<TABLE align="right">
				<TR>
					<TD class="normal1" width="150">No of Records:
						<asp:label id="lblRecordCount" runat="server"></asp:label></TD>
					<TD class="normal1">Organization
					</TD>
					<TD><asp:textbox id="txtCustomer" runat="server" Width="55px" CssClass="signup"></asp:textbox></TD>
					<TD class="normal1">First Name
					</TD>
					<TD><asp:textbox id="txtFirstName" runat="server" Width="55px" CssClass="signup"></asp:textbox></TD>
					<TD class="normal1">Last Name</TD>
					<TD><asp:textbox id="txtLastName" runat="server" Width="55px" CssClass="signup"></asp:textbox></TD>
					<TD><asp:button id="btnGo" Width="25" CssClass="button" Runat="server" Text="Go"></asp:button></TD>
					<td><asp:button id="btnDelete" Width="50" CssClass="button" Runat="server" Text="Delete"></asp:button></td>
				</TR>
			</TABLE>
		</td></tr></table>
			
			<table cellSpacing="0" cellPadding="0" width="100%" border="0">
				<tr>
					<td vAlign="bottom">
						<table class="TabStyle">
							<tr>
								<td>&nbsp;&nbsp;&nbsp;Projects&nbsp;&nbsp;&nbsp;
								</td>
							</tr>
						</table>
					</td>
					<TD class="normal1" align="right">Filter&nbsp;&nbsp;&nbsp;</TD>
					<TD><asp:dropdownlist id="ddlSort" runat="server" AutoPostBack="True" cssclass="signup">
							<asp:ListItem Value="1">My Projects</asp:ListItem>
							<asp:ListItem Value="3">All Projects</asp:ListItem>
							<asp:ListItem Value="2">My Subordinates</asp:ListItem>
							<asp:ListItem Value="4">Added in Last 7 days</asp:ListItem>
							<asp:ListItem Value="5">Last 20 Added by me</asp:ListItem>
							<asp:ListItem Value="6">Last 20 Modified by me</asp:ListItem>
						</asp:dropdownlist></TD>
					<td id="hidenav" noWrap align="right" runat="server">
						<table>
							<tr>
								<td><asp:label id="lblNext" runat="server" cssclass="Text_bold">Next:</asp:label></td>
								<td class="normal1"><asp:linkbutton id="lnk2" runat="server">2</asp:linkbutton></td>
								<td class="normal1"><asp:linkbutton id="lnk3" runat="server">3</asp:linkbutton></td>
								<td class="normal1"><asp:linkbutton id="lnk4" runat="server">4</asp:linkbutton></td>
								<td class="normal1"><asp:linkbutton id="lnk5" runat="server">5</asp:linkbutton></td>
								<td><asp:linkbutton id="lnkFirst" runat="server"><div class="LinkArrow">9</div>
									</asp:linkbutton></td>
								<td><asp:linkbutton id="lnkPrevious" runat="server"><div class="LinkArrow">3</div>
									</asp:linkbutton></td>
								<td class="normal1"><asp:label id="lblPage" runat="server">Page</asp:label></td>
								<td><asp:textbox id="txtCurrrentPage" runat="server" Width="28px" CssClass="signup" AutoPostBack="True"
										MaxLength="5"></asp:textbox></td>
								<td class="normal1"><asp:label id="lblOf" runat="server">of</asp:label></td>
								<td class="normal1"><asp:label id="lblTotal" runat="server"></asp:label></td>
								<td><asp:linkbutton id="lnkNext" runat="server" CssClass="LinkArrow"><div class="LinkArrow">4</div>
									</asp:linkbutton></td>
								<td><asp:linkbutton id="lnkLast" runat="server"><div class="LinkArrow">:</div>
									</asp:linkbutton></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table cellSpacing="1" cellPadding="1" width="100%" border="0">
				<tr>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="a" href="javascript:fnSortByChar('a')">
							<div class="A2Z">A</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="b" href="javascript:fnSortByChar('b')">
							<div class="A2Z">B</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="c" href="javascript:fnSortByChar('c')">
							<div class="A2Z">C</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="d" href="javascript:fnSortByChar('d')">
							<div class="A2Z">D</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="e" href="javascript:fnSortByChar('e')">
							<div class="A2Z">E</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="f" href="javascript:fnSortByChar('f')">
							<div class="A2Z">F</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="g" href="javascript:fnSortByChar('g')">
							<div class="A2Z">G</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="h" href="javascript:fnSortByChar('h')">
							<div class="A2Z">H</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="I" href="javascript:fnSortByChar('i')">
							<div class="A2Z">I</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="j" href="javascript:fnSortByChar('j')">
							<div class="A2Z">J</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="k" href="javascript:fnSortByChar('k')">
							<div class="A2Z">K</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="l" href="javascript:fnSortByChar('l')">
							<div class="A2Z">L</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="m" href="javascript:fnSortByChar('m')">
							<div class="A2Z">M</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="n" href="javascript:fnSortByChar('n')">
							<div class="A2Z">N</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="o" href="javascript:fnSortByChar('o')">
							<div class="A2Z">O</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="p" href="javascript:fnSortByChar('p')">
							<div class="A2Z">P</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="q" href="javascript:fnSortByChar('q')">
							<div class="A2Z">Q</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="r" href="javascript:fnSortByChar('r')">
							<div class="A2Z">R</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="s" href="javascript:fnSortByChar('s')">
							<div class="A2Z">S</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="t" href="javascript:fnSortByChar('t')">
							<div class="A2Z">T</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="u" href="javascript:fnSortByChar('u')">
							<div class="A2Z">U</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="v" href="javascript:fnSortByChar('v')">
							<div class="A2Z">V</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="w" href="javascript:fnSortByChar('w')">
							<div class="A2Z">W</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="x" href="javascript:fnSortByChar('x')">
							<div class="A2Z">X</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="y" href="javascript:fnSortByChar('y')">
							<div class="A2Z">Y</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="z" href="javascript:fnSortByChar('z')">
							<div class="A2Z">Z</div>
						</A>
					</td>
					<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
						bgColor="#52658c"><A id="all" href="javascript:fnSortByChar('0')">
							<div class="A2Z">All</div>
						</A>
					</td>
				</tr>
			</table>
		     <asp:table id="table3" Width="100%" Runat="server" Height="350" GridLines="None" BorderColor="black" CssClass="aspTable"
				BorderWidth="1" CellSpacing="0" CellPadding="0">
				<asp:tableRow>
					<asp:tableCell VerticalAlign="Top">
						    <asp:GridView ID="gvSearch" runat="server" EnableViewState="true"  AutoGenerateColumns="false"  CssClass="dg" Width="100%">
                                    <AlternatingRowStyle CssClass="ais"/>
                                    <RowStyle CssClass="is"/>
                                    <HeaderStyle CssClass="hs"/>
						                        <Columns>
						                   
						                        </Columns>		
                                </asp:GridView>
					</asp:tableCell>
				</asp:tableRow>
			</asp:table> 
			<table width="100%">
				<tr>
					<td class="normal4" align="center">
						<asp:Literal ID="litMessage" Runat="server"></asp:Literal></td>
				</tr>
			</table>
						 <asp:TextBox ID="txtDelContactIds" runat="server" style="display:none"></asp:TextBox>
			   <asp:TextBox ID="txtSortColumn" runat="server" style="display:none"></asp:TextBox>
			<asp:TextBox ID="txtTotalPage" Runat="server" style="DISPLAY:none"></asp:TextBox>
			<asp:TextBox ID="txtTotalRecords" Runat="server" style="DISPLAY:none"></asp:TextBox>
			<asp:TextBox ID="txtSortChar" Runat="server" style="DISPLAY:none"></asp:TextBox>
						<asp:button id="btnGo1" Width="25" Runat="server" style="DISPLAY:none" />
		</ContentTemplate>
	</asp:updatepanel>
			</form>
	</body>
</HTML>
