SELECT {BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 9px; BACKGROUND: #ffffff; BORDER-LEFT: #333333 1px solid; COLOR: #111111; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
}
.normal1	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #000000
	}
		
	.normal2	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 10pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #000000
	}
	.normal3	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: blue
	}
	.normal4	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: red
	}
	
.hyperLink
	{
		cursor:hand;
	}

.box {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 9px; BACKGROUND: #ffffff; BORDER-LEFT: #333333 1px solid; COLOR: #111111; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
}
.boxcopy {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 9px; BACKGROUND: #ffffff; BORDER-LEFT: #333333 1px solid; COLOR: #111111; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
}

Td.smallbol
{ 
	font-family:Tahoma, Verdana, Arial, Helvetica; font-size: 8px; color: #000000; font-weight: bold;
}
td.small
{
	font-family:Tahoma, Verdana, Arial, Helvetica; font-size: 8px; color: #000000;
}
	
td.normal
{
	font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 8px; color: #000000
}

td.redbol	{
	font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 9px; color: red; font-weight: bold; text-decoration: none;
		}
		
td.normalbol
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	color: #FFFFFF;
	BACKGROUND: #52658C;
	TEXT-DECORATION: none;
	text-align: center;
}

	td.normal1	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #000000
	}

td.norwhite	{
	font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 9px; color: #ffffff; font-weight: bold; text-decoration: none;
		}
td.normalredbold	{
	font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 9px; color: #ff0033; font-weight: bold
		}
td.normalred	{
	font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 9px; color: #ff0033;
		}
		
table.TabStyle
{
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A0BF, endColorstr=#546083,MakeShadow=true);
	color:white;
	border:1px;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;

}
INPUT.BUTTON
{
	border-top: black 1px inset;
	border-bottom: black 1px inset;
	border-right: black 1px inset;
	border-left: black 1px inset;
	font-size: 7pt;
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White, endColorstr=#628BAE,,MakeShadow=true);
	vertical-align: baseline;
	font-weight:bold;
	color: Black;
	font-family: Verdana;
	cursor:hand;
	text-align: center;
}
Table.dg
{
	Font-Size:10px;
	text-align:center;
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
		 	
}
.is
{
	background-color:White;
	text-align:center;	
}
.ais
{
	background-color:#C6D3E7;
	text-align:center;	

}
.hs
{
	background-color:#52658C;
	text-align:center;
	color:White;
}
.LinkArrow	
	{
	font-family : Webdings;
	color:#52658C;
	font-size:22;
	}
	
INPUT.DButton
{
	border-top: black 1px inset;
	border-bottom: black 1px inset;
	border-right: black 1px inset;
	border-left: black 1px inset;
	font-size: 7pt;
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White, endColorstr=#628BAE,,MakeShadow=true);
	vertical-align: baseline;
	font-weight:bold;
	color: red;
	font-family: Verdana;
	cursor:hand;
	text-align: center;
}

