/*This is Dark color style for pager */
BODY
{
	background-color:Black;
}
.PagerContainerTable
{
	border-right: #333333 1px solid;
	border-top: #333333 1px solid;
	border-left: #333333 1px solid;
	color: #d1d1e1;
	border-bottom: #333333 1px solid;
	background-color: #000000;
}
.PagerInfoCell
{
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 3px;
	font: bold 11px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	color: #ffcc66;
	padding-top: 3px;
	white-space: nowrap;
	background-color: #001b52;
	font-weight:normal;
}
.PagerInfoCell:link
{
	color: #ffcc66;
	text-decoration: none;
}
.PagerInfoCell:visited
{
	color: #ffcc66;
	text-decoration: none;
}
/*.PagerInfoCell:hover
{
	color: #ffcc66;
	text-decoration: underline;
}
.PagerInfoCell:active
{
	color: #ffcc66;
	text-decoration: underline;
}*/

.PagerCurrentPageCell
{
	color: #ffffff;
	background-color: #333333;
}
.PagerOtherPageCells
{
	color: #ffffff;
	background-color: #222222;
}
.PagerSSCCells
{
	background-color: #444444;
}

.PagerHyperlinkStyle
{
	font: 11px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
}
.PagerHyperlinkStyle:hover
{
	color: #ffcc66;
	text-decoration: none;
	font: 11px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
}
.PagerHyperlinkStyle:link
{
	color: #ffcc66;
	text-decoration: none;
	font: 11px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
}
.PagerHyperlinkStyle:visited
{
	color: #ffcc66;
	text-decoration: none;
	font: 11px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
}
.PagerHyperlinkStyle:active
{
	color: #ffcc66;
	text-decoration: none;
	font: 11px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
}

.GoToLabel
{
	font: 11px arial, verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	color:#f9f9f9;
	cursor:pointer;
	font-size:65%;
	vertical-align:middle;
	display:inline;
}
.GoToSelect
{
	font-size:55%;
}
.GoToSelectedOption
{
	color:#f9f9f9;
	background-color:#666666;
}

.GoToArrow
{
	vertical-align:middle;
	cursor:pointer;
}