*
{
	padding: 0px;
	margin: 0px;
}

body
{
	background: #F9F9F7 url('images/a1.gif') repeat-x;
	font-size: 11px;
	font-family: "trebuchet ms" , helvetica, sans-serif;
	/*color: #8C8C73;*/
	line-height: 18px;
}
.MainPanel
{
	width: 95%;
	background-color: White;
}

a
{
	color: #FF7800;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

sup
{
	font-size: 0.5em;
}


p
{
	margin-bottom: 14px;
	text-align: justify;
}

img.picA
{
	position: relative;
	top: -2px;
	background: url('images/a47.gif') no-repeat;
	width: 76px;
	height: 74px;
	padding: 8px;
}

img.picB
{
	position: relative;
	top: -2px;
	background: url('images/a26.gif') no-repeat;
	width: 146px;
	height: 75px;
	padding: 7px;
}

img.floatleft
{
	float: left;
	margin: 0px 14px 3px 0px;
}


ul.linklist
{
	list-style: none;
}

ul.linklist li
{
	border-top: solid 1px #EEEEEE;
	padding-top: 5px;
	margin: 5px 0px 0px 0px;
}

ul.linklist li.first
{
	border-top: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

#upbg
{
	position: absolute;
	top: 0px;
	left: 0px;
	background: #fff url('images/upbg.gif') no-repeat;
	width: 747px;
	height: 264px;
	z-index: 1;
}

#outer
{
	position: relative;
	width: 800px;
	margin: 30 auto;
	background: #fff url('images/abg.gif') repeat-y;
}

#header
{
	background: #FF7800 url('images/a8.gif') repeat-x;
	height: 92px;
	color: #fff;
	padding-left: 20px;
}

#header span
{
	font-weight: normal;
}

#header h1
{
	position: absolute;
	font-size: 23px;
	letter-spacing: -1px;
	top: 30px;
	height: 92px;
}

#header h2
{
	position: absolute;
	font-size: 10px;
	font-weight: normal;
	color: #FCE2CA;
	top: 51px;
}

#header sup
{
	color: #FCE2CA;
}

/*#splash
{
background: #EAEAE2 url('images/a10.jpg') no-repeat;
width: 458px;
height: 92px;
}*/

#menu
{
	background: #46461F url('images/a16.gif') repeat-x;
	height: 67px;
	padding: 0px 20px 0px 5px;
	margin: 98px 0px 20px 0px;
}

#menu ul
{
}

#menu ul li
{
	display: inline;
	line-height: 52px;
	padding-left: 3px;
}

#menu ul li.first
{
	border-left: 0px;
}

#menu ul li a
{
	background-color: transparent;
	background-repeat: repeat-x;
	padding: 8px 12px 8px 12px;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}

#menu ul li a:hover
{
	background: #fff url('images/a18.gif') repeat-x top;
	color: #4A4A24;
	text-decoration: none;
}

#date
{
	position: absolute;
	top: 0px;
	line-height: 52px;
	color: #BDBDA2;
	right: 30px;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: -1px;
}

#secondarycontent
{
	position: relative;
	width: 180px;
	float: right;
}

#secondarycontent h3
{
	position: relative;
	top: 4px;
	font-size: 16px;
	line-height: 25px;
	color: #656551;
	letter-spacing: -1px;
	background: url('images/a22.gif') bottom repeat-x;
	padding: 0px 0px 10px 10px;
	margin-bottom: 20px;
}

#secondarycontent .content
{
	padding: 0px 10px 0px 10px;
	margin-bottom: 20px;
}

#primarycontent
{
	position: relative;
	width: 480px;
	float: left;
}

#primarycontent h3
{
	position: relative;
	top: 4px;
	font-size: 18px;
	line-height: 25px;
	color: #656551;
	letter-spacing: -1px;
	background: url('images/a22.gif') bottom repeat-x;
	padding: 0px 0px 10px 15px;
	margin-bottom: 20px;
}

#footer
{
	clear: both;
	height: 66px;
	text-align: center;
	line-height: 20px;
	background-image: url('images/a50.gif');
	color: #A8A88D;
	margin: 15px;
}

#footer a
{
	color: #8C8C73;
}

.boxheader
{
	font-weight: bold;
	font-size: 8pt;
	color: #f5f5f5;
	font-family: verdana;
	background-color: #8C8C73;
	padding-right: 5px;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top: 3px;
	width: 199px;
}
.boxheader a
{
	color: #8C8C73;
	font-family: verdana;
	text-decoration: none;
	font-size: 8pt;
	font-weight: bold;
}
.boxcontent
{
	border: solid 1px #CBCED4;
	background: #f5f5f5;
	padding: 11px;
	margin-bottom: 7px;
	width: 190px;
}

.summarytable
{
    border:solid 4px lightgray;
    border-top:none;
    background: #fff;
    width:100%;
    
}
.summaryheader
{
    border-top:solid 4px lightgray;
	font-weight: bold;
	font-size: 11pt;
	color: #8C8C73;
	font-family: verdana;
	padding-right: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top:5px;
}
.summarycontent
{
	border: solid 0px #CBCED4;
	padding: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 7px;
}
.summaryheader a
{
    font-size:12px;
    float:right;
    margin-right:10px;
}
.sectionheader
{
	font-size: 18px;
	line-height: 25px;
	color: #46461F; /*#656551;*/
	letter-spacing: -1px;
	background: url('images/a22.gif') bottom repeat-x;
	padding: 0px 0px 10px 15px;
	margin-bottom: 20px;
}


/*TextBox or dropdowns are using following style*/
.textbox
{
	font-size: 10pt;
	color: #46461F;
	border: solid 1px #CBCED4;
	background: #f5f5f5;
	margin-bottom: 7px;
}
.dropdown
{
	font-size: 8pt;
	color: #46461F;
	background: #f5f5f5;
	height: 15pt;
	margin-bottom: 7px;
}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#444444;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:4px 6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}
.addtocart
{
	background-image: url('images/addtoCart.gif');
	height: 24px;
	width: 88px;
}
.addinquiry
{
	background-image: url('images/inquiry.png');
	height: 22px;
	width: 204px;
	cursor:pointer;
}
.customFields table
{
    text-align:left;        
}
.customFields td
{
    text-align:left;        
    border-right:1px solid black;    
}
.ErrorMessage
{
	color: Red;
	background-color: #F5F5F5; /*#fed;*/
	border: 1px solid;
	border-color: Red Red Red Red;
}
.WarningMessage
{
	color: Green;
	background-color: #F5F5F5;
	border: 1px solid;
	border-color: Green Green Green Green;
}
.TreeNode
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
/*Cart Grid*/
.Grid {
	border: solid 1px lightgray;
}
.Grid td {
	border: none;
	
	/*margin: 3px 3px 3px 3px;
	font-family: Arial;*/
	text-align: center;
}
.GridHeader {
	font-weight: bold;
	background-color:#f3f3f3;
	color:#323232;
}
.GridHeader td{
    padding:4px;
}
.GridHeader a {
	text-decoration: none;
	color: LightGoldenrodYellow;
	padding: 0px 15px 0px 15px;
}
.GridHeader a:hover {
	text-decoration: underline;
	background: Tan url(images/spin.gif) no-repeat 0 100%;
}
.GridItem, .GridAltItem {
	font-size: smaller;
	background-color:White;
}
.GridItem {
/*background-color: LightGoldenrodYellow;*/
}
.GridAltItem {
background-color: PaleGoldenrod;
}
/*Categories listing*/
.CatItem
{
	background-color: #E3EAEB;
}
.CatAltItem
{
	background-color: #FFFFFF;
}
.prod_price
{
	color: #800000;
	font-weight: bold;
}
.prod_strick
{
	text-decoration: line-through;
	color: Gray;
}
.Product_Label
{
	font-weight: bold;
	color: Gray;
	padding-top: 1px;
	text-align: right;
}
.Product_Value
{
	color: Gray;
	padding-top: 1px;
	text-align: left;
}
.ListItemBox
{
	border:solid 1px;
	width: 140px;
	margin:4 4 4 4;
}
#vertmenu {
font-size: 100%;
width: 160px;
padding: 0px;
margin: 0px;
}

#vertmenu h1 {
display: block;
background-color:#FF9900;
padding: 3px 0 5px 3px;
border: 1px solid #000000;
color: #333333;
margin: 0px;
width:159px;
}

#vertmenu ul {
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}
#vertmenu ul li {
margin: 0px;
padding: 0px;
}
#vertmenu ul li a {
display: block;
border-bottom: 1px dashed #C39C4E;
padding: 5px 0px 2px 4px;
text-decoration: none;
color: #666666;
width:160px;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
color: #000000;
background-color: #eeeeee;
}
.normal1{ font-weight:bold; width:200px; text-align:right;}
.subtotal{float:right;}
.LabelColumn{text-align:right;padding-right:3px;margin-right: 7px;}
.ControlCell{ font-weight:bold;text-align:left;}


.ButtonBar
{text-align:center;}
.normal1{ font-weight:bold; width:200px; text-align:right;}
.ControlCell{ font-weight:bold; width:200px; text-align:left;}



/* Zoom Images */
.zoomPad{
	position:relative;
	float:left;
	z-index:99;
	cursor:crosshair;
}
.zoomPreload{
   -moz-opacity:0.8;
   opacity: 0.8;
   filter: alpha(opacity = 80);
   color: #333;
   font-size: 12px;
   font-family: Tahoma;
   text-decoration: none;
   border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
   text-align:center;
   background-image: url(../images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
   z-index:110;
   width:90px;
   height:43px;
   position:absolute;
   top:0px;
   left:0px;
    * width:100px;
    * height:49px;
}


.zoomPup{
	overflow:hidden;
	background-color: #FFF;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index:120;
	position:absolute;
	border:1px solid #CCC;
  z-index:101;
  cursor:crosshair;
}
.zoomWindow{
	position:absolute;
	left:110%;
	top:40px;
	background:#FFF;
	z-index:6000;
	height:auto;
  z-index:10000;
  z-index:110;
}
.zoomWrapper{
	position:relative;
	border:1px solid #999;
  z-index:110;
}
.zoomWrapperTitle{
	display:block;
	background:#999;
	color:#FFF;
	height:18px;
	line-height:18px;
	width:100%;
  overflow:hidden;
	text-align:center;
	font-size:10px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:120;
  -moz-opacity:0.6;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
.zoomWrapperImage{
	display:block;
  position:relative;
  overflow:hidden;
  z-index:110;

}


/* page Css*/
        *
        {
            margin: 0;
            padding: 0;
        }
        .imagePadding
        {
            margin: 0;
            padding: 0 0 2px;
        }
        .clearfix
        {
            display: block;
            zoom: 1;
        }
        .clearfixthumb
        {
            display: block;
            zoom: 1;
            height:50px;
            width:300px;
        }
        ul#thumblist
        {
            display: block;
        }
        ul#thumblist li
        {
            float: left;
            margin-right: 2px;
            list-style: none;
        }
        ul#thumblist li a
        {
            display: block;
            border: 1px solid #CCC;
        }
        ul#thumblist li a.zoomThumbActive
        {
            border: 1px solid red;
        }
        .jqzoom
        {
            text-decoration: none;
            float: left;
            margin-left:20px;
        }
       /*Page Css */
/* Zoom Images End */
/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(../Images/star.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */
.overlay{position:fixed;z-index:98;top:0px;left:0px;right:0px;bottom:0px;background-color:rgba(170, 170, 170, 0.5);filter:alpha(opacity=80)}.overlayContent{z-index:99;margin:250px auto}