<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="bootstrap-multiselect.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="JS/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tblCompanies').DataTable({
            dom: "Bfrtip",
            paging: true,
            pageLength: 5,
            ajax: function (data, callback, settings) {

                $.ajax({
                    type: "POST",
                    url: '/WebServices/CommonService.svc/PolitiCompanyDirectory',
                    contentType: "application/json",
                    data: JSON.stringify({
                        "draw": data.draw,
                        "start": data.start,
                        "length": data.length,
                        "sortColumn": data.order[0].column,
                        "sortDirection": data.order[0].dir,
                        "search": data.search.value,
                        "primaryBusinessIds": "",
                        "subCategoryIds": "",
                        "businessStructureIds": "",
                        "headquarterIds": "",
                        "politicalScoreIds": ""
                    }),
                    success: function (data, textStatus, jQxhr) {
                        callback({
                            draw: JSON.parse(data.PolitiCompanyDirectoryResult).draw,
                            data: JSON.parse(JSON.parse(data.PolitiCompanyDirectoryResult).data),
                            recordsTotal: JSON.parse(data.PolitiCompanyDirectoryResult).recordsTotal,
                            recordsFiltered: JSON.parse(data.PolitiCompanyDirectoryResult).recordsFiltered
                        });
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                    }
                });
            },
            serverSide: true,
            columns: [
                { "data": "vcCompanyName" },
                { "data": "txtComments", "orderable": false },
                { "data": "vcWebSite" },
                { "data": "vcPoliticalScore" },
                { "data": "vcEvidence", "orderable": false },
            ]

        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("a.Home").addClass("active");
        $("a.OurMission").removeClass("active");
        $("a.FAQs").removeClass("active");
        $("a.SubmitCompany").removeClass("active");
        $("a.ContactUS").removeClass("active");

        $('#ddlPrimaryBusiness').multiselect();

        $('#example').DataTable().ajax.reload();
    });
</script>
{template:header}
<div id="banner">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Find companies that align with your political values</h1>
                <h5>Big business has always bought influence, but the political cause never mattered</h5>
                <div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img alt="" src="images/banner.png" class="img-fluid animated" />
            </div>
        </div>
    </div>
</div>
<div id="ourmission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center" style="margin-bottom: 40px;">Directory</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-3">
                <select id="ddlPrimaryBusiness" multiple="multiple">
                    <option value="87613">Manufacturing</option>
                    <option value="87616">Professional Services</option>
                    <option value="87614">Retail</option>
                    <option value="87612">Software / Tech</option>
                    <option value="87615">Wholesale / Distribution</option>
                    <option value="87617">Other</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownSubCategory" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Sub-Category
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownSubCategory" id="ulSubCategory">
                        <li>
                            <input type="checkbox" value="87618" onchange="subCategoryChanged()" />
                            Analytics / BI / AI</li>
                        <li>
                            <input type="checkbox" value="87619" onchange="subCategoryChanged()" />
                            Cloud Hosting / Security</li>
                        <li>
                            <input type="checkbox" value="87620" onchange="subCategoryChanged()" />
                            Communications</li>
                        <li>
                            <input type="checkbox" value="87621" onchange="subCategoryChanged()" />
                            Industry specific for vertical market</li>
                        <li>
                            <input type="checkbox" value="87622" onchange="subCategoryChanged()" />
                            Marketing / Lead Procurement</li>
                        <li>
                            <input type="checkbox" value="87623" onchange="subCategoryChanged()" />
                            Media / Social Media</li>
                        <li>
                            <input type="checkbox" value="87624" onchange="subCategoryChanged()" />
                            Runs entire businesses (e.g. ERP)</li>
                        <li>
                            <input type="checkbox" value="87625" onchange="subCategoryChanged()" />
                            Runs part of a business (e.g. CRM)</li>
                        <li>
                            <input type="checkbox" value="87626" onchange="subCategoryChanged()" />
                            Chemical Products</li>
                        <li>
                            <input type="checkbox" value="87627" onchange="subCategoryChanged()" />
                            Durable Goods</li>
                        <li>
                            <input type="checkbox" value="87628" onchange="subCategoryChanged()" />
                            Food Products</li>
                        <li>
                            <input type="checkbox" value="87629" onchange="subCategoryChanged()" />
                            Medicine / Medical</li>
                        <li>
                            <input type="checkbox" value="87630" onchange="subCategoryChanged()" />
                            Non-Durable / Consumables</li>
                        <li>
                            <input type="checkbox" value="87631" onchange="subCategoryChanged()" />
                            Business Development</li>
                        <li>
                            <input type="checkbox" value="87632" onchange="subCategoryChanged()" />
                            Financial</li>
                        <li>
                            <input type="checkbox" value="87633" onchange="subCategoryChanged()" />
                            Legal</li>
                        <li>
                            <input type="checkbox" value="87634" onchange="subCategoryChanged()" />
                            Logistics</li>
                        <li>
                            <input type="checkbox" value="87635" onchange="subCategoryChanged()" />
                            Management</li>
                        <li>
                            <input type="checkbox" value="87636" onchange="subCategoryChanged()" />
                            Medical</li>
                        <li>
                            <input type="checkbox" value="87637" onchange="subCategoryChanged()" />
                            Real Estate Industry</li>
                        <li>
                            <input type="checkbox" value="87638" onchange="subCategoryChanged()" />
                            Technology</li>
                        <li>
                            <input type="checkbox" value="87639" onchange="subCategoryChanged()" />
                            Other</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCompanyStructure" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Company Structure
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCompanyStructure" id="uldropdownCompanyStructure">
                        <li>
                            <input type="checkbox" value="87640" onchange="companyStructureChanged()" />
                            100% employee owned</li>
                        <li>
                            <input type="checkbox" value="87641" onchange="companyStructureChanged()" />
                            Private with investors</li>
                        <li>
                            <input type="checkbox" value="87642" onchange="companyStructureChanged()" />
                            Public</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCountryHQ" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Country HQ
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCountryHQ" id="ulCountryHQ">
                        <li>
                            <input type="checkbox" value="87643" onchange="companyStructureChanged()" />
                            U.S. / Canada</li>
                        <li>
                            <input type="checkbox" value="87644" onchange="companyStructureChanged()" />
                            E.U.</li>
                        <li>
                            <input type="checkbox" value="87645" onchange="companyStructureChanged()" />
                            U.K.</li>
                        <li>
                            <input type="checkbox" value="87646" onchange="companyStructureChanged()" />
                            Australia</li>
                        <li>
                            <input type="checkbox" value="87647" onchange="companyStructureChanged()" />
                            Latin America</li>
                        <li>
                            <input type="checkbox" value="87648" onchange="companyStructureChanged()" />
                            Asia Pacific</li>
                        <li>
                            <input type="checkbox" value="87649" onchange="companyStructureChanged()" />
                            India</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPoliticalScore" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Political Score
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownPoliticalScore" id="ulPoliticalScore">
                        <li>
                            <input type="checkbox" value="87653" onchange="politicalScoreChanged()" />
                            Conservative</li>
                        <li>
                            <input type="checkbox" value="87654" onchange="politicalScoreChanged()" />
                            Woke</li>                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="tblCompanies" class="display" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Description</th>
                            <th>Link</th>
                            <th>Score</th>
                            <th>Evidence</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Company Name</th>
                            <th>Description</th>
                            <th>Link</th>
                            <th>Score</th>
                            <th>Evidence</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{template:footer}