﻿<%@ Page Language="C#" Inherits="BizCart.BizPage"  MaintainScrollPositionOnPostback="true"  %>
<%@ Register TagPrefix="url" Namespace="Intelligencia.UrlRewriter" Assembly="Intelligencia.UrlRewriter" %>
<!DOCTYPE html>
<script runat="server"> 
</script> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head runat="server"><title></title> <meta name="keywords" content=""> <meta name="description" content=""><link rel="stylesheet" type="text/css" href="/default.css" /><link rel="stylesheet" type="text/css" href="/bootstrap.min.css" /><script type="text/javascript" src="/Js/jquery-1.9.1.min.js" ></script><script type="text/javascript" src="/Js/bootstrap.min.js" ></script><script type="text/javascript" src="/Js/jquery-loader.js" ></script></head> 
<body> 
    <url:form runat="server" id="form1">
<iframe src="lead.html" style="height: 100%; width: 100%;"></iframe></url:form> 
</body> 
</html>