﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Blog.ascx.cs" Inherits="BizCart.UserControls.Blog" %>



<asp:literal id="litCutomizeHtml" runat="server" EnableViewState="false"></asp:literal>