﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CategoryList.ascx.cs"
    Inherits="BizCart.UserControls.CategoryList" %>

<asp:Panel ID="pnlCutomizeHtml" runat="server">
    <table runat="server" border="0" width="100%">
        <tr>
            <td>
                <div class="sectionheader">
                   
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td class="normal4" align="center">
                            <asp:Literal ID="litMessage" runat="server" EnableViewState="False"></asp:Literal>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
   <%--     <tr>
            <td valign="top">
                <asp:DataList ID="dlCategories" runat="server" CellPadding="4" CellSpacing="2" ForeColor="#333333"
                    RepeatColumns="3" RepeatDirection="Horizontal" ShowFooter="False" ShowHeader="False"
                    OnItemDataBound="dlCategories_ItemDataBound">
                    <FooterStyle BackColor="#1C5E55" Font-Bold="True" ForeColor="White" />
                    <AlternatingItemStyle CssClass="CatAltItem" />
                    <ItemStyle CssClass="CatItem" />
                    <SelectedItemStyle />
                    <HeaderStyle />
                    <ItemTemplate>
                        <a href='<%# GetURL(Eval("vcCategoryName").ToString(),Eval("numCategoryID").ToString())%>'>
                            <%# Eval("vcCategoryName")%></a>
                        <br />
                        <a href='<%# GetURL(Eval("vcCategoryName").ToString(),Eval("numCategoryID").ToString())%>'>
                            <asp:Image ID="imgCategory" runat="server" Height="125" Width="100" /></a>
                    </ItemTemplate>
                </asp:DataList>
            </td>
        </tr>--%>
    </table>
</asp:Panel>
<asp:Literal ID="litCutomizeHtml" runat="server"></asp:Literal>
