﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FeaturedItems.ascx.cs"
    Inherits="BizCart.UserControls.FeaturedItems" %>
<asp:Panel ID="pnlCutomizeHtml" runat="server">
    
</asp:Panel>
<asp:Label ID="lblCustomizeHtml" runat="server"></asp:Label>
