﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Gallery.ascx.cs" Inherits="BizCart.UserControls.Gallery" EnableViewState="false" %>
 <asp:PlaceHolder ID="phMenu" runat="server"></asp:PlaceHolder>
<asp:Literal ID="litCutomizeHtml" runat="server"></asp:Literal>