﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Invoice.ascx.cs" Inherits="BizCart.UserControls.Invoice" %>
<script language="javascript" type="text/javascript">
    function PrintIt(ID) {
        document.getElementById(ID).style.display = 'none';
        window.print();
        return false;
    }
    function Close() {
        window.close();
    }

    function Close1(lngOppID) {
        window.opener.reDirect('../opportunity/frmOpportunities.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=opportunitylist&OpID=' + lngOppID);
        self.close();
        return false;
    }

    function OpenPaymentDetails(a, b) {
        window.open('../opportunity/frmPaymentDetails.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&OppId=' + a + '&BIzDocID=' + b, '', 'toolbar=no,titlebar=no,top=300,width=800,height=380,scrollbars=yes,resizable=yes');
        return false;
    }

    function RefereshParentPage() {
        document.Form1.btnTemp_DontDelete.click()
        return false;
    }
    function OpenAmtPaid(a, b, c) {
        window.open('../opportunity/frmAmtPaid.aspx?OppBizId=' + a + '&OppId=' + b + '&DivId=' + c, '', 'toolbar=no,titlebar=no,top=300,width=700,height=400,scrollbars=no,resizable=no');
        return false;
    }

    function OpenPaymentAmtPaid(a) {
        window.opener.location.href = '../opportunity/frmAmtPaid.aspx?DepositeID=' + a;
        return false;
    }

    function OpenRecievedDate(OppID) {
        window.open('../opportunity/frmRecievedDate.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&OppID=' + OppID, '', 'toolbar=no,titlebar=no,top=300,width=400,height=100,scrollbars=yes,resizable=yes');
        return false;
    }
    function ShowWindow(Page, q, att) {

        if (att == 'show') {
            document.getElementById(Page).style.visibility = "visible";
            return false;

        }
        if (att == 'hide') {
            document.getElementById(Page).style.visibility = "hidden";
            return false;

        }
    }


    function OpenLogoPage() {
        window.open('frmLogoUpload.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=BizDocs', '', 'toolbar=no,titlebar=no,top=300,width=400,height=200,scrollbars=yes,resizable=yes');
        return false;
    }

    function Close() {
        window.close();
    }

    function CheckNumber(cint) {
        if (cint == 1) {
            if (!(window.event.keyCode > 47 && window.event.keyCode < 58 || window.event.keyCode == 44 || window.event.keyCode == 46)) {
                window.event.keyCode = 0;
            }
        }
        if (cint == 2) {
            if (!(window.event.keyCode > 47 && window.event.keyCode < 58)) {
                window.event.keyCode = 0;
            }
        }

    }
    function openApp(a, b, c) {

        if (document.all) {
            window.open('../Documents/frmDocApprovers.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&DocID=' + a + '&DocType=' + b + '&OpID=' + c + "&DocName=" + document.getElementById('lblBizDocIDValue').innerText, '', 'toolbar=no,titlebar=no,left=300,top=450,width=900,height=600,scrollbars=yes,resizable=yes')
        } else {
            window.open('../Documents/frmDocApprovers.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&DocID=' + a + '&DocType=' + b + '&OpID=' + c + "&DocName=" + document.getElementById('lblBizDocIDValue').textContent, '', 'toolbar=no,titlebar=no,left=300,top=450,width=900,height=600,scrollbars=yes,resizable=yes')
        }

        return false;
    }
    function SendEmail(a, b) {
        window.open('../contact/frmComposeWindow.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&Lsemail=' + a + '&pqwRT=' + b, '', 'toolbar=no,titlebar=no,top=100,left=100,width=850,height=550,scrollbars=yes,resizable=yes')
        return false;
    }
    function OpenAtch(a, b, c, d) {
        window.open("../opportunity/frmBizDocAttachments.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&BizDocID=" + document.Form1.txtBizDoc.value + "&TempID=" + document.Form1.ddlBizDocTemplate.value + "&E=2&OpID=" + a + "&OppBizId=" + b + "&DomainID=" + c + "&ConID=" + c, "", "width=800,height=400,status=no,scrollbars=yes,left=155,top=160");
        return false;
    }
    function openeditAddress(a, b, ReturnID) {
        window.open('../opportunity/frmEditOppAddress.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&ReturnID=' + ReturnID + '&AddType=' + a + '&OppID=' + b, '', 'toolbar=no,titlebar=no,left=100,top=350,width=500,height=350,scrollbars=yes,resizable=yes')
        return false;
    }
    function Openfooter(a) {
        window.open('../opportunity/frmFooterUpload.aspx?OppType=' + a, '', 'toolbar=no,titlebar=no,top=300,width=400,height=100,scrollbars=yes,resizable=yes');
        return false;
    }
    function OpenExport(a, b) {
        window.open('../opportunity/frmBizDocExport.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&OppBizId=' + a + '&OpID=' + b, '', 'toolbar=no,titlebar=no,top=300,width=400,height=200,scrollbars=yes,resizable=yes');
        return false;
    }
    function OpenEdit(a, b, c) {
        var strURL = '../opportunity/frmAddBizDocs.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&OpID=' + a + '&OppBizId=' + b + '&OppType=' + c;
        if (opener.location.href.toLowerCase().indexOf('frmmenu') > 0) {
            opener.top.frames['mainframe'].location.href = strURL
        } else {
            opener.location.href = strURL
        }
        window.close();
        return false;
    }
    function ChangeDate(a, b) {
        window.open('../opportunity/frmChangeDueDate.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&OppBizId=' + a + '&date=' + b, '', 'toolbar=no,titlebar=no,top=300,width=240,height=250,scrollbars=yes,resizable=yes');
        return false;
    }
    function GrabHTML() {
        //$("#<%=hdnBizDocHTML.ClientID%>").val($("#<%=pnlBizDoc.ClientID%>").html());

        document.getElementById('<%=hdnBizDocHTML.ClientID%>').value = document.getElementById("<%=pnlBizDoc.ClientID%>").innerHTML.replace(/https/gi, "http"); //case in-sensetive replace
        return true;
    }
    $(document).ready(function () {
        $('link[href$=".css"]').prop('disabled', true);
        $('head').append('<link href="/css/master.css" rel="stylesheet"/>');
        $('head').append('<link href="/css/NewUIStyle.css" rel="stylesheet"/>');
    });
</script>
<div id="resizeDiv">
    <asp:Panel ID="pnlBizDoc" runat="server">
        <%--<link rel="stylesheet" href="../CSS/master.css" type="text/css" />--%>
        <asp:Table ID="tblOriginalBizDoc" BorderWidth="1" runat="server" Width="100%" BorderColor="black"
            GridLines="None">
            <asp:TableRow>
                <asp:TableCell>
                    <style type="text/css">
                        .MainPanel {
                            width: 100% !important;
                        }

                        body {
                            font-family: Arial,Helvetica,sans-serif !important;
                            font-size: 12px !important;
                            color: #282828 !important;
                        }

                        .title {
                            color: #696969; /*padding:10px;*/
                            font: bold 30px Arial, Helvetica, sans-serif;
                        }

                        .RowHeader {
                            background-color: #dedede;
                            font-family: Arial;
                            font-size: 14pt;
                            color: #52677E;
                            border-bottom: 2px;
                            border-bottom-color: #52677E;
                            border-bottom-style: solid;
                        }

                            .RowHeader .hyperlink {
                                color: #333;
                            }

                        .ItemHeader, .ItemStyle, .AltItemStyle {
                            border-width: 1px;
                            padding: 8px;
                            font: normal 12px/17px arial;
                            border-style: solid;
                            border-color: #666666;
                            background-color: #dedede;
                        }

                        .ItemHeader {
                            border-width: 1px;
                            padding: 8px;
                            border-style: solid;
                            border-color: #666666;
                        }

                        .ItemStyle td {
                            border-width: 1px;
                            padding: 8px;
                            border-style: solid;
                            border-color: #666666;
                            background-color: #ffffff;
                        }

                        .AltItemStyle {
                            background-color: White;
                            border-color: black;
                            padding: 8px;
                        }

                            .AltItemStyle td {
                                padding: 8px;
                            }

                        .ItemHeader td {
                            border-width: 1px;
                            padding: 8px;
                            font-weight: bold;
                            border-style: solid;
                            border-color: #666666;
                            background-color: #dedede;
                        }

                            .ItemHeader td th {
                                border-width: 1px;
                                padding: 8px;
                                border-style: solid;
                                border-color: #666666;
                                background-color: #dedede;
                            }

                        .tblBizDocSumm {
                            font: normal 12px verdana;
                            color: #333;
                            border-collapse: collapse;
                            background-color: #dedede;
                        }

                            .tblBizDocSumm td {
                                border-width: 1px;
                                padding: 8px;
                                border-style: solid;
                                border-color: #666666;
                            }

                        .WordWrapSerialNo {
                            width: 30%;
                            word-break: break-all;
                        }

                        .TwoColumns {
                            width: 85%;
                            word-break: break-all;
                        }

                        .ThreeColumns {
                            width: 80%;
                            word-break: break-all;
                        }

                        .OneColumns {
                            width: 99%;
                            word-break: break-all;
                        }
                    </style>
                    <table width="100%" border="0" cellpadding="0">
                        <tr>
                            <td valign="top" align="left">
                                <asp:Image ID="imgLogo" runat="server"></asp:Image>
                            </td>
                            <td align="right" nowrap>
                                <asp:Label ID="lblOrganizationName" runat="server"></asp:Label>&nbsp;&nbsp;<asp:Label
                                    ID="lblOrganizationContactName" runat="server"></asp:Label>
                            </td>
                            <td align="right" nowrap class="title">
                                <asp:Label ID="lblBizDoc" runat="server"></asp:Label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                    </table>
                    <table width="100%" border="0" cellpadding="0" style="border-spacing: 2px !important; border-collapse:initial !important">
                        <tr>
                            <td align="right">
                                <table width="100%">
                                    <tr>
                                        <td class="RowHeader">Discount
                                        </td>
                                        <td class="RowHeader">Billing Terms
                                        </td>
                                        <td class="RowHeader">
                                            <a id="hplDueDate" runat="server" class="hyperlink" href="#">Due Date</a>
                                        </td>
                                        <td class="RowHeader">Date Created
                                        </td>
                                        <td class="RowHeader">
                                            <asp:Label runat="server" ID="lblBizDocIDLabel" Text="ID#"></asp:Label>
                                            <%--<font color="white">Invoice#</font>--%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="normal1">
                                            <asp:Label ID="lblDiscount" runat="server"></asp:Label>
                                        </td>
                                        <td class="normal1">
                                            <asp:Label ID="lblBillingTerms" runat="server"></asp:Label>
                                            <asp:Label ID="lblBillingTermsName" runat="server"></asp:Label>
                                        </td>
                                        <td class="normal1">
                                            <asp:Label ID="lblDuedate" runat="server"></asp:Label>
                                        </td>
                                        <td class="normal1">
                                            <asp:Label ID="lblDate" runat="server"></asp:Label>
                                        </td>
                                        <td class="normal1">
                                            <asp:Label ID="lblBizDocIDValue" runat="server"></asp:Label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="normal1">
                            <td colspan="5">
                                <table height="100%" width="100%"  style="border-spacing: 2px !important; border-collapse:initial !important">
                                    <tr>
                                        <td class="RowHeader">Bill To
                                        </td>
                                        <td class="RowHeader">Ship To
                                        </td>
                                        <td class="RowHeader">Status
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="normal1">
                                            <asp:Label ID="lblBillToAddressName" runat="server" Visible="false"></asp:Label>
                                            <asp:Label ID="lblBillToCompanyName" runat="server"></asp:Label>
                                            <asp:Label ID="lblBillTo" runat="server"></asp:Label>
                                        </td>
                                        <td class="normal1">
                                            <asp:Label ID="lblShipToAddressName" runat="server" Visible="false"></asp:Label>
                                            <asp:Label ID="lblShipToCompanyName" runat="server"></asp:Label>
                                            <asp:Label ID="lblShipTo" runat="server"></asp:Label>
                                        </td>
                                        <td>
                                            <table height="100%" width="100%">
                                                <tr>
                                                    <td colspan="2" class="normal1">
                                                        <asp:Label ID="lblStatus" runat="server"></asp:Label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="normal1">
                                                        <asp:HyperLink class="normal1" ID="hplAmountPaid" runat="server" CssClass="hyperlink"><font color="#333399">Amount Paid:</font></asp:HyperLink>
                                                    </td>
                                                    <td class="normal1">
                                                        <asp:Label ID="lblAmountPaidCurrency" runat="server" Text=""></asp:Label>&nbsp;<asp:Label
                                                            ID="lblAmountPaid" runat="server"></asp:Label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="normal1">Balance Due:
                                                    </td>
                                                    <td class="normal1">
                                                        <asp:Label ID="lblBalanceDueCurrency" runat="server" Text=""></asp:Label>&nbsp;<asp:Label
                                                            ID="lblBalance" runat="server"></asp:Label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="normal1">
                            <td colspan="5">
                                <table runat="server" id="vendorAddress" height="100%" width="100%" style="border-spacing: 2px !important; border-collapse:initial !important">
                                    <tr>
                                        <td class="RowHeader">

                                            <a id="hplEmployerBillto" runat="server" class="hyperlink">
                                                <asp:Label ID="lblEmployerBillAddHeader" runat="server"></asp:Label>

                                            </a>
                                        </td>
                                        <td class="RowHeader">
                                            <a id="hplCusVenShipTo" runat="server" class="hyperlink">

                                                <asp:Label ID="lblEmployerShipAddHeader" runat="server"></asp:Label>

                                            </a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="normal1">
                                            <asp:Label ID="lblEmployerBillToAddressName" runat="server"></asp:Label>
                                            <asp:Label ID="lblEmployerBillToCompanyName" runat="server"></asp:Label>
                                            <asp:Label ID="lblEmployerBillTo" runat="server"></asp:Label>
                                        </td>
                                        <td class="normal1">
                                            <asp:Label ID="lblEmployerShipToAddressName" runat="server" Visible="false"></asp:Label>
                                            <asp:Label ID="lblEmployerShipToCompanyName" runat="server"></asp:Label>
                                            <asp:Label ID="lblEmployerShipTo" runat="server"></asp:Label>
                                        </td>

                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr class="normal1">
                            <td colspan="5">
                                <table height="100%" width="100%" style="border-spacing: 2px !important; border-collapse:initial !important">
                                    <tr>
                                        <td class="RowHeader">
                                            <asp:Label ID="lblPONo" runat="server"></asp:Label>&nbsp;#
                                        </td>
                                        <td class="RowHeader">Deal or Order ID
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <asp:Label ID="lblNo" runat="server"></asp:Label>
                                        </td>
                                        <td class="normal1">
                                            <asp:HyperLink ID="hplOppID" runat="server" CssClass="hyperlink"> </asp:HyperLink>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="RowHeader" colspan="5">Tracking Numbers
                            </td>
                        </tr>
                        <tr>
                            <td class="RowHeader" colspan="5">
                                <asp:Label ID="lblTrackingNumbers" runat="server"></asp:Label>
                                <%--<asp:HyperLink ID="hplTrackingNumbers" runat="server" Target="_blank" />--%>
                            </td>
                        </tr>

                        <tr>
                            <td class="RowHeader" colspan="5">Comments
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" align="left" valign="top">
                                <asp:Label ID="lblComments" runat="server"></asp:Label>
                            </td>
                        </tr>
                        <tr class="normal1">
                            <td colspan="5">
                                <asp:DataGrid ID="dgBizDocs" runat="server" ForeColor="" Font-Size="10px" Width="100%"
                                    BorderStyle="None" BackColor="White" GridLines="Vertical" HorizontalAlign="Center"
                                    AutoGenerateColumns="False">
                                    <AlternatingItemStyle HorizontalAlign="Center" VerticalAlign="Middle" CssClass="AltItemStyle"></AlternatingItemStyle>
                                    <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle" CssClass="ItemStyle"></ItemStyle>
                                    <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" CssClass="ItemHeader"></HeaderStyle>
                                    <Columns>
                                    </Columns>
                                </asp:DataGrid>
                            </td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <td align="right">
                                <table id="tblBizDocSumm" class="tblBizDocSumm" runat="server" border="0">
                                </table>
                            </td>
                        </tr>
                    </table>
                    <asp:Image ID="imgFooter" runat="server" />
                </asp:TableCell>
            </asp:TableRow>
        </asp:Table>
        <asp:Table ID="tblFormattedBizDoc" Visible="false" BorderWidth="1" runat="server"
            Width="100%" BorderColor="black" GridLines="None">
            <asp:TableRow>
                <asp:TableCell>
                    <asp:Literal ID="litBizDocTemplate" runat="server"></asp:Literal>
                </asp:TableCell>
            </asp:TableRow>
        </asp:Table>
        <table id="tblButtons" width="100%" runat="server">
            <tr>
                <td align="right" class="normal1" colspan="2">
                    <asp:Button ID="btnExportPDF" runat="server" OnClientClick="GrabHTML()" OnClick="btnExportPDF_Click" Text="Download" />
                    <asp:Button ID="btnPrint" runat="server" Text="Print" CssClass="button"></asp:Button>
                    <asp:Button ID="btnClose" runat="server" Text="Close" CssClass="button"></asp:Button>
                </td>
            </tr>
        </table>
    </asp:Panel>
    <br />
    <asp:Panel ID="pnlApprove" runat="server">
        <table width="100%">
            <tr>
                <td class="normal1" align="right">
                    <%--  Comments&nbsp;&nbsp;--%>
                </td>
                <td class="normal1" align="left">
                    <%--  <asp:TextBox runat="server" ID="txtComment" CssClass="signup" Width="340" TextMode="MultiLine"></asp:TextBox>--%>
                </td>
            </tr>
            <tr>
                <td class="normal4" align="right">
                    <%--  Document is Ready for Approval&nbsp;&nbsp;--%>
                </td>
                <td class="normal4" align="left">
                    <%--  <asp:Button ID="btnApprove" runat="server" CssClass="button" Text="Approve" />
                        <asp:Button ID="btnDecline" runat="server" CssClass="button" Text="Decline" />--%>
                </td>
            </tr>
        </table>
    </asp:Panel>
    <table width="100%">
        <tr>
            <td class="normal4" align="center">
                <asp:Literal ID="litMessage" runat="server" EnableViewState="False"></asp:Literal>
            </td>
        </tr>
    </table>
    <asp:TextBox ID="txtBizDoc" Style="display: none" runat="server"></asp:TextBox>
    <asp:TextBox ID="txtConEmail" Style="display: none" runat="server"></asp:TextBox>
    <asp:TextBox ID="txtOppOwner" Style="display: none" runat="server"></asp:TextBox>
    <asp:TextBox ID="txtCompName" Style="display: none" runat="server"></asp:TextBox>
    <asp:TextBox ID="txtConID" Style="display: none" runat="server"></asp:TextBox>
    <asp:TextBox ID="txtBizDocRecOwner" Style="display: none" runat="server"></asp:TextBox>
    <input id="hdSubTotal" runat="server" type="hidden" />
    <input id="hdShipAmt" runat="server" type="hidden" />
    <input id="hdTaxAmt" runat="server" type="hidden" />
    <input id="hdDisc" runat="server" type="hidden" />
    <input id="hdLateCharge" runat="server" type="hidden" />
    <input id="hdGrandTotal" runat="server" type="hidden" />
    <input id="hdCRVTxtAmt" runat="server" type="hidden" />
    <input id="hdnBalance" runat="server" type="hidden" />
    <input id="hdnCreditAmount" runat="server" type="hidden" />
    <asp:HiddenField ID="hdnOrientation" runat="server" />
    <asp:HiddenField ID="hdnKeepFooterBottom" runat="server" />
    <asp:Button ID="btnTemp_DontDelete" runat="server" Style="display: none" />
    <asp:HiddenField runat="server" ID="hdnBizDocHTML" />
    <input id="hdnOppType" runat="server" type="hidden" />
    <input id="hdnBizDocId" runat="server" type="hidden" />
    <input id="hdnDivID" runat="server" type="hidden" />
</div>
<script type="text/javascript">
    windowResize();

    function windowResize() {
        var width = document.getElementById("resizeDiv").offsetWidth;
        var height = document.getElementById("resizeDiv").offsetHeight;
        window.resizeTo(width + 45, height + 150);
    }
</script>
