﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LogInStatus.ascx.cs"
    Inherits="BizCart.UserControls.LogInStatus" %>
<asp:Panel ID="pnlCutomizeHtml" runat="server">
</asp:Panel>
<asp:Literal ID="litCutomizeHtml" runat="server"></asp:Literal>
<asp:DropDownList runat="server" AutoPostBack="true" ID="ensurePostback" Style="display: none">
</asp:DropDownList>
