﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ManufacturerList.ascx.cs" Inherits="BizCart.UserControls.ManufacturerList" ClientIDMode="Static" %>
<%@ Register Assembly="AspNetPager, Version=7.4.4.0, Culture=neutral, PublicKeyToken=fb0a0fe055d40fd4" Namespace="Wuqi.Webdiyer" TagPrefix="webdiyer" %>
<style>
    .overlaypop {
    position: fixed;
    z-index: 121;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(170, 170, 170, 0.5);
    filter: alpha(opacity=80);
}
    .overlaycontentpop
    {
    color: #000;
    background-color: #FFF;
    min-width: 635px;
    max-height:300px;
    overflow-y:scroll;
    padding: 10px;
    border: 2px solid black;
    top: 20%;
    left: 30%;
    position: absolute;
    max-width: 100%;
}
</style>
<asp:Panel ID="pnlCutomizeHtml" runat="server">

</asp:Panel>
<asp:Literal ID="litCutomizeHtml" runat="server"></asp:Literal>
