﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MiniCart.ascx.cs" Inherits="BizCart.UserControls.MiniCart" %>
<script type="text/javascript">
    function DeleteRecord(a) {
        if (confirm('Are you sure, you want to delete the selected record?')) {
            __doPostBack('btnDeleteMiniCart', a);
            return false;
        }
        else {
            return false;
        }
    }
</script>

<asp:Panel ID="pnlCutomizeHtml" runat="server">
  
</asp:Panel>
<asp:Literal ID="litCutomizeHtml" runat="server"></asp:Literal>