﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="OnePageCheckout.ascx.cs"
    Inherits="BizCart.UserControls.OnePageCheckout" ClientIDMode="Static" %>
<%--<script type="text/javascript">
    function Nextclick() {
        alert('hi');
        var step = parseInt(document.getElementById('hdnSelectedStep').value);
        document.getElementById('hdnSelectedStep').value = step + 1;
        return false;
    }
</script>--%>
<asp:HiddenField runat="server" ID="hdnSelectedStep" Value="0" />
<input type="hidden" name="hdnOnePageCheckout" id="hdnOnePageCheckout" value="1" />
