﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="OrderPromotion.ascx.cs" Inherits="BizCart.UserControls.OrderPromotion" %>
<asp:Panel ID="pnlCutomizeHtml" runat="server">
</asp:Panel>
<asp:Literal ID="litCutomizeHtml" runat="server"></asp:Literal>