﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RelatedItems.ascx.cs"
    Inherits="BizCart.UserControls.RelatedItems" %>
<asp:Panel ID="pnlCutomizeHtml" runat="server">
</asp:Panel>
<asp:Label ID="lblCustomizeHtml" runat="server"></asp:Label>
<asp:Label ID="lblCategoryName" runat="server" Visible="false"></asp:Label>
