﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SiteMenu.ascx.cs" Inherits="BizCart.UserControls.SiteMenu" %>
<%--<%@ Register TagPrefix="telerik" Namespace="Telerik.Web.UI" Assembly="Telerik.Web.UI" %>
<telerik:RadScriptManager ID="ScriptManager" runat="server" />--%>
<asp:Panel ID="pnlCutomizeHtml" runat="server">
    
  <%--  <telerik:RadMenu ID="RadMenu1" runat="server" Skin="Forest" CssClass="qsfexMenu">
        <items>
    </items>
    </telerik:RadMenu>--%>
</asp:Panel>
<asp:Literal ID="litCutomizeHtml" runat="server"></asp:Literal>
