﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Sitemap.ascx.cs" Inherits="BizCart.UserControls.Sitemap" EnableViewState="false" %>


 <asp:PlaceHolder ID="phMenu" runat="server"></asp:PlaceHolder>
<asp:Literal ID="litCutomizeHtml" runat="server"></asp:Literal>