<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmBizOWA.aspx.vb" Inherits=".frmBizOWA" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Untitled Page</title>
</head>
<frameset frameborder="0" framespacing="0" cols="85%">
                  <FRAME name="rightFrame" src="../Outlook/frmInboxItems.aspx">                  
              </frameset>
</html>
