﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmEmailInbox.aspx.vb" Inherits=".frmEmailInbox"  ViewStateMode="Disabled"%>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%@ Register Src="~/Outlook/EmailBox.ascx" TagName="EmailBox" TagPrefix="uc2" %>

<%@ Register TagPrefix="BizCalendar" TagName="Calendar" Src="../include/calandar.ascx" %>
<%@ Register TagPrefix="telerik" Namespace="Telerik.Web.UI" Assembly="Telerik.Web.UI" %>
<head runat="server"></head>
<body>
     <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server" ScriptMode="Release"></asp:ScriptManager>
<uc2:EmailBox ID="EmailBox1" runat="server" />
         </form>
    </body>
     
