
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

b,strong{ font-weight:bold;}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-size:12px;
	font-family:arial;
}

[class*='col-'] {
	float: left;
	/*padding-right:20px;*/
}

[class*='col-']:last-of-type {
	padding-right: 0px;
}

a{color:#3156AC; text-decoration:none; line-height:18px;}
.grid {
	width: 100%;
	max-width: 800px;
	min-width: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding:0;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	
}

.grid-pad > [class*='col-']:last-of-type {
	padding-right: 20px;
}

.push-right {
	float: right;
}

/* Content Columns */

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}

.col-1-2, .col-6-12 {
	width: 50%;
}

.col-1-3, .col-4-12 {
	width: 33.33%;
}

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.66%
}

.col-0-12 {
	width: 12%
}

.col-12-12 {
	width: 88%
}

/* Layout Columns */

.col-11-12 {
	width: 88.33%
}

.col-10-12 {
	width: 83.333%;
}

.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}





.customer-detail{
	background:#fff;
	padding:15px;
	
}
.tag {
margin: 10px 20px;
}
.cus-type{
padding-left: 20px;
    padding-right: 15px;
}

.cont2{
	background: #fff;
	display: inline-block;
	width: 100%;
	padding:12px;
	border: 1px solid #C7D2E4;
}

label{padding: 8px 0; line-height: 23px;}

label[class*='col-']:last-of-type{padding-right: 8px; text-align:right; font-weight:bold;}
input[type="text"], select, textarea{
	display: block;
	width: 100%;
	padding: 5px;
	border:1px solid #ccc;
	font-size:12px;
	margin:5px 0;
	min-width:40px;
}
input[type="Password"]{
	display: block;
	width: 100%;
	padding: 5px;
	border:1px solid #ccc;
	font-size:12px;
	margin:5px 0;
	min-width:40px;
}
input[type="button"],input[type="submit"],button{
display: inline-block;
  padding: 4px 6px;
  margin: 5px 1px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  
}


input[type="button"]:focus , input[type="submit"]:focus , button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="button"]:hover,input[type="submit"]:hover,button:hover,
input[type="button"]:focus , input[type="submit"]:focus , button:focus{
  color: #333;
  text-decoration: none;
}
input[type="button"]:active,input[type="submit"]:active,button:active,
input[type="button"].active ,input[type="submit"].active ,button {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

input[type="button"],input[type="submit"],button {
  color: #415685;
background: #d3dae5; /* Old browsers */
background: -moz-linear-gradient(top,  #d3dae5 0%, #ffffff 40%, #ffffff 54%, #d3dae5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3dae5), color-stop(40%,#ffffff), color-stop(54%,#ffffff), color-stop(100%,#d3dae5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d3dae5 0%,#ffffff 40%,#ffffff 54%,#d3dae5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d3dae5 0%,#ffffff 40%,#ffffff 54%,#d3dae5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d3dae5 0%,#ffffff 40%,#ffffff 54%,#d3dae5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d3dae5 0%,#ffffff 40%,#ffffff 54%,#d3dae5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3dae5', endColorstr='#d3dae5',GradientType=0 ); /* IE6-9 */


  border-color: #ABB6C7;
}
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover,
input[type="button"]:focus,
input[type="submit"]:focus,
button:focus,
input[type="button"]:active,
input[type="button"]:active,
button:active
 {
  color: #000;
  background-color: #CBCFD8;
  border-color: #ABB6C7;
}
input[type="button"]:active,
input[type="submit"]:active,
button:active
{
  background-image: none;
}

input[type="text"].wid100{width:100px; margin-right:10px;}

.add{
	margin: 7px;
float: right;
}

.radio-cont{padding: 9px 0;}

.float-left{float:left;}
.float-right{float:right;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.total-cont span{float:left;}

.totWid{width:300px}
.total-cont span:first-child{width:auto; text-align:left; float:left; font-weight: bold;}
.form-group {display: inline-block;
width: 100%;}

.product-thumb img {
height: 110px;
width: 110px;
border:1px solid #ccc;
}
.product-thumb a{clear:both; display:block; text-align: center;} 
.required{color:red; padding:4px;}
.red{
color:red; 
font-weight:bold;
}
.margin78 {
margin-left: 78px;
}
.widthauto{width:auto}
.no-pad{
padding:0;
}
.clear{clear:both;}
.no-border{
border:none;
}
.rightmar10{
	margin-right:10px;
}
.addremove{
padding: 2px 0 20px 0;
}
.marL92{margin-left:95px;}
.textdiv{
padding:14px 0;

float: left;
}
.cont1{
display: inline-block;
background: #E8ECF9;
padding: 12px;
border: 1px solid #C7D2E4;
width: 100%;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background:#F0F7FF; 
	}
	th { 
		background: #345296;
	color: white;
	font-weight: bold;
	}
	td, th { 
		padding: 6px;
	border: 1px solid #CACED9;
	text-align: center;

	}
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Item";  font-weight:bold;}
		td:nth-of-type(2):before { content: "Model ID"; font-weight:bold;}
		td:nth-of-type(3):before { content: "SKU"; font-weight:bold;}
		td:nth-of-type(4):before { content: "Attributes"; font-weight:bold;}
		td:nth-of-type(5):before { content: "Unit Price"; font-weight:bold;}
		td:nth-of-type(6):before { content: "Discount"; font-weight:bold;}
		td:nth-of-type(7):before { content: "Sales Tax"; font-weight:bold;}
		td:nth-of-type(8):before { content: "Total"; font-weight:bold;}
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}
	
	
	@media handheld, only screen and (max-width: 760px) {

	
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	[class*='col-'] {
		width: auto;
		float: none;
		
		padding-left: 0;
		padding-right: 0;
	}
	
	input[type="text"], select, textarea{width: 100% !important;}
	input.wid100[type="text"] {
 
  width: 30% !important;
}
	
	.marL92 {
  margin-left: 0;
}
.unit-cost{float:left}
.textdiv {
 
  padding: 15px 0;
}
.addremove {
padding: 0;
}

.form-group {
margin: 5px 0;
}
label{margin-top:5px;}
	.margin78 {
  margin-left: 0;
	}
	label{line-height:normal;}
	.coupon{width:75%; float:left; margin:0;}
}