<ul class="ui-sortable boxitems">
    <li itemid="{0}" class="ui-draggable ui-droppable" style="display: list-item;">
        {1}
        <div class="deleteItem"></div>
        <div class="AddedItemQty">{2}</div>
    </li>
</ul>
