<div id="{0}" class="box">
    <div class="boxheader">{1}
        <div class="delete"></div>
        <div class="dimension">
            <span class="BoxWeight">{2}</span> 
            L<input type="text" style="width: 30px" class="positive" id="length" value="{3}"> x 
            W<input type="text" style="width: 30px" class="positive" id="width" value="{4}"> x 
            H<input type="text" style="width: 30px" class="positive" id="height" value="{5}">
        </div>
    </div>
   {6}
</div>
