<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmOppLoadItems.aspx.vb" Inherits="BACRMPortal.frmOppLoadItems" %>
<%--<%@ Register Assembly="RadComboBox.Net2" Namespace="Telerik.WebControls" TagPrefix="rad" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
   <rad:RadComboBox ID="radCmbtem" OnClientItemsRequesting="GetSelectedItem" Width="195px" DropDownWidth="500px" Skin="WindowsXP"  runat="server" AutoPostBack="True" AllowCustomText="True"   EnableLoadOnDemand="True" >
									                                             <HeaderTemplate>
                                                                    <table style="width: 500px; text-align: left">
                                                                        <tr>
                                                                            <td>
                                                                            </td>
                                                                            <td style="width: 125px;">
                                                                                Item
                                                                            </td>
                                                                            <td style="width: 125px;">
                                                                                List Price
                                                                            </td>
                                                                            <td style="width: 125px;">
                                                                                SKU
                                                                            </td>
                                                                            <td style="width: 125px;">
                                                                                Model ID
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </HeaderTemplate>
                                                                <ItemTemplate>
                                                                    <table style="width: 500px; text-align: left">
                                                                        <tr>
                                                                            <td style="display:none">
                                                                                <%#DataBinder.Eval(Container.DataItem, "numItemCode")%>
                                                                            </td>
                                                                            <td style="width: 125px;">
                                                                                <%#DataBinder.Eval(Container.DataItem, "vcItemName")%>
                                                                            </td>
                                                                            <td style="width: 125px;">
                                                                                <%#DataBinder.Eval(Container.DataItem, "Price")%>
                                                                            </td>
                                                                            <td style="width: 125px;">
                                                                                <%#DataBinder.Eval(Container.DataItem, "SKU")%>
                                                                            </td>
                                                                            <td style="width: 125px;">
                                                                                <%# DataBinder.Eval(Container.DataItem, "Model ID") %>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </ItemTemplate>
                                                            </rad:RadComboBox>
    </form>
</body>
</html>
--%>