﻿html 
{ 
	margin: 0; 
	padding: 0; 
}
.Header
{
	FONT-WEIGHT: bold; 
	COLOR: rgb(70,122,167); 
	TEXT-DECORATION: none
}
.Header:Hover
{
	FONT-WEIGHT: bold; 
	COLOR: rgb(70,122,167); 
}
.Stock
{
	COLOR: Green; 
}
body 
{
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-family:Verdana;
	font-size: 8pt;
}
img
{
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}
td
{
    vertical-align: top;
}
/*.textbox 
{
	border: solid 1px #CBCED4;
	background: #f5f5f5;
	padding: 11px;
	margin-bottom: 7px;
    width:190px;
}*/
.textboxheader
{
    font-weight: bold;
    font-size: 8pt;
    color: #f5f5f5;
    font-family: verdana;
    background-color: #65738E;
    padding-right: 5px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    width:199px;
}
.textboxheader a
{
    color: #f5f5f5;
    font-family: verdana;
    text-decoration:none;  
    font-size: 8pt;
    font-weight: bold;

}
.addtocartlink
{
    font-size: 10pt;
    text-decoration: none;
    font-weight: bold;
    color: #C7C030;
}
INPUT
{
    border-right: #696969 1px solid;
    border-top: #696969 1px solid;
    font-size: 8pt;
    border-left: #696969 1px solid;
    border-bottom: #696969 1px solid;
    font-family: verdana;
}
SELECT
{
    border-right: #696969 1px solid;
    border-top: #696969 1px solid;
    font-size: 8pt;
    border-left: #696969 1px solid;
    border-bottom: #696969 1px solid;
    font-family: verdana;
}
.Delete
{
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White, endColorstr=#628BAE,,MakeShadow=true);
	color: #730000;
	font-family : Webdings;
	cursor:hand;
	font-size:5;
	font-weight:lighter;
	height:15;
	width:15;
	vertical-align:text-top;
	text-align: center;

}
.subtotal
{
    text-align: right;
    border-top: 1px solid #c9c9c9;
    margin-top: 5px;
}
.textbox
{
	font-family: arial;
	font-size: 8pt;
	color: Black;
}
.dropdown
{
	font-family: arial;
	font-size: 8pt;
	color: Black;
	height: 15pt;
}
