﻿/*table.tbl tr.gvColorBlue td, .gvColorBlue
{
    background-color: blue !important;
}
table.tbl tr.gvColorBlue:hover td{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,blue),color-stop(1,#dce3ea));background:-moz-linear-gradient(center top,blue 5%,#dce3ea 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='blue',endColorstr='#dce3ea');background-color:blue;cursor:pointer}

table.tbl tr.gvColorYellow td, .gvColorYellow
{
    background-color: yellow !important;
}
table.tbl tr.gvColorYellow:hover td{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,yellow),color-stop(1,#dce3ea));background:-moz-linear-gradient(center top,yellow 5%,#dce3ea 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='yellow',endColorstr='#dce3ea');background-color:yellow;cursor:pointer}

table.tbl tr.gvColorGreen td, .gvColorGreen
{
    background-color: green !important;
}
table.tbl tr.gvColorGreen:hover td{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,green),color-stop(1,#dce3ea));background:-moz-linear-gradient(center top,green 5%,#dce3ea 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='green',endColorstr='#dce3ea');background-color:green;cursor:pointer}

table.tbl tr.gvColorRed td, .gvColorRed
{
    background-color: red !important;
}
table.tbl tr.gvColorRed:hover td{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,red),color-stop(1,#dce3ea));background:-moz-linear-gradient(center top,red 5%,#dce3ea 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='red',endColorstr='#dce3ea');background-color:red;cursor:pointer}
*/

table.tbl tr.gvColor1 td, .gvColor1
{
    background-color: #E9EEF5 !important;
}

table.tbl tr.gvColor1:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#E9EEF5),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#E9EEF5 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9EEF5',endColorstr='#dce3ea');
    background-color: #E9EEF5;
    cursor: pointer;
}

table.tbl tr.gvColor2 td, .gvColor2
{
    background-color: #B4D6E7 !important;
}

table.tbl tr.gvColor2:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#B4D6E7),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#B4D6E7 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B4D6E7',endColorstr='#dce3ea');
    background-color: #B4D6E7;
    cursor: pointer;
}


table.tbl tr.gvColor3 td, .gvColor3
{
    background-color: #899BDA !important;
}

table.tbl tr.gvColor3:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#899BDA),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#899BDA 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#899BDA',endColorstr='#dce3ea');
    background-color: #899BDA;
    cursor: pointer;
}


table.tbl tr.gvColor4 td, .gvColor4
{
    background-color: #B679FF !important;
}

table.tbl tr.gvColor4:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#B679FF),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#B679FF 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B679FF',endColorstr='#dce3ea');
    background-color: #B679FF;
    cursor: pointer;
}


table.tbl tr.gvColor5 td, .gvColor5
{
    background-color: #FFFA91 !important;
}

table.tbl tr.gvColor5:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#FFFA91),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#FFFA91 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFA91',endColorstr='#dce3ea');
    background-color: #FFFA91;
    cursor: pointer;
}


table.tbl tr.gvColor6 td, .gvColor6
{
    background-color: #FFB442 !important;
}

table.tbl tr.gvColor6:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#FFB442),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#FFB442 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB442',endColorstr='#dce3ea');
    background-color: #FFB442;
    cursor: pointer;
}


table.tbl tr.gvColor7 td, .gvColor7
{
    background-color: #FF6600 !important;
}

table.tbl tr.gvColor7:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#FF6600),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#FF6600 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6600',endColorstr='#dce3ea');
    background-color: #FF6600;
    cursor: pointer;
}


table.tbl tr.gvColor8 td, .gvColor8
{
    background-color: #FFD5D6 !important;
}

table.tbl tr.gvColor8:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#FFD5D6),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#FFD5D6 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD5D6',endColorstr='#dce3ea');
    background-color: #FFD5D6;
    cursor: pointer;
}


table.tbl tr.gvColor9 td, .gvColor9
{
    background-color: #EB5050 !important;
}

table.tbl tr.gvColor9:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#EB5050),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#EB5050 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EB5050',endColorstr='#dce3ea');
    background-color: #EB5050;
    cursor: pointer;
}


table.tbl tr.gvColor10 td, .gvColor10
{
    background-color: #E0F5E3 !important;
}

table.tbl tr.gvColor10:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#E0F5E3),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#E0F5E3 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0F5E3',endColorstr='#dce3ea');
    background-color: #E0F5E3;
    cursor: pointer;
}


table.tbl tr.gvColor11 td, .gvColor11
{
    background-color: #8CFF8C !important;
}

table.tbl tr.gvColor11:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#8CFF8C),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#8CFF8C 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8CFF8C',endColorstr='#dce3ea');
    background-color: #8CFF8C;
    cursor: pointer;
}


table.tbl tr.gvColor12 td, .gvColor12
{
    background-color: #38AF4A !important;
}

table.tbl tr.gvColor12:hover td
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#38AF4A),color-stop(1,#dce3ea));
    background: -moz-linear-gradient(center top,#38AF4A 5%,#dce3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38AF4A',endColorstr='#dce3ea');
    background-color: #38AF4A;
    cursor: pointer;
}


table.tbl tr.gvColor13 td, .gvColor13
{
    border: solid 1px #0000FF !important; /*border-top: 1px solid #0000FF !important;     border-bottom: 1px solid #0000FF !important;*/
}

table.tbl tr.gvColor14 td, .gvColor14
{
    border: solid 1px #33CC33 !important; /*border-top: 1px solid #33CC33 !important;     border-bottom: 1px solid #33CC33 !important;*/
}

table.tbl tr.gvColor15 td, .gvColor15
{
    border: solid 1px #FF0000 !important; /*border-top: 1px solid #FF0000 !important;     border-bottom: 1px solid #FF0000 !important;*/
}

table.tbl tr.gvColor16 td, .gvColor16
{
    border: solid 1px #FFCC00 !important; /*border-top: 1px solid #FFCC00 !important;     border-bottom: 1px solid #FFCC00 !important;*/
}

table.tbl tr.gvColor17 td, .gvColor17
{
    border: solid 1px #9900FF !important; /*border-top: 1px solid #9900FF !important;     border-bottom: 1px solid #9900FF !important;*/
}

.ForeColor1
{
    color: #0000FF !important;
    /*font-weight: bold;*/
    font-style: italic;
}

.ForeColor2
{
    color: #FF0000 !important;
    /*font-weight: bold;*/
    font-style: italic;
}

.ForeColor3
{
    color: #048B0E !important;
    /*font-weight: bold;*/
    font-style: italic;
}

.ForeColor4
{
    color: #6E048B !important;
    /*font-weight: bold;*/
    font-style: italic;
}

.ForeColor5
{
    color: #008080 !important;
    /*font-weight: bold;*/
    font-style: italic;
}

.ForeColor6
{
    color: #FA8A00 !important;
    /*font-weight: bold;*/
    font-style: italic;
}

.ForeColor7
{
    color: #363636 !important;
    /*font-weight: bold;*/
    font-style: italic;
}

.NoForeColor
{
    color: #000000 !important;
    /*font-weight: bold;*/
    font-style: italic;
}
