ul.sortable li {
	position: relative;
}


ul.boxy {
	list-style-type: none;
	padding: 4px 4px 0 4px;
	margin: 0px;
	width: 18em;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica;
        border: 1px solid #ccc;
}

ul.boxy li {
	cursor:move;
	margin-bottom: 4px;
	padding: 2px 2px;
	border: 1px solid #A3B5CE;
	text-align:center;
	background:#A3B5CE;	
	color:White;
}

#left_col {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#center {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#right_col {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#sajax1 {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#sajax2 {
    width: 180px;
    float: left;
    margin-left: 5px;
}

form {
  clear:left;
}

BODY
{
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	FONT-SIZE: 10pt;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: normal;
	margin : 0px 0px 0px 0px;
	TEXT-DECORATION: none;
	Background-color:white;

}

h2 {
    color: #7DA721;
    font-weight: normal;
    font-size: 14px;
    margin: 20px 0 0 0;
    }

br {
        clear: left;
}

.aspTableDTL
{
	
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White, endColorstr=#60A3B5CE,,MakeShadow=true);
}

 .cell { font-size :smaller; font-family : Marlett; vertical-align:bottom; } 
 .cell1 { font-size :13px; font-family : Marlett; vertical-align:bottom;} 
