﻿BODY
{
	margin : 0px 0px 0px 0px; 
}
.table
{
	background-color: #2E4d7B;	
}
 .style1 {color: #FFFFFF}
            .style3 {FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; FONT-VARIANT: normal; font-weight: bold;}
.normal1	
	{
	font-family:arial;
	font-size : 9pt;
	font-weight:bold;
	font-style : normal;
	font-variant : normal;
	color:#595959;

	}
.normal2	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 9pt;
	font-weight:normal;
	font-style : normal;
	font-variant : normal;
    color:#575757;
	}
.normal4
{
	font-family:Arial;
	font-size: 8pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: red;
}

/* Accordion */
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

 .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

 .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

 .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}
.grey11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
a:hover.grey11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #C51111;
	text-decoration: none;
}
.grey11Normal{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}

.white11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
a:hover.white11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color:#FF4040;
	text-decoration: none;
}
.white11Normal{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}


.red1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
a:hover.red1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #C51111;
	text-decoration: none;
}

.black1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a:hover.black1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #C51111;
	text-decoration: none;
}




.blue11{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
}
.text_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; FONT-VARIANT: normal
}

.signup {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: arial
}
INPUT.BUTTONMagenta {
	BORDER-RIGHT: black 1px inset; BORDER-TOP: black 1px inset; FONT-WEIGHT: bold; FONT-SIZE: 7pt; FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white, endColorstr=#A54DD0,,MakeShadow=true); VERTICAL-ALIGN: baseline; BORDER-LEFT: black 1px inset; CURSOR: hand; COLOR: black; BORDER-BOTTOM: black 1px inset; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
INPUT.BUTTONPurple {
	BORDER-RIGHT: black 1px inset; BORDER-TOP: black 1px inset; FONT-WEIGHT: bold; FONT-SIZE: 7pt; FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white, endColorstr=#C4D86B,,MakeShadow=true); VERTICAL-ALIGN: baseline; BORDER-LEFT: black 1px inset; CURSOR: hand; COLOR: black; BORDER-BOTTOM: black 1px inset; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
INPUT.button
{
	color: black;
	border-top: black 1px inset;
	border-bottom: black 1px inset;
	border-right: black 1px inset;
	border-left: black 1px inset;
	font-weight: bold;
	background: url(../images/LightBlue.jpg) repeat-x;
	font: Arial;
	font-size: 8pt;
	cursor: hand;
	text-align: center;
}
INPUT.button:hover
{
	background: url(../images/DarkBlue.jpg) repeat-x;
	color: white;
}
INPUT.ybutton {
	BORDER-RIGHT: black 1px inset; BORDER-TOP: black 1px inset; FONT-WEIGHT: bold; FONT-SIZE: 11px; FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White, endColorstr=#ffcc00,,MakeShadow=true); VERTICAL-ALIGN: baseline; BORDER-LEFT: black 1px inset; CURSOR: hand; COLOR: black; BORDER-BOTTOM: black 1px inset; FONT-FAMILY: Arial; TEXT-ALIGN: center
}

