BODY
{
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	FONT-SIZE: 10pt;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: normal;
	margin : 0px 0px 0px 0px;
	TEXT-DECORATION: none;
	Background-color:#FFFFFF;
	scrollbar-face-color: #C6D3E7;
	scrollbar-shadow-color: #555555;
	scrollbar-highlight-color: #f7f3f7;
	scrollbar-3dlight-color: #888888; 
	scrollbar-darkshadow-color: #CCCCCC;
	scrollbar-track-color: #F2F2F2;
	scrollbar-arrow-color: #52658C;
	scrollbar-base-color:#FFFFFF;
}
.Login
{
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px ;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #ffffff;
	background-image: url(../images/tdbg0.gif);
}
A:link
{
	TEXT-DECORATION: underline;
	color:Black;
	
}
A:visited
{
	 TEXT-DECORATION: underline;
	 color:Black;
}
A:hover
{
	 TEXT-DECORATION:underline;
	 color:Black;
}
.normal1	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #000000
	}
		
	.normal2	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 10pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #000000
	}
	.normal3	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: blue
	}
	.normal4	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: red
	}
	.normal5	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: white
	}
	.normal6	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #52658C;
	}
	.normal7	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 9pt;
	font-weight:normal;
	font-style : normal;
	font-variant : normal;
    color:#575757;
	}
.hyperlink
	{
		cursor:hand;
		color:Navy;
		text-decoration:underline;
	}	
table.TabStyle
{
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A0BF, endColorstr=#546083,MakeShadow=true);
	color:white;
	border:1px;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;

}
table.ShortCutBar
{
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A0BF, endColorstr=#546083,MakeShadow=true);
	color:white;
	border:1px;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;

}
table.SearchStyle
{
	background-color:#DBE3F2;
	color:#C6D3E7;
	border:1px;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;

}
INPUT.BUTTON
{
	border-top: black 1px inset;
	border-bottom: black 1px inset;
	border-right: black 1px inset;
	border-left: black 1px inset;
	font-size: 7pt;
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White, endColorstr=#628BAE,,MakeShadow=true);
	vertical-align: baseline;
	font-weight:bold;
	color: Black;
	font-family: Verdana;
	cursor:hand;
	text-align: center;
}
.Credit
{
	border-top: black 1px inset;
	border-bottom: black 1px inset;
	border-right: black 1px inset;
	border-left: black 1px inset;
	font-size: 7pt;
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White, endColorstr=buttonshadow,,MakeShadow=true);
	vertical-align: baseline;
	font-weight:bold;
	color: Black;
	font-family: Verdana;
	cursor:hand;
	text-align: center;
}
.Check
{
	border-top: black 1px inset;
	border-bottom: black 1px inset;
	border-right: black 1px inset;
	border-left: black 1px inset;
	font-size: 7pt;
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White, endColorstr=#C4D8A6,,MakeShadow=true);
	vertical-align: baseline;
	font-weight:bold;
	color: Black;
	font-family: Verdana;
	cursor:hand;
	text-align: center;
}


.Delete
{
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White, endColorstr=#628BAE,,MakeShadow=true);
	color: #730000;
	font-family : Webdings;
	cursor:hand;
	font-size:7;
	font-weight:lighter;
	height:15;
	width:15;
	vertical-align:text-top;
	text-align: center;
	text-justify:inter-word;
	border-top: black 1px inset;
	border-bottom: black 1px inset;
	border-right: black 1px inset;
	border-left: black 1px inset;
}
table.dg
{
	Font-Size:10px;
	text-align:center;
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	border-color:White;
		 	
}
.is
{
	background-color:White;
	text-align:center;	
}
.ais
{
	background-color:#C6D3E7;
	text-align:center;	

}
.hs
{
	background-color:#52658C;
	text-align:center;
	color:White;
}
.LinkArrow	
	{
	font-family : Webdings;
	color:#52658C;
	font-size:22;
	}
.signup 
{
	BORDER-BOTTOM: #D6D3CE 1px solid;
	BORDER-LEFT: black 1px solid;
	BORDER-RIGHT: #D6D3CE 1px solid;
	BORDER-TOP: black 1px solid;
	FONT-FAMILY: arial;
	FONT-SIZE: 8pt;
	BACKGROUND: #F7F3F7;
	TEXT-DECORATION: none;
	
}
.ddl 
{
	BORDER-BOTTOM: #D6D3CE 1px solid;
	BORDER-LEFT: black 1px solid;
	BORDER-RIGHT: #D6D3CE 1px solid;
	BORDER-TOP: black 1px solid;
	FONT-FAMILY: arial;
	FONT-SIZE: 8pt;
	BACKGROUND: #F7F3F7;
	TEXT-DECORATION: none;
	text-align:center;
	
}
.Text
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #000000
}
.Text_bold
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	color: #000000

}
.A2Z
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	color: #FFFFFF;
	font-weight : bold;
	BACKGROUND: #52658C;
	TEXT-DECORATION: none;
	text-align: center;
}

.A2Zn
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	color: #FFFFFF;
	font-weight : bold;
	TEXT-DECORATION: none;
	text-align: center;
}
.LoginText
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #ffffff
}
.Text_W
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: White
}

.Text_WB
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	color: White
}
.tr1 
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	color: #000000;
	BACKGROUND: #C6D3E7;
	TEXT-DECORATION: none;
}
.tr2
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	color: #000000;
	BACKGROUND: white;
	TEXT-DECORATION: none;
}

.td1
{
 background-color:#52658c;
}
td.normalbol
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	color: #FFFFFF;
	BACKGROUND: #52658C;
	TEXT-DECORATION: none;
	text-align: center;
}
ul, li
{
	font-family: Arial;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: block;
}

ul
{
	width : 100%;
	padding-bottom :0 ;
	padding-top :0 ;
	padding-right :0 ;
	padding-left :0 ;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
	border-top: solid 1px black;
	padding: 0px;
}



li ul
{
	display: none;
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
	background-color: black;
	width: 100%;
}

li a
{
	padding: 3 px;
	text-decoration: none;
	color: black;
	width: 100%;
	display: block;
	border-bottom: solid 1px black;
	background-color:#A3B5CE;
	text-indent: 3px;
	font-size: 11px;
	font-weight: bold;
	text-align:center;
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E9ECF7, endColorstr=#628BAE MakeShadow=true);
	margin-top: 0px;
	margin-left: 0px;	
	margin-bottom: 0px;
	
}

li a:hover
{
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A0BF, endColorstr=#546083,MakeShadow=true);
	padding: 3 px;
	text-decoration: none;
	color: white;
	width: 100%;
	display: block;
	border-bottom: solid 1px black;
	background-color:#A3B5CE;
	text-indent: 3px;
	font-size: 11px;
	font-weight: bold;
	text-align:center;

}
.menu
{
	background-color: white;
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White, endColorstr=#4A6994,,MakeShadow=true);
	BACKGROUND-COLOR: #4A6994;
	border-bottom: solid 1px black;
	text-decoration: none;
	color:White;
}

li
{	
	float: left;
	width: 100%;
}

#mainhr
{
	margin-top: 0px;
	margin-left: 0px;	
	border-bottom: solid 0px #90B87F;
	margin-bottom: 0px;	
}


#mainli li 
{
	position: absolute;
	margin-left: 89px;
	margin-top: -20px;
	width: 100%;
	border:black;
	border-bottom-width:1px;
	border-right-width:1px;
	
}

#mainli li a
{
	padding: 3 px;
	text-decoration: none;
	color: black;
	width: 100%;
	display: block;
	border-bottom: solid 1px black;
	background-color:#A3B5CE;
	text-indent: 3px;
	font-size: 11px;
	font-weight: bold;
	text-align:center;
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E9ECF7, endColorstr=#628BAE MakeShadow=true);
	margin-top: 0px;
	margin-left: 0px;	
	margin-bottom: 0px;	
}

#mainli li a:hover
{
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A0BF, endColorstr=#546083,MakeShadow=true);
	padding: 3 px;
	text-decoration: none;
	color: white;
	width: 100%;
	display: block;
	border-bottom: solid 1px black;
	background-color:#A3B5CE;
	text-indent: 3px;
	font-size: 11px;
	font-weight: bold;
	text-align:center;

}
	
span.num
{
	padding-right: 4px;
	padding-left: 4px;
	font-weight: bold;
	padding-bottom: 2px;
	width: 25px;
	color: white;
	margin-right: 5px;
	padding-top: 2px;
	font-family: arial, helvetica;
	background-color: #ffcc33;
	text-align: center;
}

