﻿<div>
    <div class="sectionheader">
        Welcome ##CustomerName##
    </div>
    <div style="float: left; width: 70%;">
        <table width="100%">
            <tr>
                <td>
                    <b>Orders</b>
                    <br />
                    See Recent Orders
                    <br />
                    <img src="../images/orders.png" style="height: 108px; width: 133px" />
                </td>
                <td valign="top">
                    <table width="100%">
                        <tr>
                            <td valign="top">
                                <b>Order History</b>
                                <br />
                                <a href="/Orders.aspx?flag=true">View Open Orders</a><br />
                                <a href="/Orders.aspx?flag=false">View Order History</a><br />
                            </td>
                            <td valign="top">
                                <b>Wish List</b><br />
                                <a href="/Lists.aspx">View List</a><br />
                                <a href="/lists.aspx?action=add">Create List</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Payments</b>
                    <br />
                    Credit Cards<br />
                    <img src="../images/payment.png" style="height: 108px; width: 133px" />
                </td>
                <td valign="top">
                    <table width="100%">
                        <tr>
                            <td valign="top">
                                <b>Payment Methods</b><br />
                                <a href="/AddPayment.aspx">Add Credit or Debit Card</a><br />
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Settings</b><br />
                    Password, 
                    Profile &amp; Addressbook<br />
                    <img src="../images/settings.png" style="height: 108px; width: 133px" />
                </td>
                <td valign="top">
                    <table width="100%">
                        <tr>
                            <td valign="top">
                                <b>Account Settings</b><br />
                                <a href="/ChangePassword.aspx">Change Password</a><br />
                                <a href="/CustomerInformation.aspx">Update Profile</a>
                            </td>
                            <td valign="top">
                                <b>Address Book</b><br />
                                <a href="/CustomerAddress.aspx?AType=Bill&return=Account.aspx">Add Billing Address</a>
                                <br />
                                <a href="/CustomerAddress.aspx?AType=Ship&return=Account.aspx">Add Shipping Address</a><br />
                            </td>
                            <td valign="top">
                                <b>Stay Updated</b><br />
                                <a href="/Unsubscribe.aspx">Email Preference Notification</a>
                                <br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
