﻿<script type="text/javascript">
    function ValidateInput() {
        if (RequiredField('txtCardHolderName', 'Card holdert Name', 'Please enter card holder name') == false) { return false; }
        if (RequiredField('txtCardNumber', 'Card Number', 'Please enter card number') == false) { return false; }
        if (IsNumeric('txtCardNumber', 'Card Number', 'Please enter valid card number') == false) { return false; }
        if (RequiredFieldDropDown('ddlCardType', 'Card Type', 'Please select card type') == false) { return false; }
        if (RequiredFieldDropDown('ddlCardExpMonth', 'Card Month', 'Please select card month') == false) { return false; }
        if (RequiredFieldDropDown('ddlCardExpYear', 'Card Year', 'Please select card year') == false) { return false; }
        if (RequiredField('txtCardCVV2', 'Card CVV2', 'Please enter card cvv 2') == false) { return false; }

        return true;
    }
</script>
<table width="100%">
    <tr>
        <th nowrap colspan="4" align="left">
            <div class="sectionheader">
                Credit Card Information
            </div>
        </th>
    </tr>
    <tr>
        <td nowrap align="right">
            Card Holder Name:
        </td>
        <td>
            ##CardHolderNameTextBox##
        </td>
    </tr>
    <tr>
        <td nowrap align="right">
            Card Number:
        </td>
        <td>
            ##CardNumberTextBox##
        </td>
        <td nowrap align="right">
            Card Type:
        </td>
        <td>
            ##CardTypeDropDownList##
        </td>
    </tr>
    <tr>
        <td nowrap align="right">
            Exp Date (MM/YY):
        </td>
        <td>
            ##CardExpMonthDropDownList## &nbsp;/&nbsp; ##CardExpYearDropDownList##
        </td>
        <td nowrap align="right">
            CVV2 Data:
        </td>
        <td>
            ##CVV2TextBox##
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            ##SetDefaultCard##
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td colspan="3">
            ##SubmitButton##
        </td>
    </tr>
    <tr>
        <td colspan="4" class="Grid1">
            <table class="Grid" rules="all" style="border-collapse: collapse;" border="1" cellspacing="0"
                width="100%">
                <tr class="GridHeader">
                    <td>
                        Name
                    </td>
                    <td>
                        Card Number
                    </td>
                    <td>
                        Card Type
                    </td>
                    <td>
                        Exp Date(MM/YY)
                    </td>
                    <td>
                        CVV2 Data
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                <tr class="##RowClass##">
                    <td>
                        ##CardName##
                    </td>
                    <td>
                        ##CardNumber##
                    </td>
                    <td>
                        ##CardType##
                    </td>
                    <td>
                        ##ExpDate##
                    </td>
                    <td>
                        ##CVV2##
                    </td>
                    <td>
                        ##btnEdit##
                    </td>
                    <td>
                        ##btnDelete##
                    </td>
                </tr>
                <##ENDFOR##>
            </table>
        </td>
    </tr>
</table>
