﻿{##AddToListSection##}
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div class="sectionheader">
                Select a Wishlist
            </div>
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            ##ChooseAListRadioButtonList##
        </td>
    </tr>
    <tr>
        <td>
            ##NewListRadioButton## ##NewListTextBox##
        </td>
    </tr>
    <tr>
        <td>
            ##AddToListButton##
        </td>
    </tr>
</table>
{/##AddToListSection##} {##ViewListSection##}
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2">
            <div class="sectionheader">
                ##ListName##
            </div>
        </td>
    </tr>
    <tr>
        <td class="EmptyMessage">
            ##EmptyListMessage##
        </td>
        <td align="right">
            <a id="lnkViewAll" href="/lists.aspx">View All</a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="width: 650px;display:block;">
                <##FOR##>
                <div style="width: 200px; height:200px; float: left; border: solid 1px gray;margin:2px;padding:2px;display:block;">
                    <div class="product_image">
                        <img src="##ItemImagePath##" height="150" width="130" />
                    </div>
                    <div class="product_title" title="##ItemName##">
                        <a href='##ItemLink##'>##ItemShortName##</a><br />
                        <a id="lnkRemoveListItem" href="javascript:DeleteRecord('##RecordID##')">Remove item</a>
                    </div>
                </div>
                <##ENDFOR##>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
        </td>
    </tr>
</table>
{/##ViewListSection##} 