﻿<##FOR(ItemClass =GridItem;AlternatingItemClass =GridAltItem;)##>
    
    <div class="Blog_List">
        <div><a href="##BlogUrl##">##BlogTitle##</a></div>
        <div>##BlogShortDescription##</div>
        <div>##BlogLongDescription##</div>
        <div>##CategoryName##</div>
        <div>##CategoryId##</div>
        <div>##UpdatedBy##</div>
        <div>##UpdatedOn##</div>
    </div>
    <##ENDFOR##>
        ##ParentChildCategoryName##
