﻿<div id="UpdateProgress" style="display: none;" role="status" aria-hidden="true">
    <div class="overlay">
        <div class="overlayContent" style="color: #000;text-align: center;width: 660px;padding: 20px;background-color: #FFF;">
            <i class="fa fa-2x fa-refresh fa-spin"></i>
            <h4>Please wait a few seconds while we reach out to our carriers to get you the best shipping rates possible</h4>
        </div>
    </div>
</div>
<table cellspacing="1" cellpadding="2" width="100%">
    <tr>
        <td>
            <div class="sectionheader">
                Items to be shipped
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table class="Grid" id="tblCart" border="1" cellspacing="0" cellpadding="0" width="100%">
                <tbody>
                    <tr class="GridHeader">
                        <td>
                            Item
                        </td>
                        <td>
                            Attributes
                        </td>
                        <td>
                            Units
                        </td>
                        <td>
                            Price/Unit
                        </td>
                        <td>
                            Discount
                        </td>
                        <td>
                            Total
                        </td>
                         <td style="display:none">
                            Item Name
                        </td>
                        <td style="display:none">
                            Model ID
                        </td>
                        <td style="display:none">
                            Item ID
                        </td>
                        <td style="display:none">
                            Price
                        </td>
                        <td>
                        </td>
                    </tr>
                    <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                    <tr class="##RowClass##">
                        <td>
                            <a href="##ItemURL##">##ItemName##</a>
                        </td>
                        <td>
                            ##ItemAttributes##
                        </td>
                        <td>
                            ##ItemUnitsTextBox##
                        </td>
                        <td>
                            ##ItemPricePerUnit##
                        </td>
                        <td>
                            ##Discount##
                        </td>
                        <td>
                            ##TotalAmount##
                        </td>
                        <td style="display:none">
                            <a href="##ItemURL##">##ItemName##</a>
                        </td>
                        <td style="display:none">
                            ##ItemModelID##
                        </td>
                        <td style="display:none">
                            ##ItemID##
                        </td>
                        <td style="display:none">
                            ##ItemPricePerUnit##
                        </td>    
                        <td>
                            ##DeleteItemButton##
                        </td>
                    </tr>
                    <##ENDFOR##>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td valign="top">
                        <table align="left" width="100%">
                            <tr>
                                <td>
                                    <br />
                                    <input type="button" name="btnContinue" value="Continue Shopping" class="button" onclick="javascript: __doPostBack('btnContinue', '');" />
                                    <input type="button" name="btnUpdateCart" value="Update Cart" class="button" onclick="javascript: __doPostBack('btnUpdateCart', '');" />
                                    <input type="button" name="btnCheckOut" value="Checkout" class="button" onclick="javascript: __doPostBack('btnCheckOut', '');" />
                                </td>
                            </tr>
                            {##EnterCouponSection##}
                            <tr id="trApplyCouponCode">
                                <td class="text_bold">
                                    <br />
                                    Apply Coupon/Discount Code: ##CouponCodeTextBox## ##ApplyCouponCodeButton##
                                </td>
                            </tr>
                            {/##EnterCouponSection##} {##UsedCouponSection##}
                            <tr id="trUsedCouponCode">
                                <td class="text_bold">
                                    <br />
                                    Coupon/Discount Code: ##CouponCodeLabel## ##RemoveCouponCodeLink##
                                </td>
                            </tr>
                            {/##UsedCouponSection##}
                        </table>
                    </td>
                    <td>
                        <table align="right">
                            <tr>
                                    <td>
                                        <div style="height:180px">
                                               {##ShippingAddress##}
                                    <table align="right">
                                        <tr>
                                            <td colspan="2" align="center">
                                                <b>Calculate Shipping Rates :</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <b>Country <font color="red">*</font> : </b>
                                            </td>
                                            <td align="left">
                                                  ##CountryDropDown##   
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <b>State <font color="red">*</font> : </b>
                                            </td>
                                            <td align="left">
                                               ##StateDropDown##   
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <b>Zip / Postal Code <font color="red">*</font> : </b>
                                            </td>
                                            <td align="left">
                                               ##ZipPostalCode##
                                            </td>
                                        </tr>
                                        <tr>
                                         <td align="right">
                                                
                                            </td>
                                        <td colspan = "2" style = "padding:3px 0px 3px 0px" align="left" >
                                           ##ReCalculate##
                                        </td>
                                        </tr>
                                    </table>
                                    {/##ShippingAddress##} {##ShippingRates##}
                                    <table align="right" id="tblShippingRates">
                                        <tr>
                                            <td style="text-align:right">
                                                <b>Shipping Rates</b> <a onclick="javascript:__doPostBack('shippingAddress','');">Change My Address </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                ##ShippingMethodName## ##ShowShippingAmountWithMethod##
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right">
                                                ##lblCountry## , ##lblState## ##lblZipPostalCode##
                                            </td>
                                        </tr>
                                    </table>
                                    {/##ShippingRates##}   
                                   </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="right">
                                        <tr>
                                            <td class="text_bold" align="right">
                                                Subtotal:
                                            </td>
                                            <td align="right">
                                                ##SubTotalLabel##
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text_bold" align="right">
                                                Discount:
                                            </td>
                                            <td align="right">
                                                ##DiscountLabel##
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text_bold" align="right">
                                                Tax:
                                            </td>
                                            <td align="right">
                                                ##TaxLabel##
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text_bold" align="right">
                                                Shipping Charges:
                                            </td>
                                            <td align="right">
                                                ##ShippingChargeLabel##
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text_bold" align="right">
                                                Total:
                                            </td>
                                            <td align="right">
                                                ##TotalAmountLabel##
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
