﻿<table width="100%" cellpadding="2" cellspacing="2">
    <tr>
        <td><##FOR_PARENT##>
            <div class="boxheader">
                ##FilterName##
            </div>
            <div class="boxcontent">
                ##FilterControl##
            </div>
            <##ENDFOR_PARENT##>
        </td>
    </tr>
</table>
