﻿<script src="Js/jquery.SubCategory.js"></script>
<template id="templateSubCategorySubMenu">
    <li><a href="##SubCategoryLink##">##SubCategoryName##</a></li>
</template>
<table runat="server" border="0" width="100%">
    <tr>
        <td>
            <div class="sectionheader">
                {##DefaultTitle##} Browse All Categories {/##DefaultTitle##} ##ParentCategoryName##
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td class="normal4" align="center">##Message##
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <div style="width: 650px; display: block;">
                <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                <div style="width: 200px; height: 200px; float: left; border: solid 1px gray; margin: 2px; padding: 2px; display: block;"
                    class="##RowClass##">
                    <a href='##CategoryLink##'>##CategoryName##</a>
                    <br />
                    <a href='##CategoryLink##'>
                        <img src='##CategoryImagePath##' height="125" width="100" /></a>
                    <br />
                    <div class="Desc">
                        ##CategoryDesc##
                    </div>
                </div>
                <##ENDFOR##>
            </div>
        </td>
    </tr>
</table>
