﻿<div class="boxheader" id="divHeader">
    Browse Categories
</div>
<div class="boxcontent" id="divContent">
    ##Menu##
    <br />
    <div class="left-category">
        <div class="catgry-hed">Categories</div>
        <div class="category-list css-treeview">
            <div class="css-treeview">
                <##TreeViewCustom##>
                <ul class="TreeNodeParent">
                    <##FOREACH##>
        		<li>
                    <input type="checkbox" id="##ITEMID##"></input><label for="##ITEMID##"><a href="SubCategory/##CategoryName##/##CategoryID##">##CategoryName##</a></label>
                    <##IFCHILDAVAILABLE##>
        				<ul class="TreeNodeChild">
                            <##FOREACHCHILD##>
        				<li>
                            <input type="checkbox" id="Checkbox1" /><label for="##ITEMID##"><a href="SubCategory/##CategoryName##/##CategoryID##">##CategoryName##</a></label>
                            <##INSERTCHILDHERE##>        			
                        </li>
                            </##FOREACHCHILD##>
                        </ul>
                    </##IFCHILDAVAILABLE##>
                </li>
                    </##FOREACH##>
                </ul>
                </##TreeViewCustom##>
            </div>
        </div>
    </div>
</div>
