﻿<table width="100%"  align="center" border="0" cellpadding="5" cellspacing="5">
    <tr>
        <td colspan="2">
            <div class="sectionheader">
                Payment Option(s)
            </div>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td align="right" class="EditLink">
            <a id="hplEditCart" href="Cart.aspx">Edit Shopping Cart</a> <a id="hplEditAddres"
                href="ConfirmAddress.aspx">Edit Shipping Details</a>
                    <a id="hplEditPayment" href="AddPayment.aspx">Edit Cards Details</a> 
        </td>
    </tr>
    <tr>
        <td align="left" colspan="2">
            <input id="Checkout_radBillMe" name="PayOption" value="BillMe"   ##IsBillMeChecked##
                type="radio" onclick="javascript: GetPaymentMethod('BillMe');"><label for="Checkout_radBillMe">&nbsp;<b>Bill
                    Me</b> &nbsp;(If you or your company has terms with us.)</label>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left" style="display:block;">
            <div id ="BillMeSection" style ="display:none">
                 <table align="left" id="tblBillme">
                <tr>
                    <td class="LabelColumn">
                        Total Balance Due :
                    </td>
                    <td class="ControlCell">
                        ##TotalBalanceDue##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">
                        Total Remaining Credit :
                    </td>
                    <td class="ControlCell">
                        ##TotalRemaniningCredit##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">
                        Total Amount Past Due :
                    </td>
                    <td class="ControlCell">
                        ##TotalAmountPastDue##
                    </td>
                </tr>
            </table>
            </div>
           
        </td>
    </tr>
   <tr>
        <td align="left" colspan="2">
            <input id="Checkout_radPay" name="PayOption" value="CreditCard" ##IsPayChecked## onclick="javascript: GetPaymentMethod('PayByCard');"
                type="radio"><label for="Checkout_radPay">&nbsp;<b>Pay by Credit Card</b>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left" style="display:block;">
            <div id="CreditCardSection" style="display:none;">
                 <table id="tblCustomerInfo" width="90%">
                <tr>
                    <td width="50%" >
                        <table cellspacing="2" cellpadding="5" style="padding-left:20px;">
                            <tr>
                                <th nowrap colspan="4" align="left">
                                    Credit Card Information
                                </th>
                            </tr>
                            <tr>
                                <td class="LabelColumn">
                                    Card Type:
                                </td>
                                <td class="ControlCell">
                                    ##CardTypeDropDownList##
                                </td>
                                <td class="LabelColumn">
                                    Card Number:
                                </td>
                                <td class="ControlCell">
                                    ##CardNumberTextBox##
                                </td>
                            </tr>
                            <tr>
                                <td class="LabelColumn">
                                Card Holder Name: 
                                </td>
                                <td class="ControlCell">
                                    ##CardHolderTextBox##
                                </td>
                                <td class="LabelColumn" >
                                    CVV2 Data:
                                </td>
                                <td class="ControlCell">
                                    ##CVV2TextBox##
                                </td>
                            </tr>
                            <tr>
                                <td class="LabelColumn">
                                    Exp Date (MM/YY):
                                </td>
                                <td class="ControlCell">
                                    ##CardExpMonthDropDownList## &nbsp;/&nbsp; ##CardExpYearDropDownList##
                                </td>
                                <td nowrap align="right" >
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            </div>
             
        </td>
    </tr>
     <tr>
        <td align="left" colspan="2">
            <input id="Checkout_radGoogleCheckOut" name="PayOption" value="GoogleCheckout" ##IsGoogleCheckoutChecked##
                type="radio" onclick="javascript: GetPaymentMethod('GoogleCheckout');"><label for="Checkout_radGoogleCheckOut">&nbsp;<b>Google
                    Checkout</b> </label>
                    
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left">
            <div id="tdTotalAmount">
                Total Amount:<b>##TotalAmount##</b>
            </div>
        </td>
    </tr>
    <tr>
        
        <td align="left" colspan="2">
                ##SubmitButton## 
        </td>
    </tr>
</table>

