﻿<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="4">
            <div class="sectionheader">
                Address book
            </div>
        </td>
    </tr>
    <tr style="##showeditaddess##">
        <td colspan="4">
            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="LabelColumn">
                        Bill to this address:
                    </td>
                    <td class="ControlCell">
                        ##BillingAddressDropdown## &nbsp;##AddNewBillingAddressLink##
                    </td>
                    <td class="LabelColumn">
                        Ship to this address:
                    </td>
                    <td class="ControlCell">
                        ##ShippingAddressDropdown## &nbsp;##AddNewShippingAddressLink##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn" valign="top">
                        ##EditBillingAddressLink##: 
                    </td>
                    <td class="ControlCell">
                        ##BillingAddressFull##
                    </td>
                    <td class="LabelColumn" valign="top">
                        ##EditShippingAddressLink##:
                    </td>
                    <td class="ControlCell">
                        ##ShippingAddressFull##
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="##showenteraddess##">
        <td colspan="4">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <th colspan="2">
                        <h3>
                            Billing Address:</h3>
                    </th>
                    <th colspan="2">
                        <h3>
                            Shipping Address:</h3>
                    </th>
                </tr>
                <tr>
                    <td colspan="3">
                    </td>
                    <td>
                        ##SameAsBillingCheckBox##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">
                        Street:
                    </td>
                    <td class="ControlCell">
                        ##BillingStreet##
                    </td>
                    <td class="LabelColumn">
                        Street:
                    </td>
                    <td class="ControlCell">
                        ##ShippingStreet##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">
                        City:
                    </td>
                    <td class="ControlCell">
                        ##BillingCity##
                    </td>
                    <td class="LabelColumn">
                        City:
                    </td>
                    <td class="ControlCell">
                        ##ShippingCity##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">
                        Zip Code:
                    </td>
                    <td class="ControlCell">
                        ##BillingZipcode##
                    </td>
                    <td class="LabelColumn">
                        Zip Code:
                    </td>
                    <td class="ControlCell">
                        ##ShippingZipcode##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">
                        Country:
                    </td>
                    <td class="ControlCell">
                        ##BillingCountryDropDown##
                    </td>
                    <td class="LabelColumn">
                        Country:
                    </td>
                    <td class="ControlCell">
                        ##ShippingCountryDropDown##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">
                        State:
                    </td>
                    <td class="ControlCell">
                        ##BillingStateDropDown##
                    </td>
                    <td class="LabelColumn">
                        State:
                    </td>
                    <td class="ControlCell">
                        ##ShippingStateDropDown##
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" align="center">
            ##SaveButton##
        </td>
    </tr>
</table>
