﻿<table width="100%">
    <tr>
        <td>
            <div class="sectionheader">
                Contact Us
            </div>
        </td>
    </tr>
    <tr>
        <td>
            ##EmployerBillingAddress##
        </td>
    </tr>
    <tr>
        <td>
            Contact Number:##EmployerPhoneNumber##
        </td>
    </tr>
</table>
