﻿<table width="100%">

    <tr>
        <td>
            <div id="divHtml">
                <table cellpadding="2" cellspacing="2" border="0" width="100%">
                    <tr>
                        <td align="center" style="font-weight: bold; font-size: larger" colspan="2">
                            <span>Customer Statement</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table cellpadding="2" cellspacing="2" border="0" width="100%">
                                <tr>
                                    <td class="normal" style="font-weight: bold" align="center" colspan="2">
                                        <u>Customer Information</u>
                                    </td>
                                    <td class="normal" style="font-weight: bold" align="center" colspan="2">
                                        <u>Vendor Information</u>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="normal" width="25%" style="font-weight: bold" align="right">
                                        Company Name :
                                    </td>
                                    <td width="25%">
                                       ##CompanyNameAddress##
                                    </td>
                                    <td class="normal" width="25%" style="font-weight: bold" align="right">
                                        Company Name :
                                    </td>
                                    <td width="25%">
                                        ##VendorCompanyNameAddress##
                                    </td>

                                </tr>
                                <tr>
                                    <td class="normal" style="font-weight: bold" align="right" valign="top">
                                        Billing Address :
                                    </td>
                                    <td align="left">
                                        ##BillingAddress##
                                    </td>
                                    <td class="normal" style="font-weight: bold" align="right" valign="top">
                                        Billing Address :
                                    </td>
                                    <td align="left">
                                        ##VendorBillingAddress##
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="normal" width="25%" style="font-weight: bold" align="right">
                                        Statement Date :
                                    </td>
                                    <td width="25%">
                                        ##StatementDate##
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold" align="center">
                            Current Amount Due
                        </td>
                        <td style="font-weight: bold" align="center">
                            Past Due
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" align="center">
                            <table width="100%" cellpadding="2" cellspacing="2">
                                <tr>
                                    <td width="60%" align="right">
                                        Today-30 :
                                    </td>
                                    <td>
                                        ##thirtyField1##
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60%" align="right">
                                        31-60 :
                                    </td>
                                    <td>
                                        ##SixtyField1##
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60%" align="right">
                                        61-90 :
                                    </td>
                                    <td>
                                        ##NintyField1##
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60%" align="right">
                                        Over 91 :
                                    </td>
                                    <td>
                                        ##TwentyField1##
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%" align="center">
                            <table width="100%" cellpadding="2" cellspacing="2">
                                <tr>
                                    <td width="60%" align="right">
                                        Today-30 :
                                    </td>
                                    <td>
                                        ##thirtyField2##
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60%" align="right">
                                        31-60 :
                                    </td>
                                    <td>
                                        ##SixtyField2##
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60%" align="right">
                                        61-90 :
                                    </td>
                                    <td>
                                        ##NintyField2##
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60%" align="right">
                                        Over 91 :
                                    </td>
                                    <td>
                                        ##TwentyField2##
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table cellpadding="2" cellspacing="2" border="0" width="100%">
                                <tr>
                                    <td>
                                        <table class="Grid" rules="all" id="tblOrders" style="border-collapse: collapse;"
                       border="1" cellspacing="0" width="100%">
                    <tbody>
                        <tr class="GridHeader">
                            <td>
                                Order Id
                            </td>
                            <td>
                                Invoice Id
                            </td>
                            <td>
                                Total Order Amount
                            </td>
                            <td>
                                Balance Due
                            </td>
                            <td>
                                Billing Date
                            </td>
                            <td>
                                Due Date
                            </td>
                        </tr>
                       <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                            <tr class="##RowClass##">
                                
                                <td>
                                    ##OrderID##
                                </td>
                                <td>
                                    <a href="javascript:OpenBizInvoice(##OppID##,##RefType##,##PrintMode##)">##InvoiceID##</a>
                                </td>
                                <td>
                                    ##TotalOrderAmount##
                                </td>
                                <td>
                                    ##BalanceDue##
                                </td>
                                <td>
                                    ##BillingDate##
                                </td>
                                <td>
                                    ##DueDate##
                                </td>
                            </tr>
                            <##ENDFOR##>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                ##FooterTotalOrderAmount##
                            </td>
                            <td>
                                ##FooterBalanceDue##
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>