﻿<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="4">
            <div class="sectionheader">
                Update Your Information
            </div>
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            First Name:
        </td>
        <td class="ControlCell">
            ##CustomerFirstName##
        </td>
        <td class="LabelColumn">
            Last Name:
        </td>
        <td class="ControlCell">
            ##CustomerLastName##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Phone:
        </td>
        <td class="ControlCell">
            ##CustomerPhone##
        </td>
        <td class="LabelColumn">
            Email:
        </td>
        <td class="ControlCell">
            ##CustomerEmail##
        </td>
    </tr>
    <tr>
        <td colspan="4" align="center">
            ##SaveButton##
        </td>
    </tr>
</table>
