﻿<table border="0" cellpadding="0" cellspacing="5" width="100%">
    <tr>
        <td class="normal4" align="center" colspan="2">
            ##ErrorMessage##
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="sectionheader">
                ##AddressType##
            </div>
        </td>
    </tr>
    <tr style="##isvisible##">
        <td align="right">
            Address
        </td>
        <td>
            ##AddressNameDropDown## &nbsp;##DeleteAddressLink##
        </td>
    </tr>
    <tr>
        <td align="right">
            Alias
        </td>
        <td>
            ##AddressName## i.e. Home Address
        </td>
    </tr>
    <tr>
        <td align="right">
            Street
        </td>
        <td>
            ##Street##
        </td>
    </tr>
    <tr>
        <td align="right">
            City
        </td>
        <td>
            ##City##
        </td>
    </tr>
    <tr>
        <td align="right">
            State
        </td>
        <td>
            ##State##
        </td>
    </tr>
    <tr>
        <td align="right">
            Zip Code
        </td>
        <td>
            ##ZipCode##
        </td>
    </tr>
    <tr>
        <td align="right">
            Country
        </td>
        <td>
            ##Country##
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="chkIsPrimary">
                Set as default address?
            </label>
        </td>
        <td>
            ##IsPrimaryCheckBox##
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="chkIsPrimary">
                Shipping Address same as Billing Address
            </label>
        </td>
        <td>
            ##IsShippingSameAsBillingCheckBox##
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            ##SaveButton## ##CancelButton##
        </td>
    </tr>
</table>