﻿<div id="dvShipping">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                * Country:
            </td>
            <td>
                ##Country##
            </td>
        </tr>
        <tr>
            <td>
                * State/Province:
            </td>
            <td>
                ##State##
            </td>
        </tr>
        <tr>
            <td>
                Zip/Postcode:
            </td>
            <td>
                ##ZipCode##
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                ##EstimateShippingButton##
            </td>
        </tr>
        <tr id="trShippingMethod" style='##showshippingmethod##'>
            <td>
                Shipping Method:
            </td>
            <td>
                ##ShippingMethodDropDownList## Note:Actuall shipping rate will be calculated during
                checkout
            </td>
        </tr>
    </table>
</div>
