﻿<div style="width: 650px; display: block;">
    <div class="sectionheader">
        Featured Items
    </div>
    <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
    <div style="width: 200px; height: 280px; float: left; border: solid 1px gray; margin: 2px;
        padding: 2px; display: block;" class="##RowClass##">
        <div class="product_image">
            <img src='##ItemImagePathName##' alt='##ItemName##' title='##ItemName##' height="150"
                width="130" />
        </div>
        <div class="product_title" title='##ItemName##'>
            <a href='##ItemLink##'>##ItemShortName##</a>
        </div>
        <div class="price">
            Price : ##OfferPrice## ##ProductPrice##
        </div>
        <div class="Desc">
            ##ItemDesc##
        </div>
        <div class="##HidePriceBeforeLogin##">
            <input id="AddToCartLink" name="AddToCartLink" type="button" onclick="javascript:__doPostBack('AddToCart','##ItemID##~##CategoryID##');"
                   class="addtocart" style="border: 0;" />
        </div>
    </div>
    <##ENDFOR##>
</div>
