﻿<table width="100%" cellpadding="0" cellspacing="2">
    <tr>
        <td colspan="2">
            <div class="sectionheader">
                Forgot Password
            </div>
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Email
        </td>
        <td class="ControlCell">
            ##Email##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
        </td>
        <td class="ControlCell">
            ##SendPassword##
        </td>
    </tr>
</table>
<table>
    <tr>
        <td colspan="2">
            ##Message##
        </td>
    </tr>
</table>
