﻿<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
    .title {
        color: #696969; /*padding:10px;*/
        font: bold 30px Arial, Helvetica, sans-serif;
    }

    .RowHeader {
        background-color: #dedede;
        color: #333;
        font-family: Arial;
        font-size: 8pt;
    }

        .RowHeader.hyperlink {
            color: #333;
        }

    .ItemHeader, .ItemStyle, .AltItemStyle {
        border-width: 1px;
        padding: 8px;
        font: normal 12px/17px arial;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }

    .ItemHeader {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
    }

    .ItemStyle td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }

    .AltItemStyle {
        background-color: White;
        border-color: black;
        padding: 8px;
    }

        .AltItemStyle td {
            padding: 8px;
        }

    .ItemHeader td {
        border-width: 1px;
        padding: 8px;
        font-weight: bold;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }

        .ItemHeader td th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

    #tblBizDocSumm {
        font: normal 12px verdana;
        color: #333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        background-color: #dedede;
    }

    .tblBizDocSumm td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
    }

    .tblBizDocSumm {
        font: normal 12px verdana;
        color: #333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        background-color: #dedede;
    }

    #tblBizDocSumm td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
    }

    .WordWrapSerialNo {
        width: 30%;
        word-break: break-all;
    }

    h3 {
        background: #bfbfbf;
          padding: 6px 23px 0px 9px;
        font-size: 13px;
        text-align: center;
    }

    .fullogo {
        max-width: 300px;
    }

        .fullogo img {
            max-width: 300px;
        }
        .table{
            margin-bottom:0px !important;
        }
        pre{
               background: none !important;
    border: none !important;
    padding: 0px;
    margin: 0px;
    font-family: inherit;
        }
</style>
<table width="100%" border="0" cellpadding="0" class="table">
    <tbody>
        <tr>
            <td valign="top" align="left">
                <div class="fullogo">#Logo#</div>
                <br />
                <h1 style="margin: 0px; color: #828282; font-size: 21px;font-weight: bold;"> #FOName#</h1>
            </td>
            <td align="left" style="white-space: nowrap;">
                <h3><label>Ship to</label></h3>
                <div style="min-height: 120px;">
                    #ShipAddress#
                </div>
            </td>
            <td align="center" style="white-space: nowrap;">
                <h3><label>Ship Via</label></h3>
                <div style="height: 120px;">
                    #ShipVia#
                </div>
            </td>
            <td align="center" style="white-space: nowrap;">
                <h3><label>Days in Transit</label></h3>
                <div style="height: 50px;">
                    #DaysinTransit#
                </div>
                <h3><label>Custom PO#</label></h3>
                <div>
                    #CustomPOName#
                </div>
            </td>
            <td align="center" style="white-space: nowrap;">
                <h3><label>Delivery By</label></h3>
                <div style="height: 50px;">
                    #DeliveryBy#
                </div>
                <h3><label>Order Release Date</label></h3>
                <div>
                    #OrderReleaseDate#
                </div>
            </td>
        </tr>


    </tbody>
</table>
 <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
    <table width="100%" border="0" cellpadding="0">
        <tbody>

            <tr>
                <td align="right">

                    <table width="100%" class="table table-responsive " style="     border: 2px solid rgba(76, 71, 71, 0.57);">
                        <tbody>
                            <tr>
                                <th class="RowHeader">
                                    Box
                                </th>
                                <th class="RowHeader">
                                    Dim. (H x L x W)
                                </th>
                                <th class="RowHeader">
                                    Total Weight (lbs)
                                </th>
                                <th class="RowHeader">
                                    Service Type
                                </th>
                                <th class="RowHeader">
                                    Package Type
                                </th>
                                <th class="RowHeader">
                                    Tracking Number
                                </th>
                            </tr>
                            <tr>
                                <td class="normal1">
                                    #Box#
                                </td>
                                <td class="normal1">
                                    #Dimension#
                                </td>
                                <td class="normal1">
                                    #TotalWeight#
                                </td>
                                <td class="normal1">
                                    #ServiceType#
                                </td>
                                <td class="normal1">
                                    #PackageType#
                                </td>
                                <td class="normal1">
                                    <a href="#TrackingUrl#" target="_blank"> #TrackingNumber#</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" style="    padding: 0px;">
                                    #ItemSummary#

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>


        </tbody>
    </table>
    <##ENDFOR##>
