﻿<##FOR##>
                                        <li class="imagePadding"><a>
                                            <img src='##ImagePath##' class="resizethumb">##ImageName##
                                        </a></li>
                                        <##ENDFOR##>