﻿<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../Js/jquery-loader.js"></script>
<div id="UpdateProgress" style="display: none;" role="status" aria-hidden="true">
    <div class="overlay">
        <div class="overlayContent" style="color: #000;text-align: center;width: 660px;padding: 20px;background-color: #FFF;">
            <i class="fa fa-2x fa-refresh fa-spin"></i>
            <h4>Please wait a few seconds while your order is being processed.</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <h4>Checkout</h4>
    </div>
</div>
<div class="sectionheader">
    Address
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label>Email<span style="color: red;"><i class="fa fa-asterisk"></i></span></label>
            ##Email##
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label>Phone<span style="color: red;"><i class="fa fa-asterisk"></i></span></label>
            ##Phone##
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>First Name<span style="color: red;"><i class="fa fa-asterisk"></i></span></label>
                            ##FirstName##
                        </div>
                     </div>
    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                        <label>Last Name<span style="color: red;"><i class="fa fa-asterisk"></i></span></label>
                        ##LastName##
                        </div>
                    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Shipping Address</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                         <div class="form-group">
                            <label>Ship To Name<span style="color: red;"><i class="fa fa-asterisk"></i></span></label>
                            ##ShippingAddressName##
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                         <div class="form-group">
                            <label>Ship To Street<span style="color: red;"><i class="fa fa-asterisk"></i></span></label>
                            ##ShippingStreet##
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Ship To County<span style="color: red;"><i class="fa fa-asterisk"></i></span></label>
                            ##ShippingCountryDropDown##
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                         <div class="form-group">
                            <label>Ship To State<span style="color: red;"><i class="fa fa-asterisk"></i></span></label>
                            ##ShippingStateDropDown##
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                         <div class="form-group">
                            <label>Ship To City<span style="color: red;"><i class="fa fa-asterisk"></i></span></label>
                            ##ShippingCity##
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Ship To Zip Code<span style="color: red;"><i class="fa fa-asterisk"></i></span></label>
                            ##ShippingZipcode##
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Billing Address</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label></label>
                            <div class="CheckBox">
                                ##SameAsBillingCheckBox##
                                ##IsResidential##
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Bill To Name<span style="color: red;"><i class="fa fa-asterisk"></i></span></label>
                            ##BillingAddressName##
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                         <div class="form-group">
                            <label>Bill To Street<span style="color: red;" class="requiredField"><i class="fa fa-asterisk"></i></span></label>
                            ##BillingStreet##
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Bill To County<span style="color: red;" class="requiredField"><i class="fa fa-asterisk"></i></span></label>
                            ##BillingCountryDropDown##
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                         <div class="form-group">
                            <label>Bill To State<span style="color: red;" class="requiredField"><i class="fa fa-asterisk"></i></span></label>
                            ##BillingStateDropDown##
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                         <div class="form-group">
                            <label>Bill To City<span style="color: red;" class="requiredField"><i class="fa fa-asterisk"></i></span></label>
                            ##BillingCity##
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Bill To Zip Code<span style="color: red;" class="requiredField"><i class="fa fa-asterisk"></i></span></label>
                            ##BillingZipcode##
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sectionheader">
    <h4>Order Summary</h4>
</div>
<div class="row">
    <div class="col-xs-12">
        <table cellspacing="0" cellpadding="0" class="summarytable">
                    <tr>
                        <td nowrap>
                            <div class="summarycontent">
                                <table id="tblCart" border="1" cellspacing="0" class="Grid" width="100%">
                                    <tr class="GridHeader">
                                        <td>
                                            Item
                                        </td>
                                        <td>
                                            Attributes
                                        </td>
                                        <td>
                                            Units
                                        </td>
                                        <td>
                                            Price/Unit
                                        </td>
                                        <td>
                                            Discount
                                        </td>
                                        <td>
                                            Total
                                        </td>
                                            <td style="display:none">
                                            Item Name
                                        </td>
                                        <td style="display:none">
                                            Model ID
                                        </td>
                                        <td style="display:none">
                                            Item ID
                                        </td>
                                        <td style="display:none">
                                            Price
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                                    <tr class="##RowClass##">
                                        <td>
                                            ##ItemName##
                                        </td>
                                        <td>
                                            ##ItemAttributes##
                                        </td>
                                        <td>
                                            ##ItemUnits##
                                        </td>
                                        <td>
                                            ##CurrencySymbol## ##ItemPricePerUnit##
                                        </td>
                                        <td>
                                            ##CurrencySymbol## ##Discount##
                                        </td>
                                        <td>
                                            ##CurrencySymbol## ##TotalAmount##
                                        </td>
                                        <td style="display:none">
                                            <a href="##ItemURL##">##ItemName##</a>
                                        </td>
                                        <td style="display:none">
                                            ##ItemModelID##
                                        </td>
                                        <td style="display:none">
                                            ##ItemID##
                                        </td>
                                        <td style="display:none">
                                            ##CurrencySymbol## ##ItemPricePerUnit##
                                        </td>   
                                    </tr>
                                    <##ENDFOR##>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <table align="right">
                                <tr>
                                    <td class="text_bold" align="right">
                                        Subtotal:  
                                    </td>
                                    <td align="right">
                                        ##CurrencySymbol## ##SubTotalLabel##
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text_bold" align="right">
                                        Discount:  
                                    </td>
                                    <td align="right">
                                        ##CurrencySymbol## ##DiscountLabel##
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text_bold" align="right">
                                        Tax:  
                                    </td>
                                    <td align="right">
                                        ##CurrencySymbol## ##TaxLabel##
                                    </td>
                                </tr>
                                {##EnterCouponSection##}
                                <tr id="trApplyCouponCode">
                                    <td class="text_bold">
                                        <br />
                                        Apply Coupon/Discount Code: ##CouponCodeTextBox## ##ApplyCouponCodeButton##
                                    </td>
                                </tr>
                                {/##EnterCouponSection##} {##UsedCouponSection##}
                                <tr id="trUsedCouponCode">
                                    <td class="text_bold">
                                        <br />
                                        Coupon/Discount Code: ##CouponCodeLabel## ##RemoveCouponCodeLink##
                                    </td>
                                </tr>
                                {/##UsedCouponSection##}
                                <tr>
                                    <td class="text_bold" align="right">
                                            ##ShowShippingAmountWithMethod##
                                            ##GetShippingRatesButton##
                                        Shipping Charges:  
                                    </td>
                                    <td align="right">
                                        ##CurrencySymbol## ##ShippingChargeLabel##
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text_bold" align="right">
                                        Total:  
                                    </td>
                                    <td align="right">
                                        ##CurrencySymbol## ##TotalAmountLabel##
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td nowrap>
                            <div class="summaryheader">
                                Payment Information 
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td nowrap colspan="2">
                        <table width="100%" align="center" border="0" cellpadding="5" cellspacing="5">
                            <tr>
                                <td align="left" colspan="2">
                                    <input id="Checkout_radPay" name="PayOption" value="CreditCard" ##IsPayChecked## onclick="javascript: GetPaymentMethod('CreditCard');"
                                        type="radio"><label for="Checkout_radPay"> <b>Pay by Credit Card</b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left" style="display:block;">
                                    <div id="CreditCardSection" style="display:none;">
                                            <table id="Table1" width="90%">
                                        <tr>
                                            <td width="50%" >
                                                <table cellspacing="2" cellpadding="5" style="padding-left:20px;">
                                                    <tr>
                                                        <th nowrap colspan="4" align="left">
                                                            Credit Card Information
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td class="LabelColumn">
                                                            Card Type:
                                                        </td>
                                                        <td class="ControlCell">
                                                            ##CardTypeDropDownList##
                                                        </td>
                                                        <td class="LabelColumn">
                                                            Card Number:
                                                        </td>
                                                        <td class="ControlCell">
                                                            ##CardNumberTextBox##
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="LabelColumn">
                                                        Card Holder Name: 
                                                        </td>
                                                        <td class="ControlCell">
                                                            ##CardHolderTextBox##
                                                        </td>
                                                        <td class="LabelColumn" >
                                                            CVV2 Data:
                                                        </td>
                                                        <td class="ControlCell">
                                                            ##CVV2TextBox##
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="LabelColumn">
                                                            Exp Date (MM/YY):
                                                        </td>
                                                        <td class="ControlCell">
                                                            ##CardExpMonthDropDownList##  /  ##CardExpYearDropDownList##
                                                        </td>
                                                        <td nowrap align="right" >
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" colspan="2">
                                    <input id="Checkout_radGoogleCheckOut" name="PayOption" value="GoogleCheckout" ##IsGoogleCheckoutChecked##
                                        type="radio" onclick="javascript: GetPaymentMethod('GoogleCheckout');"><label for="Checkout_radGoogleCheckOut"> <b>Google
                                            Checkout</b> </label>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" colspan="2">
                                    <input id="Checkout_radPaypalCheckOut" name="PayOption" value="PaypalCheckout" ##IsPaypalCheckoutChecked##
                                        type="radio" onclick="javascript: GetPaymentMethod('Paypal');"><label for="Checkout_radPaypalCheckOut"> <b>Pay by Paypal
                                            </b> </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left" style="display:block;">
                                    <div id="PaypalSection" style="display:none;">
                                            <table id="tblPaypal" width="90%">
                                            <tr>
                                            <td width="50%" >
                                                <table cellspacing="2" cellpadding="5" style="padding-left:20px;">
                                                    <tr>
                                                        <th nowrap colspan="4" align="left">
                                                            Pay By Paypal
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td class="LabelColumn">
                                                            Paypal Email:
                                                        </td>
                                                        <td class="ControlCell">
                                                            ##PaypalEmail##
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                            </table>
                                    </div>  
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left">
                                    <div id="tdTotalAmount">
                                        Total Amount:<b>##CurrencySymbol## ##TotalAmountLabel##</b>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="summarycontent">
                                <table border="0" cellpadding="0" cellspacing="5">
                                    <tr>
                                        <td align="right">
                                            Total Amount:
                                        </td>
                                        <td align="left">
                                            <b>##CurrencySymbol## ##TotalAmountLabel##</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            if you have any Notes regarding order,type them here:
                                        </td>
                                        <td align="left">
                                            ##Comments##
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">Attach File:</td>
                                        <td align="left">##FileUpload##</td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                        </td>
                                        <td align="left">
                                            <input type="button" name="btnCharge" class="button" data-target="body" onclick="return Save();" value="Place Order" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
    </div>
</div>

<div id="##ShippingMethodModelID##" class="modal fade modal-shippingmethod" role="dialog">
    <div class="modal-dialog modal-dialog-shippingmethod" style="width: 70%">
        <!-- Modal content-->
        <div class="modal-content modal-content-shippingmethod">
            <div class="modal-header modal-content-shippingmethod">
                <div class="pull-left">
                    Shipping Service(s)
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" onclick="ShippingRateChanged();">Use selected rate instead</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Keep my existing rate</button>
                </div>
            </div>
            <div class="modal-body modal-body-shippingmethod">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                          Keep your existing shipping rate or replace it with one of the following carriers / services.
                        </div>
                    </div>
                    <div class="col-xs-12" id="##divShippingRates##">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

