﻿<!-- IMPORTANT: Do not change id of element or onclick function -->

<div id="divItemPromoPopup" class="modal fade modal-itempromopopup" role="dialog">
    <div class="modal-dialog modal-dialog-itempromopopup" style="width:70%">
        <div class="modal-content modal-content-itempromopopup">
            <div class="modal-header modal-content-itempromopopup">
                <div style="float: left;">
                    <img src="/images/item-promotion.png" height="30" alt="" />
                    <b>Item Promotion(s)</b>
                </div>
                <div class="pull-right">
                    <button onclick="return SaveItemPromoSelection();" class="btn btn-primary">Save & Close</button>
                </div>
            </div>
            <div class="modal-body modal-body-itempromopopup">
                <div class="row">
                    <div class="col-xs-12" id="divItemPromoList">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
