﻿
<div class="col-md-8">
    <table cellspacing="0" cellpadding="0" width="100%" border="0">
        <tr>
            ##RMAReason##
        </tr>
        <tr>
            <td class="LabelColumn" align="right">
                ##RMARequestButton##
            </td>
        </tr>
        <tr>
            <td class="Grid1">
                <table class="Grid" rules="all" id="tblOrders" style="border-collapse: collapse;"
                       border="1" cellspacing="0" >
                    <tbody>
                        <tr class="GridHeader">
                            <td>
                              Item Name
                            </td>
                            <td>
                                Serial#
                            </td>
                            <td>
                                Description
                            </td>
                            <td>
                                Qty
                            </td>
                        </tr>
                       <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                            <tr class="##RowClass##">
                                <td>
                                   ##ItemName##
                                </td>
                                <td>
                                    ##SerialNo##
                                    <input id="hdnSerial##ItemCode##" type="hidden" value="##ItemCode##" />
                                    <input id="hdnDefaultQty##ItemCode##" type="hidden" value="##ItemCodeDefaultQty##" />
                                    <input id="hdnItemCode##ItemCode##" type="hidden" value="##ItemCode##" />
                                </td>
                                <td>
                                    ##ItemDesc##
                                </td>
                                <td>
                                    ##hdnReturnItem##
                                    ##QtytoReturnLabel## ##QtytoReturnTextBox##
                                </td>
                            </tr>
                            <##ENDFOR##>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
