﻿<table border="0" width="100%">

    <tr>
        <td>
            ##ManufacturerLogo##
        </td>
        <td colspan="2">
            ##ManufacturerName##
            ##ManufacturerDescription##
        </td>
    </tr>
   <tr>
       <td colspan="3">
               {##CategoryImageSection##}
                <div>  
                       <img src='##CategoryImage##' alt='##CategoryName##' title='##CategoryName##'  />
                </div>
                {/##CategoryImageSection##}
       </td>
   </tr>
    <tr>
        <td colspan="3">
            <div class="sectionheader">
                ##CategoryName##
            </div>
            <div class="Desc">
                ##CategoryDesc##
            </div>
        </td>
    </tr>
    <tr>
       <td>
             <div>      
                 ##FILTERBY##
                <##FOR_FILTER##>
                    ##FilterAttribute## <font color="red"><a href="javascript:void(0)"  onclick ="javascript:removeFilter('##FilterValue##');">X</a></font> 
                <##ENDFOR_FILTER##> 
              </div>
       </td>
    </tr>
    <tr>
        <td colspan="3">
            <table width="100%">
                <tr>
                    <td>
                    </td>
                    <td width="50" align="right">
                        Sort by
                    </td>
                    <td align="left" width="150" style="vertical-align: bottom">
                        ##SortBy##
                    </td>
                    <td align="right" width="85">
                        Items per page
                    </td>
                    <td align="left" width="50">
                        ##PageSize##
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="right" align="left">
            ##ItemCount##
        </td>
        <td colspan="3" align="right">
            ##PageControl##
        </td>
        <td>
            ##SelectAllCheckBox##
            ##AddToMyItems##
            ##AddToCartSelected##
        </td>
    </tr>
    <tr>
        <td valign="top" colspan="3">
            <##FOR_ATTRIBUTE_HEADER##>
                <th>##ATTRIBUTE_NAME##</th>
            <##ENDFOR_ATTRIBUTE_HEADR##> 
            <div style="width: 650px; display: block;">
                <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                <div style="width: 200px; height: 280px; float: left; border: solid 1px gray; margin: 2px;
                    padding: 2px; display: block;" class="##RowClass##">
                    <div class="product_image">
                        <img src='##ItemImagePathName##' alt='##ItemName##' title='##ItemName##' height="150"
                            width="130" />
                    </div>
                    <div class="product_title" title='##ItemName##'>
                        <a href='##ItemLink##'>##ItemShortName##</a>
                    </div>
                    <div class="price">
                        ##OfferPrice## ##ProductPrice##
                        <br />
                        Availability : ##Availability##
                    </div>
                    <div class="Desc">
                        ##ItemDesc##
                    </div>
                    <div>
                        ##SelectCheckBox##
                    </div>
                    <##FOR_ATTRIBUTE_DATA##>
                    <div>
                        <b>##ATTRIBUTE_NAME##:</b> ##ATTRIBUTE_VALUE_PLACEHOLDER##
                    </div>
                    <##ENDFOR_ATTRIBUTE_DATA##> 
                    <div class="##HidePriceBeforeLogin##">
                        ##AddToCartLink##
                    </div>
                </div>
                <##ENDFOR##>
            </div>
        </td>
    </tr>
</table>