﻿{##NewListSection##}
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2">
            <div class="sectionheader">
                Add new wishlist
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td align="right">
            Wishlist name
        </td>
        <td align="left">
            ##ListNameTextBox##
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td align="left">
            ##SaveButton## <a href="/lists.aspx">Cancel</a>
        </td>
    </tr>
</table>
{/##NewListSection##} {##ViewListSection##}
 ##TopMenuDasboard##
<table width="100%">
    <tr>
        <td>
            <div class="sectionheader">
                Wishlist
            </div>
        </td>
    </tr>
    <tr>
        <td align="right">
            <a id="lnkAddNew" href="/lists.aspx?action=add">Add New</a>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>List Name</td>
                    <td>
                        ##WishListDropDown##
                        ##DeleteWishList##
                    </td>
                    <td>Enter the first few characters of the item you’d like to add</td>
                    <td>
                        <input type="text" id="ItemAutoSuggest" onkeyup="ItemAutoSuggestDetails(this.value)" />
                        <div class="filter-dropdown-list-in ">
                            <div class="autocompletediv" style=" display:none;    z-index: 5;  background: #fff;position:absolute;width:400px">
                                <ul class="filter-dropdown-menu ItemNamesList" style="list-style: none; overflow-y:auto;max-height: 250px;">
                                   
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>
                        ##addItemtoList##
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table  class="Grid" id="tblCart" border="1" cellspacing="0" cellpadding="0" width="100%"
                id="tblWishList">
                <tbody>
                    <tr class="GridHeader">
                        <td>
                            Item Name
                        </td>
                        <td style="width: 50px;">
                           Item Description
                        </td>
                        <td style="width: 60px;">
                            &nbsp;
                        </td>
                        <td style="width: 50px;">
                            &nbsp;
                        </td>
                    </tr>
                    <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                    <tr class="##RowClass##">
                        <td>
                            ##ItemName##
                        </td>
                        <td>
                            ##ItemDescription##
                        </td>
                        <td>
                            <a href="##AddToCartLink##">Add to cart</a>
                        </td>
                        <td>
                            <a href="##DeleteWishListLink##" onclick="return DeleteRecord();">Remove From List</a>
                        </td>
                    </tr>
                    <##ENDFOR##>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<div class="col-md-4">
    {##SummaryTable##}
    <table align="right">
        <tr>
            <td>Credit Limit (A) : </td>
            <td class="ControlCell">
                ##CreditLimit##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                Balance Due :
            </td>
            <td class="ControlCell">
                ##TotalBalanceDueLabel##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                Remaining Credit :
            </td>
            <td class="ControlCell">
                ##TotalRemainingCreditLabel##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                Amount Past Due :
            </td>
            <td class="ControlCell">
                ##TotalAmountPastDueLabel##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                A/R Statement Download :
            </td>
            <td class="ControlCell">
                <a href="javascript:void(0)" onclick="OpenCustomerStatement()"> <img src="../images/GLReport.png" /></a>
            </td>
        </tr>
    </table>
    {/##SummaryTable##}
</div>
{/##ViewListSection##} 