﻿<table>
    <tr>
        <td class="normal4">
            ##ErrorMessage##
        </td>
    </tr>
</table>
<table id="tblLogin" runat="server" border="0" width="100%" cellpadding="0" cellspacing="2">
    <tr>
        <td colspan="2">
            <div class="sectionheader">
                Login
            </div>
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Email Address
        </td>
        <td class="ControlCell">
            ##EmaillAdd##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Password
        </td>
        <td class="ControlCell">
            ##Password##
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td class="ControlCell">
            ##LoginButton## ##ForgotPasswordButton##
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td class="ControlCell">
            ##SignUpButton##
        </td>
    </tr>
</table>
