﻿{##LogoutSection##}
Welcome: ##CustomerName## | <a class="LoginLink" href="/Account.aspx">My Account</a>| <a id="LogoutLink" class="LogOutLink" href="javascript:__doPostBack('LogoutPostback','')">Log out</a> 
{/##LogoutSection##} 
{##LoginSection##}
<a class="LoginLink" href="/Login.aspx">Login</a> | <a class="SingupLink" href="/SignUp.aspx">Create Account</a>
{/##LoginSection##}
<br />
<b><a href="/Cart.aspx">##ItemCount## Item(s)</a> (##TotalAmount##)</b>



