﻿<table border="0" width="100%">

    <tr>
        <td valign="top" colspan="3">
            <div style="width: 650px; display: block;">
                <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                <div style="width: 200px; height: 280px; float: left; border: solid 1px gray; margin: 2px;
                    padding: 2px; display: block;" class="##RowClass##">
                    <div class="product_image">
                        <img src=' ##ManufacturerLogo##' alt='##ManufacturerName##' title='##ManufacturerName##' height="150"
                             width="130" />
                    </div>
                    <div class="product_title" title='##ManufacturerName##'>
                        <a href='/ProductList.aspx?Manufacturer=##ManufacturerURLParameter##&ManufacturerName=##ManufacturerName##'>##ManufacturerName##</a>
                    </div>
                </div>
                <##ENDFOR##>
            </div>
        </td>
    </tr>
</table>