﻿##DefaultMenu##
<!--Remove DefaultMenu , if you are planning to use custom menu-->
{##CustomMenu##}
<div id="vertSiteMenu">
    <ul class="TreeNode">
        <##FOR##>
        <li><a href="##MenuItemLink##">##MenuItemName##</a></li>
        <##ENDFOR##>
    </ul>
</div>
{/##CustomMenu##}