﻿<style type="text/css">
    #tblBasket tr th {
        text-align:center;
    }

    #tblBasket tr th:first-child {
        width:85px;
    }

    #tblBasket tr td:nth-child(3) {
        width:90px;
        text-align:center;
    }

     #tblBasket tr td:nth-child(4) {
        width:130px;
        text-align:center;
    }

     #tblBasket tr td:nth-child(5) {
        width:130px;
        text-align:center;
    }

    #tblBasket tr td {
        vertical-align:middle;
    }
</style>
<script type="text/javascript">
    function ShowMiniCart() {
        $("#divMiniCart").modal('show');
    }
</script>
<div id="divMiniCart" class="modal fade modal-minicart" role="dialog">
    <div class="modal-dialog modal-dialog-minicart" style="width:70%">
        <!-- Modal content-->
        <div class="modal-content modal-content-minicart">
            <div class="modal-header modal-content-minicart">
                <##ShowPromotionSection##>
                    <div class="row">
                        <div class="pull-right" style="padding-right: 20px;">
                            <img src="##ShippingImage##" height="30" alt="" />
                            ##ShippingPromotions##
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 pull-right">
                            <b>SUBTOTAL: ##CurrencySymbol## ##SubTotal##</b>
                        </div>
                    </div>
                    <div class="pull-left">
                        <h4 class="modal-title modal-title-minicart" style="font-weight:bold;">
                            <img id="imgShopping" src="/images/shopping_cart.gif" align="absmiddle" style="border-width: 0px;">
                            Your Cart
                        </h4>
                    </div>
                    <div style="float: left; padding-left: 100px; line-height: 1; display: inline;">
                        <img src="##PromotionImage##" height="30" alt="" />
                        ##PromotionOffer##
                    </div>
                <##EndShowPromotionSection##>
                    <div class="pull-right">
                        <a id="hplCart" class="btn btn-primary" href="/Cart.aspx">View Cart</a>
                        <a id="hplCheckout" class="btn btn-primary" href="##CheckOutURL##">Check Out</a>
                        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                    </div>
            </div>
            <div class="modal-body modal-body-minicart">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="tblBasket">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Item</th>
                                        <th>Qty</th>
                                        <th>Unit Price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <##FOR(ItemClass=YourClassName;AlternatingItemClass=YourClassName;)##>
                                <tr class="##RowClass##">
                                    <td>
                                        <img src="##ItemImage##" alt="" style="width:80px;" class="img-responsive" />
                                    </td>
                                    <td>
                                        <div class="pull-left">
                                            <a href="##ItemLink##">##ItemName##</a>
                                        </div>
                                        <div class="pull-right">
                                            ##ItemAttributes##
                                        </div>
                                    </td>
                                    <td>##ItemUnits##
                                    </td>
                                    <td>##CurrencySymbol## ##ItemPricePerUnit##
                                    </td>
                                    <td>##CurrencySymbol## ##TotalAmount##
                                    </td>
                                </tr>
                                <##ENDFOR##>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer modal-footer-minicart">
                <a id="hplCart" class="btn btn-primary pull-left" href="/Cart.aspx">View Cart</a>
                <a id="hplCheckout" class="btn btn-primary pull-right" href="##CheckOutURL##">Check Out</a>
            </div>-->
        </div>
    </div>
</div>
