﻿<table>
    <tr>
        <td class="normal4">
            ##ErrorMessage##
        </td>
    </tr>
</table>
<table id="tblAddressBook" border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="4">
            <div class="sectionheader">
                Customer Information:
            </div>
        </td>
    </tr>
    <tr style="##showeditaddess##">
        <td colspan="4">
            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                        <th colspan="2">
                            <h3>Billing Information</h3>
                        </th>
                        <th colspan="2">
                            <h3>Shipping Information</h3>
                        </th>
                    </tr>
                    <tr><td colspan="4"><br/></td>
            	<tr>
                    <td class="LabelColumn">First Name:
                    </td>
                    <td class="ControlCell">##BillingFirstName##
                    </td>
                    <td class="LabelColumn">First Name:
                    </td>
                    <td class="ControlCell">##ShippingFirstName##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">Last Name:
                    </td>
                    <td class="ControlCell">##BillingLastName##
                    </td>
                    <td class="LabelColumn">Last Name:
                    </td>
                    <td class="ControlCell">##ShippingLastName##
                    </td>
                </tr>
                 <tr>
                    <td class="LabelColumn"><br/>
                    </td>
                    <td class="ControlCell">
                    </td>
                    <td class="LabelColumn">
                    </td>
                    <td class="ControlCell">
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">Bill to this address:
                    </td>
                    <td class="ControlCell">##BillingAddressDropdown##
                    </td>
                    <td class="LabelColumn">Ship to this address:
                    </td>
                    <td class="ControlCell">##ShippingAddressDropdown##
                    </td>
                </tr>
                                <tr>
                    <td colspan="4">
                	<br/>
                	</td>
                </tr>
    		<tr>
                    <td colspan="3"></td>
                    <td>##SameAsBillingCheckBox##
                        >##IsResidential##
                    </td>
                </tr>
                                <tr>
                    <td colspan="4">
                	<br/>
                	</td>
                </tr>
                <tr>
                    <td class="LabelColumn">Street:
                    </td>
                    <td class="ControlCell">##BillingStreet##
                    </td>
                    <td class="LabelColumn">Street:
                    </td>
                    <td class="ControlCell">##ShippingStreet##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">City:
                    </td>
                    <td class="ControlCell">##BillingCity##
                    </td>
                    <td class="LabelColumn">City:
                    </td>
                    <td class="ControlCell">##ShippingCity##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">Zip Code:
                    </td>
                    <td class="ControlCell">##BillingZipcode##
                    </td>
                    <td class="LabelColumn">Zip Code:
                    </td>
                    <td class="ControlCell">##ShippingZipcode##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">Country:
                    </td>
                    <td class="ControlCell">##BillingCountryDropDown##
                    </td>
                    <td class="LabelColumn">Country:
                    </td>
                    <td class="ControlCell">##ShippingCountryDropDown##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">State:
                    </td>
                    <td class="ControlCell">##BillingStateDropDown##
                    </td>
                    <td class="LabelColumn">State:
                    </td>
                    <td class="ControlCell">##ShippingStateDropDown##
                    </td>
                </tr>
	</table>
	</td>
	</tr>
	</table>
<table id="tblCustomerInfo" width="100%" >
    <tr>
        <td>
            <div class="sectionheader">
                Order Summary
            </div>
        </td>
    </tr>
    <tr>
    <td>
        <table cellspacing="0" cellpadding="0" class="summarytable">
            <tr>
                <td nowrap>
                    <div class="summarycontent">
                        <table id="tblCart" border="1" cellspacing="0" class="Grid" width="100%">
                            <tr class="GridHeader">
                                <td>
                                    Item
                                </td>
                                <td>
                                    Attributes
                                </td>
                                <td>
                                    Units
                                </td>
                                <td>
                                    Price/Unit
                                </td>
                                <td>
                                    Discount
                                </td>
                                <td>
                                    Total
                                </td>
                                    <td style="display:none">
                                    Item Name
                                </td>
                                <td style="display:none">
                                    Model ID
                                </td>
                                <td style="display:none">
                                    Item ID
                                </td>
                                <td style="display:none">
                                    Price
                                </td>
                                <td>
                                </td>
                            </tr>
                            <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                            <tr class="##RowClass##">
                                <td>
                                    ##ItemName##
                                </td>
                                <td>
                                    ##ItemAttributes##
                                </td>
                                <td>
                                    ##ItemUnits##
                                </td>
                                <td>
                                    ##CurrencySymbol## ##ItemPricePerUnit##
                                </td>
                                <td>
                                    ##CurrencySymbol## ##Discount##
                                </td>
                                <td>
                                    ##CurrencySymbol## ##TotalAmount##
                                </td>
                                <td style="display:none">
                                    <a href="##ItemURL##">##ItemName##</a>
                                </td>
                                <td style="display:none">
                                    ##ItemModelID##
                                </td>
                                <td style="display:none">
                                    ##ItemID##
                                </td>
                                <td style="display:none">
                                    ##CurrencySymbol## ##ItemPricePerUnit##
                                </td>   
                            </tr>
                            <##ENDFOR##>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <table align="right">
                        <tr>
                            <td class="text_bold" align="right">
                                Subtotal:  
                            </td>
                            <td align="right">
                                ##CurrencySymbol## ##SubTotalLabel##
                            </td>
                        </tr>
                        <tr>
                            <td class="text_bold" align="right">
                                Discount:  
                            </td>
                            <td align="right">
                                ##CurrencySymbol## ##DiscountLabel##
                            </td>
                        </tr>
                        <tr>
                            <td class="text_bold" align="right">
                                Tax:  
                            </td>
                            <td align="right">
                                ##CurrencySymbol## ##TaxLabel##
                            </td>
                        </tr>
                        {##EnterCouponSection##}
                        <tr id="trApplyCouponCode">
                            <td class="text_bold">
                                <br />
                                Apply Coupon/Discount Code: ##CouponCodeTextBox## ##ApplyCouponCodeButton##
                            </td>
                        </tr>
                        {/##EnterCouponSection##} {##UsedCouponSection##}
                        <tr id="trUsedCouponCode">
                            <td class="text_bold">
                                <br />
                                Coupon/Discount Code: ##CouponCodeLabel## ##RemoveCouponCodeLink##
                            </td>
                        </tr>
                        {/##UsedCouponSection##}
                        <tr>
                            <td>
                                ##ShipVia##
                            </td>
                        </tr>
                        <tr>
                            <td class="text_bold" align="right">
                                    ##ShowShippingAmountWithMethod##
                                    ##GetShippingRatesButton##
                                Shipping Charges:  
                            </td>
                            <td align="right">
                                ##CurrencySymbol## ##ShippingChargeLabel##
                            </td>
                        </tr>
                        <tr>
                            <td class="text_bold" align="right">
                                Total:  
                            </td>
                            <td align="right">
                                ##CurrencySymbol## ##TotalAmountLabel##
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td nowrap>
                    <div class="summaryheader">
                        Payment Information 
                    </div>
                </td>
            </tr>
            <tr>
                <td nowrap colspan="2">
                <table width="100%" align="center" border="0" cellpadding="5" cellspacing="5">   
                    <tr>
                        <td align="left" colspan="2">
                            <input id="Checkout_radBillMe" name="PayOption" value="BillMe"   ##IsBillMeChecked##
                                type="radio" onclick="javascript: GetPaymentMethod('BillMe');"><label for="Checkout_radBillMe"> <b>Bill
                                    Me</b>  (If you or your company has terms with us.)</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left" style="display:block;">
                            <div id ="BillMeSection" style ="display:none">
                                    <table align="left" id="tblBillme">
                                <tr>
                                    <td class="LabelColumn">
                                        Total Balance Due :
                                    </td>
                                    <td class="ControlCell">
                                        ##CurrencySymbol## ##TotalBalanceDue##
                                    </td>
                                </tr>
                                <tr>
                                    <td class="LabelColumn">
                                        Total Remaining Credit :
                                    </td>
                                    <td class="ControlCell">
                                        ##CurrencySymbol## ##TotalRemaniningCredit##
                                    </td>
                                </tr>
                                <tr>
                                    <td class="LabelColumn">
                                        Total Amount Past Due :
                                    </td>
                                    <td class="ControlCell">
                                        ##CurrencySymbol## ##TotalAmountPastDue##
                                    </td>
                                </tr>
                            </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="2">
                            <input id="Checkout_radPay" name="PayOption" value="CreditCard" ##IsPayChecked## onclick="javascript: GetPaymentMethod('CreditCard');"
                                type="radio"><label for="Checkout_radPay"> <b>Pay by Credit Card</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left" style="display:block;">
                            <div id="CreditCardSection" style="display:none;">
                                    <table id="Table1" width="90%">
                                <tr>
                                    <td width="50%" >
                                        <table cellspacing="2" cellpadding="5" style="padding-left:20px;">
                                            <tr>
                                                <th nowrap colspan="4" align="left">
                                                    Credit Card Information
                                                </th>
                                            </tr>
                                            <tr>
                                                <td class="LabelColumn">
                                                    Card Type:
                                                </td>
                                                <td class="ControlCell">
                                                    ##CardTypeDropDownList##
                                                </td>
                                                <td class="LabelColumn">
                                                    Card Number:
                                                </td>
                                                <td class="ControlCell">
                                                    ##CardNumberTextBox##
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="LabelColumn">
                                                Card Holder Name: 
                                                </td>
                                                <td class="ControlCell">
                                                    ##CardHolderTextBox##
                                                </td>
                                                <td class="LabelColumn" >
                                                    CVV2 Data:
                                                </td>
                                                <td class="ControlCell">
                                                    ##CVV2TextBox##
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="LabelColumn">
                                                    Exp Date (MM/YY):
                                                </td>
                                                <td class="ControlCell">
                                                    ##CardExpMonthDropDownList##  /  ##CardExpYearDropDownList##
                                                </td>
                                                <td nowrap align="right" >
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="2">
                            <input id="Checkout_radGoogleCheckOut" name="PayOption" value="GoogleCheckout" ##IsGoogleCheckoutChecked##
                                type="radio" onclick="javascript: GetPaymentMethod('GoogleCheckout');"><label for="Checkout_radGoogleCheckOut"> <b>Google
                                    Checkout</b> </label>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="2">
                            <input id="Checkout_radPaypalCheckOut" name="PayOption" value="PaypalCheckout" ##IsPaypalCheckoutChecked##
                                type="radio" onclick="javascript: GetPaymentMethod('Paypal');"><label for="Checkout_radPaypalCheckOut"> <b>Pay by Paypal
                                    </b> </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left" style="display:block;">
                            <div id="PaypalSection" style="display:none;">
                                    <table id="tblPaypal" width="90%">
                                    <tr>
                                    <td width="50%" >
                                        <table cellspacing="2" cellpadding="5" style="padding-left:20px;">
                                            <tr>
                                                <th nowrap colspan="4" align="left">
                                                    Pay By Paypal
                                                </th>
                                            </tr>
                                            <tr>
                                                <td class="LabelColumn">
                                                    Paypal Email:
                                                </td>
                                                <td class="ControlCell">
                                                    ##PaypalEmail##
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                    </table>
                            </div>  
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">
                            <div id="tdTotalAmount">
                                Total Amount:<b>##CurrencySymbol## ##TotalAmountLabel##</b>
                            </div>
                        </td>
                    </tr>
                </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="summarycontent">
                        <table border="0" cellpadding="0" cellspacing="5">
                            <tr>
                                <td align="right">
                                    Total Amount:
                                </td>
                                <td align="left">
                                    <b>##CurrencySymbol## ##TotalAmountLabel##</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    if you have any Notes regarding order,type them here:
                                </td>
                                <td align="left">
                                    ##Comments##
                                </td>
                            </tr>
                            <tr>
                                <td align="right">Attach File:</td>
                                <td align="left">##FileUpload##</td>
                            </tr>
                            <tr>
                                <td>Password for future orders (Optional):</td>
                                <td>##FuturePassword##</td>
                            </tr>
                            <tr>
                                <td align="right">
                                </td>
                                <td align="left">
                                    <!--onclick="javascript: return Save();-->
                                    <input type="button" name="btnCharge" class="button" data-target="body" value="Place Order" onclick="javascript: __doPostBack('btnCharge', '');" ></input>   ##ViewPastOrdersButton##
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>

<div id="##ShippingMethodModelID##" class="modal fade modal-shippingmethod" role="dialog">
    <div class="modal-dialog modal-dialog-shippingmethod" style="width: 70%">
        <!-- Modal content-->
        <div class="modal-content modal-content-shippingmethod">
            <div class="modal-header modal-content-shippingmethod">
                <div class="pull-left">
                    Shipping Service(s)
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" onclick="ShippingRateChanged();">Use selected rate instead</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Keep my existing rate</button>
                </div>
            </div>
            <div class="modal-body modal-body-shippingmethod">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                          Keep your existing shipping rate or replace it with one of the following carriers / services.
                        </div>
                    </div>
                    <div class="col-xs-12" id="##divShippingRates##">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>