﻿<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery.smartWizard-2.0.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Smart Wizard 	
        $('#wizard').smartWizard();
        $(".summaryheader>a").hide();
        function onFinishCallback() {
            $('#wizard').smartWizard('showMessage', 'Finish Clicked');
        }
    });
</script>
<table align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <div id="wizard" class="swMain">
                    <ul>
                        <li><a href="#step-1">
                            <label class="stepNumber">
                                1</label>
                            <span class="stepDesc">Register<br />
                                <small>Login or Register</small> </span></a></li>
                        <li><a href="#step-2">
                            <label class="stepNumber">
                                2</label>
                            <span class="stepDesc">Address<br />
                                <small>Billing &amp; Shipping Address</small> </span></a></li>
                        <li><a href="#step-3">
                            <label class="stepNumber">
                                3</label>
                            <span class="stepDesc">Order Summary<br />
                                <small>Review and Place Order</small> </span></a></li>
                    </ul>
                    <div id="step-1">
                        <!-- <h2 class="StepTitle">
                            Step 1 Content</h2>-->
                        <p>
                            {#Login#}</p>
                    </div>
                    <div id="step-2">
                        <!--<h2 class="StepTitle">
                            Step 2 Content</h2>-->
                        <p>
                            {#ConfirmAddress#}
                        </p>
                    </div>
                    <div id="step-3">
                        <!--<h2 class="StepTitle">
                            Step 3 Content</h2>-->
                        <p>
                            
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
