﻿
<div class="col-md-8">
    ##TopMenuDasboard##
    <table cellspacing="0" cellpadding="0" width="100%" border="0">
        <tr>
            <td>
                <div class="sectionheader">
                    Orders
                </div>
            </td>
        </tr>
        <tr>
            <td class="LabelColumn" align="right">
                No of RMA:##NoOfOrdersLabel##
            </td>
        </tr>
        <tr>
            <td class="Grid1">
                <table class="Grid" rules="all" id="tblOrders" style="border-collapse: collapse;"
                       border="1" cellspacing="0" width="100%">
                    <tbody>
                        <tr class="GridHeader">
                            <td>
                               RMA #
                            </td>
                            <td>
                                Products or Services being returned
                            </td>
                            <td>
                                Reason for return
                            </td>
                            <td>
                                Status
                            </td>
                            <td>
                                Issued Refund or Credit Memo
                            </td>
                        </tr>
                       <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                            <tr class="##RowClass##">
                                <td>
                                   ##RMA##
                                </td>
                                <td>
                                    ##Product##
                                </td>
                                <td>
                                    ##Reason##
                                </td>
                                <td>
                                    ##Status##
                                </td>
                                <td>
                                    <a href="ItemReturn.aspx?ReturnHeaderID=##ReturnHeaderID##">##RMA##</a>
                                </td>
                            </tr>
                            <##ENDFOR##>
                    </tbody>
                </table>
                ##PagerControl##
            </td>
        </tr>
    </table>
</div>
<div class="col-md-4">
    {##SummaryTable##}
    <table align="right">
        <tr>
            <td>Credit Limit (A) : </td>
            <td class="ControlCell">
                ##CreditLimit##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                Balance Due :
            </td>
            <td class="ControlCell">
                ##TotalBalanceDueLabel##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                Remaining Credit :
            </td>
            <td class="ControlCell">
                ##TotalRemainingCreditLabel##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                Amount Past Due :
            </td>
            <td class="ControlCell">
                ##TotalAmountPastDueLabel##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                A/R Statement Download :
            </td>
            <td class="ControlCell">
                <a href="javascript:void(0)" onclick="OpenCustomerStatement()"> <img src="../images/GLReport.png" /></a>
            </td>
        </tr>
    </table>
    {/##SummaryTable##}
</div>