﻿<div id="UpdateProgress" style="display: none;" role="status" aria-hidden="true">
    <div class="overlay">
        <div class="overlayContent" style="color: #000;text-align: center;width: 660px;padding: 20px;background-color: #FFF;">
            <i class="fa fa-2x fa-refresh fa-spin"></i>
            <h4>Please wait a few seconds while your order is being processed.</h4>
        </div>
    </div>
</div>
<table id="tblCustomerInfo" width="100%" >
    <tr>
        <td>
            <div class="sectionheader">
                Order Summary
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" class="summarytable">
                <tr>
                    <td nowrap>
                        <div class="summaryheader">
                            <div style ="float:left">
                            Customer Information:
                            </div>
                            <div style="float:right">
                                ##CustomerInformationLink## 
                            </div>
                             
                        </div>
                    </td>
                </tr>
                <tr>
                    <td nowrap>
                        <div class="summarycontent">
                            <i>##FirstName## ##LastName##  ##Email## ##Phone## </i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td nowrap>
                        <div style="border-top:solid 4px lightgray;font-weight: bold;	font-size: 11pt;	color: #8C8C73;	font-family: verdana;	padding-right: 5px;	padding-left: 10px;	padding-bottom: 10px;	padding-top:5px;">
                            <div style ="float:left">
                            Address:
                            </div>
                            <div style="float:right">
                                ##AddressLink##
                            </div>
                            
                             
                        </div>
                    </td>
                </tr>
                <tr>
                    <td nowrap>
                        <div class="summarycontent">
                            <strong>Billing Address</strong>: ##BillingAddress##
                        </div>
                    </td>
                </tr>
                <tr>
                    <td nowrap>
                        <div class="summarycontent">
                            <strong>Shipping Address</strong>: ##ShippingAddress##
                        </div>
                    </td>
                </tr>
                <tr>
                    <td nowrap>
                        <div class="summaryheader">
                            <div style ="float:left">
                            Shipping Information 
                            </div>
                            <div style="float:right">
                                ##CartLink## 
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td nowrap>
                        <div class="summarycontent">
                            <table id="tblCart" border="1" cellspacing="0" class="Grid" width="100%">
                                <tr class="GridHeader">
                                    <td>
                                        Item
                                    </td>
                                    <td>
                                        Attributes
                                    </td>
                                    <td>
                                        Units
                                    </td>
                                    <td>
                                        Price/Unit
                                    </td>
                                    <td>
                                        Discount
                                    </td>
                                    <td>
                                        Total
                                    </td>
                                     <td style="display:none">
                                        Item Name
                                    </td>
                                    <td style="display:none">
                                        Model ID
                                    </td>
                                    <td style="display:none">
                                        Item ID
                                    </td>
                                    <td style="display:none">
                                        Price
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                                <tr class="##RowClass##">
                                    <td>
                                        ##ItemName##
                                    </td>
                                    <td>
                                        ##ItemAttributes##
                                    </td>
                                    <td>
                                        ##ItemUnits##
                                    </td>
                                    <td>
                                        ##ItemPricePerUnit##
                                    </td>
                                    <td>
                                        ##Discount##
                                    </td>
                                    <td>
                                        ##TotalAmount##
                                    </td>
                                    <td style="display:none">
                                        <a href="##ItemURL##">##ItemName##</a>
                                    </td>
                                    <td style="display:none">
                                        ##ItemModelID##
                                    </td>
                                    <td style="display:none">
                                        ##ItemID##
                                    </td>
                                    <td style="display:none">
                                        ##ItemPricePerUnit##
                                    </td>   
                                </tr>
                                <##ENDFOR##>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <table align="right">
                            <tr>
                                <td class="text_bold" align="right">
                                    Subtotal:  
                                </td>
                                <td align="right">
                                    ##SubTotalLabel##
                                </td>
                            </tr>
                            <tr>
                                <td class="text_bold" align="right">
                                    Discount:  
                                </td>
                                <td align="right">
                                    ##DiscountLabel##
                                </td>
                            </tr>
                            <tr>
                                <td class="text_bold" align="right">
                                    Tax:  
                                </td>
                                <td align="right">
                                    ##TaxLabel##
                                </td>
                            </tr>
                            <tr>
                                <td class="text_bold" align="right">
                                     ##ShowShippingAmountWithMethod##
                                     ##ShippingMethodDropdown##
                                    Shipping Charges:  
                                </td>
                                <td align="right">
                                    ##ShippingChargeLabel##
                                </td>
                            </tr>
                            <tr>
                                <td class="text_bold" align="right">
                                    Total:  
                                </td>
                                <td align="right">
                                    ##TotalAmountLabel##
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td nowrap>
                        <div class="summaryheader">
                            Payment Information 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td nowrap colspan="2">
                           <table width="100%" align="center" border="0" cellpadding="5" cellspacing="5">
   
   
    <tr>
        <td align="left" colspan="2">
            <input id="Checkout_radBillMe" name="PayOption" value="BillMe"   ##IsBillMeChecked##
                type="radio" onclick="javascript: GetPaymentMethod('BillMe');"><label for="Checkout_radBillMe">&nbsp;<b>Bill
                    Me</b> &nbsp;(If you or your company has terms with us.)</label>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left" style="display:block;">
            <div id ="BillMeSection" style ="display:none">
                 <table align="left" id="tblBillme">
                <tr>
                    <td class="LabelColumn">
                        Total Balance Due :
                    </td>
                    <td class="ControlCell">
                        ##TotalBalanceDue##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">
                        Total Remaining Credit :
                    </td>
                    <td class="ControlCell">
                        ##TotalRemaniningCredit##
                    </td>
                </tr>
                <tr>
                    <td class="LabelColumn">
                        Total Amount Past Due :
                    </td>
                    <td class="ControlCell">
                        ##TotalAmountPastDue##
                    </td>
                </tr>
            </table>
            </div>
           
        </td>
    </tr>
    <tr>
        <td align="left" colspan="2">

            <input id="Checkout_radPay" name="PayOption" value="CreditCard" ##IsPayChecked## onclick="javascript: GetPaymentMethod('CreditCard');"
                type="radio"><label for="Checkout_radPay">&nbsp;<b>Pay by Credit Card</b>
        </td>

        <td valign="top">
            <table align="left" width="100%">
                {##EnterCouponSection##}
                <tr id="trApplyCouponCode">
                    <td class="text_bold">
                        <br />
                        Apply Coupon/Discount Code: ##CouponCodeTextBox## ##ApplyCouponCodeButton##
                    </td>
                </tr>
                {/##EnterCouponSection##} {##UsedCouponSection##}
                <tr id="trUsedCouponCode">
                    <td class="text_bold">
                        <br />
                        Coupon/Discount Code: ##CouponCodeLabel## ##RemoveCouponCodeLink##
                    </td>
                </tr>
                {/##UsedCouponSection##}
            </table>
        </td>
    </tr>
                               <tr>
                                   <td colspan="2">
                                       ##ShipVia##
                                   </td>
                               </tr>
    <tr>
        <td colspan="2" align="left" style="display:block;">
            <div id="CreditCardSection" style="display:none;">
                 <table id="tblCustomerInfo" width="90%">
                <tr>
                    <td width="50%" >
                        <table cellspacing="2" cellpadding="5" style="padding-left:20px;">
                            <tr>
                                <th nowrap colspan="4" align="left">
                                    Credit Card Information
                                </th>
                            </tr>
                            <tr>
                                <td class="LabelColumn">
                                    Card Type:
                                </td>
                                <td class="ControlCell">
                                    ##CardTypeDropDownList##
                                </td>
                                <td class="LabelColumn">
                                    Card Number:
                                </td>
                                <td class="ControlCell">
                                    ##CardNumberTextBox##
                                </td>
                            </tr>
                            <tr>
                                <td class="LabelColumn">
                                Card Holder Name: 
                                </td>
                                <td class="ControlCell">
                                    ##CardHolderTextBox##
                                </td>
                                <td class="LabelColumn" >
                                    CVV2 Data:
                                </td>
                                <td class="ControlCell">
                                    ##CVV2TextBox##
                                </td>
                            </tr>
                            <tr>
                                <td class="LabelColumn">
                                    Exp Date (MM/YY):
                                </td>
                                <td class="ControlCell">
                                    ##CardExpMonthDropDownList## &nbsp;/&nbsp; ##CardExpYearDropDownList##
                                </td>
                                <td nowrap align="right" >
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            </div>
             
        </td>
    </tr>
    <tr>
        <td align="left" colspan="2">
            <input id="Checkout_radGoogleCheckOut" name="PayOption" value="GoogleCheckout" ##IsGoogleCheckoutChecked##
                type="radio" onclick="javascript: GetPaymentMethod('GoogleCheckout');"><label for="Checkout_radGoogleCheckOut">&nbsp;<b>Google
                    Checkout</b> </label>
                    
        </td>
    </tr>
                                <tr>
        <td align="left" colspan="2">
            <input id="Checkout_radPaypalCheckOut" name="PayOption" value="PaypalCheckout" ##IsPaypalCheckoutChecked##
                type="radio" onclick="javascript: GetPaymentMethod('Paypal');"><label for="Checkout_radPaypalCheckOut">&nbsp;<b>Pay by Paypal
                    </b> </label>
                    
        </td>
    </tr>
                                  <tr>
        <td colspan="2" align="left" style="display:block;">
            <div id="PaypalSection" style="display:none;">
                 <table id="tblPaypal" width="90%">
                <tr>
                    <td width="50%" >
                        <table cellspacing="2" cellpadding="5" style="padding-left:20px;">
                            <tr>
                                <th nowrap colspan="4" align="left">
                                   Pay By Paypal
                                </th>
                            </tr>
                            <tr>
                                <td class="LabelColumn">
                                  Paypal Email:
                                </td>
                                <td class="ControlCell">
                                    ##PaypalEmail##
                                </td>
                               
                            </tr>
                           <!-- <tr>
                                <td class="LabelColumn">
                                  Password:
                                </td>
                                <td class="ControlCell">
                                    ##PaypalPassword##
                                </td>
                               
                            </tr>-->
                        </table>
                    </td>
                </tr>
            </table>

            </div>
             
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left">
            <div id="tdTotalAmount">
                Total Amount:<b>##TotalAmount##</b>
            </div>
        </td>
    </tr>
   
</table>
                    </td>
                </tr>
               
                <tr>
                    <td colspan="2">
                        <div class="summarycontent">
                            <table border="0" cellpadding="0" cellspacing="5">
                                <tr>
                                    <td align="right">
                                        Total Amount:
                                    </td>
                                    <td align="left">
                                        <b>##TotalAmount##</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        if you have any Notes regarding order,type them here:
                                    </td>
                                    <td align="left">
                                        ##Comments##
                                    </td>
                                </tr>
                                <tr>
                                <td align="right">Attach File:</td>
                                <td align="left">##FileUpload##</td>
                            </tr>
                                <tr>
                                    <td align="right">
                                    </td>
                                    <td align="left">
                                        <!--onclick="javascript: return Save();-->
                                        ##SubmitButton##   ##ViewPastOrdersButton##
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>