﻿<div class="row">
    <div class="col-xs-12">
        <ul class="list-inline">
            <li>
                ##OrderPromotionImage##
            </li>
            <li>##OrderPromotionDescriptiob##</li>
        </ul>
    </div>
</div>