﻿<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td>
                <table>
                    <tr>
                        <td colspan="2">
                            <div class="tempMsg" style="display: none;">
                                <span id="msgVote" style="background-color: rgb(254, 254, 227); background-position: initial initial;
                                    background-repeat: initial initial;">Thanks for Reporting !</span> <span id="msgReport"
                                        style="background-color: rgb(254, 254, 227); background-position: initial initial;
                                        background-repeat: initial initial;">Thanks for your vote !</span>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <div class="mainReviewDiv" reviewid="##ReviewId##">
                                <table>
                                    <tr valign="top">
                                        <td width="120px">
                                            <table width="100%" cellspacing="2" cellpadding="2" border="0">
                                                <tr>
                                                    <td align="left">
                                                        <b>##UserName## </b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        ##CreatedDate##
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="dg" width="100%" cellspacing="2" cellpadding="2" border="0">
                                                <tr>
                                                    <td width="100%">
                                                        <h1>
                                                            ##Title##
                                                        </h1>
                                                        <br />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="700px">
                                                        ##Review##
                                                        <br />
                                                        <br />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%">
                                                        <div class="Review_Left" style="float: left;">
                                                            <div style="float: left;">
                                                                ##ReviewHelpfulLabel## ##HelpfulYes## ##HelpfulSaperator## ##HelpfulNo## &nbsp;&nbsp;
                                                            </div>
                                                            <div id="MsgThankForHelp" class="MsgThankForHelp" rid ="##ReviewId##" style="float: left;">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div style="float: left;">
                                                            <div style="float: left;">
                                                             <div class="Helpful_Vote" style ="display:inline-block;">
                                                                <b>##HelpfulVote##</b> of <b>##TotalVote##</b> 
                                                                </div>
                                                                users found this review helpful .
                                                            </div>
                                                        </div>
                                                        <div class="Review_Right" style="float: right;">
                                                            <div id="MsgThankForReporting" class="MsgThankForReporting" rid="##ReviewId##" style="float: left;">
                                                            </div>
                                                            <div class="" style="float: left;">
                                                                ##ReportAbuse##  
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    
                </table>
            </td>
        </tr>
    </tbody>
</table>
