﻿<script src="/Js/select2.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/select2.css" />
<script type="text/javascript">
    function setFilter(filter) {
        if (document.location.href.toLowerCase().indexOf("f~") > 0 || document.location.href.toLowerCase().indexOf("c~") > 0) {
            $("#hdnFilter").val($("#hdnFilter").val() + filter);
            document.location.href = document.location.href + $("#hdnFilter").val();
        }
        else {
            $("#hdnFilter").val($("#hdnFilter").val() + filter);
            document.location.href = document.location.href + "/" + $("#hdnFilter").val();
        }
    }

    function setFilterPrice() {
        var FilterQueryPrice = "f~" + $("#slider-range").slider("values", 0) + "~Min" + "^" + $("#slider-range").slider("values", 1) + "~Max" + ";";

        var txt = decodeURIComponent(document.location.href)
        var re1 = '(f)';
        var re2 = '(~)';
        var re3 = '(\\d+)';
        var re4 = '(~)';
        var re5 = '(Min)';
        var re6 = '(\\^)';
        var re7 = '(\\d+)';
        var re8 = '(~)';
        var re9 = '(Max)';
        var re10 = '(;)';
        var p = new RegExp(re1 + re2 + re3 + re4 + re5 + re6 + re7 + re8 + re9 + re10, ["i"]);
        var m = p.exec(txt);

        if (m != null) {
            document.location.href = (decodeURIComponent(document.location.href).replace(m[0], FilterQueryPrice));
        }
        else {
            setFilter(FilterQueryPrice);
        }
    }

    function removeFilter(filter) {
        document.location.href = rtrim(String(decodeURIComponent(document.location.href)).replace(filter + ";", ""), '/');
    }

    function trim(str, chars) {
        return ltrim(rtrim(str, chars), chars);
    }

    function ltrim(str, chars) {
        chars = chars || "\\s";
        return str.replace(new RegExp("^[" + chars + "]+", "g"), "");
    }

    function rtrim(str, chars) {
        chars = chars || "\\s";
        return str.replace(new RegExp("[" + chars + "]+$", "g"), "");
    }

    function setSliderRange() {

        $("#slider-range").slider(
            {
                range: true,

                min: Number($("#hdnMin").val()),
                max: Number($("#hdnMax").val()),
                values: [Number($("#hdnSelectMin").val()), Number($("#hdnSelectMax").val())],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
        $("#amount").val("Rs." + $("#slider-range").slider("values", 0) +
            " - Rs." + $("#slider-range").slider("values", 1));
    }
</script>
<style type="text/css">
.divProductFiltersContainer .select2-selection{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
</style>
<div class="boxheader">
    Price
</div>
<div class="boxcontent">
    Price -Range :
    <div class="demo">
        <p>
            <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold; background: whiteSmoke;" />
        </p>
        <div id="slider-range"></div>
    </div>
    <input type="button" onclick="javascript:setFilterPrice()" value="Go" />
</div>
<div class="divProductFiltersContainer">
    <table>
        <tr>
            <td>
                <table id="tblFilters">
                    <tr>
                        <##FOR##>
                            <td>##FilterLabel##</td>
                            <td>##FilterControl##</td>
                        <##ENDFOR##>
                    </tr>
                </table>
            </td>
        </tr>
        <tr></tr>
    </table>
</div>

