﻿<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td colspan="2">
                <h1 class="sectionheader">
                    ##Item##
                    <div style="float: right; font-size: 12px;">
                        <div class="AvgRating" style="float: left;">
                            ##AverageRating##
                        </div>
                        <div style="float: right;">
                            <div class="show_rating_count" style="float: left;">
                                ##RatingCount## &nbsp;
                            </div>
                            <div style="float: right;">
                                ##RatingLabel## ##Separator## ##ReviewCount##
                            </div>
                        </div>
                    </div>
                </h1>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            {##ProductImage##}
                                <div class="clearfix" id="content">
                                <div class="clearfix">
                                    <a href="##LargeImagePath##" class="jqzoom" style="display: block; margin: auto;"
                                        rel='gal1' title="##Item##">
                                        <img src="##ThumbImagePath##" class="resizeme" title="Zoom">
                                    </a>
                                </div>
                                <br />
                                <div class="clearfixthumb">
                                    <ul id="thumblist" class="clearfixthumb">
                                        <##FOR##>
                                        <li class="imagePadding"><a class="##ZoomActive##" href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '##ThumbImagePath##',largeimage: '##LargeImagePath##'}">
                                            <img src='##ThumbImagePath##' class="resizethumb">
                                        </a></li>
                                        <##ENDFOR##>
                                    </ul>
                                </div>
                            </div>
                            {/##ProductImage##}
                            {##ProductImageNotAvailable##}
                                <div>
                                   <img src ="/Images/DefaultProduct.png" alt = "Image Not Found" />
                                </div>
                            {/##ProductImageNotAvailable##}
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td>
                                        <div style="float: right">
                                            ##RateLabel##
                                        </div>
                                    </td>
                                    <td>
                                        <div style="float: left">
                                            ##WriteRating##
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <a href="/WriteReview.aspx?ItemId=##ItemId##&CategoryName=##CategoryName##&ProductName=##ProductName##">
                                Write a review</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <table>
                    <tbody>
                        <tr id="trPrice" runat="server">
                            <td class="Product_Label">
                                Price :
                            </td>
                            <td class="Product_Value">
                                ##OfferPrice## ##ItemPrice##
                            </td>
                        </tr>
                        <tr id="tr1" runat="server">
                            <td class="Product_Label">
                                SKU :
                            </td>
                            <td class="Product_Value">
                                ##SKU##
                            </td>
                        </tr>
                        <tr id="tr3" runat="server">
                            <td class="Product_Label">
                                Manufacturer :
                            </td>
                            <td class="Product_Value">
                                ##Manufacturer##
                            </td>
                        </tr>
                        <tr id="tr3" runat="server">
                            <td class="Product_Label">
                                UPC :
                            </td>
                            <td class="Product_Value">
                                ##UPCCode##
                            </td>
                        </tr>
                        
                        <tr id="tr4" runat="server">
                            <td class="Product_Label">
                                Shipping Method :
                            </td>
                            <td class="Product_Value">
                                ##Shipping##
                            </td>
                        </tr>
                        <tr id="tr5" runat="server">
                            <td class="Product_Label">
                                Availability :
                            </td>
                            <td class="Product_Value">
                                ##Availability##
                            </td>
                        </tr>
                        <tr id="tr6" runat="server">
                            <td class="Product_Label">
                                Current Stock :
                            </td>
                            <td class="Product_Value">
                                ##CurrentStock##
                            </td>
                        </tr>
                        <tr>
                            <td class="Product_Label">
                                Quantity:
                            </td>
                            <td>
                                ##Quantity## ##ItemUOM##
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                ##ChildKits##
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                ##AddToCartLink##
                            </td>
                        </tr>
                        <tr id="trList" runat="server" visible="false">
                            <td class="Product_Label">
                            </td>
                            <td>
                                <a onclick="javascript:__doPostBack('AddToList','');">Add to List </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                ##ShortDescription##
            </td>
        </tr>
        <tr>
            <td colspan="2">
                ##LongDescription##
                {##AvailabilityGrid##}
                <table class="table table-responsive table-bordered">
                    <tr>
                        <th>
                            Location
                        </th>
                        <th>
                            Qty on hand
                        </th>
                        <th>
                            Qty on order
                        </th>
                        <th>
                            Order Date
                        </th>
                        <th>
                            Lead Time (Days)
                        </th>
                        <th>
                            Expected Delivery
                        </th>
                    </tr>
                    <##FOR_AVAILABLEGRID##>
                        <tr>
                            <td>
                                ##Avail_Location##
                            </td>
                            <td>
                                ##Avail_QtyOnHand##
                            </td>
                            <td>
                                ##Avail_QtyOnOrder##
                            </td>
                            <td>
                                ##Avail_OrderDate##
                            </td>
                            <td>
                                ##Avail_LeadTime##
                            </td>
                            <td>
                                ##Avail_ExpectedDelivery##
                            </td>
                        </tr>
                   <##ENDFOR##>

                </table>
                {/##AvailabilityGrid##}

            </td>
        </tr>
        <tr>
            <td colspan="2">
                   {##ProductDocument##}
                                <div>
                                    <ul style="list-style:none;">
                                        <##FOR_Document##>
                                        <li style=" background:url('##DocumentImage##') no-repeat;line-height: 32px;vertical-align: middle;padding-left:36px;" >
                                            <a href ="##DocumentPath##"  target="_blank" >##DocumentName##</a>
                                        </li>
                                        <##ENDFOR##>
                                    </ul>
                                </div>
                   {/##ProductDocument##}
            </td>
        </tr>
        <tr>
            <td colspan="2">
            </td>
        </tr>
    </tbody>
</table>
<br />
{##OptionsSection##}
<table id="tblOptSelection">
    <tr>
        <td colspan="2">
            <b>Options And Accessories</b>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td class="LabelColumn" rowspan="1">
            <img alt="" borderwidth="1" width="100" bordercolor="black" height="100" src="##Opt_ItemPath##"
                onclick="return OpenImage('##Opt_ItemCode##');" style="cursor: pointer;" />
        </td>
        <td>
            <table id="Table2" runat="server">
                <tr>
                    <td class="LabelColumn" valign="top">
                        Item ##Opt_Item##
                    </td>
                    <td style="color: orange">
                        ##Opt_Stock##
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Price ##Opt_ItemPrice##
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="white-space: nowrap">
                        ##Opt_ItemAttr##
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Units ##Opt_Quantity## ##Opt_AddToCartLink##
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        ##Opt_Description##
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{/##OptionsSection##}