﻿<script language="javascript" type="text/javascript">

    function OpenModel(ModelType) {
        if (ModelType == 1) //For Pre-Up Sell Dialog
        {
            $("#PreModal_dialog").dialog({
                width: 800,
                height: 300,
                modal: true,
                title: "Pre-Up Sell Items",
                buttons: {
                    "Add To Cart": AddToCart(ModelType),
                    Cancel: function () {
                        dialog.dialog("close");
                    }
                },
                close: function () {
                    //form[0].reset();
                    //allFields.removeClass("ui-state-error");
                }
            });
        }
        else if (ModelType == 1) //For Post-Up Sell Dialog
        {
            $("#PostModal_dialog").dialog({
                width: 800,
                height: 300,
                modal: true,
                title: "Post-Up Sell Items",
                buttons: {
                    "Place Order": AddToCart(ModelType),
                    Cancel: function () {
                        dialog.dialog("close");
                    }
                },
                close: function () {
                    //form[0].reset();
                    //allFields.removeClass("ui-state-error");
                }
            });
        }
        else {
            console.log("OpenModel : Parameter is not passed for ModelType.")
        }
    }

    function AddToCart(ModelType) {
        var ItemIds;
        ItemIds = '';
        if (ModelType == 1) {
            $('#PreModal_dialog table').find('tr').each(function () {
                var row = $(this);
                if (row.find('#chkSelect') != null && row.find('#chkSelect') != 'undefined' && row.find('#chkSelect').is(':checked')) {
                    if (row.find('#hdnItemID') != null && row.find('#hdnItemID') != 'undefined' && row.find('#hdnItemID').val() != 'undefined') {
                        ItemIds = row.find('#hdnItemID').val() + ',' + ItemIds;
                    }
                }
            });
            ItemIds = ItemIds.trim(',');
            console.log(ItemIds);
            $('#hdnPreItemIds').val(ItemIds);
            $("#PreModal_dialog").dialog("close");
            //alert("Item is Added.");
            var Eventtarget = $("#AddToCartLink").attr("name");
            var EventArgument = $('#hdnPreItemIds').val();
        }
        else if (ModelType == 2) {
            $('#PostModal_dialog table').find('tr').each(function () {
                var row = $(this);
                if (row.find('#chkSelect') != null && row.find('#chkSelect') != 'undefined' && row.find('#chkSelect').is(':checked')) {
                    if (row.find('#hdnPostItemID') != null && row.find('#hdnPostItemID') != 'undefined' && row.find('#hdnPostItemID').val() != 'undefined') {
                        ItemIds = row.find('#hdnPostItemID').val() + ',' + ItemIds;
                    }
                }
            });
            ItemIds = ItemIds.trim(',');
            console.log(ItemIds);
            $('#hdnPostItemIds').val(ItemIds);
            $("#PostModal_dialog").dialog("close");
            //alert("Item is Added.");
            var Eventtarget = $("#AddToCartLink").attr("name");
            var EventArgument = $('#hdnPostItemIds').val();
        }
        else {
            console.log("AddToCart : Parameter is not passed for ModelType.")
        }

        javascript: __doPostBack(Eventtarget, EventArgument);
    }

    function SelectAll(headerCheckBox, ItemCheckboxClass) {
        $("table tr ." + ItemCheckboxClass).each(function () {
            $(this).prop('checked', $('table tr #' + headerCheckBox).is(':checked'))
        });
    }

    function ResetAll(type) {
        if (type == 1) {
            $('#hdnPreItemIds').val('');
        }
        else if (type == 2) {
            $('#hdnPostItemIds').val('');
        }
        else {
            console.log("ResetAll : Parameter is not passed for ModelType.")
        }
    }
</script>
<div style="width: 650px; display: block;">
    <div class="sectionheader">
        Similar Items
    </div>
    <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
    <div style="width: 200px; height: 280px; float: left; border: solid 1px gray; margin: 2px; padding: 2px; display: block;"
        class="##RowClass##">
        <div class="product_image">
            <img src='##ItemImagePathName##' alt='##ItemName##' title='##ItemName##' height="150"
                width="130" />
        </div>
        <div class="product_title" title='##ItemName##'>
            <a href='##ItemLink##'>##ItemShortName##</a>
        </div>
        <div class="price">
            Price : ##OfferPrice## ##ProductPrice##
        </div>
        <div class="Product_Value">
            SKU : ##SKU##
        </div>
        <div class="Product_Value">
            Manufacturer : ##Manufacturer##
        </div>
        <div class="Desc">
            ##ItemDesc##
        </div>
        <div>
            <input id="AddToCartLink" name="AddToCart" type="button" onclick="javascript: __doPostBack('AddToCart', '##ItemID##');"
                class="addtocart" style="border: 0;" />
        </div>
    </div>
    <##ENDFOR##>
    <br />
    <div id="PreModal_dialog" style="display: none;">
        <input type="hidden" id="hdnPreItemIds" />
        <div>
            <span style="font-size: medium;"><b>Based on your selection you might also want to consider adding the following to your purchase.</b></span>
        </div>
        <table style="width: 100%">
            <tr>
                <th>
                    <input type="checkbox" id="chkAll" />
                </th>
                <th><b>Image</b></th>
                <th><b>Item Name</b></th>
                <th><b>Why you need this item:</b></th>
                <th><b>Price/Unit</b></th>
            </tr>
            <##FORPRE(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
            <tr>
                <td>
                    <input type="checkbox" id="chkSelect" />
                    <input type="hidden" id="hdnItemID" value="##ItemID##" />
                </td>
                <td>
                    <div class="product_image">
                        <img src='##ItemImagePathName##' alt='##ItemName##' title='##ItemName##' height="150"
                            width="130" />
                    </div>
                </td>
                <td>
                    <div class="product_title" title='##ItemName##'>
                        <a href='##ItemLink##'>##ItemShortName##</a>
                    </div>
                </td>
                <td>
                    <div class="Desc">
                        ##ItemDesc##
                    </div>
                </td>
                <td>
                    <div class="price">
                        Price : ##OfferPrice## ##ProductPrice##
                    </div>
                </td>
            </tr>
            <##ENDFORPRE##>
        </table>
    </div>
    <br />
    <div id="PostModal_dialog" style="display: none;">
        <input type="hidden" id="hdnPostItemIds" />
        <div>
            <span style="font-size: medium;"><b>The following products have been specifically selected to compliment your order. 
                Buy now and get an additional ##PostSellDiscount##% off (applied on check-out).This is a one time offer only available because of the items you just purchased.</b></span>
        </div>
        <table style="width: 100%">
            <tr>
                <th>
                    <input type="checkbox" id="chkAll" />
                </th>
                <th><b>Image</b></th>
                <th><b>Item Name</b></th>
                <th><b>Why you need this item:</b></th>
                <th><b>Price/Unit</b></th>
            </tr>
            <##FORPOST(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
            <tr>
                <td>
                    <input type="checkbox" id="chkSelect" />
                    <input type="hidden" id="hdnPostItemID" value="##ItemID##" />
                </td>
                <td>
                    <div class="product_image">
                        <img src='##ItemImagePathName##' alt='##ItemName##' title='##ItemName##' height="150"
                            width="130" />
                    </div>
                </td>
                <td>
                    <div class="product_title" title='##ItemName##'>
                        <a href='##ItemLink##'>##ItemShortName##</a>
                    </div>
                </td>
                <td>
                    <div class="Desc">
                        ##ItemDesc##
                    </div>
                </td>
                <td>
                    <div class="price">
                        Price : ##OfferPrice## ##ProductPrice##
                    </div>
                </td>
            </tr>
            <##ENDFORPOST##>
            <tr>
                <td colspan="5">
                    <div>
                        <input type="hidden" id="hdnPostItemIDs" runat="server" />
                        <input id="btnAddPostUp" name="btnAddPostUp" type="button" onclick="javascript: __doPostBack('AddPostUpItemsToCart');"
                            class="addtocart" style="border: 0;" />
                        <input type="button" value="Cancel" />
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
