﻿<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2">
            <div class="sectionheader">
                Reset Password
            </div>
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            New Password
        </td>
        <td class="ControlCell">
            ##NewPassword##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Confirm Password
        </td>
        <td class="ControlCell">
            ##NewPasswordConfirm##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
        </td>
        <td class="ControlCell">
            ##SaveButton##
        </td>
    </tr>
</table>
