﻿
<div class="col-md-8">
    ##TopMenuDasboard##
    <table cellspacing="0" cellpadding="0" width="100%" border="0">
        <tr>
            <td>
                <div class="sectionheader">
                    Orders
                </div>
            </td>
        </tr>
        <tr>
            <td class="LabelColumn" align="right">
                No of Orders:##NoOfOrdersLabel##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn" align="right">
                ##OrdersType##
            </td>
        </tr>
        <tr>
            <td class="Grid1">
                <table class="Grid" rules="all" id="tblOrders" style="border-collapse: collapse;"
                       border="1" cellspacing="0" width="100%">
                    <tbody>
                        <tr class="GridHeader">
                            <td>
                                Order Name
                            </td>
                            <td>
                                Release Date
                            </td>
                            <td>
                                Payment Method
                            </td>
                            <td>
                                Total Amount
                            </td>
                            <td>
                                Amount Due
                            </td>
                            <td>
                                Created Date
                            </td>
                            <td>
                                Due Date
                            </td>

                            <td>
                                Invoice,Quote...
                            </td>
                            <td>
                                Shipping(Delivery)
                            </td>
                            <td>
                                Tracking #s
                            </td>
                            <td>
                                Order Status
                            </td>
                            <td>
                                Order Status
                            </td>
                            <td>
                            </td>
                        </tr>
                       <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                           <tr class="##RowClass##">
                               <td>
                                   <a href="javascript:OpenBizInvoice(##OppID##,##RefType##,##PrintMode##)">##OrderName##</a>
                               </td>
                               <td>
                                   ##ReleaseDate##
                               </td>
                               <td>
                                   ##PaymentMethod##
                               </td>
                               <td>
                                   ##GrandTotal##
                               </td>
                               <td>
                                   ##BalanceDue##
                               </td>
                               <td>
                                   ##CreatedDate##
                               </td>
                               <td>
                                   ##DueDate##
                               </td>
                               <td>
                                   ##BizDocs##
                               </td>
                               <td>
                                   ##ShipmentDelivery##
                               </td>
                               <td>
                                   <a href="#" class="##hidetrackButton##" onclick="OpenShippingStatus('##ShippingCompanyId##', '##ShipmentNo##', '##ismoretrackingNo##', '##OppID##', '##OppBizDocId##', '##ShippingReportId##')">Track</a>
                               </td>
                               <td>
                                   ##TrackingIds##
                               </td>
                               <td>
                                   ##OrderStatus##
                               </td>
                               <td>
                                   ##CustomerPO##
                               </td>
                               <td>
                                   ##PayNow##
                                   ##Return##
                               </td>
                           </tr>
                            <##ENDFOR##>
                    </tbody>
                </table>
                ##PagerControl##
            </td>
        </tr>
    </table>
</div>
<div class="col-md-4">
    {##SummaryTable##}
    <table align="right">
        <tr>
            <td>Credit Limit (A) : </td>
            <td class="ControlCell">
                ##CreditLimit##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                Balance Due :
            </td>
            <td class="ControlCell">
                ##TotalBalanceDueLabel##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                Remaining Credit :
            </td>
            <td class="ControlCell">
                ##TotalRemainingCreditLabel##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                Amount Past Due :
            </td>
            <td class="ControlCell">
                ##TotalAmountPastDueLabel##
            </td>
        </tr>
        <tr>
            <td class="LabelColumn">
                A/R Statement Download :
            </td>
            <td class="ControlCell">
                <a href="javascript:void(0)" onclick="OpenCustomerStatement()"> <img src="../images/GLReport.png" /></a>
            </td>
        </tr>
    </table>
    {/##SummaryTable##}
</div>