﻿
<div class="col-md-8">
    <h1>Return Serial/Lot#s</h1>
    <table cellspacing="0" cellpadding="0" width="100%" border="0">
        <tr>
            <td class="LabelColumn" align="right">
                ##RMASaveButton## ##RMACancelButton## ##hiddenItemstoReturn##
            </td>
        </tr>
        <tr>
            <td class="Grid1">
                <table class="Grid" rules="all" id="tblOrders" style="border-collapse: collapse;"
                       border="1" cellspacing="0" >
                    <tbody>
                        <tr class="GridHeader">
                            <td>
                              Lot #
                            </td>
                            <td>
                               Available Qty
                            </td>
                            <td>
                                Used Qty
                            </td>
                        </tr>
                       <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                            <tr class="##RowClass##">
                                <td>
                                   ##LotName##
                                </td>
                                <td>
                                    ##AvailableQty##
                                </td>
                                <td>
                                    ##UsedQty##
                                </td>
                            </tr>
                            <##ENDFOR##>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
