﻿<table cellspacing="1" cellpadding="2" width="100%">
    <tr>
        <td>
            <div class="sectionheader">
                Choose a shipping speed
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table class="Grid" rules="all" id="tblCart" style="border-collapse: collapse;" border="1"
                cellspacing="0" width="100%">
                <tbody>
                    <tr class="GridHeader">
                        <td>
                            Item
                        </td>
                        <td>
                            Units
                        </td>
                        <td>
                            Price/Unit
                        </td>
                        <td>
                            Discount
                        </td>
                        <td>
                            Shipping Method
                        </td>
                        <td>
                            Total
                        </td>
                        <td>
                        </td>
                    </tr>
                    <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
                    <tr class="##RowClass##">
                        <td>
                            <a href="##ItemURL##">##ItemName##</a>
                        </td>
                        <td>
                            ##ItemUnits##
                        </td>
                        <td>
                            ##ItemPricePerUnit##
                        </td>
                        <td>
                            ##Discount##
                        </td>
                        <td>
                            ##ShippingMethodName## ##ShippingAmount##
                        </td>
                        <td>
                            ##TotalAmount##
                        </td>
                        <td>
                            ##DeleteItemButton##
                        </td>
                    </tr>
                    <##ENDFOR##>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td valign="top">
                        <table align="left" width="100%">
                            <tr>
                                <td>
                                    <br />
                                    ##SaveShippingOptionsButton##
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
