﻿<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
<style>
    .panel table tr td{
        border:0px !important;
        font-size:13px;
    }
</style>
<div class="container" style="margin-top:10px">
    <div class="panel panel-default">
        <div class="panel-heading">Tracking Information</div>
        <div class="panel-body">
            <table class="table table-responsive" style="border:0px">
                ##ErrorMessage##
                <tr>
                    <td>Status</td>
                    <td>
                        <label>  ##Status##</label> 
                    </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>
                        <label>##Location##</label> 
                    </td>
                </tr>
                <tr>
                    <td>Ship Carrier</td>
                    <td>
                        <label> ##ShipCarrier##</label> 
                    </td>
                </tr>
                <tr>
                    <td>Tracking ID</td>
                    <td>
                        <label>##TrackingId##</label> ##moretrackingno##
                    </td>
                </tr>
                <tr>
                    <td>Latest Event</td>
                    <td>
                        <label> ##LastEvent##</label> 
                    </td>
                </tr>
                <tr>
                    <td>Shipment Updates via Text</td>
                    <td>
                        <label>##ShippingStatusUpdateViaText##</label> 
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>