﻿{##ShippingPromotionDescription##}
<div class="row">
    <div class="col-xs-12">
        <ul class="list-inline">
            <li>
                <img src="../images/ShippingBox.png" height="30" alt="" />
            </li>
            <li>##ShippingRuleDesc##
            </li>
            <li>##ShippingExceptionLink##
            </li>
            <li>##ChangeShipToButton##
            </li>
        </ul>
    </div>
</div>
{/##ShippingPromotionDescription##}
{##ShippingPromotionChangeZip##}
<div class="row">
    <div class="col-xs-12">
        <ul class="list-inline">
            <li>Enter your zip/postal code
            </li>
            <li>##ZipCodeTextBox##
            </li>
            <li>Select your County & State/Province from this list
            </li>
            <li>
                <ul class="list-inline">
                    <li>##CountryDropDown##</li>
                    <li>##StateDropDown##</li>
                </ul>
            </li>
            <li>##SetZipButton##
            </li>
        </ul>
    </div>
</div>
{/##ShippingPromotionChangeZip##}

<div id="##ShippingExceptionModelID##" class="modal fade modal-spexception" role="dialog">
    <div class="modal-dialog modal-dialog-spexception" style="width: 70%">
        <!-- Modal content-->
        <div class="modal-content modal-content-spexception">
            <div class="modal-header modal-content-spexception">
                <div class="pull-left">
                    Shipping Exception
                </div>
                <div class="pull-right">
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                </div>
            </div>
            <div class="modal-body modal-body-spexception">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-bordered table-striped" id="tblBasket">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Shipping Charge</th>
                                </tr>
                            </thead>
                            <##FORSPEXCEPTION##>
                            <tr>
                                <td>
                                    ##ItemName##
                                </td>
                                <td>
                                    ##ShippingCharge##
                                </td>
                            </tr>
                            <##ENDFORSPEXCEPTION##>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
