﻿<script language="javascript" type="text/javascript">

    function ValidateInput() {
        if (RequiredField('txtFirstName', 'First Name', 'Please enter First Name') == false) { return false; }
        if (RequiredField('txtLastName', 'Last Name', 'Please enter Last Name') == false) { return false; }
        if (RequiredField('txtEmail', 'Email', 'Please enter email') == false) { return false; }
        if (CheckMail('txtEmail', 'Contact Email', 'Please enter valid Email') == false) { return false; }
        if (RequiredField('txtContactStreet', 'Street', 'Please enter address') == false) { return false; }
        if (RequiredField('txtContactCity', 'city', 'Please enter city') == false) { return false; }
        if (RequiredFieldDropDown('ddlContactState', 'State', 'Please enter state') == false) { return false; }
        if (RequiredFieldDropDown('ddlContactCountry', 'Country', 'Please enter country') == false) { return false; }
        if (RequiredField('txtContactPostalCode', 'Postal Code', 'Please enter postal code') == false) { return false; }
        if (RequiredField('txtPassword', 'Password', 'Please enter password') == false) { return false; }
        
        var txtPassword = $Search("txtPassword")
        if (txtPassword != null){
            var pattern = /^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}$/;
            if (!pattern.test(trim(txtPassword.value))) {
                alert("Password must have at least 8 characters and one upper case, lower case and special character (e.g. ! @ # $ & *).");
                return false;
            }
        }

        if (RequiredField('txtPasswordConfirm', 'Confirm Password', 'Please enter confirm password') == false) { return false; }
        if (CompareField('txtPassword', 'txtPasswordConfirm', 'Password and confirm password do not match.') == false) { return false; }

        if ($("[id$=hdnIsSmartyStreetsEnabled]") != null && $("[id$=hdnIsSmartyStreetsEnabled]").val() == "1" && $("[id$=hdnSmartyStreetsAPIKeys]") != null && $("[id$=hdnSmartyStreetsAPIKeys]").val() != "") {
            var smartystreetsKey = document.getElementById("hdnSmartyStreetsAPIKeys").value;
            var selectBillCountryoption = document.getElementById("ddlContactCountry");
            var selectBillStateoption = document.getElementById("ddlContactState");

            if (IsValidAddress(selectBillCountryoption.options[selectBillCountryoption.selectedIndex].text, document.getElementById("txtContactStreet").value, document.getElementById("txtContactPostalCode").value, document.getElementById("txtContactCity").value, selectBillStateoption.options[selectBillStateoption.selectedIndex].text, type, smartystreetsKey) == false) {
                alert("Address is not valid.");
                return false; 
            }
        }
        return true;
    }

</script>
<table width="100%" border="0" cellpadding="0" cellspacing="2">
    <tr>
        <td colspan="2">
            <div class="sectionheader">
                Signup
            </div>
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            First Name
        </td>
        <td class="ControlCell">
            ##FirstName##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Last Name
        </td>
        <td class="ControlCell">
            ##LastName##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Email
        </td>
        <td class="ControlCell">
            ##ContactEmail##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Ship To State
        </td>
        <td class="ControlCell">
            ##ShipState##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Bill To City
        </td>
        <td class="ControlCell">
            ##BillToCity##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Bill To Country
        </td>
        <td class="ControlCell">
            ##BillCountry##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Bill to Postal Code
        </td>
        <td class="ControlCell">
            ##BilltoPostalCode##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Bill To State
        </td>
        <td class="ControlCell">
            ##BillState##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Bill To Street
        </td>
        <td class="ControlCell">
            ##BillToStreet##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Category
        </td>
        <td class="ControlCell">
            ##ContactCategory##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Cell Phone
        </td>
        <td class="ControlCell">
            ##ContactCellPhone##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact City
        </td>
        <td class="ControlCell">
            ##ContactCity##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Country
        </td>
        <td class="ControlCell">
            ##ContactCountry##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Fax
        </td>
        <td class="ControlCell">
            ##ContactFax##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Home Phone
        </td>
        <td class="ControlCell">
            ##ContactHomePhone##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Phone
        </td>
        <td class="ControlCell">
            ##ContactPhone##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Phone Ext
        </td>
        <td class="ControlCell">
            ##ContactPhoneExt##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Position
        </td>
        <td class="ControlCell">
            ##ContactPosition##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Postal Code
        </td>
        <td class="ControlCell">
            ##ContactPostalCode##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact State
        </td>
        <td class="ControlCell">
            ##ContactState##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Status
        </td>
        <td class="ControlCell">
            ##ContactStatus##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Street
        </td>
        <td class="ControlCell">
            ##ContactStreet##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Contact Team
        </td>
        <td class="ControlCell">
            ##ContactTeam##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Department Name
        </td>
        <td class="ControlCell">
            ##DepartmentName##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Follow-Up Status
        </td>
        <td class="ControlCell">
            ##Follow-UpStatus##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Industry
        </td>
        <td class="ControlCell">
            ##Industry##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            How did you hear about us?
        </td>
        <td class="ControlCell">
            ##InfoSource##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            No of Employees
        </td>
        <td class="ControlCell">
            ##NoofEmployees##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Organization Annual Revenue
        </td>
        <td class="ControlCell">
            ##OrganizationAnnualRevenue##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Organization Campaign
        </td>
        <td class="ControlCell">
            ##OrganizationCampaign##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Organization Comments
        </td>
        <td class="ControlCell">
            ##OrganizationComments##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Organization Credit Limit
        </td>
        <td class="ControlCell">
            ##OrganizationCreditLimit##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Organization Fax
        </td>
        <td class="ControlCell">
            ##OrganizationFax##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Organization Name
        </td>
        <td class="ControlCell">
            ##OrganizationName##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Organization Phone
        </td>
        <td class="ControlCell">
            ##OrganizationPhone##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Organization Profile
        </td>
        <td class="ControlCell">
            ##OrganizationProfile##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Organization Rating
        </td>
        <td class="ControlCell">
            ##OrganizationRating##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Organization Status
        </td>
        <td class="ControlCell">
            ##OrganizationStatus##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Organization Website
        </td>
        <td class="ControlCell">
            ##OrganizationWebsite##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Relationship
        </td>
        <td class="ControlCell">
            ##Relationship##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Ship To City
        </td>
        <td class="ControlCell">
            ##ShipToCity##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Ship To Country
        </td>
        <td class="ControlCell">
            ##ShipCountry##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Ship to Postal Code
        </td>
        <td class="ControlCell">
            ##ShiptoPostalCode##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Ship To Street
        </td>
        <td class="ControlCell">
            ##ShipToStreet##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Shipping Address same as Billing Address
        </td>
        <td class="ControlCell">
            ##ShippingAddresssameasBillingAddress##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Territory
        </td>
        <td class="ControlCell">
            ##Territory##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Password
        </td>
        <td class="ControlCell">
            ##Password##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Confirm Password
        </td>
        <td class="ControlCell">
            ##PasswordConfirm##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
            Subscribe Newsletter
        </td>
        <td class="ControlCell">
            ##bitOptOut##
        </td>
    </tr>
    <tr>
        <td class="LabelColumn">
        </td>
        <td class="ControlCell">
            ##SubmitButton##&nbsp; ##LoginButton##
        </td>
    </tr>
</table>
