﻿<div class="boxheader">
    Subscribe Newsletter</div>
<div class="boxcontent">
    <table>
        <tr>
            <td colspan="3" align="left">
                ##SubscribeRadioButtonList##
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                ##EmailTextBox##
            </td>
            <td>
                ##SubmitButton##
            </td>
        </tr>
    </table>
</div>
