﻿<table cellspacing="1" cellpadding="2" width="100%">
    <tr>
        <td>
            <div class="sectionheader">
                Thank You.Your Order has been placed successfully .
            </div>
        </td>
    </tr>
    <tr>
        <td>You should receive a copy of invoice on E-mail address <b>##Email##</b>
        </td>
    </tr>
    <tr>
        <td>
            <a href="javascript:void(0);" onclick="OpenBizInvoice('##OppId##','##RefType##','##PrintMode##')">Click here to view your order</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Orders.aspx?flag=true">You can track your order here.</a>
        </td>
    </tr>
</table>
<div class="overlaypop" id="dialogSellPopup" style="display:none;">
    <div class="overlaycontentpop">
        <div style="float: right">
            <button type="button" class="close" data-dismiss="modal" onclick="$('#dialogSellPopup').hide();">Close</button>
        </div>
        <h3>
            ##PostSellDiscount##
        </h3>
        <table class="Grid" id="tblCart" border="1" style="width:100%">
            <tr class="GridHeader">
                <td>

                </td>
                <td>
                    Item Name
                </td>
                <td>
                    Model ID
                </td>
                <td>
                    Units
                </td>
                <td>
                    List/Unit
                </td>
                <td>
                    Price For You/Unit
                </td>
                <td>
                </td>
                <td style="display:none">
                    Item ID
                </td>
            </tr>
            <##FOR(ItemClass=GridItem;AlternatingItemClass=GridAltItem;)##>
            <tr class="##RowClass##">
                <td>
                    <img src="##ItemImage##" style="height:60px;" />
                </td>
                <td>
                    <a href="##ItemURL##" target="_blank">##ItemName##</a>
                </td>
                <td>
                    ##ItemModelID##
                </td>
                <td>
                    ##ItemUnitsTextBox##
                </td>
                <td>
                    ##ItemPricePerUnit##
                </td>
                <td>
                    ##PriceForYou##
                </td>
                <td>
                    ##AddToCartButton##
                </td>
                <td style="display:none">
                    ##ItemID##
                </td>  
                
            </tr>
            <##ENDFOR##>
        </table>
    </div>
</div>
