﻿{##WriteReviewSection##}
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td>
                <table width="70%" cellspacing="2" cellpadding="2" border="0">
                    <tr>
                        <td style="float: left;" width="500px">
                            <h1>
                                Write a Review for ##ProductName##.
                            </h1>
                        </td>
                        <td style="float: right;" width="100px">
                            <a href="/ReadReview.aspx?ItemID=##ItemId##">##ReadReviewLable## <b>##ReadReviewCount##</b></a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>
                                All Fields having <font color="red">*</font> are mendatory .
                            </h4>
                            <br />
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="display:none;">
                                   <span id="msg_title"><b>Review Title</b> cannot be empty.</span>
                                   <span id="msg_rating">Please give rating to product</span>
                                   <span id="msg_review">    <b>Your Review</b> cannot be empty. Please make sure your review contains at least
                                        200 characters.
                                  </span>
                                  <span id="msg_review_lenght">Please make sure your review contains at least
                                        200 characters.
                                  </span>
                                  <span id="error_msg_title">
                                        <font size="2">The following errors have occurred:</font>
                                  </span>
                                  
                            </div>
                            <div id="review_help_message" class="error-msg" style="display:none;color:#B00;padding:5px 10px;background:#F6E0E0;border:1px solid #B00;">
                                
                           
                            </div>

                            ##CaptchaMessage##
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="70%" cellspacing="15px" cellpadding="2px" style="background-color: #F5F5F5;"
                    border="0">
                    <tr>
                        <td align="right" width="110px">
                            <br />
                        </td>
                        <td align="left" valign="top">
                            <br />
                        </td>
                    </tr>
                    <tr style="margin: 10px;">
                        <td align="right" width="100px" valign="top">
                            <h3>
                                Review Title <font color="red">* </font>:
                            </h3>
                              
                        </td>
                        <td align="left">
                               ##ReviewTitle##
                            <br />
                               (Maximum 50 words.)
                        </td>
                    </tr>
                    <tr style="margin: 5px;">
                        <td align="right" width="110px" valign="top">
                            <h3>
                                Your review <font color="red">* </font>:
                            </h3>
                              
                        </td>
                        <td align="left">
                                ##Review##
                            <br />
                               (Please make sure your review contains atleast 100 characters.)
                        </td>
                    </tr>
                    <tr style="margin: 5px;">
                        <td align="right" width="110px" valign="top">
                            <h3>
                                Your Rating <font color="red">* </font>:
                            </h3>
                              
                        </td>
                        <td align="left" valign="top">
                            <div style="margin-left: 10px">
                                ##WriteRating##
                            </div>
                            <br />
                              (Click to rate on scale of 1-5)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="110px" valign="top">
                            <h3>
                                Email Me :
                            </h3>
                              
                        </td>
                        <td align="left" valign="top">
                               ##ReviewEmail##
                            <br />
                               (Email me when someone review this product .)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="110px" valign="top">
                        </td>
                        <td align="left" valign="top">
                               ##Captcha##
                        </td>
                    </tr>
                    
                    <tr>
                        <td align="right" width="110px">
                        </td>
                        <td align="left" valign="top">
                            <br />
                               ##Submit##  
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="110px">
                            <br />
                        </td>
                        <td align="left" valign="top">
                            <br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{/##WriteReviewSection##} {##ThankYouForReviewSection##}
<table width="70%" cellspacing="0" cellpadding="0" style="background-color: #F5F5F5;">
    <tr>
        <td align="left" width="110px">
            <div style="padding: 10px 0px 10px 30px;border: 1px solid #D8D8D8;">
                <div>
                    Thanks, your review was posted successfully. It might take some time to appear.
                </div>
                <div>
                    Please note that all reviews are moderated for quality and relevance.

                    <a href="##ProductUrl##">Back to Product.</a>
                </div>
            </div>
        </td>
    </tr>
</table>
{/##ThankYouForReviewSection##}