﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="BizMaster.master.vb" Inherits=".BizMaster" %>

<%@ Register TagPrefix="menu1" TagName="webmenu" Src="../include/webmenu.ascx" %>
<%@ Register TagPrefix="Biz" TagName="SimpleSearch" Src="../include/SimpleSearchControl.ascx" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/ico" href="~/images/favicon.ico">

    <!-- Style -->
    <link rel="stylesheet" href="~/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="~/CSS/font-awesome.min.css" />
    <link rel="stylesheet" href="~/CSS/biz.css" />
    <link rel="stylesheet" href="~/CSS/biz-theme.css" />
    <link rel="stylesheet" href="~/CSS/jquery.smartmenus.bootstrap.css">
    <link rel="stylesheet" href="~/CSS/jquery-ui.css">
    <link rel="stylesheet" href="~/CSS/GridColorScheme.css" />
    <link rel="stylesheet" href="~/CSS/jscal2.css" />
    <link href="~/CSS/mediaPort.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/CSS/select2.css" />
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/jquery-1.9.1.min.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/bootstrap.min.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/biz.min.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/jquery.smartmenus.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/jquery.slimscroll.min.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/jquery-ui.min.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/jquery.jeditable.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/CommonInlineEdit.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/comboClientSide.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/jquery.validate.min.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/jquery.validate.custom-script.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/jquery.metadata.min.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/jscal2.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/en.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/Common.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/javascript/CustomFieldValidation.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/dateFormat.js")%>'></script>
    <script type="text/javascript" src='<%# ResolveUrl("~/JavaScript/AlertPanel.js")%>'></script>
    <script type='text/javascript' src="<%# ResolveUrl("~/JavaScript/select2.js")%>"></script>

    <%--<script type="text/javascript" src='<%# ResolveUrl("~/Scripts/jquery.signalR-1.1.4.min.js")%>'></script>
    <script src="http://biztest.bizautomation.com/signalr/hubs" type="text/javascript"></script>--%>


    <script type="text/javascript">
        var NewOrderPopup;
        function OpenHelpPopUp(contentKey) {
            window.open('../common/frmHelp.aspx?contentKey=' + contentKey+'', "", "toolbar = no, titlebar = no, left = 100, top = 100, width = 1200, height = 645, scrollbars = yes, resizable = yes");


            return false;
        }
        function OpenPopUp(url) {
            var Oper;
            if (url.split('?').length != 1) {
                Oper = '&';
            }
            else {
                Oper = '?';
            }
            url = url + Oper
                        + 'rtyWR=' + ($("[id$=webmenu1_txtDivision]") == null ? 0 : $("[id$=webmenu1_txtDivision]").val())
                        + '&uihTR=' + ($("[id$=webmenu1_txtContact]") == null ? 0 : $("[id$=webmenu1_txtContact]").val())
                        + '&tyrCV=' + ($("[id$=webmenu1_txtPro]") == null ? 0 : $("[id$=webmenu1_txtPro]").val())
                        + '&pluYR=' + ($("[id$=webmenu1_txtOpp]") == null ? 0 : $("[id$=webmenu1_txtOpp]").val())
                        + '&fghTY=' + ($("[id$=webmenu1_txtCase]") == null ? 0 : $("[id$=webmenu1_txtCase]").val());
            

            if (url.indexOf('frmNewOrder.aspx') > 0) {
                if (NewOrderPopup != null && !NewOrderPopup.closed) {
                    NewOrderPopup.focus();
                } else {
                    NewOrderPopup = window.open(url, "", "toolbar = no, titlebar = no, left = 100, top = 100, width = 1500, height = 645, scrollbars = yes, resizable = yes");
                }
            } else {
                window.open(url, "", "toolbar = no, titlebar = no, left = 100, top = 100, width = 1200, height = 645, scrollbars = yes, resizable = yes");
            }

            return false;
        }

        function reDirectPage(a) {
            document.location.href = a;
        }

        var reminderPopUp;
        function OpenRemindersWindow() {
            if (reminderPopUp && !reminderPopUp.closed) {
                reminderPopUp.close();
            }
            var url = "<%# ResolveUrl("~/OutlookCalendar/Reminder.aspx")%>";
            reminderPopUp = window.open(url, 'BizAutomation_Reminder_Popup', 'width=800,height=600,status=no,scrollbar=yes,top=110,left=150');
            reminderPopUp.focus();
        }

        $(document).ready(function () {
            $("#ddlSimpleSearchType").val("<%# Session("SimpleSearchType") %>");
            
            $("a[href*='Admin/actionitemdetails.aspx']:first").click(function () {
                $("a[href*='Admin/actionitemdetails.aspx']:first").attr("href", "#");
                var url;
                url = "<%# ResolveUrl("~/Admin/actionitemdetails.aspx")%>"
                url = url + "?"
                        + 'DivID=' + ($("[id$=webmenu1_txtDivision]") == null ? 0 : $("[id$=webmenu1_txtDivision]").val())
                        + '&uihTR=' + ($("[id$=webmenu1_txtContact]") == null ? 0 : $("[id$=webmenu1_txtContact]").val())
                        + '&tyrCV=' + ($("[id$=webmenu1_txtPro]") == null ? 0 : $("[id$=webmenu1_txtPro]").val())
                        + '&pluYR=' + ($("[id$=webmenu1_txtOpp]") == null ? 0 : $("[id$=webmenu1_txtOpp]").val())
                        + '&fghTY=' + ($("[id$=webmenu1_txtCase]") == null ? 0 : $("[id$=webmenu1_txtCase]").val());
                window.location = url;
            });

            $("a[href*='ContractManagement/frmcontract.aspx']:first").click(function () {
                $("a[href*='ContractManagement/frmcontract.aspx']:first").attr("href", "#");
                var url;
                url = "<%# ResolveUrl("~/ContractManagement/frmcontract.aspx")%>"
                url = url + "?"
                        + 'DivID=' + ($("[id$=webmenu1_txtDivision]") == null ? 0 : $("[id$=webmenu1_txtDivision]").val())
                        + '&uihTR=' + ($("[id$=webmenu1_txtContact]") == null ? 0 : $("[id$=webmenu1_txtContact]").val())
                        + '&tyrCV=' + ($("[id$=webmenu1_txtPro]") == null ? 0 : $("[id$=webmenu1_txtPro]").val())
                        + '&pluYR=' + ($("[id$=webmenu1_txtOpp]") == null ? 0 : $("[id$=webmenu1_txtOpp]").val())
                        + '&fghTY=' + ($("[id$=webmenu1_txtCase]") == null ? 0 : $("[id$=webmenu1_txtCase]").val());
                window.location = url;
            });

            window.setInterval(function () {
                var d = new Date();
                var n = d.getMinutes();

                if (n % 5 == 0) {
                    RemindCall();
                }
            }, 60000);
        });

        $(function () {
            var isClickedInside = false;

            $('.dropdown.keep-open').on({
                "shown.bs.dropdown": function () {
                    return this.closable = true;
                },
                "click": function () {
                    isClickedInside = true;
                    this.closable = false;
                },
                "hide.bs.dropdown": function () {
                    if (isClickedInside) {
                        this.closable = false;
                        isClickedInside = false;
                    } else {
                        this.closable = true;
                    }

                    return this.closable;
                }
            });
        });

        function RemindCall() {
            var url = "<%# ResolveUrl("~/OutlookCalendar/DataFeedCalendar.aspx?method=reminders")%>";

            $.ajax({
                type: "POST", //
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (data) {
                    if (data.IsSuccess) {
                        OpenRemindersWindow();
                    }
                }
            });
        }

        function SetTextRemider(id, type, time) {
            $('#divReminder').show();
            $("[id$=hdnActionItemID]").val(id);
            $("[id$=hdnType]").val(type);
            $("[id$=lblReminderTime]").text(time);
        }

        function ClearTextRemider() {
            $('#divReminder').hide();
            $("[id$=hdnActionItemID]").val("");
            $("[id$=hdnType]").val("");
            $("[id$=lblReminderTime]").text("");
        }

    </script>
    <style>
        .time {
            font-size: 11px;
            font-style: italic;
            font-weight: bold;
            /*position: absolute;*/
            right: 35px;
            float: right;
        }

        .message {
            display: block !important;
            font-size: 12px;
            word-wrap: break-word; /* IE 5.5-7 */
            white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
            white-space: pre-wrap; /* current browsers */
        }

        .dropdown-menu.msg_list {
            width: 300px !important;
        }

            .dropdown-menu.msg_list span {
                white-space: normal;
            }

        a.alertpanel {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }

        .dropdown-toggle img {
            height: 35px !important;
        }

        .navbar-nav > .user-menu .user-image {
            height: 25px !important;
        }

        .newmwnua {
            padding-top: 17px !important;
            padding-bottom: 18px !important;
        }

        /*.select2-results .select2-highlighted {
            background-color: #fff !important;
        }*/
        
        .multiselect-group {
            background-color: #3e3e3e !important;
        }
         .multiselect-group a:hover{
             background-color:#3e3e3e !important;
         }
            .multiselect-group a {
                color: #fff !important;
            }

        .multiselect-container > li.multiselect-group label {
            padding: 3px 20px 3px 5px !important;
        }
        .multiselect-container {
    min-width: 250px;
    border: 1px solid #e1e1e1;
}
        .bigdrop {
            width: 800px;
        }

            .bigdrop ul li p {
                margin-bottom: 5px;
            }

        .select2-container {
            margin-top: 15px;
            margin-left: 5px;
        }
    </style>
    <script type="text/javascript">
        document.addEventListener("keydown", function(event) {
            if (event.which == 71 && event.ctrlKey) {
                if (document.location.href.indexOf("frmInboxItems.aspx") > 0) {
                    $("[id$=chkEmailSimpleSearch]").prop("checked", true);
                }
                $("#txtSimpleSearch").select2("open");
                $("#txtSimpleSearch").focus();
                event.preventDefault();
            }

            if (event.which == 81 && event.altKey) {
                var url = "<%# ResolveUrl("~/opportunity/frmNewOrder.aspx?OppStatus=0&OppType=1")%>";
                OpenPopUp(url);
                event.preventDefault();
            }

            if (event.which == 83 && event.altKey) {
                var url = "<%# ResolveUrl("~/opportunity/frmNewOrder.aspx?OppStatus=1&OppType=1")%>";
                OpenPopUp(url);
                event.preventDefault();
            }

            if (event.which == 80 && event.altKey) {
                var url = "<%# ResolveUrl("~/opportunity/frmNewPurchaseOrder.aspx")%>";
                OpenPopUp(url);
                event.preventDefault();
            }
        });
        //$(document).keydown("g", function (e) {
        //    if (e.ctrlKey)
        //        alert("Ctrl+G was pressed!!");
        //});


        function formatItem(row) {
            var numOfColumns = 0;
            var ui = "<p>" + row["displaytext"] + "</p>";
            return ui;
        }

        $(function () {
            var page = 1;
            var varPageSize = 20;

            $('#txtSimpleSearch').select2(
            {
                placeholder: 'Enter search text...',
                minimumInputLength: 1,
                delay: 100,
                multiple: false,
                escapeMarkup: function (markup) { return markup; },
                formatResult: formatItem,
                width: "230px",
                dropdownCssClass: 'bigdrop',
                dropdownAutoWidth: true,
                dataType: "json",
                allowClear: true,
                ajax: {
                    quietMillis: 500,
                    url: '<%# ResolveUrl("~/common/Common.asmx/SimpleElasticSearch")%>',
                    type: 'POST',
                    params: {
                        contentType: 'application/json; charset=utf-8'
                    },
                    dataType: 'json',
                    data: function (term, page) {
                        return JSON.stringify({
                            searchText: term.replace(/ /g, "\\ "),
                            pageIndex: page,
                            pageSize: varPageSize,
                            startsWithSearch: $("#ddlSimpleSearchType").val(),
                            emailSearch: $("[id$=chkEmailSimpleSearch]").is(":checked") ? true : false
                        });
                    },
                    results: function (data, page) {
                        $("[id$=hdnSimpleSearchText]").val(page.term);
                        if (data.hasOwnProperty("d")) {
                            if (data.d == "Session Expired") {
                                alert("Session expired.");
                                window.opener.location.href = window.opener.location.href;
                                window.close();
                            } else {
                                data = $.parseJSON(data.d)
                            }
                        }
                        else
                            data = $.parseJSON(data);


                        if (page.page == 1 && data.Total > 0 && ((page.term.toLowerCase().startsWith("or:") || page.term.toLowerCase().startsWith("ve:") || page.term.toLowerCase().startsWith("cu:") || page.term.toLowerCase().startsWith("co:") || page.term.toLowerCase().startsWith("so:") || page.term.toLowerCase().startsWith("po:") || page.term.toLowerCase().startsWith("op:") || page.term.toLowerCase().startsWith("it:") || page.term.toLowerCase().startsWith("ca:") || page.term.toLowerCase().startsWith("pj:")) || $("[id$=chkEmailSimpleSearch]").is(":checked"))) {
                            var args = $.parseJSON(data.results);
                            var myObject = new Object();
                            myObject.id = -1;
                            myObject.text = "";
                            myObject.url = "";
                            myObject.displaytext = "<div class='text-center'><a style='margin: 5px;width: 98%;'><b>Show Results in Grid</b></a></div>";
                            args.unshift(myObject);
                            data.results = JSON.stringify(args);
                        }

                        return { "results": $.parseJSON(data.results == "" ? null : data.results), "more": (page.page * varPageSize) < data.Total };
                    },fail:function() {
                        var data = { results: [] };
                        options.callback(data);
                    }
                }
            });

            //$(".select2-drop").append('<div id="divShowInGrid" style="text-align: center;"></div>');

            $('#txtSimpleSearch').on("change", function (e) {
                if (e.added != null) {
                    if (e.added.id == -1) {
                        $("[id$=btnSimpleSearchPostback]").click();
                        return true;
                    }
                    if (e.added.module == 'bizdoc') {
                        window.open('../opportunity/frmBizInvoice.aspx?OpID=' + e.added.numOppId + '&OppBizId=' + e.added.id, '', 'toolbar=no,menubar=yes,titlebar=no,left=100,top=15,width=680,height=700,scrollbars=yes,resizable=yes');
                        return false;
                    } else if (e.added.module == 'email') {
                        window.open("../outlook/frmMailDtl.aspx?numEmailHstrID=" + e.added.id, '', 'titlebar=no,top=100,left=250,width=850,height=550,scrollbars=yes,resizable=yes');
                        return false;
                    }else {
                        document.location.href = '<%# (Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath)%>' + e.added.url;
                    }
                }
            });

            $("#ddlSimpleSearchType").change(function () {
                $.ajax({
                    type: "POST",
                    url: '../WebServices/CommonService.svc/SavePersistTable',
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        "isMasterPage": true
                        , "boolOnlyURL": false
                        , "strParam": "SimpleSearchType"
                        , "strPageName": ""
                        , "values": "[{\"key\": \"SimpleSearchType\",\"value\" : \"" + $("#ddlSimpleSearchType").val() + "\"}]"
                    }),
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Unknown error occurred.");
                    }
                });
            });
        });

        function OnSimpleSearchClientItemsRequesting(sender, eventArgs) {
            var context = eventArgs.get_context();
            context["pageSize"] = 20;
            context["searchType"] = 1;
        }

        function OnSimpleSearchClientSelectedIndexChanged(sender, eventArgs) {
            var item = eventArgs.get_item();
            if (item.get_attributes().getAttribute("url") != null) {
                document.location.href = '<%# (Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath)%>' + item.get_attributes().getAttribute("url");
            }
        }

        function RedirectToAdvanceSearch() {
            document.location.href = "<%# ResolveUrl("~/admin/frmAdvancedSearchNew.aspx")%>";
            return false;
        }

        function OpenUserClockInOutTimeDetail() {
            var h = screen.height;
            var w = screen.width;

            window.open('../common/frmUserClockInOut.aspx', '', 'toolbar=no,titlebar=no,top=50,left=50,width=' + (w - 100) + ',height=' + (h - 200) + ',scrollbars=yes,resizable=yes');
            return false;
        }

        function SaveUserClockInOut(btn) {
            $(btn).attr("disabled", true);

            $.ajax({
                type: "POST",
                url: '../WebServices/CommonService.svc/SaveUserClockInOut',
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    if ($(btn).val() === "In") {
                        $(btn).css("color", "#ff0000");
                        $(btn).val("Out");
                    } else {
                        $(btn).css("color", "#00b050");
                        $(btn).val("In");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Unknown error occurred.");
                },
                complete: function () {
                    $(btn).attr("disabled", false);
                }
            });

            return false;
        }

        function RedirectToUsageReport(a) {
            document.location.href = $(a).attr("href");
        }
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="hold-transition skin-black sidebar-mini fixed sidebar-collapse _<%=BACRM.BusinessLogic.Common.CCommon.ToString(Session("vcThemeClass")) %>">
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server" ScriptMode="Release"></asp:ScriptManager>

        <div class="wrapper">
            <nav class="navbar-static-top">
                <header class="main-header">
                    <nav class="navbar" role="navigation">
                        <!-- Sidebar toggle button-->
                      <%--  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>--%>

                        <asp:HyperLink ID="hlpBiz" runat="server" NavigateUrl="~/Home.aspx" class="logo">
                            <asp:Image ID="imgThemeLogo" class="img img-responsive" style="max-height:37px" runat="server" ImageUrl="~/images/BizBlack.png" />
                            <div style="font-size: 12px;color: #000;font-weight: normal;margin-top: 6px;font-style:italic"><label>Powered By </label>&nbsp;BizAutomation.com</div>
                            <%--<label class="logoimage"></label>--%>
                        </asp:HyperLink>
                        <div style="float: left; margin-top: 18px; margin-left: 10px;">
                            <img src="../images/Email.png" alt="" style="margin-top:-6px" />
                            <input type="checkbox" id="chkEmailSimpleSearch" runat="server">
                        </div>
                        <div style="float: left; margin-top: 7px; margin-left:5px">
                            <select id="ddlSimpleSearchType" class="select2-choice" style="margin-top: 11px;">
                                <option value="1" selected="selected">Contains</option>
                                <option value="2">Starts-with</option>
                                <option value="3">Ends-with</option>
                            </select>
                        </div>
                        <input type="text" id="txtSimpleSearch" />
                        <asp:HiddenField ID="hdnSimpleSearchText" runat="server" />
                        <asp:Button ID="btnSimpleSearchPostback" runat="server" Text="test" Style="display: none" OnClick="btnSimpleSearchPostback_Click" />
                        <button id="btnAdvanceSearch" onclick="return RedirectToAdvanceSearch()" class="btn btn-primary" style="margin-top: 14px;padding: 2px;padding-left: 5px;padding-right: 5px;">Advanced <i class="fa fa-search"></i></button>
                        <a id="aUserClockInOut" runat="server" visible="false" href="javascript:OpenUserClockInOutTimeDetail();"><img src="../images/TImes.png" style="height: 34px;margin-top: 8px;" /></a>
                        <input type="button" id="btnUserClockInOut" runat="server" visible="false" value="In" style="color: #00b050;margin-top: 14px;padding: 2px;padding-left: 8px;padding-right: 8px;" class="btn btn-default" onclick="return SaveUserClockInOut(this);" />
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav" data-sm-skip="true">
                                <%--<li>
                                    <telerik:RadComboBox AccessKey="S" ID="radcmbSimpleSearch" style="margin-top:10px" Width="300" DropDownWidth="600px"
                                        Skin="Default" runat="server" AutoPostBack="True" AllowCustomText="True" ShowMoreResultsBox="true" EnableLoadOnDemand="True"
                                        OnClientItemsRequesting="OnSimpleSearchClientItemsRequesting" OnClientSelectedIndexChanged="OnSimpleSearchClientSelectedIndexChanged"
                                        ClientIDMode="Static">
                                        <WebServiceSettings Path="../common/Common.asmx" Method="SimpleElasticSearch" />
                                        <ItemTemplate>
                                            <li><%# DataBinder.Eval(Container, "Attributes['displaytext']") %></li>
                                        </ItemTemplate>
                                    </telerik:RadComboBox>
                                </li>--%>
                                <li id="divReminder" style="display: none; margin-top: 10px">
                                    <asp:Label ID="lblReminder" ForeColor="#FBA9A9" runat="server" Text="You have an action item at: "></asp:Label>&nbsp;<asp:Label ID="lblReminderTime" ForeColor="#FBA9A9" runat="server"></asp:Label>&nbsp;<asp:Button ID="btnDismiss" runat="server" CssClass="btn btn-default" Text="Dismiss" />
                                    <asp:HiddenField ID="hdnActionItemID" runat="server" />
                                    <asp:HiddenField ID="hdnType" runat="server" />
                                </li>
                                <li role="presentation" class="dropdown messages-menu " runat="server" id="OrganizationList" visible="false">
                                    <a href="javascript:;" id="orgLi" class="dropdown-toggle alertpanel" data-toggle="dropdown" aria-expanded="false">
                                        <asp:Image ID="Image1" runat="server" ImageUrl="~/images/icon/organization.png" />
                                        <span id="orgAlertCount" runat="server" class="labelalert label-danger badge orgazCount iorgazCount">0</span>
                                    </a>
                                    <ul class="dropdown-menu " role="menu">
                                        <li class="header">You have&nbsp;<strong><span class="orgazCount"></span></strong>&nbsp;New Organization Added
                                    &nbsp;<i class="fa fa-angle-right"></i>
                                        </li>
                                        <li>
                                            <ul id="orgMenu" class="menu">
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown messages-menu" runat="server" id="CaseList" visible="false">
                                    <a href="javascript:;" id="caseLi" class="dropdown-toggle alertpanel" data-toggle="dropdown" aria-expanded="false">
                                        <asp:Image ID="Image2" runat="server" ImageUrl="~/images/icon/case.png" />
                                        <span id="caseAlertCount" runat="server" class="labelalert label-danger badge caseCount icaseCount">0</span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="header">You have&nbsp;<strong><span class="caseCount"></span></strong>&nbsp;New Case Assigned
                                    &nbsp;<i class="fa fa-angle-right"></i>
                                        </li>
                                        <li>
                                            <ul id="caseMenu" class="menu">
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown messages-menu" runat="server" id="oppList" visible="false">
                                    <a href="javascript:;" id="oppLi" class="dropdown-toggle alertpanel" data-toggle="dropdown" aria-expanded="false">
                                        <asp:Image ID="Image3" runat="server" ImageUrl="~/images/icon/Sales opportunity.png" />
                                        <span id="oppAlertCount" runat="server" class="labelalert badge bg-red opportunityCount iopportunityCount">0</span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="header">You have&nbsp;<strong><span class="opportunityCount"></span></strong>&nbsp;New Opportunity Assigned
                                    &nbsp;<i class="fa fa-angle-right"></i>
                                        </li>
                                        <li>
                                            <ul id="opportunityMenu" class="menu">
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown messages-menu" id="orderList" runat="server" visible="false">
                                    <a href="javascript:;" id="orderLi" class="dropdown-toggle alertpanel" data-toggle="dropdown" aria-expanded="false">
                                        <asp:Image ID="Image4" runat="server" ImageUrl="~/images/icon/Sales order.png" />
                                        <span id="orderAlertCount" runat="server" class="labelalert badge bg-red orderCount iorderCount">0</span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="header">You have&nbsp;<strong><span class="orderCount"></span></strong>&nbsp;New Order Assigned
                                    &nbsp;<i class="fa fa-angle-right"></i>
                                        </li>
                                        <li>
                                            <ul id="orderMenu" class="menu">
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown messages-menu" id="projectList" runat="server" visible="false">
                                    <a href="javascript:;" id="projectLi" class="dropdown-toggle alertpanel" data-toggle="dropdown" aria-expanded="false">
                                        <asp:Image ID="Image5" runat="server" ImageUrl="~/images/icon/project.png" />
                                        <span id="projectAlertCount" runat="server" class="labelalert badge bg-red projectCount iprojectCount" style="right: 11px;">0</span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="header">You have&nbsp;<strong><span class="projectCount"></span></strong>&nbsp;New Projects Assigned
                                    &nbsp;<i class="fa fa-angle-right"></i>
                                        </li>
                                        <li>
                                            <ul id="projectMenu" class="menu">
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown messages-menu" id="emailList" runat="server" visible="false">
                                    <a href="javascript:;" id="emailLi" class="dropdown-toggle alertpanel" data-toggle="dropdown" aria-expanded="false">
                                        <asp:Image ID="Image6" runat="server" ImageUrl="~/images/icon/email.png" />
                                        <span id="emailAlertCount" runat="server" class="labelalert badge bg-red EmailCount iEmailCount">0</span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="header">You have&nbsp;<strong><span class="EmailCount"></span></strong>&nbsp;New Email
                                    &nbsp;<i class="fa fa-angle-right"></i>
                                        </li>
                                        <li>
                                            <ul id="EmailMenu" class="menu">
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown messages-menu" id="TicklerList" runat="server" visible="false">
                                    <a href="javascript:;" id="ticklerLi" class="dropdown-toggle alertpanel" data-toggle="dropdown" aria-expanded="false">
                                        <asp:Image ID="Image7" runat="server" ImageUrl="~/images/icon/action.png" />
                                        <span id="ticklerAlertCount" runat="server" class="labelalert badge bg-red TicklerCount iTicklerCount">0</span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="header">You have&nbsp;<strong><span class="TicklerCount"></span></strong>&nbsp;New Tickler Assigned
                                    &nbsp;<i class="fa fa-angle-right"></i>
                                        </li>
                                        <li>
                                            <ul id="TicklerMenu" class="menu">
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown messages-menu" id="ProcessList" runat="server" visible="false">
                                    <a href="javascript:;" id="processLi" class="dropdown-toggle alertpanel" data-toggle="dropdown" aria-expanded="false">
                                        <asp:Image ID="Image8" runat="server" ImageUrl="~/images/icon/Doc.png" />
                                        <span id="processAlertCount" runat="server" class="labelalert badge bg-red ProcessCount iProcessCount">0</span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="header">You have&nbsp;<strong><span class="ProcessCount"></span></strong>&nbsp;New Process Updated
                                    &nbsp;<i class="fa fa-angle-right"></i>
                                        </li>
                                        <li>
                                            <ul id="ProcessMenu" class="menu">
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <%--<li id="simplesearch" class="dropdown keep-open">
                                    <a href="#" class="dropdown-toggle newmwnua" data-toggle="dropdown">
                                        <i class="fa fa-lg fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu" style="background-color: rgb(249, 250, 252);">
                                        <li>
                                            <Biz:SimpleSearch ID="SimpleSearch1" runat="server" />
                                        </li>
                                    </ul>
                                </li>--%>
                                <li runat="server" id="liAdvanceSearch" class="dropdown">
                                    <ul id="ulAdvanceSearch" class="nav navbar-nav">
                                        <li class="dropdown">
                                            <asp:HyperLink class="dropdown-toggle newmwnua" data-toggle="dropdown" NavigateUrl="~/admin/frmAdvancedSearch.aspx?I=1" ID="hplAdvanceSearch" runat="server" ToolTip="Advance Search"><i class="fa fa-lg fa-search-plus"></i></asp:HyperLink>
                                            <ul class="dropdown-menu mega-menu" style="background-color: #f9fafc">
                                                <li id="liBizAdvanceSearchMenu" runat="server"></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li runat="server" id="liSubscription">
                                    <ul id="ulSubscription" class="nav navbar-nav">
                                        <li class="dropdown">
                                            <asp:HyperLink onclick="RedirectToUsageReport(this);" runat="server" class="dropdown-toggle newmwnua" data-toggle="dropdown" NavigateUrl="~/Service/frmSubUsageReport.aspx"><i class="fa fa-lg fa-users"></i></asp:HyperLink>
                                            <ul class="dropdown-menu mega-menu" style="background-color: #f9fafc">
                                                <li>
                                                    <asp:HyperLink NavigateUrl="~/Service/frmSubscriberList.aspx" runat="server">Subscriber List</asp:HyperLink></li>
                                                <li>
                                                    <asp:HyperLink ID="HyperLink1" NavigateUrl="~/Service/frmSubscriberReport.aspx" runat="server">Customer Report</asp:HyperLink></li>
                                                <li>
                                                    <asp:HyperLink NavigateUrl="~/Service/frmSubUsageReport.aspx" runat="server">Usage Report</asp:HyperLink></li>
                                                <li>
                                                    <asp:HyperLink NavigateUrl="~/Service/frmMaintanance.aspx" runat="server">Maintainance</asp:HyperLink></li>
                                                <li>
                                                    <asp:HyperLink NavigateUrl="~/Service/frmCustomReports.aspx" runat="server">Custom Report</asp:HyperLink></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </li>


                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle newmwnua" data-toggle="dropdown">
                                        <asp:Image ID="imgUser" ImageUrl="~/images/ContactPic.png" runat="server" class="user-image" alt="" />
                                        <span class="hidden-xs">
                                            <asp:Label ID="lblUserName" runat="server"></asp:Label></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="user-header">
                                            <asp:Image ID="imgUserLarge" ImageUrl="~/images/ContactPic.png" runat="server" class="img-circle" alt="" />

                                            <p>
                                                <asp:Label ID="lblUserNameDetail" runat="server"></asp:Label>
                                                <small>Member since&nbsp;<asp:Label ID="lblMemmberSince" runat="server"></asp:Label></small>
                                                <small>
                                                    <asp:Label ID="lblSubMessage" runat="server" ForeColor="#FFA6A6"></asp:Label></small>
                                            </p>
                                        </li>

                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-left">
                                            </div>
                                            <div class="pull-right">
                                                <asp:LinkButton ID="lkbSignOut" runat="server" class="btn btn-danger btn-flat">Sign out</asp:LinkButton>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li runat="server" id="liAdmin" class="dropdown">
                                    <ul id="ulAdmin" class="nav navbar-nav">
                                        <li class="dropdown">
                                            <asp:HyperLink NavigateUrl="#" class="dropdown-toggle newmwnua" data-toggle="dropdown" ID="hplAdministration" runat="server" ToolTip="Administration"><%--<i class="fa fa-lg fa-gears"></i>--%><i class="fa fa-bars"></i></asp:HyperLink>
                                            <ul class="dropdown-menu mega-menu" style="background-color: #f9fafc">
                                                <li id="liBizAdminMenu" runat="server"></li>
                                            </ul>

                                        </li>
                                    </ul>
                                </li>
                                <!-- Control Sidebar Toggle Button -->
                                <%-- <li>
                                    <a href="#" data-toggle="control-sidebar" class="newmwnua"><i class="fa fa-gear"></i></a>
                                </li>--%>
                            </ul>
                        </div>
                    </nav>
                    <div id="divBizNavMenu" class="row rowNavigation" runat="server">
                    </div>
                </header>
            </nav>

            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <%-- <li class="active treeview">
                            <asp:HyperLink ID="hlDashboard" runat="server" NavigateUrl="~/ReportDashboard/frmNewDashBoard.aspx">
                                <asp:Image ID="imgDashboard" ImageUrl="~/images/dashboard.png" runat="server" />&nbsp;<span>Dashboard</span>
                            </asp:HyperLink>
                        </li>--%>
                        <li class="header text-center">LAST VIEWED</li>
                        <menu1:webmenu ID="webmenu1" runat="server"></menu1:webmenu>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <div class="content-wrapper">
                <section class="content">

                    <asp:UpdatePanel ID="UpdatePanelError" runat="server" UpdateMode="Always">
                        <ContentTemplate>
                            <div class="row" id="divError" runat="server" style="display: none">
                                <div class="col-sm-12">
                                    <div class="alert alert-danger">
                                        <h4><i class="icon fa fa-ban"></i>Error</h4>

                                        <p>
                                            <asp:Label ID="lblError" runat="server"></asp:Label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ContentTemplate>
                    </asp:UpdatePanel>


                    <asp:UpdatePanel ID="UpdatePanelMain" runat="server" ChildrenAsTriggers="true" UpdateMode="Conditional">
                        <ContentTemplate>
                            <asp:ContentPlaceHolder ID="MainContent" runat="server">
                            </asp:ContentPlaceHolder>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </section>
            </div>

            <aside class="control-sidebar control-sidebar-light">
                <div class="tab-content">
                    <h4>Skins</h4>
                    <ul id="layout-skins-list" class="list-unstyled clearfix">
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display: block; width: 20%; float: left; height: 7px; background: #367fa9;"></span><span class="bg-light-blue" style="display: block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Blue Light</p>
                        </li>
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display: block; width: 20%; float: left; height: 7px; background: #367fa9;"></span><span class="bg-light-blue" style="display: block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin">Blue</p>
                        </li>
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display: block; width: 20%; float: left; height: 7px; background: #fefefe;"></span><span style="display: block; width: 80%; float: left; height: 7px; background: #fefefe;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #222;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin">Black</p>
                        </li>
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display: block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display: block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin">Purple</p>
                        </li>
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display: block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display: block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin">Green</p>
                        </li>
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display: block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display: block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin">Red</p>
                        </li>
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display: block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display: block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #222d32;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin">Yellow</p>
                        </li>
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display: block; width: 20%; float: left; height: 7px; background: #fefefe;"></span><span style="display: block; width: 80%; float: left; height: 7px; background: #fefefe;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Black Light</p>
                        </li>
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display: block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display: block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Purple Light</p>
                        </li>
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display: block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display: block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Green Light</p>
                        </li>
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display: block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display: block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Red Light</p>
                        </li>
                        <li style="float: left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0);" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div><span style="display: block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display: block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span style="display: block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span><span style="display: block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span></div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px;">Yellow Light</p>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <%-- <asp:UpdatePanel ID="UpdatePanelReminder" runat="server" ChildrenAsTriggers="true">
            <ContentTemplate>
                <asp:Button ID="btnCheckReminder" runat="server" Text="" style="display:none" />
            </ContentTemplate>
        </asp:UpdatePanel>--%>
    </form>
</body>
</html>
