﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="DetailPage.master.vb"
    Inherits=".DetailPage" ClientIDMode="Static" MasterPageFile="~/common/BizMaster.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <link href='<%# ResolveUrl("~/JavaScript/MultiSelect/bootstrap-multiselect.css")%>' rel="stylesheet" />
    <script src='<%# ResolveUrl("~/JavaScript/MultiSelect/bootstrap-multiselect.js")%>'></script>
    <script type="text/javascript">

        var RPPopup;

        function fn_doPage(pgno, CurrentPageWebControlClientID, PostbackButtonClientID) {
            alert('Master Page');
            var currentPage;
            var postbackButton;

            if (CurrentPageWebControlClientID != '') {
                currentPage = CurrentPageWebControlClientID;
            }
            else {
                currentPage = 'txtCurrrentPage';
            }

            if (PostbackButtonClientID != '') {
                postbackButton = PostbackButtonClientID;
            }
            else {
                postbackButton = 'btnGo1';
            }

            $('#' + currentPage + '').val(pgno);
            if ($('#' + currentPage + '').val() != 0 || $('#' + currentPage + '').val() > 0) {
                $('#' + postbackButton + '').trigger('click');
            }
        }

        function pageLoad(sender, args) {
            initComboExtensions();
            cbCompany = $find("radCmbCompany");
            if (cbCompany != null) {
                cbCompany.onDataBound = cb_onDataBoundOrganization;
            }

            cbItem = $find("radCmbItem");
            if (cbItem != null) {
                cbItem.onDataBound = cb_onDataBound;
            }

            cbOrganization = $find("radCmbOrganization");
            if (cbOrganization != null) {
                cbOrganization.onDataBound = cb_onDataBoundOrganization;
            }

            radcmbManufacturer = $find("radcmbManufacturer");
            if (radcmbManufacturer != null) {
                radcmbManufacturer.onDataBound = cb_onDataBoundOrganization;
            }

            radExternalCompany = $find("radExternalCompany");
            if (radExternalCompany != null) {
                radExternalCompany.onDataBound = cb_onDataBoundOrganization;
            }

            BindInlineEdit();
        }
        function CheckNumber(cint, e) {
            var k;
            document.all ? k = e.keyCode : k = e.which;
            if (cint == 1) {
                if (!(k > 47 && k < 58 || k == 44 || k == 46 || k == 8 || k == 37 || k == 39 || k == 16)) {
                    if (e.preventDefault) {
                        e.preventDefault();
                    }
                    else
                        e.returnValue = false;
                    return false;
                }
            }
            if (cint == 2) {
                if (!(k > 47 && k < 58 || k == 8 || k == 37 || k == 39 || k == 16)) {
                    if (e.preventDefault) {
                        e.preventDefault();
                    }
                    else
                        e.returnValue = false;
                    return false;
                }
            }
        }

        function ShowCustomTabLayout(a, b, c, d) {
            window.open("../pagelayout/frmCustomTabLayout.aspx?FormId=" + a + "&TabId=" + b + "&type=" + c + "&PageId=" + d, '', 'toolbar=no,titlebar=no,width=800,height=500,top=200,scrollbars=yes,resizable=yes');
            return false;
        }

        function OpenTransaction(a, b, c, d) {
            if (a == 1 || a == 3 || a == 4 || a == 6) {
                document.location.href = "../opportunity/frmOpportunities.aspx?OpID=" + b;
            }
            else if (a == 2 || a == 5) {
                window.open('../opportunity/frmBizInvoice.aspx?OpID=' + c + '&OppBizId=' + b, '', 'toolbar=no,menubar=yes,titlebar=no,left=100,top=15,width=680,height=700,scrollbars=yes,resizable=yes');
            }
            else if (a == 7 || a == 8 || a == 9 || a == 10) {
                document.location.href = "../opportunity/frmReturnDetail.aspx?ReturnID=" + b;
            }
            else if (a == 11) {
                window.open('../Accounting/frmAddBill.aspx?BillID=' + b, '', 'toolbar=no,menubar=yes,titlebar=no,left=100,top=15,width=750,height=350,scrollbars=yes,resizable=yes');
            }
            else if (a == 16) {
                window.open("../opportunity/frmLandedCostBill.aspx?OppId=" + b, '', 'toolbar=no,titlebar=no,left=300,width=800,height=500,scrollbars=yes,resizable=yes')
            }
            else if (a == 12) {
                if (c > 0) {
                    document.location.href = "../opportunity/frmReturnDetail.aspx?ReturnID=" + c;
                }
                else {
                    document.location.href = "../Accounting/frmVendorPayment.aspx?BillPaymentID=" + b;
                }
            }
            else if (a == 13) {
                document.location.href = "../Accounting/frmWriteCheck.aspx?CheckHeaderID=" + b;
            }
            else if (a == 14) {
                if (d == 1) {
                    document.location.href = "../Accounting/frmMakeDeposit.aspx?DepositId=" + b;
                }
                else {
                    var url;
                    url = "../opportunity/frmAmtPaid.aspx?DepositeID=" + b;
                    RPPopup = window.open(url, 'ReceivePayment', 'toolbar=no,titlebar=no,left=300,width=800,height=500,scrollbars=yes,resizable=yes');
                    //console.log(RPPopup.name);
                    //document.location.href = url;
                }
            }
            else if (a == 15) {
                if (d == 3) {
                    document.location.href = "../opportunity/frmReturnDetail.aspx?ReturnID=" + c;
                }
                else {
                    var url;
                    url = "../opportunity/frmAmtPaid.aspx?DepositeID=" + b;
                    RPPopup = window.open(url, 'ReceivePayment', 'toolbar=no,titlebar=no,left=300,width=800,height=500,scrollbars=yes,resizable=yes');
                    //console.log(RPPopup.name);
                    //document.location.href = url;

                }
            }
        }
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="RecordInformationPanel" runat="server">
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="RecordActionPanel" runat="server">
    </asp:ContentPlaceHolder>
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="pull-left">
                    <%--<i class="fa fa-bars"></i>--%>

                    <h3 class="box-title">
                        <asp:ContentPlaceHolder ID="DetailPageTitle" runat="server">
                        </asp:ContentPlaceHolder>
                    </h3>

                    </div>
                    <div class="box-tools pull-right">
                        <asp:ContentPlaceHolder ID="UtilityLinksPanel" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <asp:ContentPlaceHolder ID="TabsPlaceHolder" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</asp:Content>
