<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="frmCompanySel.ascx.vb" Inherits=".frmCompanySel" %>
            
            
  <%--<igcmbo:WebCombo  id="wcCompany" DataValueField="numDivisionID" DataTextField="vcCompanyname" ComboTypeAhead="Suggest" EnableXmlHTTP="true"  Editable="true"  runat="server"  SelBackColor="171, 192, 231" SelForeColor="Black" Version="4.00"  BackColor="White" BorderColor="#7B9EBD" BorderStyle="Solid" BorderWidth="1px" DropImage1="/ig_common/images/igcmbo_mscrmup.gif" DropImage2="/ig_common/images/igcmbo_mscrmdown.gif" DropImageXP1="/ig_common/images/igcmbo_mscrmup.gif" DropImageXP2="/ig_common/images/igcmbo_mscrmdown.gif" Font-Names="Tahoma" Font-Size="9pt" ForeColor="Black">
                <Columns>
                <igcmbo:UltraGridColumn Key="numDivisionID" Hidden="true" BaseColumnName="numDivisionID">
                </igcmbo:UltraGridColumn>
                 <igcmbo:UltraGridColumn Width="300" Key="vcCompanyname" HeaderText="Company" BaseColumnName="vcCompanyname">
                </igcmbo:UltraGridColumn>
                </Columns>
                 <DropDownLayout AutoGenerateColumns="false"  BorderCollapse="Separate" RowHeightDefault="20px" Version="4.00" BaseTableName="" GridLines="None" RowSelectors="No" >
                    <RowStyle BorderWidth="1px" BorderColor="Gray" BorderStyle="Solid" BackColor="White">
                        <BorderDetails WidthLeft="0px" WidthTop="0px"></BorderDetails>
                    </RowStyle>
                    <SelectedRowStyle ForeColor="Black" BackColor="#ABC0E7"></SelectedRowStyle>
                    <HeaderStyle BorderStyle="Solid" BackColor="#E9E7D7">
                        <BorderDetails ColorTop="LightGray" WidthLeft="1px" WidthTop="1px" ColorLeft="White" ColorBottom="DarkGray" StyleBottom="Solid" StyleTop="Outset" WidthBottom="2px"></BorderDetails>
                    </HeaderStyle>
                    <FrameStyle Width="325px" Cursor="Default" Font-Size="8pt" Font-Names="arial" BorderStyle="None" BackColor="White" Height="130px"></FrameStyle>
                </DropDownLayout>
                <ExpandEffects ShadowColor="LightGray"></ExpandEffects>
            </igcmbo:WebCombo>


--%>