﻿<script type="text/javascript">
    function LoadVendorLeadTimes() {
        try {
            $("[id$=UpdateProgress]").show();

            let objVendorLeadTimes = new VendorLeadTimes(parseInt($("[id$=hdnDivisionID]").val()), 0);

            objVendorLeadTimes.GetByVendor().then(function (result) {
                try {
                    if (result != null && result.Data != null) {
                        var html = "";

                        result.Data.forEach(function (objRule) {
                            html += "<tr>";
                            html += "<td>" + parseInt(objRule.DaysToArrive || 0) + "</td>";
                            html += "<td>" + parseInt(objRule.FromQuantity || 0).toLocaleString() + " to " + parseInt(objRule.ToQuantity || 0).toLocaleString() + "</td>";
                            html += "<td>" + (objRule.ItemGroups != null ? objRule.ItemGroups.join(", ") : "") + "</td>";
                            html += "<td>" + (objRule.ShipVia || "") + "</td>";
                            html += "<td>" + (objRule.ShippingServices != null ? objRule.ShippingServices.join(", ") : "") + "</td>";
                            html += "<td>" + (objRule.ShipFromLocations != null ? objRule.ShipFromLocations.join(", ") : "") + "</td>";
                            html += "<td>" + (objRule.ShipToStates != null ? (objRule.ShipToStates.join(", ") + " - ") : "") + (objRule.ShipToCountry || "") + "</td>";
                            html += "<td><button id='btnManageVendorLeadTimeRule' vendorLeadTimesID='" + parseInt(objRule.VendorLeadTimesID || 0) + "' class='btn btn-xs btn-primary' onclick='return OpenManageVendorLeadTimes(this);'><i class='fa fa-pencil'></i></button></td>";
                            html += "<td><input type='checkbox' class='chkSelect' vendorLeadTimesID='" + parseInt(objRule.VendorLeadTimesID || 0) + "' id='chkSelect" + parseInt(objRule.VendorLeadTimesID || 0) + "' /></td>";
                            html += "</tr>";
                        });

                        $("#tblVendorLeadTimes tbody").html(html);
                    } else {
                        $("#tblVendorLeadTimes tbody").html("<tr><td colspan='9'>No Data</td></tr>");
                    }
                } catch (e) {
                    alert("Error occurred while showing vendor lead times data");
                }

                $("[id$=UpdateProgress]").hide();
            }).catch(function (err) {
                alert(err.ErrorMessage);
                $("[id$=UpdateProgress]").hide();
            });
        } catch (e) {
            alert("Unkown error occurred while loading vendor lead times data.");
            $("[id$=UpdateProgress]").hide();
        }
    }

    function OpenManageVendorLeadTimes(btn) {
        var w = 800;
        var h = 700;
        var left = (screen.width / 2) - (w / 2);
        var top = (screen.height / 2) - (h / 2);
        window.open("../common/frmManageVendorLeadTimes.aspx?VendorID=" + parseInt($("[id$=hdnDivisionID]").val()).toString() + "&VendorLeadTimesID=" + parseInt($(btn).attr("vendorLeadTimesID")) + "", '', 'toolbar=no,titlebar=no,width=' + w + ',height=' + h + ',top=' + top + ',left=' + left + ',scrollbars=yes,resizable=yes');
        return false;
    }

    function DeleteVendorLeadTimes() {
        try {
            $("[id$=UpdateProgress]").show();
            var selectedRecords = "";

            $("#tblVendorLeadTimes").find(".chkSelect").each(function () {
                if ($(this).is(":checked")) {
                    selectedRecords = selectedRecords + (selectedRecords.length > 0 ? "," : "") + $(this).attr("vendorLeadTimesID");
                }
            });

            if (selectedRecords != "") {
                let objVendorLeadTimes = new VendorLeadTimes(parseInt($("[id$=hdnDivisionID]").val()), 0);

                objVendorLeadTimes.Delete(selectedRecords).then(function (result) {
                    $("[id$=UpdateProgress]").hide();

                    $("#tblVendorLeadTimes").find(".chkSelect").each(function () {
                        if ($(this).is(":checked")) {
                            $(this).closest("tr").remove();
                        }
                    });
                }).catch(function (err) {
                    $("[id$=UpdateProgress]").hide();
                    alert(err.ErrorMessage);
                });
            } else {
                $("[id$=UpdateProgress]").hide();
                alert("Select at least one record");
            }
        } catch (e) {
            $("[id$=UpdateProgress]").hide();
            alert("Unknown error occurred while deleting data");
        }

        return false;
    }

    function CheckAll(chk) {
        $("#tblVendorLeadTimes").find(".chkSelect").each(function () {
            $(this).prop("checked", $(chk).is(":checked"));
        });
    }
</script>
<div class="row padbottom10">
    <div class="col-xs-12">
        <div class="pull-right">
            <button id="btnManageVendorLeadTimeRule" vendorLeadTimesID="0" class="btn btn-primary" onclick="return OpenManageVendorLeadTimes(this);"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add</button>
            <button id="btnDeleteVendorLeadTimeRule" class="btn btn-danger" onclick="return DeleteVendorLeadTimes();"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</button>
        </div>
    </div>
</div>
<div class="row">
<div class="col-xs-12">
    <div class="table-responsive">
        <table id="tblVendorLeadTimes" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-nowrap">Transit Time (Days)</th>
                    <th class="text-nowrap">When Buying (Units)</th>
                    <th class="text-nowrap">Item Group</th>
                    <th class="text-nowrap">Ship-Via</th>
                    <th class="text-nowrap">Shipping Carrier Service</th>
                    <th class="text-nowrap">Vendor Ship-From Location</th>
                    <th class="text-nowrap">Ship-To Location</th>
                    <th></th>
                    <th><input type="checkbox" id="checkAll" onclick="CheckAll(this);" /></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
</div>