<%@ Page Language="vb" AutoEventWireup="false" EnableEventValidation="false" Codebehind="frmCaseList.aspx.vb" Inherits="BACRMPortal.frmCaseList"%>
<%@ Register Assembly="Infragistics35.WebUI.UltraWebTab.v8.1, Version=8.1.20081.2046, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"
    Namespace="Infragistics.WebUI.UltraWebTab" TagPrefix="igtab" %>
<%@ Register TagPrefix="menu1" TagName="PartnerPoint" src="../Common/PartnerPoint.ascx" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head id="Head1"    runat="server">		
        <link rel="stylesheet" href="~/CSS/master.css" type="text/css" />
		<title>Case</title>
		<meta http-equiv="Page-Enter" content="blendTrans(Duration=0.01)">
        <meta http-equiv="Page-Exit" content="blendTrans(Duration=0.01)"> 
		<script language="javascript">
		
		
			function DeleteRecord()
		{   
		alert('in')
		    var CasetId='';
		      for(var i=2; i<=uwOppTab__ctl0_gvSearch.rows.length; i++)
			{
			    if (i<10)
		        {
		         str='0'+i   
		         }
		         else
		         {
		           str=i
		         }
		    
		        if  (document.all('uwOppTab__ctl0_gvSearch_ctl'+str+'_chk').checked==true)
		       {
		           
		            if (CasetId == '')
		            {
		                CasetId = document.all('uwOppTab__ctl0_gvSearch_ctl'+str+'_lbl1').innerHTML+'~'+document.all('uwOppTab__ctl0_gvSearch_ctl'+str+'_lbl2').innerHTML+'~'+document.all('uwOppTab__ctl0_gvSearch_ctl'+str+'_lbl3').innerHTML
		            }
		            else
		            {
		                 CasetId =CasetId+','+document.all('uwOppTab__ctl0_gvSearch_ctl'+str+'_lbl1').innerHTML+'~'+document.all('uwOppTab__ctl0_gvSearch_ctl'+str+'_lbl2').innerHTML+'~'+document.all('uwOppTab__ctl0_gvSearch_ctl'+str+'_lbl3').innerHTML
		            }
		       } 
			}
	
			  document.all('txtDelCaseId').value = CasetId
			  
			return true
		}
		
		
		function OpenCase(a,b)
		{
		      var str;
		    if (b==1)
		    {
		        str = "../pagelayout/frmCasesdtl.aspx?frm=Caselist&CaseID="+a
		    }
		    else
		    {
		        str = "../cases/frmCases.aspx?frm=Caselist&CaseID="+a
		    }
		     document.location.href=str;
		}
			function OpenContact(a,b)
    {
      
        var str;
        if (b==1)
            {
            str="../pagelayout/frmContact.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=Caselist&ujfda=tyuu&CntId=" + a;
            }
            else
            {
             str="../contact/frmContacts.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=Caselist&ft6ty=oiuy&CntId=" + a;
             }
        
            document.location.href=str;
      
    }
		   function SelectAll(a)
    {
        var str;

        a=document.getElementById('uwOppTab__ctl0_'+a)
        if (typeof(a)=='string')
        {
            a=document.all[a]
        }
        if (a.checked==true)
        {
             for(var i=1; i<=uwOppTab__ctl0_gvSearch.rows.length; i++)
			{
			    if (i<10)
		        {
		         str='0'+i   
		         }
		         else
		         {
		           str=i
		         }
		         document.all('uwOppTab__ctl0_gvSearch_ctl'+str+'_chk').checked=true;
			}
        }
        else if (a.checked==false)
        {
             for(var i=1; i<=uwOppTab__ctl0_gvSearch.rows.length; i++)
			{
			    if (i<10)
		        {
		         str='0'+i   
		         }
		         else
		         {
		           str=i
		         }
		         document.all('uwOppTab__ctl0_gvSearch_ctl'+str+'_chk').checked=false;
			}
        }
        }
		 function OpenWindow(a,b,c)
    {
        var str;
        if (b==0)
        {   
            if (c==1)
            {
            str="../pagelayout/frmLeaddtl.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=Caselist&DivID=" + a;
            }
            else{
            str="../Leads/frmLeads.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=CaselistDivID=" + a;
            }
        }
        else if (b==1)
        {
            if (c==1)
            {
            str="../pagelayout/frmProspectdtl.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=Caselist&DivID=" + a;
            }
            else
            {
              str="../prospects/frmProspects.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=Caselist&DivID=" + a;
            }
        }
         else if (b==2)
        {
            if (c==1)
            {
            str="../pagelayout/frmAccountdtl.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=Caselist&klds+7kldf=fjk-las&DivId=" + a;
            }
            else
            {
              str="../account/frmAccounts.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&frm=Caselist&klds+7kldf=fjk-las&DivId=" + a;
            }
        }
       
            document.location.href=str;
       
    }
		function OpenSetting()
		{
		    window.open('../Prospects/frmConfCompanyList.aspx?FormId=12','','toolbar=no,titlebar=no,top=200,left=200,width=550,height=350,scrollbars=yes,resizable=yes')
		    return false
		}
	function SortColumn(a)
    {
       document.Form1.txtSortColumn.value=a;
       document.Form1.submit();
       return false;
    }
		function fnSortByChar(varSortChar)
			{
				document.Form1.txtSortChar.value = varSortChar;
				if (typeof(document.Form1.txtCurrrentPage)!='undefined')
				{
					document.Form1.txtCurrrentPage.value=1;
				}
				document.Form1.btnGo1.click();
			}
			
		function fnSortByCharKnowledge(varSortChar)
			{
				document.Form1.txtSortChar.value = varSortChar;
				if (typeof(document.Form1.txtCurrrentPage)!='undefined')
				{
					document.Form1.txtCurrrentPage.value=1;
				}
				document.Form1.btnGoBases.click();
			}
			
		
		function DeleteMessage()
		{
			alert("You Are not Authorized to Delete the Selected Record !");
			return false;
		}
		</script>
	</HEAD>
	<body >
		
		<form id="Form1" method="post" runat="server">
		<asp:ScriptManager runat="server" EnablePartialRendering="true" ID="scr1"></asp:ScriptManager>
		<menu1:PartnerPoint runat="server" ID="menu1" />
		
		<asp:updatepanel ID="updatepanel0" runat="server" ChildrenAsTriggers="true" UpdateMode="Conditional" EnableViewState="true" ><ContentTemplate>
					<table width="100%">
			    <tr>
			        <td>
			        <asp:HyperLink Text="Settings" CssClass="hyperlink" runat="server" ID="hplSettings"></asp:HyperLink>
			        </td>
			       <td align="right">
			<TABLE align="right">
			<asp:Panel ID="pnlCases1" runat="server">
			    <TR>
					<TD class="normal1" width="150">No of Records:
						<asp:label id="lblRecordCountCases" runat="server"></asp:label>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</TD>
					<TD class="normal1">Organization
					</TD>
					<TD><asp:textbox id="txtCustomer" runat="server" Width="55px" CssClass="signup"></asp:textbox></TD>
					<TD class="normal1">First Name
					</TD>
					<TD><asp:textbox id="txtFirstName" runat="server" Width="55px" CssClass="signup"></asp:textbox></TD>
					<TD class="normal1">Last Name</TD>
					<TD><asp:textbox id="txtLastName" runat="server" Width="55px" CssClass="signup"></asp:textbox></TD>
					<TD><asp:button id="btnGoCases" Width="25" CssClass="button" Runat="server" Text="Go"></asp:button></TD>
					<td><asp:button id="btnDelete" Width="50" CssClass="button" Runat="server" Text="Delete"></asp:button></td>
				</TR>
				</asp:Panel>
				<TR>
									
					<asp:Panel ID="pnlBases1" Runat="server">
					    <TD class="normal1" width="150">No of Records:					
						    <asp:label id="lblRecordSolution" runat="server"></asp:label>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    </TD>
						<TD class="normal1" noWrap align="right">&nbsp;Find Solution using Name or Keyword
						</TD>
						<TD>&nbsp;
							<asp:TextBox id="txtKeyWord" Runat="server" CssClass="signup" Width="200"></asp:TextBox></TD>
						<TD>
							<asp:Button id="btnGoBases" Runat="server" CssClass="button" Text="Go" width="25"></asp:Button></TD>
						
					</asp:Panel>
				</TR>
			</TABLE>
	</td></tr></table>
		

			<table align="right"   width="600" border="0">
				<tr>
					<td vAlign="bottom" width="100">
					
						
					</td>
					<asp:Panel ID="pnlCases2" Runat="server">
						<TD class="normal1" align="right">Filter&nbsp;&nbsp;&nbsp;</TD>
						<TD>
							<asp:dropdownlist id="ddlSort" runat="server" cssclass="signup" AutoPostBack="True">
								<asp:ListItem Value="0">My Cases</asp:ListItem>
								<asp:ListItem Value="1">All Cases</asp:ListItem>
								<asp:ListItem Value="2">Added in Last 7 Days</asp:ListItem>
								<asp:ListItem Value="3">Last 20 Added by me</asp:ListItem>
								<asp:ListItem Value="4">Last 20 Modified by me</asp:ListItem>
							</asp:dropdownlist></TD>
						<TD id="hidenav" noWrap align="right" runat="server">
							<TABLE>
								<TR>
									<TD>
										<asp:label id="lblNext" runat="server" cssclass="Text_bold">Next:</asp:label></TD>
									<TD class="normal1">
										<asp:linkbutton id="lnk2" runat="server">2</asp:linkbutton></TD>
									<TD class="normal1">
										<asp:linkbutton id="lnk3" runat="server">3</asp:linkbutton></TD>
									<TD class="normal1">
										<asp:linkbutton id="lnk4" runat="server">4</asp:linkbutton></TD>
									<TD class="normal1">
										<asp:linkbutton id="lnk5" runat="server">5</asp:linkbutton></TD>
									<TD>
										<asp:linkbutton id="lnkFirst" runat="server">
											<div class="LinkArrow">9</div>
										</asp:linkbutton></TD>
									<TD>
										<asp:linkbutton id="lnkPrevious" runat="server">
											<div class="LinkArrow">3</div>
										</asp:linkbutton></TD>
									<TD class="normal1">
										<asp:label id="lblPage" runat="server">Page</asp:label></TD>
									<TD>
										<asp:textbox id="txtCurrrentPage" runat="server" CssClass="signup" Width="28px" AutoPostBack="True"
											MaxLength="5"></asp:textbox></TD>
									<TD class="normal1">
										<asp:label id="lblOf" runat="server">of</asp:label></TD>
									<TD class="normal1">
										<asp:label id="lblTotal" runat="server"></asp:label></TD>
									<TD>
										<asp:linkbutton id="lnkNext" runat="server" CssClass="LinkArrow">
											<div class="LinkArrow">4</div>
										</asp:linkbutton></TD>
									<TD>
										<asp:linkbutton id="lnkLast" runat="server">
											<div class="LinkArrow">:</div>
										</asp:linkbutton></TD>
								</TR>
							</TABLE>
						</TD>
					</asp:Panel>
					<asp:panel id="pnlBases2" Runat="server">
						<TD class="normal1" noWrap align="right">&nbsp;Item Category
						</TD>
						<TD>&nbsp;
							<asp:DropDownList id="ddlCategory" Runat="server" CssClass="signup" Width="130" AutoPostBack="True"></asp:DropDownList>&nbsp;
						</TD>
					</asp:panel>
				</tr>
			</table>
			<br />
			<br />
		<igtab:ultrawebtab  AutoPostBack="true" ImageDirectory=""  id="uwOppTab" runat="server" ThreeDEffect="True" BorderStyle="Solid" Width="100%" BarHeight="0"  BorderWidth="0">
                      <DefaultTabStyle Height="23px" Font-Bold="true" Font-Size="11px" Font-Names="Arial" >
                        </DefaultTabStyle>
                        <RoundedImage LeftSideWidth="7" RightSideWidth="8" ShiftOfImages="0" SelectedImage="../images/ig_tab_winXPs3.gif" NormalImage="../images/ig_tab_winXP3.gif" HoverImage="../images/ig_tab_winXPs3.gif" FillStyle="LeftMergedWithCenter" ></RoundedImage>
                     <SelectedTabStyle Height="23px"  ForeColor="white">
                        </SelectedTabStyle>
                        <HoverTabStyle Height="23px" ForeColor="white"></HoverTabStyle>
                        <Tabs>
                            <igtab:Tab Text="&nbsp;&nbsp;Cases&nbsp;&nbsp;" >
                                <ContentTemplate>
                              
					<table cellSpacing="1" cellPadding="1" width="100%" border="0">
						<tr vAlign="top">
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="a" href="javascript:fnSortByChar('a')">
									<div class="A2Z">A</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="b" href="javascript:fnSortByChar('b')">
									<div class="A2Z">B</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="c" href="javascript:fnSortByChar('c')">
									<div class="A2Z">C</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="d" href="javascript:fnSortByChar('d')">
									<div class="A2Z">D</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="e" href="javascript:fnSortByChar('e')">
									<div class="A2Z">E</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="f" href="javascript:fnSortByChar('f')">
									<div class="A2Z">F</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="g" href="javascript:fnSortByChar('g')">
									<div class="A2Z">G</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="h" href="javascript:fnSortByChar('h')">
									<div class="A2Z">H</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="I" href="javascript:fnSortByChar('i')">
									<div class="A2Z">I</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="j" href="javascript:fnSortByChar('j')">
									<div class="A2Z">J</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="k" href="javascript:fnSortByChar('k')">
									<div class="A2Z">K</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="l" href="javascript:fnSortByChar('l')">
									<div class="A2Z">L</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="m" href="javascript:fnSortByChar('m')">
									<div class="A2Z">M</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="n" href="javascript:fnSortByChar('n')">
									<div class="A2Z">N</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="o" href="javascript:fnSortByChar('o')">
									<div class="A2Z">O</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="p" href="javascript:fnSortByChar('p')">
									<div class="A2Z">P</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="q" href="javascript:fnSortByChar('q')">
									<div class="A2Z">Q</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="r" href="javascript:fnSortByChar('r')">
									<div class="A2Z">R</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="s" href="javascript:fnSortByChar('s')">
									<div class="A2Z">S</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="t" href="javascript:fnSortByChar('t')">
									<div class="A2Z">T</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="u" href="javascript:fnSortByChar('u')">
									<div class="A2Z">U</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="v" href="javascript:fnSortByChar('v')">
									<div class="A2Z">V</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="w" href="javascript:fnSortByChar('w')">
									<div class="A2Z">W</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="x" href="javascript:fnSortByChar('x')">
									<div class="A2Z">X</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="y" href="javascript:fnSortByChar('y')">
									<div class="A2Z">Y</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="z" href="javascript:fnSortByChar('z')">
									<div class="A2Z">Z</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="all" href="javascript:fnSortByChar('0')">
									<div class="A2Z">All</div>
								</A>
							</td>
						</tr>
					</table>
					
		<asp:table id="table3" Width="100%" Runat="server" Height="350" GridLines="None" BorderColor="black" CssClass="aspTable"
				BorderWidth="1" CellSpacing="0" CellPadding="0">
				<asp:tableRow>
					<asp:tableCell VerticalAlign="Top">
						    <asp:GridView ID="gvSearch" runat="server" EnableViewState="true"  AutoGenerateColumns="false"  CssClass="dg" Width="100%">
                                    <AlternatingRowStyle CssClass="ais"/>
                                    <RowStyle CssClass="is"/>
                                    <HeaderStyle CssClass="hs"/>
						                        <Columns>
						                   
						                        </Columns>		
                                </asp:GridView>
					</asp:tableCell>
				</asp:tableRow>
			</asp:table>
				  </ContentTemplate>
                            </igtab:Tab>
                             <igtab:Tab Text="&nbsp;&nbsp;Knowledge Base&nbsp;&nbsp;" >
                                <ContentTemplate>
                              
					<table cellSpacing="1" cellPadding="1" width="100%" border="0">
						<tr vAlign="top">
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="a1" href="javascript:fnSortByCharKnowledge('a')">
									<div class="A2Z">A</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A2" href="javascript:fnSortByCharKnowledge('b')">
									<div class="A2Z">B</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A3" href="javascript:fnSortByCharKnowledge('c')">
									<div class="A2Z">C</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A4" href="javascript:fnSortByCharKnowledge('d')">
									<div class="A2Z">D</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A5" href="javascript:fnSortByCharKnowledge('e')">
									<div class="A2Z">E</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A6" href="javascript:fnSortByCharKnowledge('f')">
									<div class="A2Z">F</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A7" href="javascript:fnSortByCharKnowledge('g')">
									<div class="A2Z">G</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A8" href="javascript:fnSortByCharKnowledge('h')">
									<div class="A2Z">H</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A9" href="javascript:fnSortByCharKnowledge('i')">
									<div class="A2Z">I</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A10" href="javascript:fnSortByCharKnowledge('j')">
									<div class="A2Z">J</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A11" href="javascript:fnSortByCharKnowledge('k')">
									<div class="A2Z">K</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A12" href="javascript:fnSortByCharKnowledge('l')">
									<div class="A2Z">L</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A13" href="javascript:fnSortByCharKnowledge('m')">
									<div class="A2Z">M</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A14" href="javascript:fnSortByCharKnowledge('n')">
									<div class="A2Z">N</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A15" href="javascript:fnSortByCharKnowledge('o')">
									<div class="A2Z">O</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A16" href="javascript:fnSortByCharKnowledge('p')">
									<div class="A2Z">P</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A17" href="javascript:fnSortByCharKnowledge('q')">
									<div class="A2Z">Q</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A18" href="javascript:fnSortByCharKnowledge('r')">
									<div class="A2Z">R</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A19" href="javascript:fnSortByCharKnowledge('s')">
									<div class="A2Z">S</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A20" href="javascript:fnSortByCharKnowledge('t')">
									<div class="A2Z">T</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A21" href="javascript:fnSortByCharKnowledge('u')">
									<div class="A2Z">U</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A22" href="javascript:fnSortByCharKnowledge('v')">
									<div class="A2Z">V</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A23" href="javascript:fnSortByCharKnowledge('w')">
									<div class="A2Z">W</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A24" href="javascript:fnSortByCharKnowledge('x')">
									<div class="A2Z">X</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A25" href="javascript:fnSortByCharKnowledge('y')">
									<div class="A2Z">Y</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="A26" href="javascript:fnSortByCharKnowledge('z')">
									<div class="A2Z">Z</div>
								</A>
							</td>
							<td onmousemove="bgColor='#c6d3e7'; this.color='black'" onmouseout="bgColor='#52658C'; this.color='white'"
								bgColor="#52658c"><A id="a27" href="javascript:fnSortByCharKnowledge('0')">
									<div class="A2Z">All</div>
								</A>
							</td>
						</tr>
					</table>
					<asp:table id="Table1" CellPadding="0" CellSpacing="0" BorderWidth="1" Runat="server" Width="100%" CssClass="aspTable"
						BorderColor="black" GridLines="None" Height="350">
						<asp:TableRow>
							<asp:TableCell VerticalAlign="Top">
							

							<asp:datagrid id="dgBases" runat="server" Width="100%" CssClass="dg" AllowSorting="True" AutoGenerateColumns="False"
									BorderColor="white">
									<AlternatingItemStyle CssClass="ais"></AlternatingItemStyle>
									<ItemStyle CssClass="is"></ItemStyle>
									<HeaderStyle CssClass="hs"></HeaderStyle>
									<Columns>
										<asp:BoundColumn Visible="False" DataField="numSolnID"></asp:BoundColumn>
										<asp:buttonColumn DataTextField="vcSolnTitle" SortExpression="vcSolnTitle" HeaderText="<font color=white>Solution Name</font>"
											CommandName="Solution"></asp:buttonColumn>
										<asp:BoundColumn DataField="txtSolution" SortExpression="txtSolution" HeaderText="<font color=white>Solution Description</font>"></asp:BoundColumn>
										<asp:TemplateColumn>
											<ItemStyle Width="10"></ItemStyle>
										
											<ItemTemplate>
												<asp:Button ID="btnSolDelete" Runat="server" CssClass="Delete" Text="r" CommandName="Delete"></asp:Button>
												<asp:LinkButton ID="lnkdelete" Runat="server" Visible="false">
													<font color="#730000">*</font></asp:LinkButton>
											</ItemTemplate>
										</asp:TemplateColumn>
									</Columns>
								</asp:datagrid>
								
							</asp:TableCell>
						</asp:TableRow>
					</asp:table>
			  </ContentTemplate>
                            </igtab:Tab>
                        </Tabs>
                    </igtab:ultrawebtab>
			<table width="100%">
				<tr>
					<td class="normal4" align="center">
						<asp:Literal ID="litMessage" Runat="server"></asp:Literal></td>
				</tr>
			</table>
						 <asp:TextBox ID="txtDelCaseId" runat="server" style="display:none"></asp:TextBox>
			   <asp:TextBox ID="txtSortColumn" runat="server" style="display:none"></asp:TextBox>
			<asp:TextBox ID="txtTotalPage" Runat="server" style="DISPLAY:none"></asp:TextBox>
			<asp:TextBox ID="txtTotalRecords" Runat="server" style="DISPLAY:none"></asp:TextBox>
			<asp:TextBox ID="txtSortChar" Runat="server" style="DISPLAY:none"></asp:TextBox>
			<asp:button id="btnGo1" Width="25" Runat="server" style="DISPLAY:none" />
			
			</ContentTemplate>
			</asp:updatepanel>
			</form>
	</body>
</html>

