﻿/* RadComboBox base skin */

/*global*/

.RadComboBox * {
    margin: 0px 3px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    font: 12px "Segoe UI", Arial, sans-serif bolder !important;
    border-color: #080808 !important;
    color: #000 !important;
}

.RadComboBox,
.RadComboBoxDropDown {
    text-align: left !important;
}

.RadComboBoxDropDown {
    background:#fff;
}

.rcbInput {
    text-align: left !important;
    /*background: url(checkbox-bg.png) repeat-x top center !important;*/
}

.RadComboBox_rtl,
.RadComboBox_rtl .rcbInput,
.RadComboBoxDropDown_rtl {
    text-align: right !important;
}

/* combobox */

.RadComboBox {
    vertical-align: middle !important;
    display: -moz-inline-stack !important;
    display: inline-block !important;
}

* + html .RadComboBox {
    display: inline !important;
    zoom: 1 !important;
}

* html .RadComboBox {
    display: inline !important;
    zoom: 1 !important;
    vertical-align: top !important;
}

    .RadComboBox table {
        /*border: 0 !important;
	border-collapse: collapse !important;
    background-color:#8E9CC9 !important;*/
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc !important;
    }

        .RadComboBox table td.rcbInputCell {
            width: 100% !important;
            /*height: 34px !important;
	line-height: 34px !important;*/
            vertical-align: middle !important;
            padding: 0px 0px 0px 3px !important;
            border: 0 !important;
        }


    * html .RadComboBox td.rcbInputCell {
        height /**/: 22px !important;
        line-height /**/: 22px !important;
    }

    /* combobox */

    .RadComboBox .rcbArrowCellLeft,
    .RadComboBox .rcbArrowCellRight {
        background: url(drop-down-black.png) no-repeat center transparent!important;
        padding: -4px 0px 0px 0px !important;
    }

    .RadComboBox .rcbInputCellLeft,
    .RadComboBox .rcbInputCellRight {
        margin-bottom: 7px !important;
        padding: 0px 5px 0px 0px !important;
        height: 20px;
    }

    .RadComboBox .rcbInputCell .rcbInput {
        width: 100% !important;
        border: 0 !important;
        vertical-align: middle !important;
        padding: 2px !important;
        outline: 0 !important;
        -webkit-appearance: none !important; /* iOS renders an additional shadow on the input */
    }

    * html .RadComboBox .rcbInputCell .rcbInput {
        height /**/: 18px !important;
        padding /**/: 2px 0 0 !important; /* This should fix the ajax introduced height in IE6 */
    }

    .RadComboBox .rcbInputCell .rcbEmptyMessage {
        font-style: italic !important;
    }

    .RadComboBox .rcbReadOnly .rcbInput {
        cursor: default !important;
    }

    .RadComboBox table td.rcbInputCell,
    .RadComboBox .rcbInputCell .rcbInput {
        height: 34px !important;
    }

.RadComboBox_rtl table td.rcbInputCell,
.RadComboBox_rtl .rcbInputCell .rcbInput {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.RadComboBox table td.rcbArrowCell {
    width: 16px !important;
    padding: 0px !important;
    border: 0 !important;
}

.RadComboBox .rcbArrowCell a {
    position: relative !important;
    outline: 0 !important;
    overflow: hidden !important;
    display: block !important;
    width: 16px !important;
    height: 22px !important;
    cursor: default !important;
    text-decoration: none !important;
    text-indent: 9999px !important;
    font-size: 0 !important;
    line-height: 1px !important;
}

div.RadComboBox td.rcbArrowCellHidden,
div.RadComboBox .rcbArrowCellHidden a {
    width: 3px !important;
}

/* Read-only styles */

.RadComboBox .rcbReadOnly td.rcbArrowCell {
    width: 18px !important;
}

    .RadComboBox .rcbReadOnly td.rcbArrowCell a {
        width: 18px !important;
    }

.RadComboBox .rcbReadOnly td.rcbArrowCellHidden,
.RadComboBox .rcbReadOnly td.rcbArrowCellHidden a {
    width: 3px !important;
}

/* dropdown */

.rcbSlide {
    position: absolute !important;
    overflow: hidden !important;
    display: none;
    _height: 1px;
    float: left;
}

.RadComboBoxDropDown .rcbHeader,
.RadComboBoxDropDown .rcbFooter,
.RadComboBoxDropDown .rcbMoreResults,
.RadComboBoxDropDown .rcbMoreResults a {
    background-repeat: no-repeat;
}

.RadComboBoxDropDown {
    position: absolute;
    cursor: default;
    font-size: 11px;
    border-width: 1px;
    border-style: solid;
}

.RadComboBoxDropDown_rtl {
    text-align: right;
    direction: rtl;
}

.RadComboBoxDropDown .rcbScroll {
    overflow: auto;
    position: relative;
    background-color: #fff;
}

.RadComboBoxDropDown .rcbList {
    list-style: none outside;
    position: relative;
    margin: 0;
    padding: 0;
}

.RadComboBoxDropDown .rcbHeader,
.RadComboBoxDropDown .rcbFooter {
    background-repeat: repeat-x;
    padding: 5px 7px 4px;
    background-color: #E5E5E5;
}

.RadComboBoxDropDown .rcbHeader {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 1px;
}

.RadComboBoxDropDown .rcbFooter {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 1px;
}

.RadComboBoxDropDown .rcbNoWrap .rcbItem,
.RadComboBoxDropDown .rcbNoWrap .rcbHovered,
.RadComboBoxDropDown .rcbNoWrap .rcbDisabled,
.RadComboBoxDropDown .rcbNoWrap .rcbLoading {
    white-space: nowrap;
}

.RadComboBoxDropDown .rcbItem,
.RadComboBoxDropDown .rcbHovered,
.RadComboBoxDropDown .rcbDisabled,
.RadComboBoxDropDown .rcbLoading,
.RadComboBoxDropDown .rcbFooter {
    padding: 2px;
    
    line-height: 30px !important;
    font-size: 14px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html >/**/ body .RadComboBoxDropDown .rcbItem,
html >/**/ body .RadComboBoxDropDown .rcbHovered,
html >/**/ body .RadComboBoxDropDown .rcbDisabled,
html >/**/ body .RadComboBoxDropDown .rcbLoading {
    min-height: 13px;
}

* + html .RadComboBoxDropDown .rcbItem,
* + html .RadComboBoxDropDown .rcbHovered,
* + html .RadComboBoxDropDown .rcbDisabled,
* + html .RadComboBoxDropDown .rcbLoading {
    height: auto;
}

.RadComboBoxDropDown_rtl .rcbItem,
.RadComboBoxDropDown_rtl .rcbHovered,
.RadComboBoxDropDown_rtl .rcbDisabled,
.RadComboBoxDropDown_rtl .rcbLoading {
    padding: 2px 6px;
}

.RadComboBoxDropDown .rcbCheckBox {
    vertical-align: middle;
}


.RadComboBoxDropDown .rcbImage {
    vertical-align: middle;
    margin: 0 6px 2px 0;
}

.RadComboBoxDropDown_rtl .rcbImage {
    margin: 0 0 2px 6px;
}

.RadComboBoxDropDown .rcbHovered {
    background-repeat: repeat-x;
}

.RadComboBoxDropDown em {
    font-style: normal;
    font-weight: bold;
}

* + html div.RadComboBoxDropDown .rcbList {
    zoom: 1;
}
/* IE7 item width fix */
* html div.RadComboBoxDropDown .rcbItem,
* html div.RadComboBoxDropDown .rcbHovered {
    zoom: 1;
}
/* IE6 item width fix */

.RadComboBox .rcbDisabled .rcbInputCell .rcbInput,
.RadComboBoxDropDown .rcbDisabled {
    cursor: default;
}

.RadComboBoxDropDown .rcbLoading {
    text-align: center;
}

.RadComboBoxDropDown .rcbMoreResults {
    clear: both;
    border-top-width: 1px;
    border-top-style: solid;
    background-repeat: repeat-x;
    position: relative;
    padding: 0 6px 0;
    text-align: center;
    margin-top: 1px;
}

    .RadComboBoxDropDown .rcbMoreResults a {
        display: inline-block;
        width: 15px;
        height: 9px;
        text-indent: -9999px;
        overflow: hidden;
        text-decoration: none;
        cursor: pointer;
        vertical-align: middle;
    }

    * html .RadComboBoxDropDown .rcbMoreResults a {
        font-size: 0;
        line-height: 0;
        text-indent: 0;
    }

    * + html .RadComboBoxDropDown .rcbMoreResults a {
        font-size: 0;
        line-height: 0;
        text-indent: 0;
    }

    .RadComboBoxDropDown .rcbMoreResults span {
        vertical-align: middle;
        height: 19px;
        line-height: 19px;
        display: inline-block;
    }

.RadComboBoxDropDown .rcbSeparatedList .rcbItem,
.RadComboBoxDropDown .rcbSeparatedList .rcbHovered,
.RadComboBoxDropDown .rcbSeparatedList .rcbDisabled,
.RadComboBoxDropDown .rcbSeparatedList .rcbLoading {
    padding-left: 12px;
}

.RadComboBoxDropDown .rcbSeparatedList .rcbSeparator {
    padding-left: 6px;
}

/*<ComboBox with Label>*/

.RadComboBoxWithLabel .rcbLabel {
    vertical-align: top;
    padding-right: 10px;
    line-height: 22px;
    zoom: 1;
}

.RadComboBox_rtl .rcbLabel {
    text-align: right;
    padding: 0 0 0 10px;
}

* + html .RadComboBox_rtl .rcbLabel {
    margin-right: 5px;
}

* html .RadComboBox_rtl .rcbLabel {
    margin-right: 5px;
}

.RadComboBoxWithLabel table {
    vertical-align: top;
    float: none;
    display: inline-block;
    zoom: 1;
}

* + html .RadComboBoxWithLabel table {
    display: inline;
    margin-right: 5px;
}

* html .RadComboBoxWithLabel table {
    display: inline;
    margin-right: 5px;
}

.RadComboBoxWithLabel {
    white-space: nowrap;
    zoom: normal;
}

.rcbCheckBox {
    margin: 0px !important;
    margin-right: 5px !important;
}

/*</ComboBox with Label>*/

/*hacks*/

/*Opera start*/
@media screen and (min-width: 550px) {
    .RadComboBoxDropDown_rtl .rcbItem,
    .RadComboBoxDropDown_rtl .rcbHovered,
    .RadComboBoxDropDown_rtl .rcbDisabled,
    .RadComboBoxDropDown_rtl .rcbLoading {
        padding: 2px 6px 2px 19px;
    }
}
/*Opera end*/


.RadComboBox_Default .rcbInputCellLeft, .RadComboBox_Default .rcbInputCellRight, .RadComboBox_Default .rcbArrowCellLeft {
    background-image:none !important;
}