﻿<table width="100%" border="0" cellpadding="0">
    <tr>
        <td valign="top" align="left">
            #Logo#
        </td>
        <td align="right" nowrap >
            
        </td>
        <td align="right" nowrap class="title">
            #BizDocTemplateName#
        </td>
    </tr>
</table>
<table width="100%" border="0" cellpadding="0">
    <tr>
        <td align="right">
            <table width="100%">
                <tr>
                    <td class="RowHeader">
                        Discount
                    </td>
                    <td class="RowHeader">
                        Billing Terms
                    </td>
                    <td class="RowHeader">
                        #ChangeDueDate#
                    </td>
                    <td class="RowHeader">
                        ID#
                    </td>
                </tr>
                <tr>
                    <td class="normal1">
                        #Discount#
                    </td>
                    <td class="normal1">
                        #BillingTerms#
                    </td>
                    <td class="normal1">
                        #DueDate#
                    </td>
                    <td class="normal1">
                        #BizDocID#
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table height="100%" width="100%">
                <tr>
                    <td class="RowHeader">
                        #Customer/VendorChangeBillToHeader#
                    </td>
                    <td class="RowHeader">
                        #Customer/VendorChangeShipToHeader#	
                    </td>
                    <td class="RowHeader">
                        Status
                    </td>
                </tr>
                <tr>
                    <td class="normal1">
                        #Customer/VendorOrganizationName#<br />
                        #Customer/VendorBillToAddress#
                    </td>
                    <td class="normal1">
                         #Customer/VendorShipToAddress#
                    </td>
                    <td>
                        <table height="100%" width="100%">
                            <tr>
                                <td colspan="2" class="normal1">
                                    #BizDocStatus#
                                </td>
                            </tr>
                            <tr>
                                <td class="normal1">
                                    #AmountPaidPopUp#
                                </td>
                                <td class="normal1">
                                    #Currency#&nbsp;#AmountPaid#
                                </td>
                            </tr>
                            <tr>
                                <td class="normal1">
                                    Balance Due:
                                </td>
                                <td class="normal1">
                                    #Currency#&nbsp;#BalanceDue#
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="normal1">
        <td>
            <table height="100%" width="100%">
                <tr>
                    <td class="RowHeader">
                        <asp:label id="Label1" runat="server"></asp:label>
                        &nbsp;#
                    </td>
                    <td class="RowHeader">
                        Deal or Order ID
                    </td>
                </tr>
                <tr>
                    <td>
                        #P.O.NO#
                    </td>
                    <td class="normal1">
                        #OrderID#
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="RowHeader">
            Comments
        </td>
    </tr>
    <tr class="normal1">
        <td>
            #Comments#
        </td>
    </tr>
    <tr class="normal1">
        <td>
            #Products#
        </td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td align="right">
            #BizDocSummary#
        </td>
    </tr>
    <tr>
        <td>
            #FooterImage#
        </td>
    </tr>
</table>
