﻿ .title{color: #696969; /*padding:10px;*/font: bold 30px Arial, Helvetica, sans-serif;}
.RowHeader{background-color: #dedede;color: #333;font-family: Arial;font-size: 8pt;}
.RowHeader.hyperlink{color: #333;}
.ItemHeader, .ItemStyle, .AltItemStyle{border-width: 1px;padding: 8px;font: normal 12px/17px arial;border-style: solid;border-color: #666666;background-color: #dedede;}
.ItemHeader{border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;}
.ItemStyle td{border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;}
.AltItemStyle{background-color: White;border-color: black;padding: 8px;}
.AltItemStyle td{padding: 8px;}
.ItemHeader td{border-width: 1px;padding: 8px;font-weight: bold;border-style: solid;border-color: #666666;background-color: #dedede;}
.ItemHeader td th{border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;}
#tblBizDocSumm{font: normal 12px verdana;color: #333;border-width: 1px;border-color: #666666;border-collapse: collapse;background-color: #dedede;}
#tblBizDocSumm td{border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;}
.WordWrapSerialNo{width: 30%;word-break: break-all;}