<%@ Page Language="vb" AutoEventWireup="false" EnableEventValidation="false" Codebehind="chartgenerator.aspx.vb" Inherits="BACRM.UserInterface.Admin.chartgenerator" %>
<%@ OutputCache Duration="1" VaryByParam="*" Location="None" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
        <title>ChartGenerator</title>
        <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body>

    <form id="ChartGenerator" method="post" runat="server">
    </form>

  </body>
</html>
