<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmAdminNav.aspx.vb" Inherits=".frmAdminNav" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Untitled Page</title>
    <link rel="stylesheet" href="~/CSS/master.css" type="text/css" />
</head>
<frameset framespacing="1px" cols="15%, 85%">
                  <FRAME frameborder="1"   BORDERCOLOR="#E9ECF7"  name="leftFrame" src="../Items/frmItemNavigation.aspx?ModID=<%=BACRM.BusinessLogic.Common.MODULEID.Administration %>">
                  <FRAME frameborder="1" name="rightFrame" src="../go.html" BORDERCOLOR="#E9ECF7">
              </frameset>
</html>
