﻿<table align="center" border="0" id="tbl" style="border:0px none black;border-image: initial; width: 1000px; page-break-after: always;" frame="above">
    <tbody>
        <tr valign="top">
            <td>
            <table align="center" width="100%" cellspacing="2" cellpadding="2" border="0">
                <tbody>
                    <tr>
                        <td align="left">#Logo#<br />
                        </td>
                        <td align="right" class="style1">
                        <h1 class="style2">Packing Slip</h1>
                        </td>
                    </tr>
                    <tr>
                        <td align="left"><span class="style3">#Customer/VendorOrganizationName#</span><br class="style3" />
                        <span class="style4">Tel:#Customer/VendorOrganizationContactPhone#</span></td>
                        <td align="left"><br />
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top"><strong>Ship-To:</strong>&nbsp;<span class="style5">#Customer/VendorShipToAddress#</span></td>
                        <td align="left"><br />
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Sales Order:</strong> <span class="style5">#OrderID#</span></td>
                        <td><br />
                        </td>
                    </tr>
                    <!--<tr><td><strong>Due Date:</strong> <span class="style5">$DueDate$</span></td><td>&nbsp;</td></tr>-->
                    <tr>
                        <td><strong>Ship Via:</strong> <span class="style5">#ShippingCompany#</span></td>
                        <td><br />
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr align="center" valign="top">
            <td colspan="2">#Products#
            </td>
        </tr>
    </tbody>
</table>
