﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/common/BizMaster.Master" CodeBehind="Home.aspx.vb" Inherits=".Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
