<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmLogout.aspx.vb" Inherits="BACRMPortal.frmLogout" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript"  language=javascript >
		 function Login()
		{
			if (parent.parent.frames.length>0)
			{
			    parent.parent.document.location.href="../Login.aspx"
			}
			else if (parent.frames.length>0)
			{
			    parent.document.location.href="../Login.aspx"
			}
			else
			{
			    document.location.href="../Login.aspx"
			}
			
			
			//parent.location.href='common/frmticklerdisplay.aspx?ClientMachineUTCTimeOffset='+new Date().getTimezoneOffset();
			return false;
		}
		</script>
</head>
<body>
    <form id="form1" runat="server">
    <br>
			<br>
			<asp:table id="Table2" Runat="server" HorizontalAlign="center" CellPadding="0" CellSpacing="0"
				BorderWidth="1" BorderColor="black" GridLines="None" Width=300 >
				<asp:TableRow>
					<asp:TableCell VerticalAlign="Top">
						<br>
						<table align="center">
							<tr>
								<td class="normal1" align="center">For security reasons, you have
									<br>
									been logged off.
									<br>
									<br>
									Please login again.
									<br>
									<br>
									<asp:Button ID="btnLogin" Runat="server" text="Log Back In" CssClass="Credit"></asp:Button>
								</td>
							</tr>
						</table>
						<br>
					</asp:TableCell>
				</asp:TableRow>
			</asp:table>
    </form>
</body>
</html>
