﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="frmPrebuildHtmlReport.ascx.vb" Inherits=".frmPrebuildHtmlReport" %>
<script>
    function OpenItemList() {

        window.open('../Items/frmItemList.aspx?Page=Inventory Items&ItemGroup=0&Export=True')
        return false;
    }
</script>
<asp:Literal ID="litReportHtml" runat="server"></asp:Literal>