<%@ Page Language="vb" AutoEventWireup="false" EnableEventValidation="false" Codebehind="frmFullImage.aspx.vb" Inherits="frmFullImage" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head id="Head1"    runat="server">		
        <link rel="stylesheet" href="~/CSS/master.css" type="text/css" />
		<title>Image</title>
		
	</HEAD>
	<body >
		<form id="Form1" method="post" runat="server">
			<br>
			<table align="center">
				<tr>
					<td align="center">
						<asp:Image ID="imgItem" Runat="server" BorderWidth="1" BorderColor="1"></asp:Image>
					</td>
				</tr>
			</table>
		</form>
	</body>
</HTML>
