<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="CatalogList.ascx.vb" Inherits="BACRMPortal.ShoppingCart_CatalogList" %>
 <div id="menutext">
		  <ul>
			<asp:Repeater ID="rptMenu" Runat="server">
				<ItemTemplate>
				<li><a href="../ShoppingCart/catalog.aspx?cid=<%# Eval("categoryID")%>&c=<%# Eval("categoryname")%>">
					<%#Eval("categoryname")%>
					</a></li>
				</ItemTemplate>
			</asp:Repeater>
		</ul>        
	</div>

