<%@ Page Language="vb" MasterPageFile="site.master" AutoEventWireup="true" CodeBehind="frmItemDescrpition.aspx.vb" Inherits="BACRMPortal.ShoppingCart_frmItemDescrpition" %>
<asp:Content ID="Content1" ContentPlaceHolderID="CphPage" Runat="Server">
	<asp:Table ID="tblDetails" runat="server" Width="100%" ></asp:Table>	
</asp:Content>

