<%@ Page Language="vb" MasterPageFile="site.master" AutoEventWireup="false" CodeBehind="Search.aspx.vb" Title="Search" Inherits="BACRMPortal.ShoppingCart_Search" %>
<%@ Register TagPrefix="uc1" TagName="CatalogList" Src="CatalogList.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="CphPage" Runat="Server">
    <asp:Table ID="tblDetails" runat="server" Width="100%" ></asp:Table>
</asp:Content>

