<%@ Page Language="vb" AutoEventWireup="false" EnableEventValidation="false" Codebehind="frmFullImage.aspx.vb" Inherits="BACRMPortal.frmFullImage"%>
<!DOCTYPE html PUBLIC "-//W3C//Dtd XHTML 1.0 transitional//EN" "http://www.w3.org/tr/xhtml1/Dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head id="Head1" runat="server">
       <link href="~/css/MASTER.CSS" rel="stylesheet" type="text/css" runat="server" id="MasterCSS" />
		<title>Image</title>
	</HEAD>
	<body >
		<form id="Form1" method="post" runat="server">
			<br>
			<table align="center">
				<tr>
					<td align="center">
						<asp:Image ID="imgItem" Runat="server" BorderWidth="1" BorderColor="1"></asp:Image>
					</td>
				</tr>
			</table>
		</form>
	</body>
</HTML>
