<%@ Page Language="vb" AutoEventWireup="false"  EnableEventValidation="false" Codebehind="frmThanku.aspx.vb" Inherits="BACRMPortal.frmThanku"%>
<!DOCTYPE html PUBLIC "-//W3C//Dtd XHTML 1.0 transitional//EN" "http://www.w3.org/tr/xhtml1/Dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head id="Head1" runat="server">
       <link href="~/css/MASTER.CSS" rel="stylesheet" type="text/css" runat="server" id="MasterCSS" />
		<title>Thanku</title>
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<br>
			<br>
			<br>
			<table align="center">
				<tr>
					<td class="normal1" align="center">
						<IMG SRC="../images/OrderThanku.gif">
					</td>
				</tr>
			</table>
		</form>
	</body>
</HTML>
