.igpnl_Panel
{
   	border: solid 1px #636363;
	BACKGROUND-COLOR: #FDFDFD;
	background-image:url(images/panel_bg.jpg);
	background-repeat:repeat-x;
	text-align:left;
}


.igpnl_HeaderExpanded
{
	padding:6px 0px 1px 18px;
	border-left: #636363 1px solid; 
	border-right: #636363 1px solid; 
    font-weight: bold;
    font-size: 8pt; 
    width: 100%; 
    color: white;
    background-repeat: repeat-x; 
    font-family: Lucida Sans;
    background-image:url(images/onyxBar.gif);
}


.igpnl_HeaderExpanded IMG
{
   margin-top:-6px; 
}


.igpnl_HeaderCollapsed
{
}


.igpnl_HeaderHover
{
}


.igpnl_Control
{

	width:100%;

}


.igpnl_GroupBoxControl
{
}



.igpnl_Panel DIV
{
   
    width:auto !important;
}
