<%@ Page Language="vb" AutoEventWireup="false" EnableEventValidation="false" EnableViewState="false" Codebehind="frmEditSurveyRedirection.aspx.vb" Inherits="frmEditSurveyRedirection" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head id="Head1" runat="server">
		<link runat="server" rel="stylesheet" href="~/CSS/Import.css" type="text/css" id="AdaptersInvariantImportCSS" />

        <link rel="stylesheet" href="~/CSS/master.css" type="text/css" />
       
		<title>Edit Survey Redirection</title>
		
		
		
		
	</HEAD>
	<body >
		<form id="frmEditSurveyRedirection" method="post" runat="server">
			<asp:literal id="litClientMessage" Runat="server"></asp:literal>
		</form>
	</body>
</HTML>
