﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="CalendarList.aspx.vb"
    Inherits=".CalendarList" MasterPageFile="~/common/BizMaster.Master" %>

<%@ Register Src="../Outlook/InboxTree.ascx" TagName="InboxTree" TagPrefix="uc1" %>

<asp:Content ContentPlaceHolderID="head" runat="server">
    <title>Calendar</title>
    <%--  <link rel="stylesheet" href="<%# ResolveUrl("~/CSS/MASTER.CSS")%>" type="text/css" />--%>
    <link href="jqCalender/main.css" rel="stylesheet" type="text/css" />
    <link href="jqCalender/Error.css" rel="stylesheet" type="text/css" />
    <link href="jqCalender/dropdown.css" rel="stylesheet" type="text/css" />
    <link href="jqCalender/dp.css" rel="stylesheet" type="text/css" />
    <link href="jqCalender/dailog.css" rel="stylesheet" type="text/css" />
    <link href="jqCalender/colorselect.css" rel="stylesheet" type="text/css" />
    <link href="jqCalender/calendar.css" rel="stylesheet" type="text/css" />
    <link href="jqCalender/alert.css" rel="stylesheet" type="text/css" />
    <%--<script src="wdCalendar/src/jquery.js" type="text/javascript"></script>--%>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="wdCalendar/src/Plugins/Common.js" type="text/javascript"></script>
    <script src="wdCalendar/src/Plugins/datepicker_lang_US.js" type="text/javascript"></script>
    <script src="wdCalendar/src/Plugins/jquery.datepicker.js" type="text/javascript"></script>
    <script src="wdCalendar/src/Plugins/jquery.alert.js" type="text/javascript"></script>
    <script src="wdCalendar/src/Plugins/jquery.ifrmdailog.js" defer="defer" type="text/javascript"></script>
    <script src="wdCalendar/src/Plugins/wdCalendar_lang_US.js" type="text/javascript"></script>
    <script src="wdCalendar/src/Plugins/jquery.calendar.js" type="text/javascript"></script>
    <script src="wdCalendar/src/jquery.getQueryParam.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var prm = Sys.WebForms.PageRequestManager.getInstance();
            prm.add_pageLoaded(pageLoaded);
        });

        function pageLoaded() {
            var view = "week";

            var DATA_FEED_URL = "DataFeedCalendar.aspx";
            var op = {
                view: view,
                theme: 3,
                showday: new Date(),
                EditCmdhandler: Edit,
                DeleteCmdhandler: Delete,
                ViewCmdhandler: View,
                onWeekOrMonthToDay: wtd,
                onBeforeRequestData: cal_beforerequest,
                onAfterRequestData: cal_afterrequest,
                onRequestDataError: cal_onerror,
                autoload: true,
                url: DATA_FEED_URL + "?method=list",
                quickAddUrl: DATA_FEED_URL + "?method=add",
                quickUpdateUrl: DATA_FEED_URL + "?method=update",
                quickDeleteUrl: DATA_FEED_URL + "?method=remove",
                TimeFormat: document.getElementById('<%# hdnTimeFormat.ClientID%>').value,
                height: 300
            };
            var $dv = $("[id$=calhead]");
            var _MH = document.documentElement.clientHeight;
            var dvH = $dv.height() + 2;
            op.height = _MH - dvH;
            op.eventItems = [];

            var p = $("[id$=gridcontainer]").bcalendar(op).BcalGetOp();
            if (p && p.datestrshow) {
                $("[id$=txtdatetimeshow]").text(p.datestrshow);
            }
            $("[id$=caltoolbar]").noSelect();

            $("[id$=hdtxtshow]").datepicker({
                picker: "#txtdatetimeshow", showtarget: $("[id$=txtdatetimeshow]"),
                onReturn: function (r) {
                    var p = $("[id$=gridcontainer]").gotoDate(r).BcalGetOp();
                    if (p && p.datestrshow) {
                        $("[id$=txtdatetimeshow]").text(p.datestrshow);
                    }
                }
            });
            function cal_beforerequest(type) {
                var t = "Loading data...";
                switch (type) {
                    case 1:
                        t = "Loading data...";
                        break;
                    case 2:
                    case 3:
                    case 4:
                        t = "The request is being processed ...";
                        break;
                }
                $("[id$=errorpannel]").hide();
                $("[id$=loadingpannel]").html(t).show();
            }
            function cal_afterrequest(type) {
                switch (type) {
                    case 1:
                        $("[id$=loadingpannel]").hide();
                        break;
                    case 2:
                    case 3:
                    case 4:
                        $("[id$=loadingpannel]").html("Success!");
                        window.setTimeout(function () { $("[id$=loadingpannel]").hide(); }, 2000);
                        break;
                }

            }
            function cal_onerror(type, data) {
                $("[id$=errorpannel]").show();
            }
            function Edit(data, RecurrenceSeries, ParentId) {

                if (data[0] > 0) {
                    data[2] = (data[2].getMonth() + 1) + '/' + data[2].getDate() + '/' + data[2].getFullYear() + ' ' + data[2].getHours() + ':' + data[2].getMinutes() + ':' + data[2].getSeconds();
                    data[3] = (data[3].getMonth() + 1) + '/' + data[3].getDate() + '/' + data[3].getFullYear() + ' ' + data[3].getHours() + ':' + data[3].getMinutes() + ':' + data[3].getSeconds();
                }

                var eurl = "EditCalendar.aspx?id={0}&start=" + data[2] + "&end=" + data[3] + "&isallday={4}&title={1}&rs=" + RecurrenceSeries + "&PId=" + ParentId;
                if (data) {
                    var url = StrFormat(eurl, data);
                    OpenModelWindow(url, {
                        width: 600, height: 400, caption: "Manage  The Calendar", onclose: function () {
                            $("#gridcontainer").reload();
                        }
                    });
                }
            }
            function View(data) {
                var str = "";
                $.each(data, function (i, item) {
                    str += "[" + i + "]: " + item + "\n";
                });
                alert(str);
            }
            function Delete(data, callback) {

                $.alerts.okButton = "Ok";
                $.alerts.cancelButton = "Cancel";
                hiConfirm("Are You Sure to Delete this Event", 'Confirm', function (r) { r && callback(0); });
            }
            function wtd(p) {
                if (p && p.datestrshow) {
                    $("[id$=txtdatetimeshow]").text(p.datestrshow);
                }
                $("[id$=caltoolbar] div.fcurrent").each(function () {
                    $(this).removeClass("fcurrent");
                })
                $("[id$=showdaybtn]").addClass("fcurrent");
            }
            //to show day view
            $("[id$=showdaybtn]").click(function (e) {
                //document.location.href="#day";
                $("[id$=caltoolbar] div.fcurrent").each(function () {
                    $(this).removeClass("fcurrent");
                })
                $(this).addClass("fcurrent");
                var p = $("[id$=gridcontainer]").swtichView("day").BcalGetOp();
                if (p && p.datestrshow) {
                    $("[id$=txtdatetimeshow]").text(p.datestrshow);
                }
            });
            //to show week view
            $("[id$=showweekbtn]").click(function (e) {
                //document.location.href="#week";
                $("[id$=caltoolbar] div.fcurrent").each(function () {
                    $(this).removeClass("fcurrent");
                })
                $(this).addClass("fcurrent");
                var p = $("[id$=gridcontainer]").swtichView("week").BcalGetOp();
                if (p && p.datestrshow) {
                    $("[id$=txtdatetimeshow]").text(p.datestrshow);
                }

            });
            //to show month view
            $("[id$=showmonthbtn]").click(function (e) {
                //document.location.href="#month";
                $("[id$=caltoolbar] div.fcurrent").each(function () {
                    $(this).removeClass("fcurrent");
                })
                $(this).addClass("fcurrent");
                var p = $("[id$=gridcontainer]").swtichView("month").BcalGetOp();
                if (p && p.datestrshow) {
                    $("[id$=txtdatetimeshow]").text(p.datestrshow);
                }
            });

            $("[id$=showreflashbtn]").click(function (e) {
                $("[id$=gridcontainer]").reload();
            });

            //Add a new event
            $("[id$=faddbtn]").click(function (e) {
                var url = "AddCalendar.aspx";

                OpenModelWindow(url, {
                    width: 600, height: 400, caption: "Create Event", onclose: function () {
                        $("[id$=gridcontainer]").reload();
                    }
                });
            });

            //go to today
            $("[id$=showtodaybtn]").click(function (e) {
                var p = $("[id$=gridcontainer]").gotoDate().BcalGetOp();
                if (p && p.datestrshow) {
                    $("[id$=txtdatetimeshow]").text(p.datestrshow);
                }


            });
            //previous date range
            $("[id$=sfprevbtn]").click(function (e) {
                var p = $("[id$=gridcontainer]").previousRange().BcalGetOp();
                if (p && p.datestrshow) {
                    $("[id$=txtdatetimeshow]").text(p.datestrshow);
                }

            });
            //next date range
            $("[id$=sfnextbtn]").click(function (e) {
                var p = $("[id$=gridcontainer]").nextRange().BcalGetOp();
                if (p && p.datestrshow) {
                    $("[id$=txtdatetimeshow]").text(p.datestrshow);
                }
            });

        }

        function SetTitle(FName) {
        }
    </script>
</asp:Content>

<asp:Content ContentPlaceHolderID="MainContent" runat="server">
     <asp:UpdateProgress ID="UpdateProgress" runat="server" ClientIDMode="Static">
        <ProgressTemplate>
            <div class="overlay">
                <div class="overlayContent" style="color: #000; text-align: center; width: 250px; padding: 20px">
                    <i class="fa fa-2x fa-refresh fa-spin"></i>
                    <h3>Processing Request</h3>
                </div>
            </div>
        </ProgressTemplate>
    </asp:UpdateProgress>
    <div class="row">
        <div class="col-md-3">
            <uc1:InboxTree ID="InboxTree1" runat="server" />
        </div>
        <div class="col-md-9">
            <div id="calhead" style="padding-left: 1px; padding-right: 1px;">
                <div class="cHead">
                    <div class="ftitle">
                        Calendar for
                        <asp:Label ID="lblUserName" runat="server"></asp:Label>
                        &nbsp;&nbsp;&nbsp;Select an Employee :
                        <asp:DropDownList runat="server" Width="150" AutoPostBack="true" ID="ddlItems" CssClass="signup">
                        </asp:DropDownList>
                    </div>
                    <div id="loadingpannel" class="ptogtitle loadicon" style="display: none;">
                        Loading data...
                    </div>
                    <div id="errorpannel" class="ptogtitle loaderror" style="display: none;">
                        Sorry, could not load your data, please try again later
                    </div>
                </div>
                <div id="caltoolbar" class="ctoolbar">
                    <div id="faddbtn" class="fbutton">
                        <div>
                            <span title='Click to Create New Event' class="addcal">New Event </span>
                        </div>
                    </div>
                    <div class="btnseparator">
                    </div>
                    <div id="showtodaybtn" class="fbutton">
                        <div>
                            <span title='Click to back to today ' class="showtoday">Today</span>
                        </div>
                    </div>
                    <div class="btnseparator">
                    </div>
                    <div id="showdaybtn" class="fbutton">
                        <div>
                            <span title='Day' class="showdayview">Day</span>
                        </div>
                    </div>
                    <div id="showweekbtn" class="fbutton fcurrent">
                        <div>
                            <span title='Week' class="showweekview">Week</span>
                        </div>
                    </div>
                    <div id="showmonthbtn" class="fbutton">
                        <div>
                            <span title='Month' class="showmonthview">Month</span>
                        </div>
                    </div>
                    <div class="btnseparator">
                    </div>
                    <div id="showreflashbtn" class="fbutton">
                        <div>
                            <span title='Refresh view' class="showdayflash">Refresh</span>
                        </div>
                    </div>
                    <div class="btnseparator">
                    </div>
                    <div id="sfprevbtn" title="Prev" class="fbutton">
                        <span class="fprev"></span>
                    </div>
                    <div id="sfnextbtn" title="Next" class="fbutton">
                        <span class="fnext"></span>
                    </div>
                    <div class="fshowdatep fbutton">
                        <div>
                            <input type="hidden" name="txtshow" id="hdtxtshow" />
                            <span id="txtdatetimeshow">Loading</span>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
            <div style="padding: 1px;">
                <div class="t1 chromeColor">
                    &nbsp;
                </div>
                <div class="t2 chromeColor">
                    &nbsp;
                </div>
                <div id="dvCalMain" class="calmain printborder">
                    <div id="gridcontainer" style="overflow-y: visible;">
                    </div>
                </div>
                <div class="t2 chromeColor">
                    &nbsp;
                </div>
                <div class="t1 chromeColor">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <asp:HiddenField ID="hdnTimeFormat" runat="server" Value="24" />
</asp:Content>
