.RadTabStrip_BizSkin .rtsLI,
.RadTabStrip_BizSkin .rtsLink
{
	color: #000;
	font: 11px/26px "Segoe UI", Arial, sans-serif;
	font-weight:bold;
}

.RadTabStripLeft_BizSkin .rtsSeparator,
.RadTabStripRight_BizSkin .rtsSeparator
{
	background: #828282;
}

/* <disabled tabs> */
.RadTabStrip_BizSkin .rtsDisabled
{
	color: #aaa;
}
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_BizSkin .rtsNextArrow,
.RadTabStrip_BizSkin .rtsPrevArrow,
.RadTabStrip_BizSkin .rtsPrevArrowDisabled,
.RadTabStrip_BizSkin .rtsNextArrowDisabled
{
	background-image: url('../BizSkin/TabStrip/TabStripStates.png');
}
/* </scrolling arrows> */

/* <tab backgrounds> */

.RadTabStripTop_BizSkin .rtsLevel { background-color: transparent; }

.RadTabStripTop_BizSkin .rtsLevel .rtsLink,
.RadTabStripTop_BizSkin .rtsLevel .rtsOut,
.RadTabStripBottom_BizSkin .rtsLevel .rtsLink,
.RadTabStripBottom_BizSkin .rtsLevel .rtsOut,
.RadTabStripTop_BizSkin_Baseline .rtsLevel,
.RadTabStripBottom_BizSkin_Baseline .rtsLevel { background-image: url('../BizSkin/TabStrip/TabStripStates.png'); }

.RadTabStripLeft_BizSkin .rtsLink,
.RadTabStripRight_BizSkin .rtsLink { background-image: url('../BizSkin/TabStrip/TabStripVStates.png'); }

.RadTabStripLeft_BizSkin .rtsLast .rtsLink,
.RadTabStripRight_BizSkin .rtsLast .rtsLink
{
	border-bottom: 1px solid #898C95;
}

/* </tab backgrounds> */

/* <background positioning: overlapping tabs> */

/* <orientation: top> */

.RadTabStripTop_BizSkin .rtsLink { background-position: 0 -52px; }
.RadTabStripTop_BizSkin .rtsFirst .rtsLink { background-position: 0 0; }
.RadTabStripTop_BizSkin .rtsOut { background-position: 100% -52px; }
.RadTabStripTop_BizSkin .rtsLast .rtsOut { background-position: 100% 0; }

.RadTabStripTop_BizSkin .rtsLI .rtsSelected { background-position: 0 -26px; color:#fff; }
.RadTabStripTop_BizSkin .rtsSelected .rtsOut { background-position: 100% -78px; }
.RadTabStripTop_BizSkin .rtsLI .rtsAfter { background-position: 0 -78px; }

.RadTabStripTop_BizSkin .rtsLast .rtsSelected .rtsOut { background-position: 100% -26px; }

.RadTabStripTop_BizSkin_Baseline .rtsLevel { background-position: 0 100%; background-repeat: repeat-x; }

/* </orientation: top> */

/* <orientation: bottom> */

.RadTabStripBottom_BizSkin .rtsLevel .rtsLink { background-position: 0 -130px; }
.RadTabStripBottom_BizSkin .rtsLevel .rtsFirst .rtsLink { background-position: 0 -182px; }
.RadTabStripBottom_BizSkin .rtsLevel .rtsOut { background-position: 100% -130px; }
.RadTabStripBottom_BizSkin .rtsLevel .rtsLast .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_BizSkin .rtsLevel .rtsLI .rtsSelected { background-position: 0 -156px; }
.RadTabStripBottom_BizSkin .rtsLevel .rtsSelected .rtsOut { background-position: 100% -104px; }
.RadTabStripBottom_BizSkin .rtsLevel .rtsLI .rtsAfter { background-position: 0 -104px; }

.RadTabStripBottom_BizSkin .rtsLevel .rtsLast .rtsSelected .rtsOut { background-position: 100% -156px; }

.RadTabStripBottom_BizSkin_Baseline .rtsLevel { background-position: 0 -599px; background-repeat: repeat-x; }

/* </orientation: bottom> */

/* <orientation: right> */

.RadTabStripRight_BizSkin .rtsUL .rtsLink,
.RadTabStripRight_BizSkin .rtsUL .rtsLI .rtsDisabled:hover { background-position: 100% 0; text-align: left; }
.RadTabStripRight_BizSkin .rtsUL .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_BizSkin .rtsUL .rtsSelected,
.RadTabStripRight_BizSkin .rtsUL .rtsSelected:hover { background-position: 100% -400px; }

/* </orientation: right> */

/* <orientation: top (RTL)> */

.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsLink
{
	padding-left: 0;
	padding-right: 9px;
}

.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsOut
{
	padding-left: 9px;
	padding-right: 0;
}

.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsLink,
.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsOut { background-image: url('../BizSkin/TabStrip/TabStripStates_rtl.png'); }

.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsLink { background-position: 100% -52px; }
.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsFirst .rtsLink { background-position: 100% 0; }
.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsOut { background-position: 0 -52px; }
.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsLast .rtsOut { background-position: 0 0; }

.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsLI .rtsSelected { background-position: 100% -26px; }
.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsSelected .rtsOut { background-position: 0 -78px; }
.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsLI .rtsAfter { background-position: 100% -78px; }

.RadTabStripTop_BizSkin_rtl .rtsLevel .rtsLast .rtsSelected .rtsOut { background-position: 0 -26px; }

/* </orientation: top (RTL)> */

/* </background positioning: overlapping tabs> */

/* <simplistic sub-item styles> */

.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel2,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel3,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel4 { background: #fff; }

.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel2 .rtsSelected,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel3 .rtsSelected,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel4 .rtsSelected
{
	text-decoration: underline;
}

.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel2 .rtsLink,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel2 .rtsOut,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel2 .rtsIn,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel3 .rtsLink,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel3 .rtsOut,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel3 .rtsIn,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel4 .rtsLink,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel4 .rtsOut,
.RadTabStrip_BizSkin_SimpleSubItems .rtsLevel4 .rtsIn
{
	background: none;
}

/* </simplistic sub-item styles> */