﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Default.aspx.vb" Inherits="BIZHELP._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<frameset frameborder="0">
		        <frameset rows="70px,*"  framespacing="0" frameborder="0" >
			        <frame name="topframe" frameborder="0"  src="HelpModule/Header.aspx" scrolling="no" />
			        <frame id="mainframe"  name="mainframe" src="MainFrame.aspx?pagename=<%=Request.QueryString("pageurl")%>" frameborder="0"  />
		        </frameset>
	        </frameset>
</html>
