﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="MainFrame.aspx.vb" Inherits="BIZHELP.MainFrame" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<frameset framespacing="1px" cols="20%, 80%">
                  <FRAME frameborder="0"   BORDERCOLOR="#E9ECF7"  name="TreeFrame" src="HelpModule/frmSearchContent.aspx">
                  <FRAME frameborder="0" name="ContentFrame" src="HelpModule/LoadHelp.aspx?pagename=<%=Request.QueryString("pagename")%>" BORDERCOLOR="#E9ECF7">
              </frameset>
</html>
