<title>{#SiteName#}:</title>
<center>
    <table cellpadding="0" cellspacing="3" class="MainPanel" border="0">
        <tr>
            <td valign="top">
                <!--header starts-->
                {template:header}
                <!--header ends-->
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%">
                    <tr>
                        <td width="260px" valign="top">
                            <!--left panel starts-->
                            {template:leftpanel}
                            <!--left panel ends-->
                        </td>
                        <td valign="top" style="padding-left: 15px;">
                            <!--Content panel starts-->
							{#Error#}<br>
                            <#CONTENT#>
                            <!--Content panel ends-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <!--footer starts-->
                {template:footer}
                <!--footer ends-->
            </td>
        </tr>
    </table>
</center>
