<div id="footer">
    <a href="#">Terms & Conditions</a>&nbsp;&nbsp;&nbsp;<a href="#">Newsletters</a>&nbsp;&nbsp;&nbsp;<a
        href="#">Sitemap</a><br />
    &copy; {#SiteName#}. All rights reserved. Powered by <a href="http://www.BizAutomation.com">
        BizAutomation</a>.
</div>
