<table width="100%" border="0" cellpadding="0" cellspacing="3">
    <tr>
        <td id="header">
            <h1>
                {#SiteName#}<sup>beta</sup></h1>
            <h2>
                by bizautomation</h2>
        </td>
        <td align="right" width="458px">
             {#LoginStatus#}<img src="/images/a10.jpg" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {#Menu#}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {#BreadCrumb#}
        </td>
    </tr>
</table>
