﻿    <table cellpadding="0" cellspacing="3" class="MainPanel" border="0">
        <tr>
            <td valign="top">
                <table width="100%">
                    <tr>
                        <td valign="top" style="padding-left: 15px;">
                            <!--Content panel starts-->
                            {#Error#}<br>
                            <#CONTENT#>
                            <!--Content panel ends-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
