<%@ Control Language="vb" className="calandar" AutoEventWireup="false" CodeBehind="calandar1.ascx.vb" Inherits="calandar1" %>
  <link href="../css/master.css" type="text/css" rel="STYLESHEET" />
<script language="javascript"  type="text/javascript"  >
    function OpenCalendar(objName)
    {
           
	     
            var tempX = 0;
            var tempY = 0;
            if (navigator.appName!='Netscape')
            {
                      var IE = document.all?true:false;
                     if (IE) 
                    { // grab the x-y pos.s if browser is IE
                    tempX = event.clientX + document.body.scrollLeft;
                    tempY = event.clientY + document.body.scrollTop;
                    }
                    else 
                    {  // grab the x-y pos.s if browser is NS
                    tempX = e.pageX;
                    tempY = e.pageY;
                    }
                    var Calendar_window=window.open("../include/calendar.aspx?obj="+objName+'&Value='+document.getElementById(objName).value,'Calender','width=100px,resizable=yes,height=200px,menubar=no,top='+parseInt(tempY+130)+',left='+parseInt(tempX-90)+'');
                    Calendar_window.focus()
			        return false;
            }
            else
            {
                tempX = 200;
                tempY = 200;
                var Calendar_window=window.open("../include/calendar.aspx?obj="+objName+'&Value='+document.getElementById(objName).value,'Calender','width=250px,resizable=yes,height=200px,menubar=no,top='+parseInt(tempY+130)+',left='+parseInt(tempX-90)+'');
                Calendar_window.focus()
			    return false;
            }
    }
</script>
<table cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <asp:TextBox ID="txtDate" runat="server" Width="100px"  CssClass="signup"></asp:TextBox>
    </td>
    <td>
    &nbsp;<asp:Image ID="imgDate" runat="server" CssClass="hyperlink" ImageUrl="../Images/Calender.gif" />
    </td>
  </tr>
</table>

        
