<%@ Page %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>ASP.NET Menu : ExpertMenu Demo : Cross-Frame Menu</title>
	</HEAD>
	<frameset  frameborder="0">
		<frameset rows="21,*" framespacing="0" frameborder="0">
			<frame name="topframe" frameborder="0" framespacing="0" src="frmMenu.aspx" scrolling="no">
			<frame name="mainframe" frameborder="0" framespacing="0" src="Calendar.aspx">	
		</frameset>
	</frameset>
</HTML>
