<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmSelRelationship.aspx.vb"
    Inherits=".frmSelRelationship" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register TagPrefix="telerik" Namespace="Telerik.Web.UI" Assembly="Telerik.Web.UI" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Relationship</title>
    <link rel="stylesheet" href="~/CSS/master.css" type="text/css" />
    <link rel="stylesheet" href="~/CSS/lists.css" type="text/css" />
    <script language="javascript">
        function Close() {
            window.close();
        }
    </script>
    <style type="text/css">
        .descriptionPanelHeader
        {
            font-family: Arial;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
   <%-- <telerik:RadPanelBar runat="server" ID="ranPanRelationship">
        <Items>
            <telerik:RadPanelItem Text="What type of Relationship you would like to create?"
                Value="Relationship" Expanded="True">
                <ContentTemplate>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="aspTableDTL">
                        <tr>
                            <td rowspan="3" valign="top" style="background-image: url(../images/Building-48.gif);
                                background-repeat: no-repeat; background-position-x: 20px; background-position-y: 20px">
                                <br />
                                &nbsp;<img src="../images/Greenman-32.gif" style="position: relative; left: 16px;
                                    top: 24px;" /><br />
                            </td>
                            <td valign="top">
                                <br />
                                <table>
                                    <tr>
                                        <td class="normal1">
                                            <asp:radiobuttonlist id="radRelationship" runat="server" repeatdirection="Vertical">
                                            </asp:radiobuttonlist>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <asp:button id="btnNext" width="60px" runat="server" text="Next" cssclass="button" />
                                            <asp:button id="btnclose" width="60px" runat="server" text="Close" cssclass="button" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </ContentTemplate>
            </telerik:RadPanelItem>
        </Items>
    </telerik:RadPanelBar>
    <table width="100%">
        <tr>
            <td class="normal4" align="center">
                <asp:literal id="litMessage" runat="server" enableviewstate="False"></asp:literal>
            </td>
        </tr>
    </table>--%>
    </form>
</body>
</html>
