<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="LoadCompany.aspx.vb" Inherits=".LoadOrganization" %>
<%@ Register Assembly="RadComboBox.Net2" Namespace="Telerik.WebControls" TagPrefix="rad" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
          <rad:radcombobox 			
			DataTextField="ContactName"
			ID="radCmbOrganization"
			Runat="server">
		</rad:radcombobox> 
    </div>
    </form>
</body>
</html>
