<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="NormalCalendar.ascx.vb" Inherits=".NormalCalendar" %>
  <link href="../css/master.css" type="text/css" rel="STYLESHEET" />
<script language="javascript"  type="text/javascript"  >
    function OpenCalendar(obj,objName)
    {
         
            var curleft = curtop = 0;
	        if (obj.offsetParent) 
	        {
		        curleft = obj.offsetLeft
		        curtop = obj.offsetTop
		        while (obj = obj.offsetParent) 
		        {
			        curleft += obj.offsetLeft
			        curtop += obj.offsetTop
		        }
	        }
			var Calendar_window=window.open("../include/calendar.aspx?obj="+objName+'&Value='+document.getElementById(objName).value,'Calender','width=100px,resizable=yes,height=200px,menubar=no,top='+parseInt(curtop+115)+',left='+curleft+'');
			Calendar_window.focus()
			return false;
    }
    function PlaceDate(obj,a)
    {
         alert("hi");
         return false;
    }
</script>
<asp:TextBox ID="txtDate" runat="server" Width="100px"  CssClass="signup"></asp:TextBox>
<asp:Image ID="imgDate" runat="server" CssClass="hyperlink" ImageUrl="../Images/Calender.gif" />

