<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="RecentItems.ascx.vb" Inherits="RecentItems" %>
<script type="text/ecmascript">
    function OpenRecentBizInvoice(a, b, c) {
            window.open('../opportunity/frmBizInvoice.aspx?pwer=oRJDw7By9RM5mn3Bku8m0rEpJ7werwetretrvnbtyuzsd6767&OpID=' + a + '&OppBizId=' + b + '&Print=' + c, '', 'toolbar=no,menubar=yes,titlebar=no,left=100,top=15,width=680,height=700,scrollbars=yes,resizable=yes');
            return false;
        }
</script>	

	<table class="SearchStyle" id="Table4" cellspacing="0" cellpadding="0" width="100%" border="0">
			<tr>
				<td height="22" >
					<table id="Table5" cellspacing="0" cellpadding="0" width="100%" border="0">
						<tr>
							<td class="Text_bold"><img src="../images/BizLogo.gif"/>&nbsp;</td>
							<td align="right"><img height="16" src="../images/search_icon.gif" width="16"/></td>
							<td class="Text_bold" nowrap >
							<asp:updatepanel ID="upSearch" runat="server" ChildrenAsTriggers="true" UpdateMode="Conditional" EnableViewState="true" >
							  <ContentTemplate>
							        &nbsp;<font color="#180073">Search</font>&nbsp;<input class="signup" id="txtSearch1" type="text" runat="server"  name="txtSearch1">
							         <asp:DropDownList ID="ddlSearch1" Visible=false  CssClass="signup" runat="server" >
							        </asp:DropDownList>
								    <asp:DropDownList ID="ddlSearch" CssClass="signup" AutoPostBack="true" runat="server" >
							        </asp:DropDownList>
							        <asp:Button ID="btnGo" Text="Go" CssClass="button"  runat="server"/>
							  </ContentTemplate>
							  </asp:updatepanel>
							</td>
							<td class="Text_bold"><A href="../admin/importRecord.aspx"><font color="#180073">Import </font>
								</A>
							</td>
							<td class="Text_bold" align="right"><IMG height="17" src="../images/advancedsearch_icon.gif" width="18"></td>
							<td class="Text_bold">&nbsp;<A href="../admin/frmAdvancedSearch.aspx?I=1"><font color="#180073">Advanced 
										Search</font></A>
							</td>
							<TD class="Text_bold" align="right"><IMG style="CURSOR: hand" onclick="javascript:window.open('../admin/frmLinks.aspx','Help')"
									height="19" src="../images/Q_icon.gif" border="0">&nbsp;</TD>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table width="100%" bgcolor="#f3f4f5" border="0">
			<tr>
				<td class="normal1">
					<asp:Table ID="tblRecentItems" Runat="server" GridLines="None" EnableViewState="true"  CellPadding="0" CellSpacing="0"></asp:Table>
				</td>
				<td align="right">
				
				<asp:UpdateProgress ID ="up1"  runat="server" DynamicLayout="False"  >
				        <ProgressTemplate>
				         <asp:Image ID="Image1"  ImageUrl="~/images/updating.gif" runat="server" ImageAlign="Top" />
				         </ProgressTemplate>
    			    </asp:UpdateProgress>
				</td>
			</tr>
		</table>
