<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="SimpleMenu.aspx.vb" Inherits=".SimpleMenu" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head runat="server">
        <link rel="stylesheet" href="~/CSS/master.css" type="text/css" />
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <iframe width="100%" height="1000" frameborder="0" src="../common/go.aspx" runat="server" id="ifHome"></iframe>
    </form>
</body>
</html>
