<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="SyncFusionCalendar.ascx.vb" Inherits=".SyncFusionCalendar" %>
<%@ Register Assembly="Syncfusion.Shared.Web" Namespace="Syncfusion.Web.UI.WebControls.Tools"
    TagPrefix="ssw" %>
    <div>
    <ssw:DropDownCalendarControl BackColor="white" ID="syncCalendar"  CssClass="signup" BorderWidth="1px" BorderColor="white" Font-Names="arial" BorderStyle=Ridge Font-Size="8"     StartWeekDay="Sunday"  Width="100"  runat="server"  Format="CustomString" CultureSource="UserOverride" >
                                <CalendarStyle CssClass="normal1" BackColor="white"  />
                                <DayHeaderStyle CssClass="tr1"  />
                                <WeekendDayStyle BackColor="white"  CssClass="normal1"   />
                                <SelectedDayStyle CssClass="tr1" />
                                <DayStyle Font-Italic=false   />
                                <TitleStyle CssClass="normal1" />
                       </ssw:DropDownCalendarControl>
    </div>
          