BODY
{
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	FONT-SIZE: 10pt;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: normal;
	margin : 0px 0px 0px 0px;
	TEXT-DECORATION: none;
	Background-color:white;

}
.igpnl_Panel
{
   	border: solid 1px #636363;
	BACKGROUND-COLOR: #FDFDFD;
	background-image:url(images/panel_bg.jpg);
	background-repeat:repeat-x;
	text-align:left;
}


.igpnl_HeaderExpanded
{
	padding:6px 0px 1px 18px;
	border-left: #636363 1px solid; 
	border-right: #636363 1px solid; 
    font-weight: bold;
    font-size: 8pt; 
    width: 100%; 
    color: white;
    background-repeat: repeat-x; 
    font-family: Lucida Sans;
    background-image:url(images/onyxBar.gif);
}


.igpnl_HeaderExpanded IMG
{
   margin-top:-6px; 
}


.igpnl_HeaderCollapsed
{
}


.igpnl_HeaderHover
{
}


.igpnl_Control
{

	width:100%;

}


.igpnl_GroupBoxControl
{
}



.igpnl_Panel DIV
{
   
    width:auto !important;
}
.text
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #000000
}
.text_bold
{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	color: #000000

}
.normal1	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #000000
	}
		
	.normal2	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 10pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: #000000
	}
	.normal3	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: blue
	}
	.normal4	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: red
	}
	.normal5	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	color: white
	}
	.normal6	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 9pt;
	font-style : normal;
	font-variant : normal;
	font-weight :bold ;
	color: white
	}
	.normal7	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight :bold ;
	color: black;

	}
	.normal8	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight :bold ;
	color:black;
	}
	.normal9	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight :bold ;
	color:#8b2252;
	}
	.normal10	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 10pt;
	font-style : normal;
	font-variant : normal;
	font-weight :bold ;
	color: black;

	}
	.normal11
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight :normal ;
	color: #ffffff;
	text-decoration:underline;
	cursor:hand;
	}
	.normal12	
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight :bold;
	color: red
	}
	.normal13
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 10pt;
	font-style : normal;
	font-variant : normal;
	font-weight :bold;
	color: red
	}
	.normal14
	{
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style :italic;
	font-variant : normal;
	color: #52658C
	}
	.hyperlink
	{
		cursor:hand;
		color:Navy;
		text-decoration:underline;
		font-family : Tahoma, Verdana, Arial, Helvetica;
		font-size : 8pt;
		font-style : normal;
		font-variant : normal;
		font-weight : normal;
		color: #180073
	}
	table.dg
{
	text-align:center;
	font-family : Tahoma, Verdana, Arial, Helvetica;
	font-size : 8pt;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	border-color:White;
	width:100%;
		 	
}
.is
{
	background-color:White;
	text-align:left;
	color:black;
	font-family:Arial;
	font-size:8pt;
}

.ais
{
	background-color:#C6D3E7;
	text-align:left;
	color:black;
	font-family:Arial;
	font-size:8pt;
}
.hs
{   
	background-color:#52658C;
	text-align:center;
	font-size:8pt;
	font-family:Arial;
	font-weight:bold;
	color:White;
	
}
a:link
{
	TEXT-DECORATION: underline;
	color:black;
	
}
a:visited
{
	 TEXT-DECORATION: underline;
	 color:black;
}
a:hover
{
	 TEXT-DECORATION:underline;
	 color:black;
}
.signup 
{
	
	FONT-FAMILY: arial;
	FONT-SIZE: 8pt;
	color:Black;
}