﻿#SearchForm
{
    border: 1px solid #ebebeb; /*width: 300px;*/
    background-color: #fff;
}

.Searchinput
{
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    background: none !important;
    border-color: transparent !important; /*Fix IE*/
    width: 218px;
    outline: none !important;
    color: Gray !important;
}

.buttonGo
{
    width: 16px;
    height: 16px;
    outline: none;
    border: none;
    background: url('../../Images/btnSearch.gif') left center no-repeat;
    text-indent: -999px;
    vertical-align: middle;
}

.SearchBox
{
    padding: 5px;
    background-color: #E6E6E7;
}

.field-letter
{
    padding-left: 15px;
    background: url("images/sprite_v2.png") -40px -40px no-repeat !important; /*background: url('../Images/GLReport.png') no-repeat top left;*/
    display: inline-block;
    height: 14px;
}

.field-number
{
    padding-left: 15px;
    background: url("images/sprite_v2.png") -40px -16px no-repeat !important; /*background: url('../Images/folder_add.png') no-repeat top left;*/
    display: inline-block;
    height: 14px;
}

.field-date
{
    padding-left: 17px;
    background: url("images/sprite_v2.png") -40px -56px no-repeat !important; /*background: url('../Images/edit.png') no-repeat top left;*/
    display: inline-block;
    height: 14px;
}

.btnSearch
{
    padding-left: 5px !important;
    height: 22px !important; /*background-color: #E5E5E5;*/
}

#resizable
{
    width: 150px;
    height: 150px;
    padding: 0.5em;
    border: solid;
    border-width: 1px;
}

    #resizable h3
    {
        text-align: center;
        margin: 0;
    }

#GridTable
{
    border: 1px solid gray; /*min-width: 500px;
            min-height: 500px;*/
}

/*.placeholderBefore
        {
            background-color: #FFFFFF;
            border-bottom: 4px solid #FFFFFF;
            display: inline-block;
            height: 8px;
            width: 5px;
            float: left;
        }

        .placeholderAfter
        {
            background-color: #FFFFFF;
            border-bottom: 4px solid #FFFFFF;
            display: inline-block;
            height: 8px;
            width: 5px;
            float: right;
        }*/

.ui-draggable-helperAccept
{
    padding: 5px 5px 5px 17px;
    background: url("images/drop-yes.gif") no-repeat left center;
    border: 1px dotted #000;
    background-color: #E5E5E5;
    font-size: 1.2em;
    vertical-align: central;
    z-index: 5;
}

.ui-draggable-helperNotAccept
{
    padding: 5px 5px 5px 17px;
    background: url("images/drop-no.gif") no-repeat left center;
    border: 1px dotted #000;
    background-color: #E5E5E5;
    font-size: 1.2em;
    vertical-align: central;
    z-index: 5;
}

.JColResizer
{
    table-layout: fixed;
    border: 1px;
    border-collapse: collapse;
}

    .JColResizer td, .JColResizer th
    {
        overflow: hidden;
        padding-left: 0 !important;
        padding-right: 0 !important;
        min-width: 125px;
    }

.JCLRgrips
{
    height: 0px;
    position: relative;
}

.JCLRgripsGrp
{
    width: 0px;
    position: relative;
}

.JCLRgripLeft
{
    /*background-color: #000;*/
    display: inline-block;
    width: 5px; /*margin-left:-5px;*/ /*position: absolute;*/
    z-index: -1;
    margin-left: 2px;
    float: left;
}

.JCLRgripRight
{
    /*background-color: #000;*/
    display: inline-block;
    width: 5px;
    margin-right: 5px; /*position: absolute;*/
    z-index: -1;
    float: right;
}

.JCLLeft
{
    /*background-color: #000;*/
    display: inline-block; /*margin-left:-5px;*/
    position: absolute;
    z-index: -1;
}

.JCLRight
{
    /*background-color: #000;*/
    display: inline-block;
    position: absolute;
    z-index: -1;
}

.JCLRgripGrpTop
{
    /*background-color: blue;*/
    display: inline-block;
    height: 5px; /*margin-left:-5px;*/ /*position: absolute;*/
    z-index: -1; /*margin-top: 2px;*/
    float: left;
}

.JCLRgripGrpBottom
{
    /*background-color: blue;*/
    height: 5px; /*margin-bottom: 5px;*/ /*position: absolute;*/
    z-index: 5;
    bottom: 0;
    position: absolute;
}

.JCLGrpTop
{
    /*background-color: #000;*/
    display: inline-block; /*margin-left:-5px;*/
    position: absolute;
    z-index: -1;
}

.JCLGrpBottom
{
    /*background-color: #000;*/
    display: inline-block;
    position: absolute;
    z-index: -1;
}

.placeholderhover
{
    z-index: 5; /*opacity:.8;-moz-opacity:.8;filter:alpha(opacity=80);*/
}

    .placeholderhover .JCLRgripLeft, .placeholderhover .JCLRgripRight, .placeholderhover .JCLRgripGrpTop, .placeholderhover .JCLRgripGrpBottom
    {
        background-color: #E3F3FF !important;
        z-index: 5; /*opacity:.8;-moz-opacity:.8;filter:alpha(opacity=80);*/
    }

.placeholderhover1
{
    z-index: 5; /*opacity:.8;-moz-opacity:.8;filter:alpha(opacity=80);*/
}

    .placeholderhover1 .JCLRgripGrpTop, .placeholderhover1 .JCLRgripGrpBottom
    {
        background-color: #E3F3FF !important;
        z-index: 5; /*opacity:.8;-moz-opacity:.8;filter:alpha(opacity=80);*/
    }

.thhover, .matrixMenuTrigger
{
    /*background-color: #E3F3FF !important;*/
    width: 15px;
    background-image: url("images/arrows-sprite.png");
    background-position: 0 center; /*background: url('../Images/edit.png') no-repeat top left;*/
    display: inline-block;
    height: 15px;
    float: right; /*background-position:top;*/
    border-left: 1px solid #d4dadc;
}

    .thhover:hover, .matrixMenuTrigger:hover
    {
        background-image: url("images/arrows-sprite.png");
        background-position: -20px center;
        background-color: #e0e3e6; /*background-position:center;*/ /*width: 40px;*/
    }

.thGroupMenu, .thMatrixColumnMenu, .thMatrixRowMenu
{
    /*background-color: #E3F3FF !important;*/
    width: 15px;
    background-image: url("images/arrows-sprite.png");
    background-position: 0 center;
    display: inline-block;
    height: 15px;
    float: right;
    margin-right: 10px;
}

.thFilterMenu
{
    width: 15px;
    background-image: url("images/arrows-sprite.png");
    background-position: 0 center;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
}

.sortAsc
{
    background-image: url("images/arrows-sprite.png");
    background-position: -40px -4px;
    height: 15px;
    vertical-align: middle;
    width: 15px;
}

.sortDesc
{
    background-image: url("images/arrows-sprite.png");
    background-position: -50px -4px;
    height: 15px;
    vertical-align: middle;
    width: 15px;
}

#GridMenu, #GroupMenu, #LayoutFormatMenu, #FilterMenu, #MatrixBreakMenu, #aggItemMenu
{
    display: none;
    position: absolute;
    z-index: 5;
    background-color: #F8F8F8 !important;
    width: 180px;
}

.menu-icon
{
    height: 15px;
    width: 15px;
    display: inline-block;
    padding-right: 2px;
    background-color: transparent;
    vertical-align: middle; /*position: absolute;*/
}

.menu-sortAsc
{
    background: url("images/rb_menu_sprite.gif") 0 0 no-repeat;
}

.menu-sortDesc
{
    background: url("images/rb_menu_sprite.gif") 0 -16px no-repeat;
}

.menu-remove
{
    background: url("images/rb_menu_sprite.gif") 0 -112px no-repeat;
}

.menu-SummarizeField
{
    background: url("images/rb_menu_sprite.gif") 0 -82px no-repeat;
}

.menu-Group
{
    background: url("images/rb_menu_sprite.gif") 0 -66px no-repeat;
}

.menu-GroupMoveUp
{
    background: url("images/move_arrows_sprite.gif") 0 0 no-repeat;
}

.menu-GroupMoveDown
{
    background: url("images/move_arrows_sprite.gif") 0 -16px no-repeat;
}

.menu-Tabular
{
    background: url("images/datapreview_sprite1.gif") -16px 0 no-repeat;
}

.menu-Summary
{
    background: url("images/datapreview_sprite1.gif") -16px -16px no-repeat;
}

.menu-Matrix
{
    background: url("images/datapreview_sprite1.gif") -16px -32px no-repeat;
}

.menu-FieldFilter
{
    background: url("images/addFilterSprite.png") 0 0 no-repeat;
}

.menu-FilterLogic
{
    background: url("images/addFilterSprite.png") 0 -16px no-repeat;
}

.menu-sep
{
    border-bottom-color: #E0E0E0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
}

.x-menu-list
{
    border: 1px solid #7D7D7D;
}

.x-menu-list-item, .x-menu-sep, .x-item-disabled
{
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    line-height: 16px;
}

    .x-menu-list-item a
    {
        line-height: 16px;
        color: #222222;
        text-decoration: none; /*position: relative;*/
    }

.x-item-disabled
{
    color: gray !important;
    cursor: default !important;
    line-height: 16px;
    text-decoration: none;
}

    .x-item-disabled *
    {
        color: gray !important;
        cursor: default !important;
    }

.x-menu-active
{
    background-color: #E3F3FF !important;
}


.GroupClass0
{
    background-color: #C0D4F1 !important;
}

.GroupClass1
{
    background-color: #E0E8FB !important;
}

.GroupClass2
{
    background-color: #EFF4FC !important;
}

.GroupClassTitle
{
    font-weight: bolder;
    cursor: move;
    display: inline;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.group-dzone-hd
{
    background-image: url("images/dropbg.gif") !important;
    border: 1px solid #99CCFF !important;
    font-weight: bold;
    background-color: #fff !important;
}

.group-dzone-Summary
{
    background-color: #FFFFCC !important;
    opacity: 0.75;
}

.placeholderhover2
{
    background-color: #E3F3FF !important;
}

.filterHover
{
    background-color: #EAF6FF !important;
}

.filterItemContainer
{
    padding-top: 3px;
    padding-bottom: 3px;
}

    .filterItemContainer .filterPrefix
    {
        float: left;
        padding-right: 5px;
        padding-top: 3px;
        text-align: right; /*width: 25px;*/
        line-height: 9px;
    }

.filterItem, .filterItem .detailMode
{
    overflow-x: hidden;
    overflow-y: hidden;
}

.editMode, .filterSectionHighlight
{
    background-color: #FFFCCE;
}

.filterItem .detailContainer
{
    display: inline;
    white-space: nowrap;
}

.detailMode .fLink
{
    margin-left: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.detailMode.filterHover .fLink
{
    color: #015BA7 !important;
}

.x-hide-display
{
    display: none !important;
}

.buttonNew, .btnSearch
{
    border: 1px solid #d3d3d3;
    background-color: #e6e6e6 !important;
    font-weight: normal;
    color: #555555;
    border-radius: 4px; /*min-height:22px;*/
}

    .buttonNew:hover, .btnSearch:hover
    {
        background-color: #dadada !important;
    }

    .buttonNew:disabled
    {
        opacity: 0.6;
        background-color: #e6e6e6 !important;
    }

.example-text
{
    color: #777777;
}

.FilterLogicError
{
    background-color: #FFFCCE;
    color: #C0272B;
    font: 11px Arial,Helvetica,sans-serif;
    padding-left: 65px;
}

.FilterValueError
{
    color: #C0272B;
    font: 11px Arial,Helvetica,sans-serif;
}

.x-form-invalid
{
    border: 1px solid #CC0000 !important;
}

.removed
{
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: line-through;
    -moz-text-decoration-style: solid;
    display: inline;
    white-space: nowrap;
}

.undoLink
{
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #015BA7 !important;
}

.subTotalRow td
{
    background-color: #F5F7FF;
    border-bottom-color: #8E8EAD !important;
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
}

.grandTotal
{
    background-color: #818290 !important;
    color: #FFFFFF !important;
    font-weight: bold;
}

.grandTotalRow td
{
    background-color: #818290;
    color: #FFFFFF;
}
