﻿.bg-theme{
    color:#fff !important;
}
/*Start 0e99c4 Setting*/
._0e99c4 .main-navigation {
    background-color: #0e99c4 !important;
}

    ._0e99c4 .main-navigation li > div:hover {
        background: #2f8aa7 !important;
        color: #fff;
        border-color: #2f8aa7 !important;
    }

    ._0e99c4 .main-navigation li > div a:hover {
        background: #2f8aa7 !important;
        color: #fff;
        border-color: #2f8aa7 !important;
    }

    ._0e99c4 .main-navigation li:hover,
    ._0e99c4 .main-navigation li:active,
    ._0e99c4 .main-navigation li:focus {
        color: #FFF;
        background-color: #0e99c4 !important;
    }

    ._0e99c4 .main-navigation .dropdown-menu li div a {
        color: #0e99c4 !important;
    }

    ._0e99c4 .main-navigation .dropdown-menu li div :hover {
        color: #fff !important;
    }

._0e99c4 .RadTabStrip {
    border: 1px solid #2f8aa7 !important;
    background-color: #0e99c4 !important;
}

    ._0e99c4 .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #2f8aa7 !important;
        border-color: transparent
    }

._0e99c4 .btn-primary {
    border: 1px solid #2f8aa7 !important;
    background-color: #0e99c4 !important;
}

._0e99c4 .pagination > .active > a,
._0e99c4 .pagination > .active > a:focus,
._0e99c4 .pagination > .active > a:hover,
._0e99c4 .pagination > .active > span,
._0e99c4 .pagination > .active > span:focus,
._0e99c4 .pagination > .active > span:hover {
    background-color: #0e99c4 !important;
    border-color: #2f8aa7 !important
}

._0e99c4 .main-navigation li .dropdown-submenu .caret {
    color: #0e99c4 !important;
}
._0e99c4 .box-primary {
    border-top-color: #0e99c4;
}
._0e99c4 .box-primary > .box-header {
    background-color: #0e99c4 !important;
}
._0e99c4 .box-primary > .box-footer {
    background-color: #0e99c4 !important;
    border: 1px solid #0e99c4;
    color: #fff !important;
}
._0e99c4 .box-primary > .box-header > .box-title {
    color: #fff !important;
}

._0e99c4 .box-primary .box-body {
    border: 1px solid #2f8aa7;
}

._0e99c4 .pageView {
    border: 1px solid #0e99c4 !important;
}

._0e99c4 .nav-tabs {
    background: #0e99c4 !important;
    border-color: #0e99c4 !important;
}

._0e99c4 .nav-tabs > li > a:hover {
    background: #0e99c4 !important;
    color: #fff !important;
}
._0e99c4 .panel-primary>.panel-heading {
    color: #fff;
    background-color: #0e99c4;
    border-color: #0e99c4;
}

._0e99c4 .panel-primary {
    border-color: #0e99c4;
}

._0e99c4 .tblPrimary tr th {
    background-color: #0e99c4 !important;
    color: #fff;
}

._0e99c4 .tblPrimary tr.gridFooter td {
    background-color: #0e99c4 !important;
    color: #fff;
}

._0e99c4 a.pull-left.popupIconClass {
    color: #0e99c4 !important;
}
._0e99c4 .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #0e99c4 !important;
    border-color: #0e99c4 !important;
}
._0e99c4 .bg-theme {
    background-color: #0e99c4 !important;
}
._0e99c4 .text-color-theme {
    color: #0e99c4 !important;
}

._0e99c4 .modal-header {
    background-color: #0e99c4 !important;
    color:#fff;
    padding: 8px;
}

/*End 0e99c4 Setting*/
/*Start 1473b4 Setting*/
._1473b4 .main-navigation {
    background-color: #1473b4 !important;
}

    ._1473b4 .main-navigation li > div:hover {
        background: #195d8b !important;
        color: #fff;
        border-color: #195d8b !important;
    }

    ._1473b4 .main-navigation li > div a:hover {
        background: #195d8b !important;
        color: #fff;
        border-color: #195d8b !important;
    }

    ._1473b4 .main-navigation li:hover,
    ._1473b4 .main-navigation li:active,
    ._1473b4 .main-navigation li:focus {
        color: #FFF;
        background-color: #1473b4 !important;
    }

    ._1473b4 .main-navigation .dropdown-menu li div a {
        color: #1473b4 !important;
    }

    ._1473b4 .main-navigation .dropdown-menu li div :hover {
        color: #fff !important;
    }

._1473b4 .RadTabStrip {
    border: 1px solid #195d8b !important;
    background-color: #1473b4 !important;
}

    ._1473b4 .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #195d8b !important;
        border-color: transparent
    }

._1473b4 .btn-primary {
    border: 1px solid #195d8b !important;
    background-color: #1473b4 !important;
}

._1473b4 .pagination > .active > a,
._1473b4 .pagination > .active > a:focus,
._1473b4 .pagination > .active > a:hover,
._1473b4 .pagination > .active > span,
._1473b4 .pagination > .active > span:focus,
._1473b4 .pagination > .active > span:hover {
    background-color: #1473b4 !important;
    border-color: #195d8b !important
}

._1473b4 .main-navigation li .dropdown-submenu .caret {
    color: #1473b4 !important;
}
._1473b4 .box-primary {
    border-top-color: #1473b4;
}
._1473b4 .box-primary > .box-header {
    background-color: #1473b4 !important;
}
._1473b4 .box-primary > .box-footer {
    background-color: #1473b4 !important;
    border: 1px solid #1473b4;
    color: #fff !important;
}
._1473b4 .box-primary > .box-header > .box-title {
    color: #fff !important;
}
._1473b4 .box-primary .box-body {
    border: 1px solid #195d8b;
}
._1473b4 .pageView {
    border: 1px solid #1473b4 !important;
}
._1473b4 .nav-tabs {
    background: #1473b4 !important;
    border-color: #1473b4 !important;
}

    ._1473b4 .nav-tabs > li > a:hover {
        background: #1473b4 !important;
        color: #fff !important;
    }

._1473b4 .panel-primary>.panel-heading {
    color: #fff;
    background-color: #1473b4;
    border-color: #1473b4;
}

._1473b4 .panel-primary {
    border-color: #1473b4;
}

._1473b4 .tblPrimary tr th {
    background-color: #1473b4 !important;
    color: #fff;
}

._1473b4 .tblPrimary tr.gridFooter td {
    background-color: #1473b4 !important;
    color: #fff;
}

._1473b4 a.pull-left.popupIconClass {
    color: #1473b4 !important;
}
._1473b4 .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #1473b4 !important;
    border-color: #1473b4 !important;
}
._1473b4 .bg-theme {
    background-color: #1473b4 !important;
}
._1473b4 .text-color-theme {
    color: #1473b4 !important;
}

._1473b4 .modal-header {
    background-color: #1473b4 !important;
    color:#fff;
    padding: 8px;
}
/*End 1473b4 Setting*/
/*Start 274b85 Setting*/
._274b85 .main-navigation {
    background-color: #274b85 !important;
}

    ._274b85 .main-navigation li > div:hover {
        background: #0f2c5b !important;
        color: #fff;
        border-color: #0f2c5b !important;
    }

    ._274b85 .main-navigation li > div a:hover {
        background: #0f2c5b !important;
        color: #fff;
        border-color: #0f2c5b !important;
    }

    ._274b85 .main-navigation li:hover,
    ._274b85 .main-navigation li:active,
    ._274b85 .main-navigation li:focus {
        color: #FFF;
        background-color: #274b85 !important;
    }

    ._274b85 .main-navigation .dropdown-menu li div a {
        color: #274b85 !important;
    }

    ._274b85 .main-navigation .dropdown-menu li div :hover {
        color: #fff !important;
    }

._274b85 .RadTabStrip {
    border: 1px solid #0f2c5b !important;
    background-color: #274b85 !important;
}

    ._274b85 .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #0f2c5b !important;
        border-color: transparent
    }

._274b85 .btn-primary {
    border: 1px solid #0f2c5b !important;
    background-color: #274b85 !important;
}

._274b85 .pagination > .active > a,
._274b85 .pagination > .active > a:focus,
._274b85 .pagination > .active > a:hover,
._274b85 .pagination > .active > span,
._274b85 .pagination > .active > span:focus,
._274b85 .pagination > .active > span:hover {
    background-color: #274b85 !important;
    border-color: #0f2c5b !important
}

._274b85 .main-navigation li .dropdown-submenu .caret {
    color: #274b85 !important;
}
._274b85 .box-primary {
    border-top-color: #274b85;
}
._274b85 .box-primary > .box-header {
    background-color: #274b85 !important;
}
._274b85 .box-primary > .box-footer {
    background-color: #274b85 !important;
    border: 1px solid #274b85;
    color: #fff !important;
}
._274b85 .box-primary > .box-header > .box-title {
    color: #fff !important;
}
._274b85 .box-primary .box-body {
    border: 1px solid #0f2c5b;
}
._274b85 .pageView {
    border: 1px solid #274b85 !important;
}
._274b85 .nav-tabs {
    background: #274b85 !important;
    border-color: #274b85 !important;
}

    ._274b85 .nav-tabs > li > a:hover {
        background: #274b85 !important;
        color: #fff !important;
    }
._274b85 .panel-primary>.panel-heading {
    color: #fff;
    background-color: #274b85;
    border-color: #274b85;
}

._274b85 .panel-primary {
    border-color: #274b85;
}
._274b85 .tblPrimary tr th {
    background-color: #274b85 !important;
    color: #fff;
}
._274b85 .tblPrimary tr.gridFooter td {
    background-color: #274b85 !important;
    color: #fff;
}
._274b85 a.pull-left.popupIconClass {
    color: #274b85 !important;
}
._274b85 .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #274b85 !important;
    border-color: #274b85 !important;
}

._274b85 .bg-theme {
    background-color: #274b85 !important;
}

._274b85 .text-color-theme {
    color: #274b85 !important;
}

._274b85 .modal-header {
    background-color: #274b85 !important;
    color:#fff;
    padding: 8px;
}
/*End 274b85 Setting*/
/*Start a80000 Setting*/
._a80000 .main-navigation {
    background-color: #a80000 !important;
}
    ._a80000 .main-navigation li > div:hover {
        background: #8f1414 !important;
        color: #fff;
        border-color: #8f1414 !important;
    }
    ._a80000 .main-navigation li > div a:hover {
        background: #8f1414 !important;
        color: #fff ;
        border-color: #8f1414 !important;
    }
    ._a80000 .main-navigation li:hover,
    ._a80000 .main-navigation li:active,
    ._a80000 .main-navigation li:focus {
        color: #FFF;
        background-color: #a80000 !important;
    }
._a80000 .main-navigation .dropdown-menu li div a {
    color: #a80000 !important;
}
    ._a80000 .main-navigation .dropdown-menu li div :hover{
        color: #fff !important;
    }
._a80000 .RadTabStrip {
    border: 1px solid #8f1414 !important;
    background-color: #a80000 !important;
}
    ._a80000 .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #8f1414 !important;
        border-color: transparent
    }
._a80000 .btn-primary {
    border: 1px solid #8f1414 !important;
    background-color: #a80000 !important;
}
._a80000 .pagination > .active > a,
._a80000 .pagination > .active > a:focus,
._a80000 .pagination > .active > a:hover,
._a80000 .pagination > .active > span,
._a80000 .pagination > .active > span:focus,
._a80000 .pagination > .active > span:hover {
    background-color: #a80000 !important;
    border-color: #8f1414 !important
}
._a80000 .main-navigation li .dropdown-submenu .caret {
    color: #a80000 !important;
}
._a80000 .box-primary {
    border-top-color: #a80000;
}
._a80000 .box-primary > .box-header {
    background-color: #a80000 !important;
}
._a80000 .box-primary > .box-footer {
    background-color: #a80000 !important;
    border: 1px solid #a80000;
    color: #fff !important;
}
._a80000 .box-primary > .box-header > .box-title {
    color: #fff !important;
}
._a80000 .box-primary .box-body {
    border: 1px solid #8f1414;
}
._a80000 .pageView {
    border: 1px solid #a80000 !important;
}
._a80000 .nav-tabs {
    background: #a80000 !important;
    border-color: #a80000 !important;
}

    ._a80000 .nav-tabs > li > a:hover {
        background: #a80000 !important;
        color: #fff !important;
    }
._a80000 .panel-primary>.panel-heading {
    color: #fff;
    background-color: #a80000;
    border-color: #a80000;
}

._a80000 .panel-primary {
    border-color: #a80000;
}
._a80000 .tblPrimary tr th {
    background-color: #a80000 !important;
    color: #fff;
}
._a80000 .tblPrimary tr.gridFooter td {
    background-color: #a80000 !important;
    color: #fff;
}
._a80000 a.pull-left.popupIconClass {
    color: #a80000 !important;
}
._a80000 .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #a80000 !important;
    border-color: #a80000 !important;
}
._a80000 .bg-theme {
    background-color: #a80000 !important;
}
._a80000 .text-color-theme {
    color: #a80000 !important;
}

._a80000 .modal-header {
    background-color: #a80000 !important;
    color:#fff;
    padding: 8px;
}
/*End a80000 Setting*/
/*Start 5e285b Setting*/
._5e285b .main-navigation {
    background-color: #5e285b !important;
}

    ._5e285b .main-navigation li > div:hover {
        background: #3d0f3b !important;
        color: #fff;
        border-color: #3d0f3b !important;
    }

    ._5e285b .main-navigation li > div a:hover {
        background: #3d0f3b !important;
        color: #fff;
        border-color: #3d0f3b !important;
    }

    ._5e285b .main-navigation li:hover,
    ._5e285b .main-navigation li:active,
    ._5e285b .main-navigation li:focus {
        color: #FFF;
        background-color: #5e285b !important;
    }

    ._5e285b .main-navigation .dropdown-menu li div a {
        color: #5e285b !important;
    }

    ._5e285b .main-navigation .dropdown-menu li div :hover {
        color: #fff !important;
    }

._5e285b .RadTabStrip {
    border: 1px solid #3d0f3b !important;
    background-color: #5e285b !important;
}

    ._5e285b .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #3d0f3b !important;
        border-color: transparent
    }

._5e285b .btn-primary {
    border: 1px solid #3d0f3b !important;
    background-color: #5e285b !important;
}

._5e285b .pagination > .active > a,
._5e285b .pagination > .active > a:focus,
._5e285b .pagination > .active > a:hover,
._5e285b .pagination > .active > span,
._5e285b .pagination > .active > span:focus,
._5e285b .pagination > .active > span:hover {
    background-color: #5e285b !important;
    border-color: #3d0f3b !important
}

._5e285b .main-navigation li .dropdown-submenu .caret {
    color: #5e285b !important;
}
._5e285b .box-primary {
    border-top-color: #5e285b;
}
._5e285b .box-primary > .box-header {
    background-color: #5e285b !important;
}
._5e285b .box-primary > .box-footer {
    color: #fff !important;
    border: 1px solid #5e285b;
    background-color: #5e285b !important;
}
._5e285b .box-primary > .box-header > .box-title {
    color: #fff !important;
}
._5e285b .box-primary .box-body {
    border: 1px solid #3d0f3b;
}
._5e285b .pageView {
    border: 1px solid #5e285b !important;
}
._5e285b .nav-tabs {
    background: #5e285b !important;
    border-color: #5e285b !important;
}

._5e285b .nav-tabs > li > a:hover {
    background: #5e285b !important;
    color: #fff !important;
}
._5e285b .panel-primary>.panel-heading {
    color: #fff;
    background-color: #5e285b;
    border-color: #5e285b;
}
._5e285b .panel-primary {
    border-color: #5e285b;
}
._5e285b .tblPrimary tr th {
    background-color: #5e285b !important;
    color: #fff;
}
._5e285b .tblPrimary tr.gridFooter td {
    background-color: #5e285b !important;
    color: #fff;
}
._5e285b a.pull-left.popupIconClass {
    color: #5e285b !important;
}
._5e285b .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #5e285b !important;
    border-color: #5e285b !important;
}
._5e285b .bg-theme {
    background-color: #5e285b !important;
}

._5e285b .text-color-theme {
    color: #5e285b !important;
}

._5e285b .modal-header {
    background-color: #5e285b !important;
    color:#fff;
    padding: 8px;
}
/*End 5e285b Setting*/
/*Start 5f4195 Setting*/
._5f4195 .main-navigation {
    background-color: #5f4195 !important;
}

    ._5f4195 .main-navigation li > div:hover {
        background: #39245f !important;
        color: #fff;
        border-color: #39245f !important;
    }

    ._5f4195 .main-navigation li > div a:hover {
        background: #39245f !important;
        color: #fff;
        border-color: #39245f !important;
    }
._5f4195 .nav-tabs {
    background: #5f4195 !important;
    border-color: #5f4195 !important;
}
    ._5f4195 .nav-tabs > li > a:hover {
        background: #5f4195 !important;
        color:#fff !important;
    }
    ._5f4195 .main-navigation li:hover,
    ._5f4195 .main-navigation li:active,
    ._5f4195 .main-navigation li:focus {
        color: #FFF;
        background-color: #5f4195 !important;
    }

    ._5f4195 .main-navigation .dropdown-menu li div a {
        color: #5f4195 !important;
    }

    ._5f4195 .main-navigation .dropdown-menu li div :hover {
        color: #fff !important;
    }

._5f4195 .RadTabStrip {
    border: 1px solid #39245f !important;
    background-color: #5f4195 !important;
}

    ._5f4195 .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #39245f !important;
        border-color: transparent
    }

._5f4195 .btn-primary {
    border: 1px solid #39245f !important;
    background-color: #5f4195 !important;
}

._5f4195 .pagination > .active > a,
._5f4195 .pagination > .active > a:focus,
._5f4195 .pagination > .active > a:hover,
._5f4195 .pagination > .active > span,
._5f4195 .pagination > .active > span:focus,
._5f4195 .pagination > .active > span:hover {
    background-color: #5f4195 !important;
    border-color: #39245f !important
}

._5f4195 .main-navigation li .dropdown-submenu .caret {
    color: #5f4195 !important;
}
._5f4195 .box-primary {
    border-top-color: #5f4195;
}
._5f4195 .box-primary > .box-header {
    background-color: #5f4195 !important;
}
._5f4195 .box-primary > .box-footer {
    color: #fff !important;
    border: 1px solid #5f4195;
    background-color: #5f4195 !important;
}
._5f4195 .box-primary > .box-header > .box-title {
    color: #fff !important;
}
._5f4195 .box-primary .box-body {
    border: 1px solid #39245f;
}
._5f4195 .pageView {
    border: 1px solid #5f4195 !important;
}
._5f4195 .tblPrimary tr th{
    background-color:#5f4195 !important;
}

._5f4195 .tblPrimary tr th {
    background-color: #5f4195 !important;
    color: #fff;
}

._5f4195 .tblPrimary tr.gridFooter td {
    background-color: #5f4195 !important;
    color: #fff;
}
._5f4195 a.pull-left.popupIconClass {
    color: #5f4195 !important;
}
._5f4195 .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #5f4195 !important;
    border-color: #5f4195 !important;
}
._5f4195 .bg-theme {
    background-color: #5f4195 !important;
}

._5f4195 .text-color-theme {
    color: #5f4195 !important;
}

._5f4195 .modal-header {
    background-color: #5f4195 !important;
    color:#fff;
    padding: 8px;
}
/*End 5f4195 Setting*/
/*Start 40966d Setting*/
._40966d .main-navigation {
    background-color: #40966d !important;
}

    ._40966d .main-navigation li > div:hover {
        background: #1c6341 !important;
        color: #fff;
        border-color: #1c6341 !important;
    }

    ._40966d .main-navigation li > div a:hover {
        background: #1c6341 !important;
        color: #fff;
        border-color: #1c6341 !important;
    }

    ._40966d .main-navigation li:hover,
    ._40966d .main-navigation li:active,
    ._40966d .main-navigation li:focus {
        color: #FFF;
        background-color: #40966d !important;
    }

    ._40966d .main-navigation .dropdown-menu li div a {
        color: #40966d !important;
    }

    ._40966d .main-navigation .dropdown-menu li div :hover {
        color: #fff !important;
    }

._40966d .RadTabStrip {
    border: 1px solid #1c6341 !important;
    background-color: #40966d !important;
}

    ._40966d .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #1c6341 !important;
        border-color: transparent
    }

._40966d .btn-primary {
    border: 1px solid #1c6341 !important;
    background-color: #40966d !important;
}

._40966d .pagination > .active > a,
._40966d .pagination > .active > a:focus,
._40966d .pagination > .active > a:hover,
._40966d .pagination > .active > span,
._40966d .pagination > .active > span:focus,
._40966d .pagination > .active > span:hover {
    background-color: #40966d !important;
    border-color: #1c6341 !important
}

._40966d .main-navigation li .dropdown-submenu .caret {
    color: #40966d !important;
}
._40966d .box-primary {
    border-top-color: #40966d;
}
._40966d .box-primary > .box-header {
    background-color: #40966d !important;
}
._40966d .box-primary > .box-header {
    color: #fff !important;
    background-color: #40966d !important;
}
._40966d .box-primary > .box-header > .box-title {
    color: #fff !important;
}
._40966d .box-primary .box-body {
    border: 1px solid #1c6341;
}
._40966d .pageView {
    border: 1px solid #40966d !important;
}
._40966d .nav-tabs {
    background: #40966d !important;
    border-color: #40966d !important;
}

    ._40966d .nav-tabs > li > a:hover {
        background: #40966d !important;
        color: #fff !important;
    }
._40966d .panel-primary>.panel-heading {
    color: #fff;
    background-color: #40966d;
    border-color: #40966d;
}
._40966d .panel-primary {
    border-color: #40966d;
}
._40966d .tblPrimary tr th {
    background-color: #40966d !important;
    color: #fff;
}
._40966d .tblPrimary tr.gridFooter td {
    background-color: #40966d !important;
    color: #fff;
}
._40966d a.pull-left.popupIconClass {
    color: #40966d !important;
}
._40966d .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #40966d !important;
    border-color: #40966d !important;
}
._40966d .bg-theme {
    background-color: #40966d !important;
}

._40966d .text-color-theme {
    color: #40966d !important;
}

._40966d .modal-header {
    background-color: #40966d !important;
    color:#fff;
    padding: 8px;
}
/*End 40966d Setting*/
/*Start 21553c Setting*/
._21553c .main-navigation {
    background-color: #21553c !important;
}

    ._21553c .main-navigation li > div:hover {
        background: #0b3521 !important;
        color: #fff;
        border-color: #0b3521 !important;
    }

    ._21553c .main-navigation li > div a:hover {
        background: #0b3521 !important;
        color: #fff;
        border-color: #0b3521 !important;
    }

    ._21553c .main-navigation li:hover,
    ._21553c .main-navigation li:active,
    ._21553c .main-navigation li:focus {
        color: #FFF;
        background-color: #21553c !important;
    }

    ._21553c .main-navigation .dropdown-menu li div a {
        color: #21553c !important;
    }

    ._21553c .main-navigation .dropdown-menu li div :hover {
        color: #fff !important;
    }

._21553c .RadTabStrip {
    border: 1px solid #0b3521 !important;
    background-color: #21553c !important;
}

    ._21553c .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #0b3521 !important;
        border-color: transparent
    }

._21553c .btn-primary {
    border: 1px solid #0b3521 !important;
    background-color: #21553c !important;
}

._21553c .pagination > .active > a,
._21553c .pagination > .active > a:focus,
._21553c .pagination > .active > a:hover,
._21553c .pagination > .active > span,
._21553c .pagination > .active > span:focus,
._21553c .pagination > .active > span:hover {
    background-color: #21553c !important;
    border-color: #0b3521 !important
}

._21553c .main-navigation li .dropdown-submenu .caret {
    color: #21553c !important;
}
._21553c .box-primary {
    border-top-color: #21553c;
}
._21553c .box-primary > .box-header {
    background-color: #21553c !important;
}
._21553c .box-primary > .box-footer {
    color: #fff !important;
    border: 1px solid #21553c;
    background-color: #21553c !important;
}
._21553c .box-primary > .box-header > .box-title {
    color: #fff !important;
}
._21553c .box-primary .box-body {
    border: 1px solid #0b3521;
}
._21553c .pageView {
    border: 1px solid #21553c !important;
}
._21553c .nav-tabs {
    background: #21553c !important;
}
._21553c .nav-tabs {
    background: #21553c !important;
    border-color: #21553c !important;
}

    ._21553c .nav-tabs > li > a:hover {
        background: #40966d !important;
        color: #fff !important;
    }
._21553c .panel-primary>.panel-heading {
    color: #fff;
    background-color: #21553c;
    border-color: #21553c;
}
._21553c .panel-primary {
    border-color: #21553c;
}
._21553c .tblPrimary tr th {
    background-color: #21553c !important;
    color: #fff;
}
._21553c .tblPrimary tr.gridFooter td {
    background-color: #21553c !important;
    color: #fff;
}
._21553c a.pull-left.popupIconClass {
    color: #21553c !important;
}

._21553c .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #21553c !important;
    border-color: #21553c !important;
}
._21553c .bg-theme {
    background-color: #21553c !important;
}

._21553c .text-color-theme {
    color: #21553c !important;
}

._21553c .modal-header {
    background-color: #21553c !important;
    color:#fff;
    padding: 8px;
}
/*End 21553c Setting*/
/*Start c06000 Setting*/
._c06000 .main-navigation {
    background-color: #c06000 !important;
}

    ._c06000 .main-navigation li > div:hover {
        background: #8e4e0f !important;
        color: #fff;
        border-color: #8e4e0f !important;
    }

    ._c06000 .main-navigation li > div a:hover {
        background: #8e4e0f !important;
        color: #fff;
        border-color: #8e4e0f !important;
    }

    ._c06000 .main-navigation li:hover,
    ._c06000 .main-navigation li:active,
    ._c06000 .main-navigation li:focus {
        color: #FFF;
        background-color: #c06000 !important;
    }

    ._c06000 .main-navigation .dropdown-menu li div a {
        color: #c06000 !important;
    }

    ._c06000 .main-navigation .dropdown-menu li div :hover {
        color: #fff !important;
    }

._c06000 .RadTabStrip {
    border: 1px solid #8e4e0f !important;
    background-color: #c06000 !important;
}

    ._c06000 .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #8e4e0f !important;
        border-color: transparent
    }

._c06000 .btn-primary {
    border: 1px solid #8e4e0f !important;
    background-color: #c06000 !important;
}

._c06000 .pagination > .active > a,
._c06000 .pagination > .active > a:focus,
._c06000 .pagination > .active > a:hover,
._c06000 .pagination > .active > span,
._c06000 .pagination > .active > span:focus,
._c06000 .pagination > .active > span:hover {
    background-color: #c06000 !important;
    border-color: #8e4e0f !important
}

._c06000 .main-navigation li .dropdown-submenu .caret {
    color: #c06000 !important;
}
._c06000 .box-primary {
    border-top-color: #c06000;
}
._c06000 .box-primary > .box-header {
    background-color: #c06000 !important;
}
._c06000 .box-primary > .box-footer {
    color: #fff !important;
    border: 1px solid #c06000;
    background-color: #c06000 !important;
}
._c06000 .box-primary > .box-header > .box-title {
    color: #fff !important;
}
._c06000 .box-primary .box-body {
    border: 1px solid #8e4e0f;
}
._c06000 .pageView {
    border: 1px solid #c06000 !important;
}
._c06000 .nav-tabs {
    background: #c06000 !important;
    border-color: #c06000 !important;
}

    ._c06000 .nav-tabs > li > a:hover {
        background: #c06000 !important;
        color: #fff !important;
    }
._c06000 .panel-primary>.panel-heading {
    color: #fff;
    background-color: #c06000;
    border-color: #c06000;
}
._c06000 .panel-primary {
    border-color: #c06000;
}
._c06000 .tblPrimary tr th {
    background-color: #5f4195 !important;
    color: #fff;
}
._c06000 .tblPrimary tr.gridFooter td {
    background-color: #c06000 !important;
    color: #fff;
}
._c06000 a.pull-left.popupIconClass {
    color: #c06000  !important;
}

._c06000 .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #c06000 !important;
    border-color: #c06000 !important;
}
._c06000 .bg-theme {
    background-color: #c06000 !important;
}

._c06000 .text-color-theme {
    color: #c06000 !important;
}

._c06000 .modal-header {
    background-color: #c06000 !important;
    color:#fff;
    padding: 8px;
}
/*End c06000 Setting*/
/*Start 784308 Setting*/
._784308 .main-navigation {
    background-color: #784308 !important;
}

    ._784308 .main-navigation li > div:hover {
        background: #573815 !important;
        color: #fff;
        border-color: #573815 !important;
    }

    ._784308 .main-navigation li > div a:hover {
        background: #573815 !important;
        color: #fff;
        border-color: #573815 !important;
    }

    ._784308 .main-navigation li:hover,
    ._784308 .main-navigation li:active,
    ._784308 .main-navigation li:focus {
        color: #FFF;
        background-color: #784308 !important;
    }

    ._784308 .main-navigation .dropdown-menu li div a {
        color: #784308 !important;
    }

    ._784308 .main-navigation .dropdown-menu li div :hover {
        color: #fff !important;
    }

._784308 .RadTabStrip {
    border: 1px solid #573815 !important;
    background-color: #784308 !important;
}

    ._784308 .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #573815 !important;
        border-color: transparent
    }

._784308 .btn-primary {
    border: 1px solid #573815 !important;
    background-color: #784308 !important;
}

._784308 .pagination > .active > a,
._784308 .pagination > .active > a:focus,
._784308 .pagination > .active > a:hover,
._784308 .pagination > .active > span,
._784308 .pagination > .active > span:focus,
._784308 .pagination > .active > span:hover {
    background-color: #784308 !important;
    border-color: #573815 !important
}

._784308 .main-navigation li .dropdown-submenu .caret {
    color: #784308 !important;
}
._784308 .box-primary {
    border-top-color: #784308;
}
._784308 .box-primary > .box-header {
    background-color: #784308 !important;
}
._784308 .box-primary > .box-footer {
    color: #fff !important;
    border: 1px solid #784308;
    background-color: #784308 !important;
}
._784308 .box-primary > .box-header > .box-title {
    color: #fff !important;
}
._784308 .box-primary .box-body {
    border: 1px solid #573815;
}
._784308 .pageView {
    border: 1px solid #784308 !important;
}

._784308 .nav-tabs {
    background: #784308 !important;
    border-color: #784308 !important;
}

    ._784308 .nav-tabs > li > a:hover {
        background: #784308 !important;
        color: #fff !important;
    }
._784308 .panel-primary>.panel-heading {
    color: #fff;
    background-color: #784308;
    border-color: #784308;
}
._784308 .panel-primary {
    border-color: #784308;
}
._784308 .tblPrimary tr th {
    background-color: #784308 !important;
    color: #fff;
}
._784308 .tblPrimary tr.gridFooter td {
    background-color: #784308 !important;
    color: #fff;
}
._784308 a.pull-left.popupIconClass {
    color: #784308 !important;
}
._784308 .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #784308 !important;
    border-color: #784308 !important;
}
._784308 .bg-theme {
    background-color: #784308 !important;
}

._784308 .text-color-theme {
    color: #784308 !important;
}

._784308 .modal-header {
    background-color: #784308 !important;
    color:#fff;
    padding: 8px;
}
/*End 784308 Setting*/
/*Start 808080 Setting*/
._808080 .main-navigation {
    background-color: #808080 !important;
}

    ._808080 .main-navigation li > div:hover {
        background: #635e5e !important;
        color: #fff;
        border-color: #635e5e !important;
    }

    ._808080 .main-navigation li > div a:hover {
        background: #635e5e !important;
        color: #fff;
        border-color: #635e5e !important;
    }

    ._808080 .main-navigation li:hover,
    ._808080 .main-navigation li:active,
    ._808080 .main-navigation li:focus {
        color: #FFF;
        background-color: #808080 !important;
    }

    ._808080 .main-navigation .dropdown-menu li div a {
        color: #808080 !important;
    }

    ._808080 .main-navigation .dropdown-menu li div :hover {
        color: #fff !important;
    }

._808080 .RadTabStrip {
    border: 1px solid #635e5e !important;
    background-color: #808080 !important;
}

    ._808080 .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #635e5e !important;
        border-color: transparent
    }

._808080 .btn-primary {
    border: 1px solid #635e5e !important;
    background-color: #808080 !important;
}

._808080 .pagination > .active > a,
._808080 .pagination > .active > a:focus,
._808080 .pagination > .active > a:hover,
._808080 .pagination > .active > span,
._808080 .pagination > .active > span:focus,
._808080 .pagination > .active > span:hover {
    background-color: #808080 !important;
    border-color: #635e5e !important
}

._808080 .main-navigation li .dropdown-submenu .caret {
    color: #808080 !important;
}
._808080 .box-primary {
    border-top-color: #808080;
}
._808080 .box-primary > .box-header {
    background-color: #808080 !important;
}
._808080 .box-primary > .box-footer {
    color: #fff !important;
    border: 1px solid #808080;
    background-color: #808080 !important;
}
._808080 .box-primary > .box-header > .box-title {
    color: #fff !important;
}
._808080 .box-primary .box-body {
    border: 1px solid #635e5e;
}
._808080 .pageView {
    border: 1px solid #808080 !important;
}
._808080 .nav-tabs {
    background: #808080 !important;
    border-color: #808080 !important;
}

    ._808080 .nav-tabs > li > a:hover {
        background: #808080 !important;
        color: #fff !important;
    }
._808080 .panel-primary>.panel-heading {
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}
._808080 .panel-primary {
    border-color: #808080;
}
._808080 .tblPrimary tr th {
    background-color: #808080 !important;
    color: #fff;
}
._808080 .tblPrimary tr.gridFooter td {
    background-color: #808080 !important;
    color: #fff;
}
._808080 a.pull-left.popupIconClass {
    color: #808080 !important;
}
._808080 .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #808080 !important;
    border-color: #808080 !important;
}
._808080 .bg-theme {
    background-color: #808080 !important;
}
._808080 .text-color-theme {
    color: #808080 !important;
}

._808080 .modal-header {
    background-color: #808080 !important;
    color:#fff;
    padding: 8px;
}
/*End 808080 Setting*/
/*Start 3f3f3f Setting*/
._3f3f3f .main-navigation {
    background-color: #3f3f3f !important;
}

    ._3f3f3f .main-navigation li > div:hover {
        background: #191616 !important;
        color: #fff;
        border-color: #191616 !important;
    }

    ._3f3f3f .main-navigation li > div a:hover {
        background: #191616 !important;
        color: #fff;
        border-color: #191616 !important;
    }

    ._3f3f3f .main-navigation li:hover,
    ._3f3f3f .main-navigation li:active,
    ._3f3f3f .main-navigation li:focus {
        color: #FFF;
        background-color: #3f3f3f !important;
    }

    ._3f3f3f .main-navigation .dropdown-menu li div a {
        color: #3f3f3f !important;
    }

    ._3f3f3f .main-navigation .dropdown-menu li div :hover {
        color: #fff !important;
    }

._3f3f3f .RadTabStrip {
    border: 1px solid #191616 !important;
    background-color: #3f3f3f !important;
}

    ._3f3f3f .RadTabStrip .rtsLevel .rtsUL .rtsLI .rtsLink:hover {
        color: #fff !important;
        background-color: #191616 !important;
        border-color: transparent
    }

._3f3f3f .btn-primary {
    border: 1px solid #191616 !important;
    background-color: #3f3f3f !important;
}

._3f3f3f .pagination > .active > a,
._3f3f3f .pagination > .active > a:focus,
._3f3f3f .pagination > .active > a:hover,
._3f3f3f .pagination > .active > span,
._3f3f3f .pagination > .active > span:focus,
._3f3f3f .pagination > .active > span:hover {
    background-color: #3f3f3f !important;
    border-color: #191616 !important
}

._3f3f3f .main-navigation li .dropdown-submenu .caret {
    color: #3f3f3f !important;
}
._3f3f3f .box-primary {
    border-top-color: #3f3f3f;
}
._3f3f3f .box-primary > .box-header {
    background-color: #3f3f3f !important;
}
._3f3f3f .box-primary > .box-footer {
    color: #fff !important;
    border: 1px solid #3f3f3f;
    background-color: #3f3f3f !important;
}
._3f3f3f .box-primary > .box-header > .box-title {
    color: #fff !important;
}
._3f3f3f .box-primary .box-body {
    border: 1px solid #191616;
}
._3f3f3f .pageView {
    border: 1px solid #3f3f3f !important;
}

._3f3f3f .nav-tabs {
    background: #3f3f3f !important;
    border-color: #3f3f3f !important;
}

    ._3f3f3f .nav-tabs > li > a:hover {
        background: #3f3f3f !important;
        color: #fff !important;
    }
._3f3f3f .panel-primary>.panel-heading {
    color: #fff;
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}
._3f3f3f .panel-primary {
    border-color: #3f3f3f;
}
._3f3f3f .tblPrimary tr th {
    background-color: #3f3f3f !important;
    color: #fff;
}
._3f3f3f .tblPrimary tr.gridFooter td {
    background-color: #3f3f3f !important;
    color: #fff;
}
._3f3f3f a.pull-left.popupIconClass {
    color: #3f3f3f !important;
}
._3f3f3f .RadTabStripTop_Default .rtsLevel .rtsSelected, .RadTabStripTop_Default .rtsLevel .rtsSelected:hover {
    color: #3f3f3f !important;
    border-color: #3f3f3f !important;
}
._3f3f3f .bg-theme {
    background-color: #3f3f3f !important;
}

._3f3f3f .text-color-theme {
    color: #3f3f3f !important;
}

._3f3f3f .modal-header {
    background-color: #3f3f3f !important;
    color:#fff;
    padding: 8px;
}
/*End 3f3f3f Setting*/


