ul.sortable li {
	position: relative;
}


ul.boxy {
	list-style-type: none;
	padding: 4px 4px 0 4px;
	margin: 0px;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica;
        border: 1px solid #ccc;
}

ul.boxy li {
	cursor:move;
	margin-bottom: 4px;
	padding: 2px 2px;
	border: 1px solid #A3B5CE;
	text-align:center;
	background:#A3B5CE;	
	color:White;
}

#left_col {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#center {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#right_col {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#sajax1 {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#sajax2 {
    width: 180px;
    float: left;
    margin-left: 5px;
}

form {
  clear:left;
}

/*BODY
{
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	FONT-SIZE: 10pt;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: normal;
	margin : 0px 0px 0px 0px;
	TEXT-DECORATION: none;
	Background-color:white;

}

h2 {
    color: #7DA721;
    font-weight: normal;
    font-size: 14px;
    margin: 20px 0 0 0;
    }

br {
        clear: left;
}*/

.aspTableDTL
{
	
	FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White, endColorstr=#60A3B5CE,,MakeShadow=true);
}

 .cell { font-size :smaller; font-family : Marlett; vertical-align:bottom; } 
 .cell1 { font-size :13px; font-family : Marlett; vertical-align:bottom;} 

.ajax__tab_xp .ajax__tab_header {
   
}
.ajax__tab_xp .ajax__tab_outer {
    
    FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E9ECF7, endColorstr=#628BAE,MakeShadow=true);    
    border-right:1px solid black;	
	border-top:1px solid black;
}
.ajax__tab_xp .ajax__tab_inner {
    padding-left:3px;
    FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E9ECF7, endColorstr=#628BAE,MakeShadow=true);
 
}
.ajax__tab_xp .ajax__tab_tab {
    FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E9ECF7, endColorstr=#628BAE,MakeShadow=true);
    color:black;	
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	height:23px;
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_outer {
    FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A0BF, endColorstr=#546083,MakeShadow=true);
    border-right:1px solid black;
	border-top:1px solid black;
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_inner {
   FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A0BF, endColorstr=#546083,MakeShadow=true);
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_tab {
    FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A0BF, endColorstr=#546083,MakeShadow=true);
    color:white;	
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	height:23px;
}
.ajax__tab_xp .ajax__tab_active .ajax__tab_outer {
    FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A0BF, endColorstr=#546083,MakeShadow=true);
     border-right:1px solid black;
	
	border-top:1px solid black;
}
.ajax__tab_xp .ajax__tab_active .ajax__tab_inner {
   FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A0BF, endColorstr=#546083,MakeShadow=true);
  
   
}
.ajax__tab_xp .ajax__tab_active .ajax__tab_tab {
   FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#93A0BF, endColorstr=#546083,MakeShadow=true);
    color:white;	
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	height:23px;
}
.ajax__tab_xp .ajax__tab_body {
  
}

