﻿html body.biz-signin {
    background: #666!important;
}

.notification {
    padding-bottom: 10px;
}

#biz-signin-bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
#biz-signin-bg img {
    width: 100%}
#biz-signin-bg .overlay {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.biz-signin .signin-container {
    border-radius: 2px;
    display: block;
    margin: 20px 14px;
    position: relative;
    z-index: 999;
}
.biz-signin .signin-info {
    background: #337ab7;
    display: block;
    overflow: hidden;
    padding: 20px 30px;
    text-align: center;
}
.biz-signin .signin-info .logo {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    opacity: 1;
    text-decoration:none;
}
.biz-signin .signin-info .logo[href]:hover {
    opacity: .7;
}
.biz-signin .signin-info .slogan {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}
.biz-signin .signin-info ul {
    display: none;
}
.biz-signin .signin-form {
    background: #fff;
    display: block;
    padding: 30px;
    position: relative;
}
.biz-signin .password-reset-form {
    background: #fff;
    bottom: 0;
    display: none;
    left: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1020;
}
.biz-signin .password-reset-form .header {
    background: #f4f4f4;
    border-bottom: 1px solid #ddd;
    margin: -30px -30px 30px -30px;
    padding: 20px;
}
.biz-signin .password-reset-form .header .signin-text {
    margin: 0;
}
.biz-signin .password-reset-form .header .signin-text span {
    background: #f4f4f4;
}
.biz-signin .password-reset-form .header .signin-text:before {
    display: none;
}
.biz-signin .password-reset-form .header .close {
    margin-top: 2px;
}
.biz-signin .password-reset-form .form-group.w-icon .signin-form-icon {
    z-index: 1025;
}
.biz-signin .form-actions {
    margin-top: 15px;
}
.biz-signin .form-actions .signin-btn {
    border: none;
    border-radius: 999999px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    outline: 0!important;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.biz-signin .form-actions .signin-btn:hover {
    background: #444!important;
}
.biz-signin .form-actions a.forgot-password {
    border-bottom: 1px solid #bbb;
    color: #999;
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
    padding-bottom: 1px;
}
.biz-signin .form-actions a.forgot-password:hover {
    color: #555;
    text-decoration: none;
}
.biz-signin .form-group {
    margin: 0;
    position: relative;
}
.biz-signin .form-group+.form-group {
    margin: 10px 0 0;
}
.biz-signin .form-group.w-icon .signin-form-icon {
    border-right: 1px solid #d6d6d6;
    bottom: 9px;
    color: #d6d6d6;
    display: block;
    font-size: 14px;
    left: 0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 40px;
    z-index: 1002;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.biz-signin .form-group.w-icon input[type=password], .biz-signin .form-group.w-icon input[type=text] {
    font-size: 15px;
    padding-left: 56px;
}
.biz-signin .form-group.w-icon input[type=password]:focus+.signin-form-icon, .biz-signin .form-group.w-icon input[type=text]:focus+.signin-form-icon {
    color: #888;
}
.biz-signin .signin-text {
    color: #777;
    display: block;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
}
.biz-signin .signin-text span {
    background: #fff;
    display: inline-block;
    padding: 0 20px;
    position: relative;
}
.biz-signin .signin-text:before {
    background: #e4e4e4;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%}
.biz-signin .signin-with {
    background: #f4f4f4;
    border-top: 1px solid #ddd;
    margin: 30px -30px -30px -30px;
    padding: 20px 30px;
}
.biz-signin .signin-with-btn {
    border-radius: 2px;
    color: #fff;
    display: block;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration:none;
}
.biz-signin .signin-with-btn span {
    font-weight: 600;
}
.biz-signin .signin-with-btn+.signin-with-btn {
    margin-top: 10px;
}
.biz-signin .signin-with-btn:hover {
    background: #444!important;
}
.biz-signin .not-a-member {
    color: #fff;
    display: block;
    font-size: 14px;
    margin: -20px 0 0 0;
    padding: 20px 0;
    position: relative;
    text-align: center;
    z-index: 999;
}
.biz-signin .not-a-member a {
    color: #fff;
    text-decoration: underline;
    transition: all .3s;
}
.biz-signin .not-a-member a:hover {
    opacity: .6;
}
@media (min-width:480px) {
    .biz-signin .form-actions {
    margin-top: 15px;
}
.biz-signin .form-actions .signin-btn {
    padding-left: 40px;
    padding-right: 40px;
    width: auto;
}
}@media (min-width:768px) {
    .biz-signin .signin-container {
    display: table;
    margin: 80px auto;
    width: 650px;
    table-layout: fixed;
}
.biz-signin .signin-info {
    display: table-cell;
    padding: 20px;
    text-align: center;
    vertical-align: top;
    width: 40%}
.biz-signin .signin-info ul {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 300;
    margin: 30px 0 0;
    padding: 0;
}
.biz-signin .signin-info ul li {
    list-style: none;
    margin: 0;
    padding: 7px 0;
}
.biz-signin .signin-info ul .signin-icon {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin-right: 6px;
    text-align: center;
    width: 24px;
}
.biz-signin .signin-form {
    display: table-cell;
    vertical-align: top;
    width: 60%}
.biz-signin .not-a-member {
    margin: -80px 0 80px;
}
}



._0e99c4.biz-signin .signin-info {
    background: #0e99c4 !important;
}

._0e99c4 .bg-primary {
    background: #0e99c4 !important;
}

._1473b4.biz-signin .signin-info {
    background: #1473b4 !important;
}

._1473b4 .bg-primary {
    background: #1473b4 !important;
}

._274b85.biz-signin .signin-info {
    background: #274b85 !important;
}

._274b85 .bg-primary {
    background: #274b85 !important;
}
._a80000.biz-signin .signin-info {
    background: #a80000 !important;
}
._a80000 .bg-primary {
    background: #a80000 !important;
}

._5e285b.biz-signin .signin-info {
    background: #5e285b !important;
}
._5e285b .bg-primary {
    background: #5e285b !important;
}

._5f4195.biz-signin .signin-info {
    background: #5f4195 !important;
}

._5f4195 .bg-primary {
    background: #5f4195 !important;
}

._40966d.biz-signin .signin-info {
    background: #40966d !important;
}

._40966d .bg-primary {
    background: #40966d !important;
}
._21553c.biz-signin .signin-info {
    background: #21553c !important;
}

._21553c .bg-primary {
    background: #21553c !important;
}
._c06000.biz-signin .signin-info {
    background: #c06000 !important;
}

._c06000 .bg-primary {
    background: #c06000 !important;
}

._784308.biz-signin .signin-info {
    background: #784308 !important;
}

._784308 .bg-primary {
    background: #784308 !important;
}
._808080.biz-signin .signin-info {
    background: #808080 !important;
}

._808080 .bg-primary {
    background: #808080 !important;
}
._3f3f3f.biz-signin .signin-info {
    background: #3f3f3f !important;
}

._3f3f3f .bg-primary {
    background: #3f3f3f !important;
}