/*compressed using http://www.refresh-sf.com/yui/ */
body{margin:0 !important;padding:0 !important;width:100% !important;font-family:Arial,Helvetica,sans-serif !important;font-size:12px !important;color:#282828 !important;background:#fcfdfe !important;}
.bold_span{font-weight: bold;}
img{margin:0;padding:0;border:0}
h1,h2,h3,h4,h5,h6,p{margin:0;padding:0}
a{color:#626d90;text-decoration:underline}
a:hover{text-decoration:underline}
.link-part a{color:#282828;text-decoration:none}
.clear{clear:both}
#table-main-part{width:100%;margin:0 auto}
.top-middle{background:url(../images/NewUiImages/bg-sprit.png) 0 -79px repeat-x;height:32px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#fff;text-align:center}
.top-middle strong{font-weight:bold;font-size:16px}
.bottom-middle{width:100%;background:url(../images/NewUiImages/bottom-middle.gif) repeat-x left top}
#table-main{width:100%;background:#9ba6c3;border-left:1px solid #667194;border-right:1px solid #667194}
.top-padd{padding-top:5px;height:32px}
.hs a,table.dg th a,table.tbl th a,.rgHeader a,table.dgNHover th a{color:#060606!important;text-decoration:none}
table.dg td.bg,table.tbl td.bg,table.dgNHover td.bg{border-bottom:1px solid #cbcbcb;border-top:1px solid #cbcbcb}
table tr td.paging-part{background:url(../images/NewUiImages/bg-sprit.png) 0 -170px repeat-x;height:29px;padding:0 .5%}
#tblSort td{padding:0}
#tblSort a{text-decoration:none;color:Black}
#tblSort td:hover{background:url(../images/NewUiImages/paging-hov.gif) no-repeat center 2px;cursor:pointer}

.leftBorder{border-left:1px solid #d8e1e8}
div.header{border-top:1px solid #d0eaf8;border-bottom:1px solid #d0eaf8;width:100%;margin:4px 0}
div.resultCount{width:29%}
.pagn,.pagn1{text-align:center;float:right}
/*.pagn a{float:left;display:block;text-align:center;line-height:19px;color:White;width:19px;height:19px;text-decoration:none}*/
.pagn a{float:left;display:block;text-align:center;line-height:19px;color:White;width:19px;height:19px;text-decoration:none}
.pagn a:hover,.pagn1 a:hover{background:url(../images/NewUiImages/paging-sprit.png) -84px 0 no-repeat;color:#5d5e60;cursor:pointer;text-align:center;line-height:21px}
/*.pagn_hover,.pagn1_hover{background:url(../images/NewUiImages/paging-sprit.png) -84px 0 no-repeat;cursor:pointer;color:#5d5e60!important;width:19px;height:19px;text-align:center}*/
.pagn_hover,.pagn1_hover{background:url(../images/NewUiImages/paging-sprit.png) -84px 0 no-repeat;cursor:pointer;color:#5d5e60!important;width:19px;height:19px;text-align:center}

.pagn1 a{float:left;display:block;text-align:center;line-height:19px;color:grey;width:19px;height:19px;text-decoration:none}

div.header{background:url('../images/NewUiImages/tile-blue-bg._V45465059_.gif') repeat-x}
.next:hover,.last:hover,.prev:hover,.first:hover{cursor:pointer}
.lastviewed{overflow:hidden;background:url(../images/NewUiImages/bg-sprit.png) repeat-x left top;height:30px}
.link-part{width:100%}
.link-part ul{margin:0;padding:0;list-style:none}
.link-part ul li{float:left;width:122px;list-style:none;background:url(../images/NewUiImages/link-bg.png) no-repeat left top;font:normal 12px/30px Arial,Helvetica,sans-serif;color:#373737;margin-left:-9px}
.link-part ul li:hover,.link-part ul li.current{background:url(../images/NewUiImages/link-bg-hov.png) no-repeat left top;cursor:pointer;color:#000}
.link1{position:relative;z-index:2;right:-15px}
.link2{position:relative;z-index:1;right:-15px;display:block}
.link-part ul li img{margin:9px 9px 0 14px;float:left}
.link-part ul li.last{background:0}
.link-part ul li.last:hover{background:0}
.input-part{width:100%}
.view-cases{width:200px;float:left;margin-top:5px;margin-left:0;vertical-align:top}
.view-cases label{font-family:Arial,Helvetica,sans-serif;color:#000;font-size:12px;font-weight:bold;float:left;padding-right:9px;padding-top:3px}
.view-cases select{width:134px;height:24px;background:url(../images/NewUiImages/select-box-bg.gif);border:0;padding:3px}
a.view-case-edit{float:right;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#606b8e;text-decoration:underline;padding-top:3px}
a.view-case-edit:hover{text-decoration:none}
.right-input{float:right;padding:5px 0 0 0}
.right-input label{font-family:Arial,Helvetica,sans-serif;color:#000;font-size:12px;font-weight:bold;padding-right:6px;padding-top:3px;padding-left:7px;margin-top:2px}
.link-part ul li a.lastviewed{text-decoration:none;background:url(../images/NewUiImages/icons-sprit.png) 0 0 no-repeat;width:1.125em;margin-left:1.2em;padding-left:2em}
.link-part ul li a.viewedlink1{text-decoration:none;background:url(../images/NewUiImages/icons-sprit.png) 0 -16px no-repeat;width:1.125em;margin-left:1.2em;padding-left:2em}
.link-part ul li a.viewedlink2{text-decoration:none;background:url(../images/NewUiImages/icons-sprit.png) 0 -30px no-repeat;width:1.125em;margin-left:1.2em;padding-left:2em}
.link-part ul li a.viewedlink3{text-decoration:none;background:url(../images/NewUiImages/icons-sprit.png) 0 -44px no-repeat;width:1.125em;margin-left:1.2em;padding-left:2em}
.link-part ul li a.viewedlink4{text-decoration:none;background:url(../images/NewUiImages/icons-sprit.png) 0 -59px no-repeat;width:1.125em;margin-left:1.2em;padding-left:2em}
.link-part ul li a.viewedlink5{text-decoration:none;background:url(../images/NewUiImages/icons-sprit.png) 0 -75px no-repeat;width:1.125em;margin-left:1.2em;padding-left:2em}
a.viewicon{background:url(../images/NewUiImages/icons-sprit.png) 0 -91px no-repeat;width:1.063em;height:1.000em;display:block}
.pagingfirst{display:block;float:left;background:url(../images/NewUiImages/paging-sprit.png) -42px 0 no-repeat;height:21px;width:21px;margin-right:4px}
.pagingprev,.btmprev{display:block;float:left;background:url(../images/NewUiImages/paging-sprit.png) 0 0 no-repeat;height:21px;width:21px;margin-right:4px}
.pagingprev:hover,.btmprev:hover{cursor:pointer}
.pagingnext{display:block;float:right;background:url(../images/NewUiImages/paging-sprit.png) -21px 0 no-repeat;height:21px;width:21px;margin-right:4px}
.setting,.print:hover,.help:hover{cursor:pointer}
.paginglast{display:block;float:right;background:url(../images/NewUiImages/paging-sprit.png) -63px 0 no-repeat;height:21px;width:21px;margin-right:4px}
.go{width:34px;height:24px;background:url(../images/NewUiImages/button-sprit.png) 0 -48px no-repeat;display:block;float:left;margin:5px 0 0 5px}
.go:hover{background:url(../images/NewUiImages/button-sprit.png) 0 -72px no-repeat}
.sepretor{background:url(../images/NewUiImages/button-sprit.png) 0 -96px no-repeat;height:22px;width:2px}
.setting{background:url(../images/NewUiImages/icons-sprit.png) 0 -139px no-repeat;height:16px;width:18px;display:block}
.print{padding:0 10px;display:none;float:left;background:url(../images/NewUiImages/icons-sprit.png) 10px -107px no-repeat;width:16px;height:16px;margin:0 0 0 5px}
.help{background:url(../images/NewUiImages/icons-sprit.png) 0 -123px no-repeat;width:18px;height:16px;display:none;float:left;padding:0 10px;margin:0 0 0 5px}
input[type="text"] { /*background:url(../images/NewUiImages/bg-sprit.png) 0 -145px repeat-x;border:0;border-left:solid 1px #757c96;border-right:solid 1px #f1f3f8;border-bottom:solid 1px #f1f3f8;*/
    border: solid 1px #bfb8b8;
    font-size: 8pt;
    color: Black;
    height: 15pt
}
input[type="password"]{background:url(../images/NewUiImages/bg-sprit.png) 0 -145px repeat-x;border:0;border-left:solid 1px #757c96;border-right:solid 1px #f1f3f8;border-bottom:solid 1px #f1f3f8;font-size:8pt;color:Black;height:15pt}
select{border:0;border:solid 1px #757c96;font-size:8pt;color:Black;height:17pt}
form{padding:0;margin:0;border:0}
.subject{overflow:hidden;height:29px;text-align:left}
.button{-moz-box-shadow:0 1px 0 0 #c7c9cf;-webkit-box-shadow:0 1px 0 0 #c7c9cf;box-shadow:0 1px 0 0 #c7c9cf;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#fdfefe),color-stop(1,#dce3ea));background:-moz-linear-gradient(center top,#fdfefe 5%,#dce3ea 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefe',endColorstr='#dce3ea');background-color:#fdfefe;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #cadbed;display:inline-block;color:#414c6d;font-family:Arial;padding:2px 7px;text-decoration:none;text-shadow:1px 1px 3px #cadbed;font-weight:normal!important;font-size:12px!important;cursor:pointer}
.button:hover{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#dce3ea),color-stop(1,#fdfefe));background:-moz-linear-gradient(center top,#dce3ea 5%,#fdfefe 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce3ea',endColorstr='#fdfefe');background-color:#dce3ea}
.button:active{position:relative;top:1px}
.ybutton{-moz-box-shadow:inset 0 1px 0 0 #fed897;-webkit-box-shadow:inset 0 1px 0 0 #fed897;box-shadow:inset 0 1px 0 0 #fed897;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#f6b33d),color-stop(1,#d29105));background:-moz-linear-gradient(center top,#f6b33d 5%,#d29105 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d',endColorstr='#d29105');background-color:#f6b33d;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #eda933;display:inline-block;color:#fff;font-family:arial;font-size:12px;font-weight:bold;padding:2px 7px;text-decoration:none;text-shadow:1px 1px 0 #cd8a15}
.ybutton:hover{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#d29105),color-stop(1,#f6b33d));background:-moz-linear-gradient(center top,#d29105 5%,#f6b33d 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105',endColorstr='#f6b33d');background-color:#d29105}
.ybutton:active{position:relative;top:1px}
.gbutton{-moz-box-shadow:inset 0 1px 0 0 #66CC66;-webkit-box-shadow:inset 0 1px 0 0 #66CC66;box-shadow:inset 0 1px 0 0 #66CC66;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#00CC66),color-stop(1,#99CC66));background:-moz-linear-gradient(center top,#00CC66 5%,#99CC66 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC66',endColorstr='#99CC66');background-color:#00CC66;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #339933;display:inline-block;color:#fff;font-family:arial;font-size:12px;font-weight:bold;padding:2px 7px;text-decoration:none;text-shadow:1px 1px 0 #339933}
.gbutton:hover{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#99CC66),color-stop(1,#00CC66));background:-moz-linear-gradient(center top,#99CC66 5%,#00CC66 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC66',endColorstr='#00CC66');background-color:#99CC66}
.gbutton:active{position:relative;top:1px}       
.viewtitle{color:#fff;font:bold 16px Arial,Helvetica,sans-serif}
.right-input td{vertical-align:top}
.pagingfirst:hover{background:url(../images/NewUiImages/paging-sprit.png) -42px 0 no-repeat!important;cursor:pointer}
.pagingprev:hover,.btmprev:hover{background:url(../images/NewUiImages/paging-sprit.png) 0 0 no-repeat!important;cursor:pointer!important}
.pagingnext:hover{background:url(../images/NewUiImages/paging-sprit.png) -21px 0 no-repeat!important;cursor:pointer!important}
.paginglast:hover{background:url(../images/NewUiImages/paging-sprit.png) -63px 0 no-repeat!important;cursor:pointer!important}
.CustomerLinksTable td{height:25px;padding:0 15px 0 15px}
.TopLinksTable td{height:33px;padding:0 15px 0 15px}
.componentpanel{width:100%;background:url(../images/NewUiImages/bg-sprit.png) repeat-x left 19%;height:43px;line-height:18px}
.componentpanel div{padding-left:8px}
.componentpanel .record,.created,.modified{padding-right:16px;float:left}
.componentpanel a,componentpanel a:hover{font-weight:bold;color:#626d90;text-decoration:underline}
.componentpanel .date-time{color:#545353}
.componentpanel strong,.customerdetail strong{font-weight:bold;color:#626d90!important}
.customerdetail{min-height:43px;font-size:13px;color:#282828}
.customerdetail-button{color:#282828;float:right}
.Delete,.close{color:#f00;font:bold 14px/15px Verdana,Arial,Helvetica,sans-serif!important}
.orderbradcrumb{float:right;padding-right:10px}
.orderbradcrumb a{color:#fff;cursor:pointer;text-decoration:none}
.layout{background:url(../images/NewUiImages/icons-sprit.png) 0 -155px no-repeat;width:15px;height:13px;padding:0 0 0 25px;cursor:pointer}
.pageView{background-color:White;border-radius:0 2px 2px 2px;border:1px solid #7c88a9;padding:10px;margin:-1px 0 0 0}
.aspTable{border:none!important;background-color:White}
.PurpleText{font-weight:bold;color:#626d90!important}
.Text_W{font-family:Arial;font-size:8pt;font-style:normal;font-variant:normal;font-weight:normal;color:White;background-image:url(../images/sublinkbg.gif);background-repeat:repeat-x;background-position:top;cursor:hand}
.Text_WB{font-family:Arial;font-size:8pt;font-style:normal;font-variant:normal;background-image:url(../images/sublinkbg.gif);background-repeat:repeat-x;background-position:top;font-weight:bold;height:29px;color:White}
a.normal11{font-family:Arial,sans-serif;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;color:white;text-decoration:underline;cursor:hand}
.text_bold{font-family:Arial;font-size:8pt;font-style:normal;font-variant:normal;font-weight:bold;color:#000}
.info,.successInfo,.warning,.errorInfo,.validation{border:1px solid;padding:10px 5px 5px 50px;background-repeat:no-repeat;background-position:10px center;display:list-item}
.info{color:#00529b;background-color:#bde5f8;background-image:url('../images/info.png');list-style-type:none;}
.successInfo{color:#4f8a10;background-color:#dff2bf;background-image:url('../images/success.png')}
.warning{color:#9f6000;background-color:#feefb3;background-image:url('../images/warning.png')}
.em_error{color:#d8000c;background-color:#ffbaba;background-image:url('../images/error.png')}
.errorInfo{color:#d8000c;background-color:#ffbaba;background-image:url('../images/error.png');border:1px solid;margin:10px 0;padding:10px 5px 5px 50px;background-repeat:no-repeat;background-position:10px center;list-style:none}
.normal4{font-family:Arial;font-size:8pt;font-style:normal;font-variant:normal;font-weight:normal;color:#d8000c}
.rgCollapse{background:url(../images/sprite.png) no-repeat 3px -94px transparent;border:0 none}
.rgExpand{background:url(../images/sprite.png) no-repeat 5px -496px transparent;border:0 none}
.rgSortAsc{background:url(../images/sprite.png) no-repeat 3px -248px transparent;border:0 none;height:10px}
.rgSortDesc{background:url(../images/sprite.png) no-repeat 3px -198px transparent;border:0 none;height:10px}
.tblrowHeader{font-size:14pt;color:#52677e;border-bottom:2px;border-bottom-color:#52677e;border-bottom-style:solid}
.blink{color:Red;font-weight:bold;font-family:Verdana,Tahoma;font-size:14px}
.normalBold{font-weight:bold!important;float:right!important}
.tip{width:10px;color:Blue;font-weight:normal;vertical-align:top;font-family:Arial;font-size:10pt;margin-left:8px;cursor:help}
.tooltip{background-color:#000;border:1px solid #fff;padding:10px 15px;width:200px;display:none;color:#fff;text-align:left;font-size:12px;-moz-box-shadow:0 0 10px #000;-webkit-box-shadow:0 0 10px #000}
.editable_select:hover,.editable_CheckBoxList:hover,.editable_textarea:hover,.click:hover,.editable_CheckBox:hover,.editable_Amount:hover,.editable_Number:hover,.editable_DateField:hover{background-image:url(../images/edit.png)!important;background-repeat:no-repeat!important;background-position:right bottom!important}
.WordWrap{width:300px;word-wrap:break-word}
table.dg,table.tbl,table.dgNHover{margin:0;padding:0;border-left:1px solid #fff !important;border-bottom:1px solid #dad8d8}
table.tbl tr td,.rgRow,.rgAltRow{background-color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;padding:0 3px;border-top:1px solid #fff !important;line-height:22px;border-right:1px solid #dad8d8;border-left:1px solid #dad8d8;border-bottom-style:none}
table.dg td,table.dgNHover td{border-top:1px solid #fff;line-height:22px;border-right:1px solid #dad8d8 !important;border-left:1px solid #dad8d8 !important;border-bottom-style:none}
table.tbl tr td strong{color:#060606}
table.dg tr:hover td,table.tbl tr:hover td,.rgRow:hover,.rgAltRow:hover{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#fdfefe),color-stop(1,#dce3ea));background:-moz-linear-gradient(center top,#fdfefe 5%,#dce3ea 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefe',endColorstr='#dce3ea');background-color:#fdfefe;cursor:pointer}
table.dg tr td.active,table.tbl tr td.active{background-color:#d6d7d8}
table.dg .hs td,table.dg th,table.tbl th,.rgHeader,.rgFooter,table.dgNHover th,table.dgNHover .hs td{background:#e5e5e5;border-bottom:1px solid #cbcbcb;border-top:1px solid #cbcbcb;border-right:1px solid #cbcbcb;border-left:1px solid #cbcbcb;font-weight:bold;padding:0 0 0 10px}
table.dg .hs:hover td,table.tbl .hs:hover td{background:#e5e5e5!important;border-bottom:1px solid #cbcbcb !important;border-top:1px solid #cbcbcb !important;border-right:1px solid #cbcbcb !important;border-left:1px solid #cbcbcb !important;font-weight:bold;padding:0 0 0 10px}
table.dg .hs td:active,table.tbl .hs td:active{background-color:#d6d7d8}
table.dg td,table.dgNHover td{padding:3px 0}
table.dg tr:nth-child(odd),table.tbl tr:nth-child(odd) td,.rgAltRow,table.dgNHover tr:nth-child(odd){background-color:#f2f2f2 /*!important*/}
table.dg tr:nth-child(even),table.tbl tr:nth-child(even) td,.rgRow,table.dgNHover tr:nth-child(even){background-color:#fff /*!important*/}
.Credit{border-top:black 1px inset;border-bottom:black 1px inset;border-right:black 1px inset;border-left:black 1px inset;font-size:7pt;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=White,endColorstr=#C6C6C6,,MakeShadow=true);vertical-align:baseline;color:Black;font-family:Arial;cursor:hand;text-align:center;background-image:url(../images/GrayGradient.gif);background-color:#c6c6c6}
.blink{color:Red;font-weight:bold;font-family:Verdana,Tahoma;font-size:14px}
table.SearchStyle{background-color:#dbe3f2;color:#c6d3e7;border:1px;font-family:Arial;font-size:11px;font-weight:bold}
h1, h2, h3, h4, h5, h6{padding:0; margin:0;}
h1{ font:normal 20px Arial, Helvetica, sans-serif; color:#666; line-height:normal;}
h2{ font:normal 15px Arial, Helvetica, sans-serif; color:#666; line-height:normal;}

.floatingHeader {
      position: fixed;
      top: 0;
      /*visibility: hidden;*/
    }

pre
{
    font-family:Arial,Helvetica,sans-serif; 
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

pre.WordWrap
{
    height:120px;
    overflow: auto;
    overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not */
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    font-family:Arial,Helvetica,sans-serif; 
}
.rowHeader
{
    font-size: 14pt;
    color: #52677E;
    border-bottom: 2px;
    border-bottom-color: #52677E;
    border-bottom-style: solid;
}
.btnAuthorize
{
    background:url('../images/Authorize.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) !important;
    padding:13px 41px !important;
    text-align: right !important;
        width: 196px;
}

.btnPaymentClose{
     background:url('../images/Saveclose.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) !important;
    padding:13px 41px !important;
    text-align: right !important;
        width: 196px;
}
.btnAuthorizeCharge
{
    background:url('../images/AuthorizeCharge.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%)  !important;
    padding: 13px 41px !important;
        width: 212px;
}
.required_integer,.required_decimal
{
    text-align:right;
}

.money {text-align:right}
.gray{font-size: x-small;color: gray;}
.GLReportSpan{float: right;display: block;width: 16px;height: 16px;margin-left:10px;}

.Group0 {
    background-color:#C0D4F1 !important;
    }

.Group1 {
    background-color:#E0E8FB !important;
    padding-left:20px !important;
    }

.Group2 {
    background-color:#EFF4FC !important;
    padding-left:40px !important;
    }

.grandTotal {
    background-color: #818290 !important;
    color: #FFFFFF !important;
}
pre.WordWrapComments
{
    overflow: auto;
    overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    font-family:Arial,Helvetica,sans-serif; 
}
.tdAggregate {
    vertical-align: top;
    font-weight:bold;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
}

/*@media handheld, only screen and (min-width: 760px) {
    input[type="text"], select, textarea,input[type="password"] {
        width: 96% !important;
        min-width:30px;
    }
}*/

@media handheld, only screen and (max-width: 760px) {

    input[type="text"], select, textarea,input[type="password"] {
        width: 96% !important;
        min-width:30px;
    }

    label {
        margin-top: 5px;
        line-height: normal;
    }
}

/*Added by Sachin*/
table.dg,table.responsiveTable1,table.dgNHover{margin:0;padding:0;border-left:1px solid #fff !important;border-bottom:1px solid #dad8d8}
table.responsiveTable1 tr td,.rgRow,.rgAltRow{background-color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;padding:0 3px;border-top:1px solid #fff !important;line-height:22px;border-right:1px solid #dad8d8;border-left:1px solid #dad8d8;border-bottom-style:none}
table.dg td,table.dgNHover td{border-top:1px solid #fff;line-height:22px;border-right:1px solid #dad8d8 !important;border-left:1px solid #dad8d8 !important;border-bottom-style:none}
table.responsiveTable1 tr td strong{color:#060606}
table.dg tr:hover td,table.responsiveTable1 tr:hover td,.rgRow:hover,.rgAltRow:hover{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#fdfefe),color-stop(1,#dce3ea));background:-moz-linear-gradient(center top,#fdfefe 5%,#dce3ea 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefe',endColorstr='#dce3ea');background-color:#fdfefe;cursor:pointer}
table.dg tr td.active,table.responsiveTable1 tr td.active{background-color:#d6d7d8}
table.dg .hs td,table.dg th,table.responsiveTable1 th,.rgHeader,.rgFooter,table.dgNHover th,table.dgNHover .hs td{background:#e5e5e5;border-bottom:1px solid #cbcbcb;border-top:1px solid #cbcbcb;border-right:1px solid #cbcbcb;border-left:1px solid #cbcbcb;font-weight:bold;padding:0 0 0 10px}
table.dg .hs:hover td,table.responsiveTable1 .hs:hover td{background:#e5e5e5!important;border-bottom:1px solid #cbcbcb !important;border-top:1px solid #cbcbcb !important;border-right:1px solid #cbcbcb !important;border-left:1px solid #cbcbcb !important;font-weight:bold;padding:0 0 0 10px}
table.dg .hs td:active,table.responsiveTable1 .hs td:active{background-color:#d6d7d8}
table.dg td,table.dgNHover td{padding:3px 0}
table.dg tr:nth-child(odd),table.responsiveTable1 tr:nth-child(odd) td,.rgAltRow,table.dgNHover tr:nth-child(odd){background-color:#f2f2f2 /*!important*/}
table.dg tr:nth-child(even),table.responsiveTable1 tr:nth-child(even) td,.rgRow,table.dgNHover tr:nth-child(even){background-color:#fff /*!important*/}


.OrderButton 
{
    display: inline-block;
    padding: 4px 6px;
    margin: 5px 1px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-width:1px  !important;
    border-radius: 5px;
}
.OrderButton 
{
    color: #415685;
    background: #cbd1e4; /* Old browsers */
    background:linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%);
    border-color: #ABB6C7;
    font-weight:bold;
}
.AddItem 
{
    background:url('../images/AddRecord.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.SaveNew 
{
    background:url('../images/SaveNew.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.Cart 
{
    background:url('../images/cart.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.SaveOpenOrder 
{
    background:url('../images/SaveOpen.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.CancelOrder {
    background:url('../images/CancelOrder.png') no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
    background-position: center;
    width:30px;
}
.StockTransfer
{
    background:url('../images/TruckGreen.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.CreateInvoice {
    background:url(../images/NewUiImages/icons-sprit.png) 5px -155px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.ImageButton {
    display: inline-block;
    padding: 4px 6px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-width:1px  !important;
    border-radius: 5px;
    color: #415685;
    background: #cbd1e4; /* Old browsers */
    background:linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%);
    border-color: #ABB6C7;
    font-weight:bold;
    padding-left:30px;
    width:auto;
}

.ScheduleResource {
    background:url('../images/ScheduleResource24.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.Add {
    background:url('../images/add22.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.Save {
    background:url('../images/Save24.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) !important ;
}

.SaveClose {
    background:url('../images/SaveClose24.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.Edit {
    background:url('../images/pencil-24.gif') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.Cancel {
    background:url('../images/close.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) !important;
}

.DeleteOrder {
    background:url('../images/CancelOrder.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%);
}

.CloseOrder {
    background:url('../images/CloseOrder24.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.ReOpenOrder {
    background:url('../images/ReOpenOrder24.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.btnLayout {
    background:url('../images/layout.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.SearchEmail {
    background:url('../images/EMailSearch.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.ManageInventory {
    background:url('../images/ManageInventory.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.riTextBox {
    background: url(../images/NewUiImages/bg-sprit.png) 0 -145px repeat-x !important;
    border: 0 !important;
    border-left: solid 1px #757c96 !important;
    border-right: solid 1px #f1f3f8 !important;
    border-bottom: solid 1px #f1f3f8 !important;
    font-size: 8pt !important;
    color: Black !important;
    height: 15pt !important;
    padding:0px !important;
}

        .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pac-container{width: 75% !important;}