body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 12px !important;
    color: #282828 !important;
    background: #fcfdfe !important;
}

#table-main-part {
    width: 100%;
    margin: 0 auto;
}

.button{-moz-box-shadow:0 1px 0 0 #c7c9cf;-webkit-box-shadow:0 1px 0 0 #c7c9cf;box-shadow:0 1px 0 0 #c7c9cf;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#fdfefe),color-stop(1,#dce3ea));background:-moz-linear-gradient(center top,#fdfefe 5%,#dce3ea 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefe',endColorstr='#dce3ea');background-color:#fdfefe;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #cadbed;display:inline-block;color:#414c6d;font-family:Arial;padding:2px 7px;text-decoration:none;text-shadow:1px 1px 3px #cadbed;font-weight:normal!important;font-size:12px!important;cursor:pointer}
.button:hover{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#dce3ea),color-stop(1,#fdfefe));background:-moz-linear-gradient(center top,#dce3ea 5%,#fdfefe 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce3ea',endColorstr='#fdfefe');background-color:#dce3ea}
.button:active{position:relative;top:1px}

.top-middle {
    background: url(../images/NewUiImages/bg-sprit.png) 0 -79px repeat-x;
    height: 32px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

    .top-middle strong {
        font-weight: bold;
        font-size: 16px;
    }

.bottom-middle {
    width: 100%;
    background: url(../images/NewUiImages/bottom-middle.gif) repeat-x left top;
}

#table-main {
    width: 100%;
    background: #9ba6c3;
    border-left: 1px solid #667194;
    border-right: 1px solid #667194;
}

.top-padd {
    padding-top: 5px;
    height: 32px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


.itemtable {
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */
.itemtable tr:nth-of-type(odd) {
        background: #F0F7FF;
    }

.itemtable th {
        background: #345296;
        color: white;
        font-weight: bold;
    }
    
.itemtable td, th {
    padding: 6px;
    border: 1px solid #CACED9;
    text-align: center;
}

.gridViewHeader th {
    background: #345296;
    color: white;
    font-weight: bold;
    padding: 6px;
    border: 1px solid #CACED9;
    text-align: center;
}

.gridViewRow td {
    border: 1px solid #CACED9;   
    background-color:#FFF; 
}

.gridViewAlternateRow td{
    background: #F0F7FF;
    border: 1px solid #CACED9;
}

.gridViewPager {
    background: #345296;
    color: white;
    font-weight: bold;
    padding: 6px;
    border: 1px solid #CACED9;
}

.gridViewPager td {
    padding:0;
    margin:0;
}

.gridViewPager a {
    color:#b9cfed;
}

.gridHeader td, .gridHeader th {
    background: #1473B4;
    color: white;
    font-weight: bold;
    padding: 6px;
    border: 1px solid #CACED9;
    text-align: center;
}

.gridFooter td {
    background: #1473B4;
    color: white;
    font-weight: bold;
    padding: 6px;
    border: 1px solid #CACED9;
}

.gridItem td {
    border: 1px solid #CACED9;    
    background-color:#FFF; 
}

.gridItem table td {
       border: none;
}

.gridItem td input{
    display: block;
    width: 50px !important;
    padding: 0px !important;
    margin:0px !important;
    border: 1px solid #ccc;
    font-size: 12px;
    min-width: 40px;
    height:25px !important;  
}

.gridItem table td input{
    display: block;
    width: 50px !important;
    padding: 0px !important;
    margin:0px !important;
    border: 1px solid #ccc;
    font-size: 12px;
    min-width: 40px;
     height:25px !important;  
}

.gridAlternateItem td{
    background: #F0F7FF;
    border: 1px solid #CACED9;
}

.gridAlternateItem table td {
       border: none;
}

.gridAlternateItem td input{
    display: block;
    width: 50px !important;
    padding: 0px !important;
    margin:0px !important;
    border: 1px solid #ccc;
    font-size: 12px;
    min-width: 40px;
    height:25px !important;  
}

.gridAlternateItem table td input{
    display: block;
    width: 50px !important;
    padding: 0px !important;
    margin:0px !important;
    border: 1px solid #ccc;
    font-size: 12px;
    min-width: 40px;
     height:25px !important;  
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

b, strong {
    font-weight: bold;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-'] {
    float: left;
    /*padding-right: 20px;*/
}

    [class*='col-']:last-of-type {
        padding-right: 0px;
    }

a {
    color: #3156AC;
    text-decoration: none;
    line-height: 18px;
}

.wordwrap {
    word-wrap: break-word;
}

.grid {
    width: 100%;
    /*max-width: 800px;*/
    min-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

    .grid:after {
        content: "";
        display: table;
        clear: both;
    }

.grid-pad {
}

    .grid-pad > [class*='col-']:last-of-type {
        padding-right: 20px;
    }

.push-right {
    float: right;
}

/* Content Columns */

.col-1-1 {
    display: inline-block;
    padding-right: 0px !important;
    width: 100%;
}

.col-2-3, .col-8-12 {
    width: 66.66%;
}

.col-1-2, .col-6-12 {
    width: 50%;
}

.col-1-3, .col-4-12 {
    width: 33.33%;
}

.col-1-4, .col-3-12 {
    width: 36%;
}

.col-1-5 {
    width: 20%;
}

.col-1-6, .col-2-12 {
    width: 16.667%;
}

.col-1-7 {
    width: 14.28%;
}

.col-1-8 {
    width: 12.5%;
}

.col-1-9 {
    width: 11.1%;
}

.col-1-10 {
    width: 10%;
}

.col-1-11 {
    width: 9.09%;
}

.col-1-12 {
    width: 8.66%;
}

.col-0-12 {
    width: 12%;
}

.col-12-12 {
    width: 88%;
}

/* Layout Columns */

.col-11-12 {
    width: 88.33%;
}

.col-10-12 {
    width: 83.333%;
}

.col-9-12 {
    width: 63%;
}

.col-5-12 {
    width: 41.66%;
}

.col-7-12 {
    width: 58.33%;
}





.customer-detail {
    background: #fff;
    width: 100%;
}

.tag {
    margin: 10px 20px;
}

.cus-type {
    padding-left: 20px;
    padding-right: 15px;
}

.cont2 {
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 12px;
    border: 1px solid #C7D2E4;
}

label {
    /*padding: 8px 0;
    line-height: 23px;*/
}

    label[class*='col-']:last-of-type {
        padding-right: 8px;
        padding-top:7px;
        text-align: right;
        font-weight: bold;
    }

pre {
    white-space:pre-wrap;
    font-family:inherit !important;
}

input[type="text"], select, textarea {
    display: block;
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    font-size: 12px;
    margin: 5px 0;
    min-width: 40px;
}

/*input[type="button"], input[type="submit"], button {
    display: inline-block;
    padding: 4px 6px;
    margin: 5px 1px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}*/


    /*input[type="button"]:focus, input[type="submit"]:focus, button:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    input[type="button"]:hover, input[type="submit"]:hover, button:hover,
    input[type="button"]:focus, input[type="submit"]:focus, button:focus {
        color: #333;
        text-decoration: none;
    }

    input[type="button"]:active, input[type="submit"]:active, button:active,
    input[type="button"].active, input[type="submit"].active, button {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

input[type="button"], input[type="submit"], button {
    color: #415685;
    background: #d3dae5;
    background: -moz-linear-gradient(top, #d3dae5 0%, #ffffff 40%, #ffffff 54%, #d3dae5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3dae5), color-stop(40%,#ffffff), color-stop(54%,#ffffff), color-stop(100%,#d3dae5));
    background: -webkit-linear-gradient(top, #d3dae5 0%,#ffffff 40%,#ffffff 54%,#d3dae5 100%); 
    background: -o-linear-gradient(top, #d3dae5 0%,#ffffff 40%,#ffffff 54%,#d3dae5 100%);
    background: -ms-linear-gradient(top, #d3dae5 0%,#ffffff 40%,#ffffff 54%,#d3dae5 100%); 
    background: linear-gradient(to bottom, #d3dae5 0%,#ffffff 40%,#ffffff 54%,#d3dae5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3dae5', endColorstr='#d3dae5',GradientType=0 ); 
    border-color: #ABB6C7;
}

    input[type="button"]:hover,
    input[type="submit"]:hover,
    button:hover,
    input[type="button"]:focus,
    input[type="submit"]:focus,
    button:focus,
    input[type="button"]:active,
    input[type="button"]:active,
    button:active {
        color: #000;
        background-color: #CBCFD8;
        border-color: #ABB6C7;
    }

    input[type="button"]:active,
    input[type="submit"]:active,
    button:active {
        background-image: none;
    }*/

input[type="text"].wid100 {
    width: 100px;
    margin-right: 10px;
}

.add {
    margin: 7px;
    float: right;
}

.radio-cont {
    padding: 9px 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.total-cont span {
    padding: 5px;
    float: left;
}

.totWid {
    width: 300px;
}

.total-cont span:first-child {
    width: 220px;
    text-align: right;
    float: left;
    font-weight: bold;
}

.form-group {
    display: inline-block;
    width: 100%;
}

.product-thumb {
    text-align: center;
}

    .product-thumb img {

        border: 1px solid #ccc;
    }

    .product-thumb a {
        clear: both;
        display: block;
        text-align: center;
    }

.required {
    color: red;
    padding: 4px;
}

.red {
    color: red;
    font-weight: bold;
}

.margin78 {
    margin-left: 78px;
}

.widthauto {
    width: auto;
}

.no-pad {
    padding: 0 !important;
}

.clear {
    clear: both;
}

.no-border {
    border: none;
}

.rightmar10 {
    margin-right: 10px;
}

.addremove {
    padding: 2px 0 5px 0;
}

.marL92 {
    margin-left: 95px;
}

.textdiv {
    padding-top: 7px;
    float: left;
}

.cont1 {
    display: inline-block;
    background: rgba(60, 141, 188, 0.09);
    padding: 12px;
    border: 1px solid #C7D2E4;
    width: 100%;
}

.contfull {
    display: inline-block;
    background: #E8ECF9;
    width: 100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* close commented backslash hack */

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    .itemtable thead, tbody, th, td, tr {
        display: block;
    }

        .itemtable thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .itemtable tr {
        border: 1px solid #ccc;
    }

    .itemtable td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        .itemtable td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        .itemtable td:nth-of-type(1):before {
            content: "Item";
            font-weight: bold;
        }

        .itemtable td:nth-of-type(2):before {
            content: "Model ID";
            font-weight: bold;
        }

        .itemtable td:nth-of-type(3):before {
            content: "SKU";
            font-weight: bold;
        }

        .itemtable td:nth-of-type(4):before {
            content: "Attributes";
            font-weight: bold;
        }

        .itemtable td:nth-of-type(5):before {
            content: "Unit Price";
            font-weight: bold;
        }

        .itemtable td:nth-of-type(6):before {
            content: "Discount";
            font-weight: bold;
        }

        .itemtable td:nth-of-type(7):before {
            content: "Sales Tax";
            font-weight: bold;
        }

        .itemtable td:nth-of-type(8):before {
            content: "Total";
            font-weight: bold;
        }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
}


@media handheld, only screen and (max-width: 760px) {


    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    [class*='col-'] {
        width: auto;
        float: none;
        padding-left: 0;
        padding-right: 0;
    }

    input[type="text"], select, textarea {
        width: 100% !important;
    }

    input.wid100[type="text"] {
        width: 30% !important;
    }

    .marL92 {
        margin-left: 0;
    }

    .unit-cost {
        float: left;
    }

    .textdiv {
        padding: 15px 0;
    }

    .addremove {
        padding: 0;
    }

    .form-group {
        margin: 5px 0;
    }

    label {
        margin-top: 5px;
    }

    .margin78 {
        margin-left: 0;
    }

    label {
        line-height: normal;
    }

    .coupon {
        width: 75%;
        float: left;
        margin: 0;
    }
}

.OrderButton 
{
    display: inline-block;
    padding: 10px 22px;
    margin: 5px 1px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: right;
    white-space: normal;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-width:1px  !important;
    border-radius: 5px;
}
.OrderButton 
{
    color: #415685;
    background: #cbd1e4; /* Old browsers */
    background:linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%);
    border-color: #ABB6C7;
    font-weight:bold;
}
.AddtoSite 
{
    background:url('../images/additemtosite.gif') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.AddItem 
{
    background:url('../images/AddRecord.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.SaveNew 
{
    background:url('../images/SaveNew.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.CheckCoupon {
    background: url('../images/Coupon_Icon.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%);
}
.btnPay 
{
    background:url('../images/btnPay.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.btnPOSPay 
{
    background:url('../images/btnPOSPay.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.btnCreditCard
{
    background:url('../images/creditcard.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
    padding: 18px 21px;
}
.btnCash
{
    background:url('../images/cash.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
    padding: 18px 21px;
}
.btnCheque
{
    background:url('../images/cheque.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
    padding: 18px 21px;
}
.btnBillme
{
    background:url('../images/billme.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
    padding: 18px 21px;
}
.btnOther
{
    background:url('../images/others.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
    padding: 18px 21px;
}
.Cart 
{
    background:url('../images/cart.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.SaveOpenOrder 
{
    background:url('../images/SaveOpen.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.CancelOrder {
    background:url('../images/CancelOrder.png') no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
    background-position: center;
    width:30px;
}
.StockTransfer
{
    background:url('../images/TruckGreen28.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.CreateInvoice {
    background:url('../images/OrderInvoice.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}
.AddItem {
    background:url('../images/AddRecord.png') 5px no-repeat, linear-gradient(to bottom, #cbd1e4 0%,#ffffff 2%,#cbd1e4 100%) ;
}

.gvItemsrow {
    padding: 0px !important;
    background-color: #FFF !important;
}

.gvItemsAlternaterow {
    padding: 0px !important;
    background-color: #f0f7ff !important;
}

