<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmOrgContactRedirect.aspx.vb" Inherits="BACRMPortal.frmOrgContactRedirect" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<HTML>
	<HEAD>
		<title></title>
			
	</HEAD>
	<body >
		<form id="frmOrgContactRedirect" method="post" runat="server">
			<asp:literal id="litClientMessage" Runat="server"></asp:literal>
			<INPUT type="hidden" name="hdRedirectionNewWindow" id="hdRedirectionNewWindow" value="1"
				runat="server"> <INPUT type="hidden" name="hdRedirectionEntity" id="hdRedirectionEntity" runat="server"><INPUT type="hidden" name="hdContactId" id="hdContactId" runat="server"><INPUT type="hidden" name="hdDivisionId" id="hdDivisionId" runat="server">
		</form>
	</body>
</HTML>
