/* CSS Document */


body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #7885a6; /*  background: url(../../media/images/design/header_bg.jpg) top left repeat-x;*/
}

.contents
{
    background: #f9f9f9;
}

.GridStart
{
    float: left;
    border-bottom: 0px none #999999;
    padding: 2px;
    margin-bottom: 0px;
    width: 100%;
}





/*GridView css*/
.GridView
{
    float: left;
    border: 1px solid #e2e2e2;
    margin-bottom: 12px;
}
.GridViewHeader
{
    border-bottom: 1px solid #e2e2e2;
    background-color: #f4f4f4;
    line-height: 30px;
}

.GridViewHeader th
{
    padding-left: 5px;
}

.GridViewItems td
{
    padding-left: 5px;
    border-bottom: 1px solid #e2e2e2;
    font-size: 11px;
}

.GridViewItems
{
    background-color: #fcfcfc;
    line-height: 25px;
    padding-left: 5px;
    font-size: 11px;
}
.GridViewAlternateItems
{
    background-color: #ffffff;
    line-height: 25px;
    padding-left: 5px;
    font-size: 11px;
}





/* CSS for Sidebar Middle container */

.SidebarContainerPopup
{
    height: 100%;
    border: 0px solid #ff0000;
    float: left;
    width: 206px;
    background-color: #88a7c2;
}



.expandHelp
{
    float: left;
    width: 250px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: #88a7c2;
    border-bottom: 1px solid #c6e1e4;
    list-style: none;
    color: #f37608;
}

.expandHelp img
{
    float: left;
    margin-top: 5px;
}

.shrink2 img
{
    float: left;
}

.expandHelp a
{
    list-style: none;
    color: black;
    text-decoration: none;
    display: block;
    width: 150px;
}

.PopupHeading
{
    float: left;
    width: 196px;
    height: 29px;
    line-height: 29px;
    padding-left: 10px;
    background-color: #fffff2;
    border-bottom: 1px solid #9fc2e7;
    border-top: 1px solid #9fc2e7;
    list-style: none;
    font-weight: bold;
    color: #f37608;
    font-size: 14px;
}

.PopupHeading a
{
    list-style: none;
    color: #f37608;
    text-decoration: none;
    display: block;
    width: 176px;
}

.PopupMainContainer
{
    float: left;
    width: 730px;
    height: 100%;
    border: 1px solid #9fc2e7;
    margin-left: 15px;
    padding: 10px;
}

.PopupMainContainer h4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0f70a1;
}


.PopupMainContainer ul
{
    list-style: circle;
    float: left;
    line-height: 18px;
    margin-bottom: 10px;
    width: 455px;
}

.PopupMainContainer li
{
    list-style: circle;
    float: left;
    line-height: 18px;
    list-style: inside;
    width: 430px;
    margin-bottom: 5px;
}


.PopupMainContainer p
{
    float: left;
    width: 97%;
    line-height: 18px;
    margin-bottom: 4px;
    margin-top: 3px;
}

.IndentLeft
{
    padding-left: 15px;
}



.PopupMainContainer2
{
    float: left;
    width: 680px;
    height: 100%;
    border: 1px solid #9fc2e7;
    padding: 10px;
}

.PopupMainContainer2 h4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0f70a1;
}


.PopupMainContainer2 ul
{
    list-style: circle;
    float: left;
    line-height: 18px;
    margin-bottom: 10px;
    width: 680px;
}

.PopupMainContainer2 li
{
    list-style: circle;
    float: left;
    line-height: 18px;
    list-style: inside;
    width: 680px;
    margin-bottom: 5px;
}


.PopupMainContainer2 p
{
    float: left;
    width: 97%;
    line-height: 18px;
    margin-bottom: 4px;
    margin-top: 3px;
}


.PopupContainerTable
{
    float: left;
}


.PopupContainerTable label
{
    margin-left: 3px;
    margin-right: 3px;
}

.PopupMainContainerMainHeading
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #0f70a1;
    margin-bottom: 10px;
}


.PopupMainContainerHeading
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
}
