﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmCategoryImage.aspx.vb"
    Inherits=".frmCategoryImage" MasterPageFile="~/common/Popup.Master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server" ClientIDMode="Static">
    <title>Category Image</title>
    <script language="javascript" type="text/javascript">
        function Close() {
            window.close()
            return false;
        }
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FiltersAndViews1" runat="server"
    ClientIDMode="Static">
    <table cellspacing="2" cellpadding="2" width="100%" border="0">
        <tr>
            <td align="right">
                <%--<asp:Button ID="btnSave" runat="server" CssClass="button" Text="Save"></asp:Button>
                <asp:Button ID="btnSaveClose" runat="server" CssClass="button" Text="Save &amp; Close">
                </asp:Button>
                <asp:Button ID="btnClose" runat="server" CssClass="button" Text="Close"></asp:Button><asp:Button
                    ID="btnDelete" runat="server" CssClass="button Delete" Text="X"></asp:Button>--%>
            </td>
        </tr>
    </table>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitle" runat="server" ClientIDMode="Static">
    <asp:Label Text="Category Image" runat="server" ID="lblTitle" />
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="Content" runat="server" ClientIDMode="Static">
   <%-- <asp:Table ID="Table2" runat="server" Width="400px" CellPadding="0" CellSpacing="0"
        BorderWidth="1" CssClass="aspTable" BorderColor="black" GridLines="None" Height="300">
        <asp:TableRow>
            <asp:TableCell VerticalAlign="Top">
                <table width="100%">
                    <tr>
                        <td class="normal1" align="right">
                            Select Image
                        </td>
                        <td>
                            <input id="txtThumbFile" type="file" name="txtThumbFile" runat="server" style="width: 200px">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <asp:Image ID="Image1" runat="server"></asp:Image>
                        </td>
                    </tr>
                </table>
            </asp:TableCell>
        </asp:TableRow>
    </asp:Table>
    <asp:HiddenField ID="HiddenField2" runat="server" />--%>
</asp:Content>
