<%@ Page Language="vb" AutoEventWireup="false" EnableEventValidation="false" CodeBehind="frmHierCategoryItems.aspx.vb" Inherits=".Items_frmHierCategoryItems" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Hierarchy</title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:TreeView  
  ID="TreeView1"
  ExpandDepth="0" 
  ShowLines="true" 
  ShowExpandCollapse="true" 
  runat="server" />
        <asp:HiddenField ID="hdnCategoryProfileID" runat="server" />
    </form>
</body>
</html>
