﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="BizCart.WebForm1"
    MasterPageFile="~/Default.Master" %>

<asp:Content ID="Center1" runat="server" ContentPlaceHolderID="Center">
</asp:Content>
