﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="HelpSearch.ascx.vb"
    Inherits=".HelpSearch" %>
<table width="100%">
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td align="right">
         <strong>Search:</strong>   
        </td>
        <td align="left">
            <asp:TextBox ID="txtsearch" runat="server" Width="50%">

            </asp:TextBox>
            <asp:Button ID="btnsubmit" runat="server" Text="Search" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
</table>
