<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="calandar.ascx.vb" Inherits="BACRMPortal.calandar" %>
<table cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <asp:TextBox ID="txtDate" runat="server" Width="100px" CssClass="signup"></asp:TextBox>
        </td>
        <td>
            &nbsp;<asp:Image ID="imgDate" runat="server" CssClass="hyperlink" ImageUrl="../Images/Calender.gif" />
        </td>
    </tr>
</table>
<asp:Literal ID="litScript" runat="server"></asp:Literal>